Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

refactor(page): DELETE the counter-translate — the surface follows the track
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

fix(places): bbox is DERIVED from the ground, not grown (P4 residue)
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
Due: api-lint, prettier

fix(places): the seam arms are OR-ed operands, never a union (P4a bug)
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
Due: api-lint, prettier

fix(places): repair 363 places sharing ONE TomTom polygon (name-resolution damage)
  apps/api/scripts/data-fixes/repair-shared-polygons.ts
Due: api-lint, prettier

fix(places): county gap-fill survives P3, and the wrong-entity guard asks the RIGHT question
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
Due: api-lint, prettier

fix(places): ONE vendor entity belongs to ONE place + honest pool sizing
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/teaser/teaser.controller.ts
  apps/api/src/modules/teaser/teaser.service.ts
Due: api-lint, prettier

feat(places): vendor identity ON the place — P3 becomes real, census GEOID retires
  apps/api/prisma/migrations/20260727220000_vendor_identity_on_places/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
Due: api-lint, prettier

feat(search): category items reach the client as a flagged dish row
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

feat(attributes): Phase 4b foundation — a rebuildable substrate for restaurant attributes
  apps/api/prisma/migrations/20260727070000_restaurant_attribute_evidence/migration.sql
  apps/api/prisma/schema.prisma
  plans/extraction-ideal-shape-execution.md
Due: prettier

test(places): containment laws proven against real PostGIS — sabotage-verified
  apps/api/package.json
  apps/api/src/modules/places/places-containment.integration.spec.ts
Due: api-lint, deps-check, prettier

chore(page): mask + z-order EXONERATED as the dead-touch cause; probes kept
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

feat(attributes): Phase 4b complete — restaurant attributes are a projection, correctable at last
  apps/api/scripts/backfill-attribute-evidence.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  packages/shared/src/constants/index.ts
  packages/shared/src/geo/place-geo.ts
  packages/shared/src/geo/subjects.ts
  plans/extraction-ideal-shape-execution.md
Due: api-lint, shared-lint, prettier

fix(page): drag-jerk, rounded header, infinite surface
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

docs(places): charter — P5a landed, P5b scoped with measured stakes
  plans/one-ground-charter.md
Due: prettier

fix(page): jerk root cause (per-frame clamp -> inset bound), strip cutouts, polls seam
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

docs(page): header wiggle root cause + the sticky-chrome ideal shape
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(page): the deepest shape — the scroll view IS the sheet (+ FlashList sticky is JS-driven)
  plans/page-composition-from-scratch-design.md
Due: prettier

fix(places): audit the catalog against the vendor — territories corrected, mainland proven clean
  apps/api/scripts/data-fixes/audit-catalog-vs-vendor.ts
Due: api-lint, prettier

feat(page): step 1 of 'the scroll view IS the sheet' — the native chrome pin
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
Due: none

refactor(page): THE SCROLL VIEW IS THE SHEET — steps 2-4 in one pass
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

docs(plan): full-reload charter — measured cost, ratified decisions, the pre-spend audit gate
  apps/api/scripts/replay-pilot.ts
  plans/full-reload-charter.md
Due: api-lint, prettier

refactor(page): delete chromeGrab, the inset bound, and the redesign's dead code
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/useTrackSheetPhysics.ts
Due: prettier

fix(llm): thinking config can no longer be lost by a caller — 8.5x cost cut, measured
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/thinking-config-seam.spec.ts
Due: api-lint, prettier

docs(page): recover the nav-follow contract + divider hypothesis
  plans/tracksheet-old-sheet-acceptance-inventory.md
Due: prettier

fix(llm): one resolver owns thinking level — the gate was buying HIGH too
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-thinking.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-thinking.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

fix(page): pin re-asserts on attach; divider reads a LIVE H
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

feat(scoring): ratified decisions — per-category rollup, active-only tags, honest cadence
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/polls/restaurant-mentions.service.ts
  apps/api/src/modules/search/search-category-rollup.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

docs(plan): charter §6 — steps 1-2 landed, with measured outcomes
  plans/full-reload-charter.md
Due: prettier

docs(places): full-catalog audit verdict — 0 structural errors in 22,726
  plans/one-ground-charter.md
Due: prettier

docs(places): re-attribute P5b against prod — worse in effect, far smaller in scope
  plans/one-ground-charter.md
Due: prettier

docs(page): exact nav mask recipe — curve + follow are one native mechanism
  plans/tracksheet-old-sheet-acceptance-inventory.md
Due: prettier

fix(signals): P5b — a poll act's WHERE is a PLACE, not a rectangle
  apps/api/prisma/migrations/20260728030000_signals_place_anchor/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-containment.integration.spec.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/signals/ground-containment.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signals.service.spec.ts
  apps/api/src/modules/signals/signals.service.ts
Due: api-lint, prettier

docs(places): P5b landed — poll acts anchor to a place, proven RED then GREEN
  plans/one-ground-charter.md
Due: prettier

docs(plan): §3b nested-category double count — measured, with the ideal fix
  plans/full-reload-charter.md
Due: prettier

fix(page): nav exclusion via the production frame host — follow + curve, one mechanism
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

feat(audit): pre-reload prompt audit harness + first graded pass
  apps/api/scripts/prompt-audit.ts
Due: api-lint, prettier

docs(places): census retired to 11 honest rows; migration checksum drift cleared
  plans/one-ground-charter.md
Due: prettier

fix(page): a seat re-asserts when the track's reachable range grows
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

docs(places): catalog is 100% vendor-sourced — names decided class by class
  plans/one-ground-charter.md
Due: prettier

fix(places): the representative point must lie ON the ground — 564 repaired
  plans/one-ground-charter.md
Due: prettier
