Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(surfaces)!: the role is a verdict — eviction takes the word, never the user's label
  apps/api/src/modules/content-processing/entity-resolver/entity-surface.service.ts
  apps/api/src/modules/content-processing/entity-resolver/surface-role-verdicts.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
Due: api-lint, prettier

gate(resolution): two fixtures the corpus could not offer — the role predicate and the fold both show RED now
  apps/api/scripts/search-harness/entity-resolution-gate.ts
Due: api-lint, prettier

fix(knowledge-rail): the sweep records the ASK, and one rail runs per corpus, not per process
  apps/api/prisma/migrations/AUTHORING.md
  apps/api/src/modules/content-processing/entity-resolver/concept-satisfies-fold.integration.spec.ts
  apps/api/src/modules/entity-display/knowledge-maintenance-lock.integration.spec.ts
  apps/api/src/modules/entity-display/knowledge-maintenance.service.ts
  apps/api/src/modules/entity-display/label-generator.ts
  apps/api/src/modules/entity-display/label-sweep-ledger.integration.spec.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
Due: api-lint, prettier

chore(gate): es result artifact regenerated at HEAD (scoreboard unchanged, 98.7)
  apps/api/scripts/search-harness/gold-corpus/es.result.json
Due: prettier

fix(claims)!: the claim unit is the FORM — a fold is a recall key, never an identity
  apps/api/scripts/sweep-entity-labels.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-surface.service.ts
  apps/api/src/modules/content-processing/entity-resolver/surface-claim-unit.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/surface-role-verdicts.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
  apps/api/src/modules/entity-display/label-sweep-ledger.integration.spec.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(corpus): clear the verdicts of hearings that never happened, and un-park canh
  apps/api/scripts/data-fixes/clear-fold-only-claim-verdicts.ts
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/scripts/search-harness/gold-corpus/vi.json
  apps/api/scripts/search-harness/gold-corpus/vi.result.json
Due: api-lint, prettier

chore(gate): final control-run artifacts at HEAD — es 98.7, vi 98.8, flow 18/18
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/scripts/search-harness/gold-corpus/vi.result.json
Due: prettier

docs(plan): §14 closed — red team answered, ship handed off
  plans/concept-graph.md
Due: prettier

fix(polls): CRAVE-27 — the ritual's idempotency pre-check binds by WEEK, not by place pairs
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(word-claims)!: the judge decides for a SEARCHER, and a verdict has a version — so a wrong rule is re-heard, never hand-reverted
  apps/api/prisma/migrations/20260809170000_surface_claim_judge_version/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/rehear-word-claims.ts
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/scripts/search-harness/gold-corpus/vi.json
  apps/api/scripts/search-harness/gold-corpus/vi.result.json
  apps/api/src/modules/content-processing/entity-resolver/entity-surface.service.ts
  apps/api/src/modules/content-processing/entity-resolver/surface-claim-unit.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
  apps/api/src/modules/entity-text-search/gazetteer-spans.ts
Due: api-lint, prettier

plan(polls): the supply economy is denominated in PEOPLE — attention chooses subjects, never whether a town exists
  plans/poll-supply-rederivation.md
Due: prettier

fix(gate): phantom-tree fence ignores prisma's own reformatting — refusals are for models, not whitespace
  scripts/check-clean-tree-typecheck.sh
Due: none

fix(crons): the derived-index law applies to ALL rebuilds — siblings and the lexicon self-heal and scream
  apps/api/src/modules/entity-text-search/entity-lexicon-builder.service.ts
  apps/api/src/modules/entity-text-search/entity-sibling-edge-builder.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

probe(search): page-1 admission attribution — the same-item tier the brief assumed is already there
  apps/api/scripts/search-harness/same-sibling-admission-demo.ts
Due: api-lint, prettier

fix(vocabulary)!: the pass ENUMERATES and the judge decides — a curation call with no test was answered differently every draw
  apps/api/scripts/vocabulary-flip-rate.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
Due: api-lint, prettier

fix(locale)!: the detector may only name languages we serve — and the REGISTRY, not a sentence model, reads a two-word food query
  apps/api/src/modules/entity-text-search/entity-text-search.module.ts
  apps/api/src/modules/entity-text-search/query-analyzer.spec.ts
  apps/api/src/modules/entity-text-search/query-analyzer.ts
  apps/api/src/modules/entity-text-search/surface-locale-index.service.ts
  apps/api/src/modules/search/dense-tie-plurality.spec.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-untyped-recall.spec.ts
  apps/api/src/modules/search/territory-scoping-fail-open-log.spec.ts
  audit/COVERAGE.md
Due: api-lint, prettier

refactor(crons): DerivedIndexJob — the derived-index law becomes structural
  apps/api/src/modules/entity-text-search/entity-lexicon-builder.service.ts
  apps/api/src/modules/entity-text-search/entity-sibling-edge-builder.service.ts
  apps/api/src/modules/entity-text-search/name-containment-edge-builder.service.ts
  apps/api/src/modules/search/open-intervals-builder.service.ts
  apps/api/src/shared/derived-index-job.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(locale): the ask carries the language it was made in — all the way to collection
  apps/api/prisma/migrations/20260809160000_ask_carries_its_language/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/search/on-demand-ask-signal.spec.ts
  apps/api/src/modules/search/on-demand-request.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/unsegmented-residue.service.ts
  apps/api/src/modules/signals/signals.service.spec.ts
  apps/api/src/modules/signals/signals.service.ts
Due: api-lint, prettier

docs(plan): iteration-phase open-items ledger — every owner ask captured
  plans/iteration-phase-open-items.md
Due: prettier

docs: migrate-dev auto-reset trap — the local-wipe lesson
  CLAUDE.md
Due: prettier

probe(search): band-2 head-to-head — dense cut vs judged-only vs union, measured
  apps/api/scripts/search-harness/similar-band-source-eval.result.json
  apps/api/scripts/search-harness/similar-band-source-eval.ts
Due: api-lint, prettier

chore(tree): green the two guards the last two commits left red
  apps/api/scripts/check-subject-text-emission.ts
  apps/api/scripts/vocabulary-flip-rate.ts
Due: api-lint, prettier

fix(collection)!: the ledger keys on the fold and REMEMBERS the query — and genericness is a claim about a language
  apps/api/prisma/migrations/20260809180000_keyword_attempt_ledger_keeps_the_query/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/keyword-attempt-history.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-eligibility.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-ledger-identity-vs-query.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/search/on-demand-request.service.ts
  apps/api/src/shared/utils/generic-token-handling.spec.ts
  apps/api/src/shared/utils/generic-token-handling.ts
  audit/COVERAGE.md
Due: api-lint, prettier

chore(gate)!: re-measured baselines on the fresh prod mirror — all four gates moved, and the corpus is why
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/scripts/search-harness/gold-corpus/vi.result.json
Due: prettier

feat(collection): the source declares its language, and the document carries it
  apps/api/prisma/migrations/20260809190000_the_source_declares_its_language/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/source-declares-its-language.spec.ts
  audit/COVERAGE.md
Due: api-lint, prettier

docs(plan): ledger updated — red-team law, step-1 lock pending, band-2 verdict, corpus gap, capstone
  plans/iteration-phase-open-items.md
Due: prettier

feat(locale)!: the document's language decides which words may ground it
  apps/api/scripts/search-harness/entity-resolution-gate.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-surface.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(locale): a demand term is a word in a LANGUAGE — the ask's own
  apps/api/scripts/check-subject-text-emission.ts
  apps/api/scripts/run-demand-vocabulary.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-term-locale.spec.ts
  apps/api/src/modules/search/demand-vocabulary-term-locale.integration.spec.ts
  apps/api/src/modules/search/demand-vocabulary.service.ts
  apps/api/src/modules/search/on-demand-ask-signal.spec.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

docs(plan): spine complete (verified); conjunction gap + 2 spine findings ledgered
  plans/iteration-phase-open-items.md
Due: prettier

docs(plan): conjunction gap reclassified — already works; junk class
  plans/iteration-phase-open-items.md
Due: prettier

docs(plan): L1 LOCKED — grounding is compound-only; parts die
  plans/iteration-phase-open-items.md
Due: prettier

fix(prompt): two junk-entity root causes the rewrite missed — ask-reuse gains the prediction test, dish types are never attributes
  apps/api/scripts/archive-dish-named-attributes.ts
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  audit/COVERAGE.md
  plans/data-audit-2026-08.md
Due: api-lint, prettier

chore(scripts): delete archive-dish-named-attributes — a cleanup whose only safe mode was "don't run me"
  apps/api/scripts/archive-dish-named-attributes.ts
  audit/COVERAGE.md
  plans/data-audit-2026-08.md
  plans/extraction-ideal-shape-execution.md
Due: api-lint, prettier

fix(prompt): full old-vs-new red team — four lost adjudications restored, one contradiction resolved, 22/22 certified
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/data-audit-2026-08.md
Due: prettier

docs(prompt): prediction-passing formats behave like breakfast — a family unless sameness makes them one offering
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

docs(prompt): a line break is a series separator — the last steps-1-4 disposition gap
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

docs(plan): L2+L3 locked; the ①-④ sequence in force
  plans/iteration-phase-open-items.md
Due: prettier

fix(reextract): 'estimate all' expands to real communities — the literal string estimated a $0 campaign
  apps/api/scripts/reextract-estimate.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(search): the cover linker — span selection reads the whole query, not the longest piece
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/scripts/search-harness/gold-corpus/vi.json
  apps/api/scripts/search-harness/gold-corpus/vi.result.json
  apps/api/src/modules/entity-text-search/gazetteer-spans.spec.ts
  apps/api/src/modules/entity-text-search/gazetteer-spans.ts
  audit/COVERAGE.md
Due: api-lint, prettier

docs(plan): taxonomy invariant + batch-conversion verdict from the 📌04 audit
  audit/COVERAGE.md
  plans/iteration-phase-open-items.md
Due: prettier
