Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

feat(autocomplete): wire hybrid recall behind flag (P1.4 4.B)
  apps/api/scripts/autocomplete-probe.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
Due: api-lint, prettier

feat(matcher): resolution head — recall → LLM matcher (P1.4 4.C)
  apps/api/scripts/matcher-probe.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/entity-match-prompt.md
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
Due: api-lint, prettier

feat(map): resident-data + dormant-layers — stop clearing marker sources on dismiss
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

fix(matcher): scope LLM matcher to opt-in offline consumers (P1.4 4.C)
  apps/api/scripts/matcher-probe.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

feat(matcher): align natural-search linking to shared recall core (P1.4 4.D)
  apps/api/scripts/search-link-probe.ts
  apps/api/scripts/validate-demand-scoring-fixtures.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

docs(plan): P1.4 4.A-4.D done (flag-gated), 4.E gated on operator validation
  plans/poll-phase-0-1-execution-scope.md
Due: prettier

perf(map): skip snapshot reconcile on resident-unchanged re-reveal
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

refactor(matcher): remove legacy fallbacks, make shared core the only path (P1.4 4.E)
  apps/api/scripts/autocomplete-probe.ts
  apps/api/scripts/matcher-probe.ts
  apps/api/scripts/search-link-probe.ts
  apps/api/scripts/validate-demand-scoring-fixtures.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

docs(plan): P1.4 complete — flags removed, shared core is the only path (4.E done)
  plans/poll-phase-0-1-execution-scope.md
Due: prettier

refactor(map): delete dead resident-source-cache machinery
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(map): red-team fix worklog + reconcile stale/contradictory map plans
  plans/map-lod-ideal-model-v4.md
  plans/red-team-fix-worklog.md
  plans/search-dismiss-motion-plane-cutover-plan.md
  plans/search-map-per-pin-group-cutover-plan.md
  plans/search-map-reveal-dismiss-smooth-cutover-plan.md
Due: prettier

refactor(map): red-team cleanups — dead notifyFrameRendered, dead no-op, diag perf
  apps/mobile/android/app/src/main/java/com/crave/SearchMapRenderControllerModule.java
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

docs(map): #10 document why the baked-role coalesce fallback is not a loaded gun
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-store.ts
  plans/red-team-fix-worklog.md
Due: prettier

perf(map): #2 restrict presentation-opacity sweep to the on-screen set
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/red-team-fix-worklog.md
Due: prettier

perf(map): #3 make natural-search source resident (no viewport membership churn)
  apps/mobile/src/screens/Search/components/SearchMapWithMarkerEngine.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/map-spatial-index.ts
  apps/mobile/src/screens/Search/runtime/map/map-viewport-query.ts
  plans/red-team-fix-worklog.md
Due: prettier

fix(map): #6 Cluster 2 — presentation-only frames carry no structural cost (document + tighten diag)
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  plans/red-team-fix-worklog.md
Due: prettier

test(map): #15 enforce core LOD contracts as a gate (exit non-zero on violation)
  package.json
  plans/map-lod-ideal-model-v4.md
  plans/red-team-fix-worklog.md
  scripts/perf-scenario-contract-gate.js
Due: deps-check, prettier

docs(plan): reconcile foundation vs master plan; refine gazetteer (Phase 5)
  plans/community-polls-discussion-driven-collection-plan.md
  plans/poll-phase-0-1-execution-scope.md
Due: prettier

perf(map): #13 gate the per-frame native timing payload behind attribution
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/red-team-fix-worklog.md
Due: prettier

feat(map): #1 port residency + dormant-layers model to Android native module
  apps/mobile/android/app/src/main/java/com/crave/SearchMapRenderControllerModule.java
  plans/red-team-fix-worklog.md
Due: prettier

docs(map): red-team fix pass complete — all 15 items committed
  plans/red-team-fix-worklog.md
Due: prettier

docs: lock autocomplete semantic-recall decision; fix red-team findings
  CLAUDE.md
  plans/community-polls-discussion-driven-collection-plan.md
  plans/poll-phase-0-1-execution-scope.md
Due: prettier

docs(api): remove stale Google moderation env vars
  apps/api/.env.example
  apps/api/README.md
Due: prettier

refactor(matcher): delete in-batch fuzzy dedup + brittle token heuristics
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
Due: api-lint, prettier

feat(autocomplete): always-dense recall + query-embedding cache + pre-warm
  apps/api/scripts/warm-query-embedding-cache.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/external-integrations/llm/embedding.service.ts
Due: api-lint, prettier

docs(plan): mark autocomplete always-dense + query-embed cache as shipped (§8.2)
  plans/community-polls-discussion-driven-collection-plan.md
Due: prettier

docs(plan): scope Phase 2 — Seam-1 cutover + data model (poll-phase-2-execution-scope)
  plans/poll-phase-2-execution-scope.md
Due: prettier

fix(map): #3 un-deadlock reveal label-placement gate (keep the gate, make labels place)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/two-group-lod-fix-worklog.md
Due: prettier

refactor(polls): Seam-1 cutover — delete the pseudo-mention score pollution (2A)
  apps/api/prisma/migrations/20260618201804_drop_poll_category_aggregates_pseudo_bridge/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/polls/poll-aggregation.service.ts
  apps/api/src/modules/polls/poll-category-replay.service.ts
  apps/api/src/modules/polls/poll-score-refresh.service.ts
  apps/api/src/modules/polls/polls.module.ts
Due: api-lint, prettier

feat(polls): poll thread data model — evolve Poll + comment/endorsement tables (2B–2D)
  apps/api/prisma/migrations/20260618202250_poll_thread_data_model/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/polls/poll-scheduler.service.ts
Due: api-lint, prettier

docs(plan): mark Phase 2 complete (2A cutover + 2B-2D data model)
  plans/poll-phase-2-execution-scope.md
Due: prettier

fix(map): revert label-layer dormancy (it deadlocked/hung the reveal) + no-hang contract
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/two-group-lod-fix-worklog.md
  scripts/perf-scenario-contract-gate.js
Due: prettier

feat(polls): poll-subject inference — ranked/discussion split + axis (Phase 3A)
  apps/api/scripts/poll-subject-probe.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/modules/external-integrations/llm/prompts/poll-subject-prompt.md
  plans/poll-phase-3-execution-scope.md
Due: api-lint, prettier

docs(plan): Phase 3B decided (B1 free-text, additive) + topicId-nullable prereq
  plans/poll-phase-3-execution-scope.md
Due: prettier

refactor(search): delete dead filter_rank toggle kind
  apps/mobile/src/screens/Search/runtime/shared/results-toggle-interaction-contract.ts
Due: prettier

perf(map): motion-pressure cutover — wire shared admission, delete the 90ms LOD clock
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/map-motion-pressure.ts
Due: prettier

docs(map): mark motion-pressure cutover DONE (d1607742); MP3 4-tier intentionally not adopted
  plans/map-motion-pressure-cutover-plan.md
Due: prettier

refactor(map): collapse dead labelPreference layer dimension (16 label layers -> 4)
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

feat(polls): free-text poll creation — infer mode/axis (Phase 3B + 3D)
  apps/api/prisma/migrations/20260618212341_poll_topic_id_nullable/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/poll-create-probe.ts
  apps/api/src/modules/polls/dto/create-poll.dto.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
