Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

fix(security): one rate-limit mechanism, and debug routes fail closed
  apps/api/src/app.module.ts
  apps/api/src/modules/billing/billing-webhook.controller.ts
  apps/api/src/modules/infrastructure/throttler/throttler-exemptions.spec.ts
  apps/api/src/modules/infrastructure/throttler/throttler.decorator.ts
  apps/api/src/modules/infrastructure/throttler/throttler.module.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/teaser/teaser.controller.ts
  apps/api/src/modules/user-lists/user-lists.share.controller.ts
Due: api-lint, prettier

feat(rig): cost-reconcile prints the ledger/billed RATIO — the drift detector
  scripts/rig/cost-reconcile.sh
Due: none

refactor(security): the debug-exposure gate gets its own testable home
  apps/api/src/app.module.ts
  apps/api/src/shared/config/debug-routes.gate.spec.ts
  apps/api/src/shared/config/debug-routes.gate.ts
Due: api-lint, prettier

fix(polls): live updates go to the polls a client asked for, not to everyone
  apps/api/src/modules/polls/polls.gateway.spec.ts
  apps/api/src/modules/polls/polls.gateway.ts
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
Due: api-lint, prettier

fix(spend+scope): round-six red-team batch — cost accuracy + scope regressions
  .claude/skills/reextract/SKILL.md
  apps/api/scripts/reextract-estimate.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope-lockdown.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  plans/austin-reextract-handoff.md
Due: api-lint, prettier

refactor(sheet): delete the switch floor — one guard, and my attribution was wrong
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
Due: none

fix: FINAL-FINAL RED TEAM (synergy prong) — tombstones are memory; the lock's own key
  apps/api/prisma/migrations/20260802020000_identity_key_sorted/migration.sql
  apps/api/scripts/reload/gc-unsupported-entities.sql
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

fix(search): red-team round 3 — 15 confirmed findings across three adversarial lenses
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/unsegmented-residue.service.ts
Due: api-lint, prettier

fix(sheet): the switch re-asserts the shell CONFIG — found by reading, not tracing
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

docs(search): red-team round 3 record
  plans/search-from-scratch-derivation.md
Due: prettier

fix(polls): the feed could not paginate, and its engagement scan had no bound
  apps/api/src/modules/polls/poll-feed-timestamp-frame.spec.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

fix: FINAL-FINAL RED TEAM (read-surface prong) — empty folds, Turkish İ, archived husks
  apps/api/prisma/migrations/20260802030000_empty_fold_guard/migration.sql
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

fix(sql): a third timezone-framing bug, and a guard for the class
  apps/api/src/modules/search/on-demand-placeholder-cleanup.service.ts
  apps/api/src/shared/sql-timestamp-frame.guard.spec.ts
  product/pre-launch.md
Due: api-lint, prettier

docs(audit): P2.2 RULED — metro-aware resolution, with executed proof and build order
  plans/data-audit-2026-08.md
Due: prettier

feat(cost): honest attribution end-to-end — the round-six ideal shape
  apps/api/prisma/migrations/20260802025153_usage_ledger_attribution/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/publish-reconciliation.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/external-integrations/shared/work-context.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment-queue.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.worker.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  scripts/rig/cost-reconcile.sh
  scripts/rig/refresh-staging-from-prod.sh
Due: api-lint, prettier

fix(sql): delete the timezone class at the connection, not query by query
  apps/api/src/modules/analytics/demand-scoring-trace.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/signals/sql-instant.ts
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/prisma/session-timezone.spec.ts
  apps/api/src/shared/sql-timestamp-frame.guard.spec.ts
  apps/api/src/shared/sql/utc-instant.ts
Due: api-lint, prettier

fix(messaging): the conversation denorm must only move forward
  apps/api/src/modules/messaging/messaging.service.spec.ts
  apps/api/src/modules/messaging/messaging.service.ts
Due: api-lint, prettier

fix: three red-team lenses — spend gates, env parsing, and a discarded redirect
  apps/api/src/config/configuration.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/places/places.controller.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/shared/config/app-env.ts
  apps/api/src/shared/config/env-flag.ts
  apps/api/src/shared/config/env-parsing.spec.ts
  apps/mobile/src/providers/AuthProvider.tsx
Due: api-lint, prettier

fix(env): staging stops impersonating production; two more fail-opens closed
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/mobile/.env.example
  product/pre-launch.md
Due: api-lint, prettier

fix: round-10 violence — the merge can never silently give up again
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

docs(pre-launch): park the paid-plan environment splits (Cloudinary, Stripe live, Clerk-optional)
  product/pre-launch.md
Due: prettier

docs+rig: watchPatterns dance retired — prod repo verified disconnected, patterns removed
  CLAUDE.md
  product/pre-launch.md
  scripts/rig/deploy.sh
Due: prettier

fix(spend): every ceiling now counts BILLED dollars; the janitor counts attempts
  apps/api/prisma/migrations/20260802040000_enrichment_failure_count/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/shared/reconciliation-multiplier.service.ts
  apps/api/src/modules/external-integrations/shared/reconciliation-multiplier.spec.ts
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor-policy.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/prisma/prisma.service.ts
Due: api-lint, prettier

fix(paywall): publicness is DECLARED, never inferred from a missing header
  apps/api/src/modules/entitlements/entitlement-enforcement.interceptor.ts
  apps/api/src/modules/entitlements/entitlement-enforcement.spec.ts
  apps/api/src/modules/polls/polls.controller.ts
Due: api-lint, prettier

fix(llm): a Redis outage no longer removes LLM rate limiting entirely
  apps/api/src/modules/external-integrations/llm/rate-limiting/centralized-rate-limiter.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/outage-guard.spec.ts
Due: api-lint, prettier

fix(places): one vocabulary, so the expensive operation can finally be capped
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/shared/places-operation-vocabulary.spec.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
Due: api-lint, prettier

fix(signals): one statement of the §4 daily-acts law, not two
  apps/api/src/modules/signals/act-identity.ts
  apps/api/src/modules/signals/demand-mass-law.spec.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
Due: api-lint, prettier

fix(billing,search): a transfer is a move, and rank belongs to the served list
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

docs(pre-launch): red-team 2026-08-02 — three items left, everything else landed
  product/pre-launch.md
Due: prettier

feat(search)!: THE CUTOVER — pooled gate + gazetteer Understand are canonical; ladder and sync-LLM deleted
  apps/api/src/modules/search/dietary-constraints.spec.ts
  apps/api/src/modules/search/dietary-constraints.ts
  apps/api/src/modules/search/search-constraints.ts
  apps/api/src/modules/search/search-generic-queries.spec.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-untyped-recall.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/unsegmented-residue.service.ts
Due: api-lint, prettier

docs(search): cutover record — pooled + gazetteer canonical, old machinery deleted
  plans/search-from-scratch-derivation.md
Due: prettier

docs(backups): Railway Pro daily backups LIVE + volume-restore runbook RED-proven
  apps/api/src/modules/health/health.service.ts
  plans/production-hardening.md
  product/pre-launch.md
  scripts/rig/deploy.sh
Due: api-lint, prettier

fix(deploy): staging is a GATE now, not an optional side-trip
  .gitignore
  scripts/rig/deploy.sh
Due: none

fix(rig): cost-reconcile — SIGPIPE race on railway|grep -m1, and --publish now dials the proxy URL
  scripts/rig/cost-reconcile.sh
Due: none

fix(deploy): the gate asks the running process, and the stamp lands before boot
  scripts/rig/deploy.sh
Due: none

docs(audit): round-11 semantic ground-truth results — the ranking floor + new P3 classes
  plans/data-audit-2026-08.md
Due: prettier

docs(pre-launch): CI has been red for 100 runs — the patch drift that hid it
  product/pre-launch.md
Due: prettier

fix(search): red-team round 4 — demand loop, dietary-typo swallowing, DoS bounds, latency
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/search/dietary-constraints.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-untyped-recall.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/unsegmented-residue.service.ts
Due: api-lint, prettier

docs(search): round-4 record + spec amendments (tier ordering ratified, open items honest)
  plans/search-from-scratch-derivation.md
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
