Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

rederive(F1378/F1661/F1499): a derived value with no inputs threaded through five files into transforms that were always zero
  apps/mobile/src/navigation/runtime/app-route-scene-chrome-motion-runtime-contract.ts
  apps/mobile/src/navigation/runtime/app-route-scene-entry-mounts.ts
  apps/mobile/src/navigation/runtime/use-app-route-scene-chrome-transition-runtime.ts
  apps/mobile/src/overlays/OverlayModalSheet.tsx
  apps/mobile/src/overlays/SearchOverlayChromeHost.tsx
  apps/mobile/src/overlays/panels/PollCandidateBars.tsx
  apps/mobile/src/overlays/shell-residency-registry.ts
  apps/mobile/src/perf/PerfScenarioCoordinator.tsx
  apps/mobile/src/perf/perf-scenario-command-registry.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-chrome-surface-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-shortcuts-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-visual-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-foreground-visual-session-source-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-runtime-instrumentation-runtime.ts
  audit/FINDINGS.md
Due: prettier

rederive(F1033b): a function returned shouldFinalize decided by a flag it never touches — and its caller threw it away
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-shell-close-transition-state.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-state-runtime.ts
  audit/FINDINGS.md
Due: prettier

fix(api-backlog): push notifications sent one HTTP request per device, and unreadCount built full DTOs to answer a boolean (F607/F608/F623/F643/F644/F660)
  apps/api/prisma/migrations/20260805120000_photo_uploaded_at_to_ticketed_at/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/seed-owner-scale-fixtures.ts
  apps/api/src/modules/messaging/messaging.service.spec.ts
  apps/api/src/modules/messaging/messaging.service.ts
  apps/api/src/modules/notifications/notification-dispatcher.service.ts
  apps/api/src/modules/notifications/notification-dispatcher.spec.ts
  apps/api/src/modules/photos/photo-read.service.ts
  apps/api/src/modules/photos/photos.service.spec.ts
  apps/api/src/modules/photos/photos.service.ts
  apps/api/src/modules/user-lists/dto/reorder-user-list-items.dto.ts
  apps/api/src/modules/user-lists/user-list-provisioning.service.ts
  apps/api/src/modules/user-lists/user-lists.defaults.spec.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

audit(F1493): ledger caught up to the tree; mobile code-only pool confirmed saturated
  audit/FINDINGS.md
Due: prettier

audit(F1800): a Phase-1 hunt that read 10 of 145 files and SAID SO
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

rederive(F696/F695/F681): shelf classification derives from the recipe instead of four negation predicates that had to stay in sync
  apps/api/src/modules/history/history.service.ts
  apps/api/src/modules/home/curated-list-builder.service.ts
  apps/api/src/modules/home/curated-lists.constants.ts
  apps/api/src/modules/home/home-feed.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

audit(triage): 51 of 74 escalations were never the owner's call — the backlog was blocking on questions nobody needed to answer
  audit/FINDINGS.md
Due: prettier

hunt(F1810/F1811/F1850/F1851): a batch fetch loop where "processed nothing" is indistinguishable from "processed everything"
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(gate)!: the ledger gate died silently on the exact row it was meant to name — and an N+1 the badge fix left behind
  scripts/findings-ledger-gate.sh
Due: none

rederive(F862/F865/F1306): an exterminated prefix that came back, a dev prototype still mounted — and a triage premise corrected
  apps/mobile/App.tsx
  apps/mobile/src/perf/perf-scenario-attribution.ts
  apps/mobile/src/screens/Search/runtime/shared/NAV_SHEET_VISIBILITY_MAP.md
  audit/FINDINGS.md
Due: prettier

hunt(F1870-F1872): the correctness core is well-built — and its ~900-line decision cascade has zero direct tests
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(track-a11y)!: the swap IS the navigation event — one announcement per entry, focus lands on the destination header
  apps/mobile/src/navigation/runtime/scene-foundation-spec.ts
  apps/mobile/src/tracksheet/__render__/track-host-a11y.render-spec.tsx
  apps/mobile/src/tracksheet/track-a11y-plan.spec.ts
  apps/mobile/src/tracksheet/track-a11y-plan.ts
  apps/mobile/src/tracksheet/use-track-a11y-announcer.ts
Due: prettier

rederive(track-deadline)!: a timer is a liveness backstop, not a motion fact — and the 200ms retry loop was re-issuing every snap
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/__render__/harness.ts
  apps/mobile/src/tracksheet/__render__/mocks/react-native-mock.ts
  apps/mobile/src/tracksheet/__render__/mocks/runtime-mock.ts
  apps/mobile/src/tracksheet/__render__/render-utils.tsx
  apps/mobile/src/tracksheet/__render__/track-host-appstate.render-spec.tsx
  apps/mobile/src/tracksheet/track-motion-authority.spec.ts
  apps/mobile/src/tracksheet/track-motion-authority.ts
  apps/mobile/src/tracksheet/track-motion-deadline.spec.ts
  apps/mobile/src/tracksheet/track-motion-deadline.ts
  apps/mobile/src/tracksheet/track-native-contract.ts
  apps/mobile/src/tracksheet/use-track-motion-controller.ts
Due: prettier

docs(contract): a11y and appstate closed, rotation narrowed to one owner question
  plans/transition-endstate-contract.md
Due: prettier

fix(F1830/F1850/F1811): the inbox N+1 collapses to one aggregate, a dropped fetch is now reported, and the scanner found a second caller it was blind to
  apps/api/src/modules/content-processing/reddit-collector/batch-processing-queue.types.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.commit.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  apps/api/src/modules/messaging/messaging.service.spec.ts
  apps/api/src/modules/messaging/messaging.service.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

rederive(F1055/F1117/F1004): the D50-ruled dead restore chain is deleted, and pod install stops depending on undocumented local state
  .claude/skills/service-access/references/http-only.md
  CRAVE.md
  apps/mobile/ios/Podfile
  apps/mobile/src/navigation/runtime/app-route-profile-app-execution-normalizer.ts
  apps/mobile/src/navigation/runtime/app-route-profile-app-execution-runtime-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-transition-state-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-action-runtime-port-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-app-foreground-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-close-foreground-runtime-state.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-close-runtime-state-owner.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-close-state-record.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-open-action-execution.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-action-state-ports-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-runtime-state-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-runtime-state-record.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus-listener-isolation.spec.ts
  audit/FINDINGS.md
  plans/android-parity.md
Due: prettier

perf(track-probe): measure the span the finger feels — press-up to painted
  apps/mobile/src/screens/Search/components/SearchBottomNav.tsx
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/track-entry-prewarm.ts
Due: prettier

docs(concept-graph)!: v2 rewrite — the precedence ladder, and the premise finally measured
  plans/concept-graph.md
Due: prettier

rederive(F1708/F1006/F1003): a native registry that leaked pending regions on unregister, and an instrument the noise filter ran before
  apps/mobile/ios/cravesearch/SearchChromeNativeHitTargetSurface.swift
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-resolver.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(photos): the strip query still named uploaded_at after the ticketed_at rename — every /lists request 500d
  apps/api/src/modules/photos/photo-read.service.ts
Due: api-lint, prettier

test(F1870): the decision core that decides what a restaurant IS finally has tests — eleven of them mutation-proven
  apps/api/src/modules/content-processing/entity-resolver/entity-alias-lost-update.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.spec.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

feat(concept-graph): P0-a + P0-b — the two alias-ingress guards, and the corpus reconciled
  apps/api/scripts/reproject-aliases.ts
  apps/api/src/modules/content-processing/entity-resolver/alias-ingress-guards.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
Due: api-lint, prettier

hunt(F1900-F1902): a ternary whose branches were identical, and the pooled-gate math verified sound line by line
  apps/api/src/modules/search/search.service.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

feat(concept-graph): the vocabulary pass — the stubbed generator is real, and it emits surfaces as well as labels
  apps/api/scripts/sweep-entity-labels.ts
  apps/api/src/modules/entity-display/entity-display.module.ts
  apps/api/src/modules/entity-display/label-generator.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
Due: api-lint, prettier

ci: the track-sheet render lane and native falsifiers actually run now
  .github/workflows/ci.yml
Due: prettier

test(F1870): merge orchestration is covered — the double-count the dedupe exists to kill is now provable
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge-pair.integration.spec.ts
Due: api-lint, prettier

audit(F1870): closed — the decision core is fully mutation-proven, with the 40P01 deadlock tracked separately
  audit/FINDINGS.md
Due: prettier

fix(F1902/F1901): a dish list that could shuffle between identical requests, and a preview that described pagination the real query no longer used
  apps/api/src/modules/search/README.md
  apps/api/src/modules/search/list-restaurant-dishes-tiebreak.integration.spec.ts
  apps/api/src/modules/search/search.service.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

docs(concept-graph): record the production run — 77.3% -> 90.0% on the real pipeline
  plans/concept-graph.md
Due: prettier

perf(track-handoff)!: press-up commits the flip; the destination's rows arrive next frame
  apps/mobile/src/navigation/runtime/app-overlay-route-child-push-press-stamp.spec.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-host-authority-controller.spec.ts
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/__render__/render-utils.tsx
  apps/mobile/src/tracksheet/__render__/track-host-handoff.render-spec.tsx
  apps/mobile/src/tracksheet/__render__/track-host-readiness.render-spec.tsx
  apps/mobile/src/tracksheet/__render__/track-host-switch.render-spec.tsx
  apps/mobile/src/tracksheet/track-entry-handoff.spec.ts
  apps/mobile/src/tracksheet/track-entry-handoff.ts
  apps/mobile/src/tracksheet/track-entry-prewarm.spec.ts
  apps/mobile/src/tracksheet/track-entry-prewarm.ts
  apps/mobile/src/tracksheet/use-track-leg-resolver.tsx
  plans/transition-endstate-contract.md
Due: prettier

docs(audit): phase-1 forensics — every defect is a kind-error that passed a shape-test
  plans/data-audit-2026-08.md
Due: prettier

feat(concept-graph): the substitutability pass — the ladder decides 64% for free, the LLM judges the rest
  apps/api/prisma/migrations/20260805200000_entity_satisfies/migration.sql
  apps/api/scripts/run-concept-satisfies.ts
  apps/api/src/modules/content-processing/entity-resolver/concept-satisfies.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/entity-display/entity-display-lockdown.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
Due: api-lint, prettier

docs(audit): phase-1 red team — I refuted two of my own claims
  plans/data-audit-2026-08.md
Due: prettier

docs(audit): phase 2 — four kind-gates, and the reordering that kills dislocation
  plans/data-audit-2026-08.md
Due: prettier

feat(concept-graph): wire rung 4 into search — `satisfies` joins tier 0, `cousin` joins the widened ring
  apps/api/src/modules/search/satisfies-expansion.integration.spec.ts
  apps/api/src/modules/search/search-sibling-expansion.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

fix(tomtom): the residue closed — a property replaces the catalogue, effects replace the tokens, and three real faults fall out
  apps/api/src/modules/places/places-ground-persist.integration.spec.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-observation.property.spec.ts
Due: api-lint, prettier

feat(concept-graph): demand becomes vocabulary — and two planned deletions were wrong
  apps/api/scripts/seed-spine-aliases.ts
  apps/api/scripts/seed-spine-labels.ts
Due: api-lint, prettier

feat(concept-graph): demand becomes vocabulary — the safe form of self-learn
  apps/api/scripts/run-demand-vocabulary.ts
  apps/api/src/modules/search/demand-vocabulary.service.ts
  apps/api/src/modules/search/search.module.ts
  plans/concept-graph.md
Due: api-lint, prettier

chore(concept-graph): satisfy the two lockdown guards the new passes tripped
  apps/api/src/modules/entity-display/entity-display-lockdown.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
Due: api-lint, prettier

fix(search)!: ONE lens→request projection — the map and list lanes were serving unwalled results under a dietary key
  apps/api/src/modules/search/dto/shortcut-coverage.dto.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/user-lists/dto/user-list-results.dto.ts
  apps/api/src/modules/user-lists/user-list-results.assembler.ts
  apps/api/src/modules/user-lists/user-lists.access.spec.ts
  apps/api/src/modules/user-lists/user-lists.defaults.spec.ts
  apps/api/src/modules/user-lists/user-lists.memberships.spec.ts
  apps/api/src/modules/user-lists/user-lists.mutations.spec.ts
  apps/api/src/modules/user-lists/user-lists.profile-view.spec.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-fetch.spec.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-fetch.ts
  apps/mobile/src/screens/Search/runtime/resolver/shortcut-coverage-world.ts
  apps/mobile/src/screens/Search/runtime/shared/list-identity-source.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-lens.spec.ts
  apps/mobile/src/services/search.ts
  apps/mobile/src/services/user-lists.ts
Due: api-lint, prettier
