Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

feat(rebuild): Phase A — the Estimator primitive (master plan §21.1)
  apps/api/src/modules/estimators/estimator-registry.spec.ts
  apps/api/src/modules/estimators/estimator-registry.ts
Due: api-lint, prettier

feat(rebuild): Phase A — governance pool registry (reserve→act→reconcile)
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
Due: api-lint, prettier

docs(rebuild): stage Phase A schema (places DAG, signals ledger, actors, redirects)
  plans/phase-a-schema-staged.prisma
Due: none

feat(rebuild): Leg 2 tail — saved-pin dish-axis fix, sibling-highlight fix, save flows thread locationId, fame-pin interim
  apps/api/src/modules/favorites/favorite-list-results.assembler.ts
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-selected-location-order.spec.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-command-controller.ts
  apps/mobile/src/navigation/runtime/app-route-restaurant-overlay-input-contract.ts
  apps/mobile/src/navigation/runtime/route-local-restaurant-overlay-interaction-snapshot-contract.ts
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/restaurant-header-live-state.ts
  apps/mobile/src/overlays/restaurantRoutePanelContract.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-control-selection-state-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-selection-focus-store.ts
  apps/mobile/src/screens/Search/runtime/shared/route-local-restaurant-overlay-control-selection-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-environment-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-card-render-runtime.tsx
  apps/mobile/src/services/favorite-lists.ts
  apps/mobile/src/services/favorites.ts
Due: api-lint, prettier

feat(rebuild): Phase A substrate — places DAG, signals ledger, actors, redirects (schema + migration)
  apps/api/prisma/migrations/20260719055735_phase_a_places_signals/migration.sql
  apps/api/prisma/schema.prisma
  plans/rebuild-execution-ledger.md
Due: prettier

feat(rebuild): Phase A — TomTom pools governed first (reserve→act→reconcile live)
  apps/api/src/app.module.ts
  apps/api/src/modules/external-integrations/governance/governance.module.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/markets/tomtom-boundary-bootstrap.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

docs(rebuild): ledger checkpoint — signals + catalog agents in flight
  plans/rebuild-execution-ledger.md
Due: prettier

feat(rebuild): Phase A — signals ledger dual-write at all five act families
  apps/api/src/modules/favorites/favorite-lists.access.spec.ts
  apps/api/src/modules/favorites/favorite-lists.defaults.spec.ts
  apps/api/src/modules/favorites/favorite-lists.memberships.spec.ts
  apps/api/src/modules/favorites/favorite-lists.mutations.spec.ts
  apps/api/src/modules/favorites/favorite-lists.profile-view.spec.ts
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/api/src/modules/favorites/favorites.module.ts
  apps/api/src/modules/favorites/favorites.service.ts
  apps/api/src/modules/history/dto/record-food-view.dto.ts
  apps/api/src/modules/history/dto/record-restaurant-view.dto.ts
  apps/api/src/modules/history/history.module.ts
  apps/api/src/modules/history/history.service.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/search-signals-dual-write.spec.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/signals/signals.module.ts
  apps/api/src/modules/signals/signals.service.spec.ts
  apps/api/src/modules/signals/signals.service.ts
Due: api-lint, prettier

feat(rebuild): Phase A — places catalog resolution module (§1/§2 laws as code)
  apps/api/src/app.module.ts
  apps/api/src/modules/places/place-geo.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/places.module.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/subjects.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
Due: api-lint, prettier

feat(rebuild): Phase B wiring — real governed TomtomChainProbe adapter
  apps/api/src/config/configuration.ts
  apps/api/src/modules/places/places.module.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
Due: api-lint, prettier

fix(rebuild): places identity index — NULLS NOT DISTINCT + lower(name)
  apps/api/prisma/migrations/20260719062500_places_identity_null_case_hardening/migration.sql
  apps/api/prisma/schema.prisma
Due: none

docs(rebuild): ledger checkpoint + §18 owner item 7 (§2 gap-fills to ratify)
  plans/geo-demand-foundation-rebuild.md
  plans/rebuild-execution-ledger.md
Due: prettier

fix(rebuild): signals content/idempotency — red-team 0cdfc544 findings A-F
  apps/api/src/modules/favorites/favorites-signals-dual-write.spec.ts
  apps/api/src/modules/favorites/favorites.service.ts
  apps/api/src/modules/polls/polls-signals-dual-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/search-signals-dual-write.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/signals/signals.service.spec.ts
  apps/api/src/modules/signals/signals.service.ts
Due: api-lint, prettier

feat(rebuild): US seed script — 19,465 gazetteer municipalities, zero vendor spend
  apps/api/package.json
  apps/api/scripts/seed-us-places.ts
Due: api-lint, deps-check, prettier

fix(rebuild): catalog red-team — scale-aware probing, atomic merges, round earth
  apps/api/src/modules/places/place-geo.spec.ts
  apps/api/src/modules/places/place-geo.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/subjects.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
Due: api-lint, prettier

feat(rebuild): Gemini pool #1 — governance ledger mirror (Phase A complete)
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
Due: api-lint, prettier

docs(rebuild): ledger — Phase A complete; header cut in flight
  plans/rebuild-execution-ledger.md
Due: prettier

feat(rebuild): header cut to catalog — §2 subjects law live at search chokepoint
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-signals-dual-write.spec.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

fix(rebuild): asked-ground memory + distinct-place guard — red-team 7aaa66d9
  apps/api/scripts/seed-us-places.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
Due: api-lint, prettier

docs(rebuild): task #5 complete; §18 item 8 identity-law amendment flag
  plans/geo-demand-foundation-rebuild.md
  plans/rebuild-execution-ledger.md
Due: prettier

feat(rebuild): poll supply cut — controller, weekly ritual, K6, old machinery dies
  apps/api/prisma/migrations/20260719120000_poll_supply_place_rekey/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/polls/poll-graduation.service.ts
  apps/api/src/modules/polls/poll-scheduler.service.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/supply/demand-mass.kernel.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/polls/supply/place-local-time.ts
  apps/api/src/modules/polls/supply/poll-ballot-mention.service.spec.ts
  apps/api/src/modules/polls/supply/poll-ballot-mention.service.ts
  apps/api/src/modules/polls/supply/poll-supply-controller.spec.ts
  apps/api/src/modules/polls/supply/poll-supply-controller.ts
  apps/api/src/modules/polls/supply/poll-supply-estimators.spec.ts
  apps/api/src/modules/polls/supply/poll-supply-estimators.ts
  apps/api/src/modules/polls/supply/poll-supply.constants.ts
  apps/api/src/modules/polls/supply/poll-surface-source.service.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
Due: api-lint, prettier

docs(rebuild): ledger — supply cut committed; red-team + feed cut in flight
  plans/rebuild-execution-ledger.md
Due: prettier

fix(rebuild): kill demand-scoring fixtures script — validated deleted machinery
  apps/api/package.json
  apps/api/scripts/validate-demand-scoring-fixtures.ts
Due: api-lint, deps-check, prettier

docs(rebuild): supply red-team fix list recorded (fold after feed cut)
  plans/rebuild-execution-ledger.md
Due: prettier

feat(rebuild): polls feed cut — places-in-view + keyset cursor, take-25 dies
  apps/api/src/modules/notifications/notification-dispatcher.service.ts
  apps/api/src/modules/notifications/notifications-poll-release.spec.ts
  apps/api/src/modules/notifications/notifications.service.ts
  apps/api/src/modules/places/place-dag-read.spec.ts
  apps/api/src/modules/places/place-dag-read.ts
  apps/api/src/modules/polls/dto/list-polls.dto.ts
  apps/api/src/modules/polls/dto/query-polls.dto.ts
  apps/api/src/modules/polls/poll-feed-cursor.spec.ts
  apps/api/src/modules/polls/poll-feed-cursor.ts
  apps/api/src/modules/polls/poll-feed-membership.spec.ts
  apps/api/src/modules/polls/poll-feed-membership.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-dual-write.spec.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
Due: api-lint, prettier

feat(rebuild): mobile polls feed cut — bounds+cursor, market plumbing dies (−418 lines)
  apps/mobile/src/navigation/runtime/MainLaunchCoordinator.tsx
  apps/mobile/src/navigation/runtime/app-route-dynamic-scene-inputs-contract.ts
  apps/mobile/src/navigation/runtime/app-route-polls-scene-input-controller.ts
  apps/mobile/src/navigation/runtime/app-route-polls-scene-runtime.ts
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/pollsHeaderVisuals.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-controls-store.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-header-model-runtime.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-runtime-contract.ts
  apps/mobile/src/overlays/useSearchRoutePollsSceneStateRuntime.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-environment-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-root-environment-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-stage-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-screen-app-entry-plane-runtime.ts
  apps/mobile/src/services/polls.ts
Due: prettier

docs(rebuild): ledger — both feed legs committed; supply fixes in flight
  plans/rebuild-execution-ledger.md
Due: prettier

fix(rebuild): supply red-team fixes — all 11 findings folded
  apps/api/src/modules/notifications/notifications.service.ts
  apps/api/src/modules/polls/polls-signals-dual-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/supply/demand-mass.kernel.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/polls/supply/place-local-time.spec.ts
  apps/api/src/modules/polls/supply/place-local-time.ts
  apps/api/src/modules/polls/supply/poll-ballot-mention.service.spec.ts
  apps/api/src/modules/polls/supply/poll-ballot-mention.service.ts
  apps/api/src/modules/polls/supply/poll-supply-controller.spec.ts
  apps/api/src/modules/polls/supply/poll-supply-controller.ts
  apps/api/src/modules/polls/supply/poll-supply-estimators.spec.ts
  apps/api/src/modules/polls/supply/poll-supply-estimators.ts
  apps/api/src/modules/polls/supply/poll-supply.constants.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
  apps/api/src/modules/signals/signals.service.spec.ts
  apps/api/src/modules/signals/signals.service.ts
Due: api-lint, prettier

docs(rebuild): task #6 complete; #7 aggregate+readers in flight
  plans/rebuild-execution-ledger.md
Due: prettier

feat(rebuild): demand aggregate + readers cut to the ledger
  apps/api/prisma/migrations/20260719190000_signal_demand_aggregate/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/backfill-signals-from-legacy-events.ts
  apps/api/src/modules/autocomplete/autocomplete.module.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/history/history.service.spec.ts
  apps/api/src/modules/history/history.service.ts
  apps/api/src/modules/search/search-popularity.service.ts
  apps/api/src/modules/search/search-query-suggestion.service.ts
  apps/api/src/modules/search/search-signals-dual-write.spec.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.spec.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/signals.module.ts
  apps/api/src/modules/signals/signals.service.ts
Due: api-lint, prettier

docs(rebuild): ledger — aggregate committed; collector + red-team in flight
  plans/rebuild-execution-ledger.md
Due: prettier

feat(search): the strip renders REAL from the first frame — the initial-loading hide dies as a class
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-panel-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-surface-panel-state-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-surface-render-header-source-runtime.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(rebuild): ledger — aggregate red-team findings; fix + collector agents in flight
  plans/rebuild-execution-ledger.md
Due: prettier

feat(chrome): ChromeTitleText — the truncation law's text side; per-panel title forks die
  apps/mobile/src/overlays/ChromeTitleText.tsx
  apps/mobile/src/overlays/OverlaySheetHeaderChrome.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/MessagingPanels.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/PostPhotosPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/panels/pollsHeaderVisuals.tsx
  apps/mobile/src/overlays/search-results-header-live-state.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(perf): dev-lane submit re-measure after the pending-block cut — worst window 543→342ms
  plans/perf-baselines.md
Due: prettier

docs: the content-transport seam verdict — store+fence IS the beat; the beat-writer is L3 scheduling over controllers, never a second data path
  plans/page-composition-from-scratch-design.md
Due: prettier

docs: listDetail split edit map — exact controller/content partition + watch-outs
  plans/page-composition-from-scratch-design.md
Due: prettier

chore(rig): +1 invariant — title style forks stay dead (29 checks)
  scripts/rig/grep-invariants.sh
Due: none

fix(rebuild): enrichment score refresh → singleton rescorer markDirty
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
