Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(F4000): the fourth daily-acts dialect was right about kinds and silent about echoes
  apps/api/src/modules/signals/global-entity-demand-daily-acts.integration.spec.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
Due: api-lint, prettier

fix(F6500): the delete gate was red for a day on three checks — all three subjects had moved, no law was broken
  audit/FINDINGS.md
  scripts/app-route-runtime-delete-gate.sh
Due: prettier

chore(F6500): normalize the STATUS token to the ledger vocabulary (RESOLVED -> FIXED)
  audit/FINDINGS.md
Due: prettier

design(D109): the wiring fired immediately — the reader was blind
  audit/DESIGNS.md
Due: prettier

fix(F6600): the comparator got a mechanism, its diff-marker twin got a copy-paste
  apps/mobile/src/navigation/runtime/app-route-sheet-host-runtime-contract.spec.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-runtime-contract.ts
  apps/mobile/src/overlays/AppOverlayRouteHost.tsx
  apps/mobile/src/overlays/SearchOverlayRouteSheetSurfaceHost.tsx
Due: prettier

test(F6609): the guard three of four siblings carry, and the vacuity cure one of two neighbours got
  apps/api/src/modules/signals/subject-text-floor.integration.spec.ts
Due: api-lint, prettier

audit(D108): F6600 and F6601 terminal, F6619 part 1 terminal with part 2 named
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D110): both departures were my brief's inconsistencies, and the stash ban has no fence
  audit/DESIGNS.md
Due: prettier

test(F6622): the filter that filtered nothing, and the headline case that could not see the axis it names
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.spec.ts
Due: api-lint, prettier

fix(F6604): an assertion its own return type entailed, and a doc comment teaching the wrong seat model
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.spec.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.ts
Due: prettier

probe(places): settling a viewport on the West Village DOES create it
  apps/api/scripts/west-village-probe.ts
Due: api-lint, prettier

fix(F6405b): the BOUNDED-ladder law passed with no ladder at all
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
Due: prettier

fix(F5851): the orphan gate stopped one level above the files that accumulate orphans, and the hand sweep that said "zero" was reading the wrong thing
  .github/workflows/ci.yml
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/styles.ts
  scripts/check-search-runtime-hook-names.mjs
  scripts/check-search-styles-orphan-keys.mjs
  scripts/lib/strip-comments.mjs
Due: prettier

feat(F4601): the type-aware dead-argument scanner, and it found eleven on its first run
  scripts/find-dead-hook-args.mjs
Due: none

docs(D88 P3): three rows terminal, two new — and the sweep that reported "zero orphans" was answering a different question
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D111): the scanner earned zero false positives by being wrong three times in report-only
  audit/DESIGNS.md
Due: prettier

ledger(api-tails P3): F5100/F4000/F6609/F6622 terminal, F6604 partial with the half I stopped on
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(F6802): the invariants red was the mechanism working — a prose toucher awaiting its classification
  apps/api/scripts/check-subject-text-emission.ts
  audit/FINDINGS.md
Due: api-lint, prettier

design(D112): the board is quiescent — a split triage, a digest oracle, and a guard that is rarely-armed rather than dead
  audit/DESIGNS.md
Due: prettier

audit(F6803): the flake I saw twice and captured zero times — my redirect order ate both identities
  audit/FINDINGS.md
Due: prettier

fix(F6900): eleven arguments were declared, supplied every render, and read by nobody — and now the gate that found them runs
  .github/workflows/ci.yml
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-action-runtime-port-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-presentation-actions-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-interaction-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-visual-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-direct-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-query-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-overlay-action-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-overlay-runtime-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-overlay-state-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-foreground-visual-presentation-source-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-control-stage-runtime.ts
Due: prettier

test(F6604a): the parity oracle was a second implementation kept in lockstep; freeze a digest instead
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.spec.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-plan-parity-domain.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-plan-parity-frozen.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-plan-parity.spec.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  scripts/bless-sheet-motion-parity.sh
Due: prettier

design(F7200/F7201): the 41 proximity "laws" never ran, and the ownership ratchet never ratcheted
  audit/FINDINGS.md
Due: prettier

docs(F6900): the row goes terminal — eleven dead arguments drained, --check wired
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D113): the digest is a function of the table, and kinds is a lane selector within the law
  audit/DESIGNS.md
Due: prettier

design(D114): a ceiling drawn above the ceiling, and a class inert since birth
  audit/DESIGNS.md
Due: prettier

design(D115): the eleven drained upward and the third earn-then-wire cycle closed
  audit/DESIGNS.md
Due: prettier

fix(D113): the fifth dialect of the daily-acts law, and the one caller that asks for an echo on purpose
  apps/api/src/modules/signals/entity-demand-scores-daily-acts.integration.spec.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

design(D116): the law carried by data shape, not a boolean
  audit/DESIGNS.md
Due: prettier

fix(gate/D114): the proximity class was inert since birth — rg had no -U, so 900 chars meant 900 chars on ONE LINE
  scripts/app-route-runtime-delete-gate.sh
Due: none

fix(gate/D114): three "laws" were dependency rules wearing a regex — rehome them to import restrictions
  apps/mobile/.eslintrc.js
  scripts/app-route-runtime-delete-gate.sh
  scripts/check-lint-ban-inheritance.mjs
Due: prettier

fix(gate/F7201): a concentration law names a TREE, not a file — retire the six budgets that could never fail
  scripts/search-runtime-root-ownership-gate.sh
  scripts/search-runtime-root-ownership-gates.json
Due: prettier

docs(audit): D114 executed — F7200/F7201 terminal, F6406/F6619 closed into them, F7300 filed
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D117): twenty-two checks proved RED in one pass, and my summary was the third casualty of its own measurement
  audit/DESIGNS.md
Due: prettier

audit(clean-pass-1): the person-data compiler deletes two rows it declared would survive
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D118): clean pass 1 found erasure deleting third parties — the empty table bought a backwards allowlist entry
  audit/DESIGNS.md
Due: prettier

audit(F7600-F7602): clean pass 1 on api-search — the labels arm folds one side only
  audit/FINDINGS.md
Due: prettier

audit(clean-pass-1/screens/Search): three new findings — a recovery deadline a re-render disarms, and two instruments that cannot show red
  audit/COVERAGE.md
Due: prettier

design(D119): the fold law honored on aliases, broken on labels — twenty percent unmatchable
  audit/DESIGNS.md
Due: prettier

design(D120): the module that RECOVERS ALWAYS is disarmed by a re-render
  audit/DESIGNS.md
Due: prettier
