Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, mobile-lint, shared-lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: cd apps/api && yarn lint
    mobile-lint:
      glob: 'apps/mobile/**/*.{ts,tsx,js,jsx}'
      run: cd apps/mobile && yarn lint
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: cd packages/shared && yarn lint

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

feat: Enhance BottomSheetWithFlashList to support drag state change notifications, improve Search screen with map snapshot handling, and refine styles for better layout consistency.
  apps/mobile/images/image.png
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/sheetUtils.ts
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  plans/profile-screen.md
Due: mobile-lint, prettier

feat: Refactor Search screen to improve map interaction handling, add scrolling state management, and enhance restaurant result card layout for better user experience.
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

style: Refactor code formatting in multiple overlays and screens for improved readability, including consistent import statements and ternary operator usage.
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/SaveListOverlay.tsx
  apps/mobile/src/screens/FavoritesListDetail.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Profile/index.tsx
Due: mobile-lint, prettier

feat: Refactor overlays and search components to utilize resolveExpandedTop for consistent snap point calculations, enhance zIndex management, and improve overall layout and functionality.
  apps/mobile/src/hooks/use-favorite-lists.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/SaveListOverlay.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/overlays/sheetUtils.ts
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

feat: Enhance BottomSheetWithFlashList with new surface and shadow styles, update Search screen to manage save sheet state, and refine styles for improved layout consistency.
  apps/mobile/images/image.png
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/SheetTopShadow.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

style: Clean up BottomSheetWithFlashList and overlaySheetStyles by removing unnecessary border styles for improved visual consistency.
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
Due: mobile-lint, prettier

feat: Add Profile overlay support in Search screen, update overlay store to include profile key, and adjust overlay styles for improved user experience.
  apps/mobile/src/overlays/ProfileOverlay.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/store/overlayStore.ts
Due: mobile-lint, prettier

style: Simplify ProfileOverlay component by condensing ternary operator usage and streamlining contentContainerStyle for improved readability.
  apps/mobile/src/overlays/ProfileOverlay.tsx
Due: mobile-lint, prettier

feat: Integrate @react-native-community/blur for enhanced visual effects, replace expo-blur usage in multiple components, and streamline overlay interactions for improved user experience.
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/FrostedGlassBackground.tsx
  apps/mobile/src/components/app-blur-view.tsx
  apps/mobile/src/navigation/RootNavigator.tsx
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/ProfileOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  yarn.lock
Due: mobile-lint, prettier

refactor: Remove unused appIsReady state in App component, streamline SplashScreen handling, and update theme colors across multiple components for improved consistency and readability.
  apps/mobile/App.tsx
  apps/mobile/images/image.png
  apps/mobile/package.json
  apps/mobile/src/assets/fonts/IBMPlexSans-SemiBold.ttf
  apps/mobile/src/assets/fonts/OFL.txt
  apps/mobile/src/components/EmailAuthModal.tsx
  apps/mobile/src/constants/map.ts
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/constants/typography.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/PollCreationSheet.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/ProfileOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/overlays/SaveListOverlay.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/FavoritesListDetail.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/constants/ui.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/screens/SignIn.tsx
  scripts/google-places-oneoff.js
Due: mobile-lint, prettier

style: Refactor code formatting in PollsOverlay, Search components, and related files for improved readability by consolidating multiline statements and simplifying JSX structure.
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

feat: Implement preventSwipeDismiss functionality in overlays to enhance user interaction control, update related components for consistent behavior across Bookmarks, Polls, and Profile overlays.
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/ProfileOverlay.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

style: Refactor code formatting in LLM service to enhance readability by adjusting indentation and consolidating multiline statements.
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

feat: Add onSettleStateChange callback to BottomSheetWithFlashList and Search components for improved interaction handling, enhancing user experience during sheet animations and state transitions.
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Search/RecentHistoryView.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/context/SearchInteractionContext.tsx
  apps/mobile/src/screens/Search/hooks/use-search-chrome-transition.ts
  apps/mobile/src/screens/Search/hooks/use-top-food-measurement.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/store/searchHistoryStore.ts
Due: mobile-lint, prettier

refactor: Simplify state initialization and improve formatting in SearchScreen component for enhanced readability and consistency.
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: Remove unused blur animation logic and simplify the SearchScreen component for improved performance and readability.
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: Remove unused Untitled file and streamline Search component code for improved readability and performance, including adjustments to multiline statements and conditional checks.
  Untitled
  apps/mobile/src/screens/Search/RecentHistoryView.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/render-meta-detail-line.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/index.tsx
  plans/overlay-sheet-system-redesign-v2.md
  plans/overlay-sheet-system-redesign-v3.md
  plans/overlay-sheet-system-redesign.md
Due: mobile-lint, prettier

feat: Add search performance debugging flags and enhance search transition handling for improved user experience and performance monitoring
  apps/mobile/.env.example
  apps/mobile/.eslintrc.js
  apps/mobile/app.config.js
  apps/mobile/src/hooks/use-transition-driver.ts
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/hooks/use-search-transition.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/search-perf-debug.ts
  apps/mobile/src/services/search.ts
  plans/overlay-sheet-unification.md
  plans/performance-playbook.md
  plans/search-suggestion-transition.md
Due: mobile-lint, prettier

stuff
  apps/mobile/images/image.png
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

refactor: Improve code formatting and readability in SearchScreen component by adjusting multiline statements and simplifying conditional checks.
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

fix: Adjust hole positioning in SearchFilters component by incorporating overscrollMargin for improved layout accuracy
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
Due: mobile-lint, prettier

feat: Implement axis locking in BottomSheetWithFlashList for improved gesture handling and enhance SearchScreen with inline loading indicators and state management improvements
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/empty-state.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

refactor: Clean up SearchHeader component by improving focus handling and code formatting for better readability and maintainability.
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
Due: mobile-lint, prettier

feat: Enhance Search functionality by adding query normalization for specific phrases and improving inline loading behavior in SearchHeader component for better user experience.
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

feat: Enhance PollsOverlay with improved animated styles and search functionality by adding state management for search editing and pending results sheet reveal.
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: Improve code formatting and readability in SearchScreen, RecentHistoryView, and SearchSuggestions components by consolidating multiline statements and enhancing component structure.
  apps/mobile/src/screens/Search/RecentHistoryView.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

feat: Add shadow styling to pin elements in Search screen for enhanced visual depth and improved UI aesthetics.
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

feat: Enhance SearchScreen performance logging and state management by adding blank area logging, refining hydration logic, and improving animation handling in SearchFilters component.
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/search-perf-debug.ts
Due: mobile-lint, prettier

feat: integrate Sentry for error tracking and performance monitoring
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  apps/api/src/main.ts
  apps/api/src/modules/debug/debug.controller.ts
  apps/api/src/modules/debug/debug.module.ts
  apps/api/src/modules/debug/index.ts
  apps/api/src/modules/health/health.controller.ts
  apps/api/src/modules/health/health.module.ts
  apps/api/src/modules/health/health.service.ts
  apps/api/src/modules/health/index.ts
  apps/api/src/modules/infrastructure/index.ts
  apps/api/src/modules/infrastructure/throttler/index.ts
  apps/api/src/modules/infrastructure/throttler/throttler-redis.storage.ts
  apps/api/src/modules/infrastructure/throttler/throttler.decorator.ts
  apps/api/src/modules/infrastructure/throttler/throttler.module.ts
  apps/api/src/sentry/index.ts
  apps/api/src/sentry/sentry.filter.ts
  apps/api/src/sentry/sentry.interceptor.ts
  apps/api/src/sentry/sentry.module.ts
Due: api-lint, prettier

feat(api): add legal endpoints for privacy policy and terms of service
  .dockerignore
  .github/workflows/ci.yml
  RAILWAY.md
  apps/api/.dockerignore
  apps/api/.env.example
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/legal/index.ts
  apps/api/src/modules/legal/legal.controller.ts
  apps/api/src/modules/legal/legal.module.ts
  railway.json
Due: api-lint, prettier

chore: update Node.js version and dependencies for improved compatibility
  .github/workflows/ci.yml
  .nvmrc
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/scripts/onboard-subreddit.ts
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  apps/api/src/main.ts
  apps/api/src/modules/debug/debug.controller.ts
  apps/api/src/modules/debug/debug.module.ts
  apps/api/src/modules/health/health.controller.ts
  apps/api/src/modules/health/health.service.ts
  apps/api/src/modules/infrastructure/throttler/throttler-redis.storage.ts
  apps/api/src/modules/infrastructure/throttler/throttler.decorator.ts
  apps/api/src/modules/infrastructure/throttler/throttler.module.ts
  apps/api/src/modules/legal/legal.controller.ts
  apps/api/src/modules/legal/legal.module.ts
  apps/api/src/sentry/sentry.filter.ts
  apps/api/src/sentry/sentry.interceptor.ts
  apps/api/src/sentry/sentry.module.ts
  apps/mobile/.env.example
  apps/mobile/app.config.js
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/search-perf-debug.ts
  apps/mobile/src/screens/Search/utils/marker-lod.ts
  apps/mobile/src/screens/Search/utils/quality.ts
  package.json
  plans/map-marker-lod.md
  yarn.lock
Due: api-lint, mobile-lint, prettier

refactor: streamline lefthook commands and improve CI configuration
  .github/workflows/ci.yml
  .lefthook/with-node-22.sh
  apps/mobile/images/image.png
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/search-perf-debug.ts
  apps/mobile/src/screens/Search/utils/marker-lod.ts
  apps/mobile/src/screens/Search/utils/quality.ts
  lefthook.yml
  plans/map-marker-lod.md
Due: mobile-lint, prettier

feat: enhance caching strategy and improve autocomplete performance by adjusting cache TTL and removing on-demand recording
  apps/api/.env.example
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/search/on-demand-processing.service.ts
  apps/mobile/src/hooks/useSearchRequests.ts
  plans/autocomplete.md
Due: api-lint, mobile-lint, prettier

refactor: improve code formatting and readability across multiple services
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/billing/billing-webhook.controller.ts
  apps/api/src/modules/content-processing/quality-score/quality-score.service.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-ingestion.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/volume-tracking.processor.ts
  apps/api/src/modules/content-processing/reddit-collector/entity-priority-selection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/external-integrations/reddit/reddit-data-filter.ts
  apps/api/src/modules/external-integrations/reddit/reddit.exceptions.ts
  apps/api/src/modules/identity/auth/clerk-auth.guard.ts
  apps/api/src/modules/identity/auth/optional-clerk-auth.guard.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/on-demand-processing.service.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/utils/restaurant-status.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/utils/geo.ts
Due: api-lint, mobile-lint, prettier

refactor: enhance code formatting and readability in search processing and mobile components
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/search/on-demand-processing.service.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: api-lint, mobile-lint, prettier

feat(search): enhance search functionality with dish and restaurant integration
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/search-perf-debug.ts
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/screens/Search/utils/geo.ts
  apps/mobile/src/screens/Search/utils/map.ts
  apps/mobile/src/screens/Search/utils/merge.ts
  apps/mobile/src/types/search.ts
  packages/shared/src/types/search.ts
  plans/keyword-collection-priority-overhaul.md
  temp.txt
Due: api-lint, mobile-lint, shared-lint, prettier

refactor(keyword-collection): overhaul keyword selection process for improved efficiency and accuracy
  plans/keyword-collection-observability-overhaul.md
  plans/keyword-collection-priority-overhaul.md
Due: prettier

refactor(keyword-collection): remove redundant line from observability overhaul plan
  plans/keyword-collection-observability-overhaul.md
Due: prettier
