Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

probe(header): bank the reproduction for "the header stays on Texas over Austin"
  apps/api/scripts/header-verdict-probe.ts
Due: api-lint, prettier

fix(F4101): a sixth argument nobody reads, found by re-reading rather than hunting
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-suggestion-runtime.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(F4512): a half-measured layout rect, and two performance numbers with no instrument
  apps/mobile/src/overlays/panels/HomePanel.tsx
Due: prettier

design(D88): the lane corrected my design's false unrepresentability claim, and the orphan gate caught a perfect dead file
  audit/DESIGNS.md
Due: prettier

fix(F4503): three props the runtime never destructures, two lines below the comment stating exactly that law
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/overlays/bottomSheetSharedRuntimeContract.ts
  apps/mobile/src/overlays/bottomSheetWithFlashListContract.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
  apps/mobile/src/overlays/useSearchRouteSceneStackBottomSheetRuntimeAssembly.ts
Due: prettier

fix(F4504): a value threaded through four files so a comparator could deliberately ignore it
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/bottomSheetSceneStackHostContract.ts
  apps/mobile/src/overlays/bottomSheetSharedRuntimeContract.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
  apps/mobile/src/overlays/useSearchRouteSceneStackBottomSheetRuntimeAssembly.ts
Due: prettier

fix(F4505): one of six mirrors kept the raw-prop seed F1476b removed from the other five
  apps/mobile/src/overlays/useBottomSheetSharedGestureRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
Due: prettier

fix(F4511): two cache keys minted as bare literals at eight sites, in a file that already imports a key factory
  apps/mobile/src/hooks/profile-query-keys.ts
  apps/mobile/src/overlays/panels/ProfileSectionsBody.tsx
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
Due: prettier

fix(F4509): a disabled query was indistinguishable from a loading one, so the gated-off state rendered an eternal spinner
  apps/mobile/src/overlays/panels/ProfileSectionsBody.tsx
  apps/mobile/src/overlays/panels/profile-section-body-state.spec.ts
  apps/mobile/src/overlays/panels/profile-section-body-state.ts
Due: prettier

ledger(F4500-F4512): the gesture/panels P3 pass, with the two it stopped on
  audit/FINDINGS.md
Due: prettier

audit(P1): the resolver re-derives an abort verdict it was already handed, three hops later, from a sentence
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

finding(F4700): the premount probe suite passes alone and fails ~1 run in 6 in the pack
  audit/FINDINGS.md
Due: prettier

design(D89): the abort that was observed, discarded, and reconstructed from a sentence
  audit/DESIGNS.md
Due: prettier

design(D90): a second design of mine refuted by reading — the dispose order was never reverse-of-construction
  audit/COVERAGE.md
  audit/DESIGNS.md
Due: prettier

audit(P1): the reddit health check could only ever say healthy, and the teaser shows a score no card shows
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D91): a spec testing a copy of production, a NaN that disarms a spend ceiling, and two owner rulings in conflict
  audit/DESIGNS.md
Due: prettier

fix(F4800): the abort was observed at the top and reconstructed from a sentence three layers down
  apps/mobile/src/hooks/useSearchRequests.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-fetch.spec.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-fetch.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-resolver.spec.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-resolver.ts
Due: prettier

plan(concept-graph): §9.8 language rollout — vi/zh/ko unseeded, zh segmentation pre-flight
  plans/concept-graph.md
Due: prettier

test(F4926): the 118x cost-regression spec was testing a copy of production
  apps/api/src/modules/external-integrations/llm/gemini-generation-config.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/thinking-config-seam.spec.ts
Due: api-lint, prettier

probe(header): validate the candidate header law country-to-block, in two cities
  apps/api/scripts/header-verdict-probe.ts
Due: api-lint, prettier

fix(F4804): the transition type was wider than the classifier, so four guards re-asked a settled question
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.ts
Due: prettier

test(F4950): the retirement ceiling on the scarce-draw path was NaN-unreachable
  apps/api/src/modules/places/places-promotion.service.spec.ts
Due: api-lint, prettier

fix(F4803,F4805): two parameters nobody supplied, and an "unreachable by construction" that named the wrong construction
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-writer.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-writer.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
Due: prettier

fix(F4801): a pinned-false flag was documented instead of deleted — F1062's resolution, not F1735's
  apps/mobile/src/screens/Search/runtime/read-models/read-model-selectors-runtime.tsx
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-hydration-sync-lifecycle-runtime.ts
Due: prettier

plan(concept-graph): §9.9 — first-writer-wins collision guard needs adjudication; post-sweep gate 90.7, morphology closed
  plans/concept-graph.md
Due: prettier

test(F4920/F4921): the billing doubles beside the fixed Stripe ones answered anything
  apps/api/src/modules/billing/billing-checkout.spec.ts
Due: api-lint, prettier

fix(F4802): a memo whose dep was a rest element — an optimization that could not hit, by language semantics
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-value-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-runtime-owner.ts
Due: prettier

fix(F4806): a cast standing in for a validation, two lines above five honest ones — and a field written thrice, read never
  apps/mobile/src/screens/Search/runtime/resolver/shortcut-coverage-world.spec.ts
  apps/mobile/src/screens/Search/runtime/resolver/shortcut-coverage-world.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
Due: prettier

test(F4922): three more doubles one seam over from where a campaign stopped
  apps/api/src/modules/entitlements/entitlement-enforcement.spec.ts
  apps/api/src/modules/identity/user-profile-stats.spec.ts
  apps/api/src/modules/polls/poll-rank-determinism.spec.ts
Due: api-lint, prettier

fix(F4907): the write that prevents weekly Places re-spend failed silently
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-count-loud.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion.spec.ts
Due: api-lint, prettier

fix(F4507): a handler declared on ten contracts, threaded through the whole relay, and called by nothing
  apps/mobile/src/navigation/runtime/app-route-restaurant-overlay-input-contract.ts
  apps/mobile/src/navigation/runtime/app-route-restaurant-overlay-publication-contract.ts
  apps/mobile/src/navigation/runtime/route-local-restaurant-overlay-interaction-runtime.ts
  apps/mobile/src/navigation/runtime/route-local-restaurant-overlay-interaction-snapshot-contract.ts
  apps/mobile/src/overlays/RestaurantRouteSceneInputHost.tsx
  apps/mobile/src/overlays/restaurant-header-live-state.ts
  apps/mobile/src/overlays/restaurantRoutePanelContract.ts
  apps/mobile/src/overlays/useRestaurantRouteContentSpecRuntime.tsx
  apps/mobile/src/overlays/useRestaurantRouteEntryRuntime.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-overlay-relay-composite.spec.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-control-selection-state-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/route-local-restaurant-overlay-control-selection-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-host-runtime.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-restaurant-overlay-interaction-publication-runtime.ts
Due: prettier

fix(F4507): drop the argument the dead handler was the only reader of
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-restaurant-overlay-interaction-publication-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-stage-runtime.ts
Due: prettier

audit(P3): F4800-F4806 + F4507 terminal, two row corrections recorded, F5000 filed
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(F4936): the one missing user anchor — poll comment entity spans
  apps/api/scripts/reload/preserved-anchors.sql
Due: none

design(D92): the union refuses, two sub-claims refuted by reading, and a gate fired live
  audit/DESIGNS.md
Due: prettier

chore(F4913/F4938): markets residue in a spec that proves nothing and a README
  apps/api/scripts/search-harness/README.md
  apps/api/src/modules/polls/polls-feed.spec.ts
Due: api-lint, prettier

docs(F4939): a sweep stamped "deletion candidate" on three files it had not read
  apps/api/scripts/seed-owner-fixtures.ts
  apps/api/scripts/seed-region.ts
  apps/api/scripts/warm-query-embedding-cache.ts
Due: api-lint, prettier

audit(P1/mobile-search): three files transformed nothing, and eight args existed only to be discarded
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D93): calling a hook is not a boundary — subscribing is
  audit/DESIGNS.md
Due: prettier

audit(P3/D91): F5101 — the coverage gate skips every row containing a stray pipe
  audit/FINDINGS.md
Due: prettier
