Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

fix(governance): ONE resume quote — quoteResume() on the service, used by resumeAfterBreach and the script; a resumed envelope is floored at what was already spent (red team 2026-09-04 G-2)
  apps/api/scripts/resume-campaign.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

docs(red-team): ledger G-2/G-7/census fixture; breach + resume quote
  plans/red-team-2026-09-04-findings.md
Due: prettier

fix(llm): the Gemini caller tag is a TYPE — an unprofiled caller no longer compiles; the search launch-gate grader gets its profile and contract (red team 2026-09-04 G-5)
  apps/api/scripts/prompt-gold.ts
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/shared/judge-contracts/index.ts
  apps/api/src/shared/judge-contracts/search-harness-grader.contract.ts
Due: api-lint, prettier

chore(hooks): the invariants-harness commit fence — a commit is refused while a live `yarn invariants` holds this checkout's lock (red team 2026-09-04, the swept-mutation incident)
  lefthook.yml
  scripts/check-invariants-lock.mjs
Due: prettier

docs(red-team): ledger G-5 + the commit fence
  plans/red-team-2026-09-04-findings.md
Due: prettier

audit(coverage): red-team 2026-09-04 census — 23 files REDERIVED (fixed with executed proofs), 85 files PARTIAL (agent end-to-end read, decisive claims re-verified), 50 new rows
  audit/COVERAGE.md
Due: prettier

docs(red-team): wave 2 docket drain B+C ledgered
  plans/red-team-2026-09-04-findings.md
Due: prettier

fix(tripwire): a degenerate merge reason — the bare decision word, a placeholder, or too short to audit — is refused as a hold (judge-ledger audit rec 6, landed red team 2026-09-04 wave 2)
  apps/api/src/shared/merge-reason-tripwire.spec.ts
  apps/api/src/shared/merge-reason-tripwire.ts
Due: api-lint, prettier

docs(red-team): wave 2 docket drain A ledgered
  plans/red-team-2026-09-04-findings.md
Due: prettier

audit(coverage): re-ledger the files touched after the census at their current blobs
  audit/COVERAGE.md
Due: prettier

chore(scripts): the invariants-lock fence declares its script class (containment gate)
  scripts/check-invariants-lock.mjs
Due: none

chore(scripts): the invariants-lock fence declares its runner (@run-by) for the containment gate
  scripts/check-invariants-lock.mjs
Due: none

docs(red-team): ledger the CI-found election race
  plans/red-team-2026-09-04-findings.md
Due: prettier

docs(red-team): CI green — first full run since 2026-08-09
  plans/red-team-2026-09-04-findings.md
Due: prettier

docs(red-team): correction — no doc-count cap exists; the 35k token target never bound
  plans/red-team-2026-09-04-findings.md
Due: prettier

docs(red-team): v23 diff triage — 48 of 98 anchored losses are resolution twins, ~7 real omissions
  plans/red-team-2026-09-04-findings.md
Due: prettier

docs(red-team): correct the chunking note — the 30-doc cap exists since 2026-08-27; replays reuse pre-cap chunks
  plans/red-team-2026-09-04-findings.md
Due: prettier

docs(red-team): owner rulings — all recommendations accepted; wholesale law stays; rederivation program + 1,000-mention audit approved
  plans/red-team-2026-09-04-owner-decisions.md
Due: prettier

docs(audit): the 1,000-mention audit — classes, causes, stability (temp 0 cuts flips 10%→3.4%), the model's own opposing-rule signal, 15 owner doctrine questions, v24 direction
  plans/prompt-audit-2026-09-04.md
Due: prettier

chore(coverage): drop the ledger row for grounding-sweep-tripwire.ts — the file was deleted by the one-hold rederivation (E-6); CI's staleness guard refused main
  audit/COVERAGE.md
Due: prettier

docs(prompt): v24 rulings — the dish boundary rederived from the v23 census; one-comment-one-vote across the three counters
  plans/prompt-v24-rulings.md
Due: prettier

test(search): the no-UNION assertion scopes to the pool scan — the vote-total CTE now UNION ALLs its two evidence ledgers by design (CI red on 85604d616)
  apps/api/src/modules/search/search-pooled-gate.spec.ts
Due: api-lint, prettier

chore(reextract): shadow --rechunk arms REEXTRACT_RECHUNK on the worker (the runner's flag existed; the verb never set it)
  scripts/rig/reextract.sh
Due: none

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
