Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

feat(header): leg B — the device judges with real ground
  apps/mobile/src/screens/Search/runtime/viewport/use-viewport-subject-store-controller-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  apps/mobile/src/services/places.ts
  apps/mobile/src/store/viewport-subject-store.ts
Due: prettier

fix(places): bound polygon storage at write — placeSpan/1024 simplify
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
Due: api-lint, prettier

feat(page): L3 slice 2 — one-writer display consolidation (scene-keyed resident unit + frame-driven visibility)
  apps/mobile/src/navigation/runtime/app-route-scene-entry-mounts.spec.ts
  apps/mobile/src/navigation/runtime/app-route-scene-entry-mounts.ts
  apps/mobile/src/overlays/PersistentSheetHeaderHost.tsx
  apps/mobile/src/overlays/ShellVisibilityBoundary.tsx
  apps/mobile/src/overlays/shell-residency-manager.ts
  apps/mobile/src/overlays/shell-residency-registry.ts
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

fix(places): drain paces the vendor QPS window — 429s die
  apps/api/src/modules/places/places-promotion.service.ts
Due: api-lint, prettier

feat(page): L3 slice 3 — profile joins the residency-managed set
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/ShellVisibilityBoundary.tsx
  apps/mobile/src/overlays/shell-residency-registry.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): L3 slice 4 — the listDetail/bookmarks pair (identity-keyed resident units)
  apps/mobile/src/navigation/runtime/app-route-scene-entry-mounts.spec.ts
  apps/mobile/src/navigation/runtime/app-route-scene-entry-mounts.ts
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/shell-residency-registry.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): L3 slice 5 — the runtime-governance merge (A#9: invisible shells subscribe to nothing)
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

fix(geo): polygon containment everywhere a rectangle judged — C1-C5
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/polls/supply/demand-mass.kernel.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-selected-location-order.spec.ts
  apps/api/src/modules/signals/ground-containment.ts
  apps/api/src/modules/signals/lng-intersect.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/signal-demand-read.territory.spec.ts
Due: api-lint, prettier

feat(page): L4 slice 1 — the stamp instrument + the reveal/beat seam (and the honest miss)
  apps/mobile/src/navigation/runtime/transition-engine/transition-transaction.ts
  apps/mobile/src/overlays/ShellVisibilityBoundary.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): L4 slice 2 — the activity-flip deferral (managed publishes leave the reveal commit)
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): L4 slice 3 — beats flush at the reveal (and the second honest miss)
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): L4 slice 4 — [COMMITDBG] per-leg commit profiler + the return-from-child attribution
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): L4 slice 5 — the return-from-child diet lands (context split + deferred publication)
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/overlays/BottomSheetSceneStackBodyActivityContext.ts
  apps/mobile/src/overlays/BottomSheetSceneStackBodyLayer.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(ground): §2.6 ground unification — one format, precision improves in place
  apps/api/prisma/migrations/20260722130000_ground_unification_sketch_envelopes/migration.sql
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/places.controller.spec.ts
  apps/api/src/modules/places/places.controller.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-selected-location-order.spec.ts
  apps/api/src/modules/signals/ground-containment.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  packages/shared/src/geo/ground.ts
  packages/shared/src/geo/subjects.ts
  plans/geo-demand-foundation-rebuild.md
Due: api-lint, shared-lint, prettier

feat(page): L3/L4 slice 6 — the census sweep (every registry child joins the managed set)
  apps/mobile/src/navigation/runtime/app-route-scene-entry-mounts.spec.ts
  apps/mobile/src/navigation/runtime/app-route-scene-entry-mounts.ts
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/shell-residency-registry.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(coverage): engine-coverage re-key — the per-search market election dies
  apps/api/prisma/schema.prisma
  apps/api/scripts/search-harness/dense-vs-lexical-surface.ts
  apps/api/src/modules/autocomplete/autocomplete.module.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/markets/market-registry.service.ts
  apps/api/src/modules/markets/markets.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/search/README.md
  apps/api/src/modules/search/engine-coverage.service.ts
  apps/api/src/modules/search/engine-coverage.spec.ts
  apps/api/src/modules/search/on-demand-ask-signal.spec.ts
  apps/api/src/modules/search/on-demand-request.service.ts
  apps/api/src/modules/search/search-entity-expansion.service.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-see-locations.spec.ts
  apps/api/src/modules/search/search-signals-write.spec.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/hooks/useSearchRequests.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/on-demand-notice-copy.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
  apps/mobile/src/screens/Search/runtime/shared/search-on-demand-notice.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-on-demand-notice-runtime.tsx
  packages/shared/src/types/search.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, shared-lint, prettier

chore(coverage): physical engine_id rename lands — the flagged @map dies
  apps/api/prisma/migrations/20260722150000_on_demand_queue_engine_rekey/migration.sql
  apps/api/prisma/schema.prisma
Due: none

docs(page): the search-family closing act — baseline measured, structural plan set
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): search slice step 1 — the deferred-publication set + the search leg instrumented
  apps/api/scripts/seed-archive.ts
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/shell-residency-registry.ts
  apps/mobile/src/services/launch-position.ts
  plans/page-composition-from-scratch-design.md
Due: api-lint, prettier

fix(places): drain truth guards — wrong-entity polygons rejected, no silent promotions
  apps/api/src/modules/places/places-promotion.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

fix(page): the debt-repair pass part 1 — A#9 wired across the census scenes (a real residency regression killed)
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
  apps/mobile/src/overlays/panels/FollowListPanel.tsx
  apps/mobile/src/overlays/panels/MessagingPanels.tsx
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(page): debt-repair parts 2-3 — the render residue resolved; the image-memory protocol recorded
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(page): search slice step 2 — the leg's transition tax precisely scoped
  plans/page-composition-from-scratch-design.md
Due: prettier

fix(places): resolve-time twin disambiguation — the place's own bbox picks the vendor candidate
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

docs(page): search slice step 3 — the store-notify attribution closes the tax (correcting step 2)
  plans/page-composition-from-scratch-design.md
Due: prettier

fix(places): candidate agreement = coverage of the place's own bbox, not center/size tests
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(page): the foundation closes — search wrapped, B#12 rescoped, the census complete
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/ShellVisibilityBoundary.tsx
  apps/mobile/src/overlays/shell-residency-manager.ts
  apps/mobile/src/overlays/shell-residency-registry.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): frost pass — the over-white frost material (self-frost disease cured)
  apps/mobile/src/components/skeletons/CutoutSkeletonSurface.tsx
  apps/mobile/src/components/skeletons/FrostMaterialBackdrop.tsx
  apps/mobile/src/components/skeletons/cutout-skeleton-config.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

fix(geo): wave-7 red team — the three coherence seams closed
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  packages/shared/src/geo/subjects.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, shared-lint, prettier

fix(page): THE TRUE-CUTOUT LAW — self-frost deleted, skeletons punch the one shared frost
  apps/mobile/src/components/photos/PhotoStrip.tsx
  apps/mobile/src/components/skeletons/CutoutSkeletonDevPreview.tsx
  apps/mobile/src/components/skeletons/CutoutSkeletonShape.tsx
  apps/mobile/src/components/skeletons/CutoutSkeletonSurface.tsx
  apps/mobile/src/components/skeletons/FrostMaterialBackdrop.tsx
  apps/mobile/src/components/skeletons/SceneLoadingSurface.tsx
  apps/mobile/src/components/skeletons/cutout-skeleton-config.ts
  apps/mobile/src/navigation/runtime/ADDING_A_SCENE.md
  apps/mobile/src/navigation/runtime/scene-foundation-spec.ts
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/PageBodyShell.tsx
  apps/mobile/src/overlays/SceneBodyReadyGate.tsx
  apps/mobile/src/overlays/SearchMountedScenePageBundleAuthority.tsx
  apps/mobile/src/overlays/page-body-contract.spec.ts
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/perf/lifecycle-harness/ShellResidencyProbe.tsx
  apps/mobile/src/screens/Search/RecentHistoryView.tsx
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-list-render-item-runtime.tsx
  plans/page-composition-from-scratch-design.md
  scripts/rig/grep-invariants.sh
Due: prettier

fix(page): L3 debt repair — warm-before-navigate wired, boundary derived, dead ledger deleted
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/shell-residency-manager.ts
  apps/mobile/src/overlays/shell-residency-registry.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): strip-band seam law slice 1 — one band block, skeleton-strip derivation
  apps/mobile/src/components/skeletons/cutout-skeleton-presets.ts
  apps/mobile/src/navigation/runtime/scene-chrome-geometry.ts
  apps/mobile/src/navigation/runtime/scene-foundation-spec.ts
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/PageBodyShell.tsx
  apps/mobile/src/overlays/SceneBodyReadyGate.tsx
  apps/mobile/src/overlays/SearchMountedScenePageBundleAuthority.tsx
  apps/mobile/src/overlays/page-body-contract.spec.ts
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/toggles/toggle-strip-metrics.ts
  plans/page-composition-from-scratch-design.md
  scripts/rig/grep-invariants.sh
Due: prettier

refactor(page): strip-band seam law slice 2 — the measured results-header lane deleted
  apps/mobile/src/overlays/search-results-header-live-state.tsx
  apps/mobile/src/screens/Search/runtime/controller/search-root-search-scene-chrome-freeze-runtime.ts
  apps/mobile/src/screens/Search/runtime/read-models/read-model-selectors-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-page-header-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-header-policy-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-selector-results-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-surface-panel-parts-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-chrome-freeze-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-header-layout-runtime.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(page): the boundary-physics law — rubber-band overscroll derivation
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): boundary-physics slice 1 — contentOverscroll minted, plate signs up
  apps/mobile/src/overlays/SceneBodyFoundationSurface.tsx
  apps/mobile/src/overlays/bottomSheetSceneStackHostContract.ts
  apps/mobile/src/overlays/bottomSheetSharedRuntimeContract.ts
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
  apps/mobile/src/overlays/useSearchRouteSceneStackBottomSheetRuntimeAssembly.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(page): boundary-physics slice 2 design note
  plans/page-composition-from-scratch-design.md
Due: prettier
