Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(polls): drain 6 spec-honesty findings — mocks keyed on real discriminators, fail-closed duplicate gate
  apps/api/src/modules/polls/supply/poll-ballot-mention.service.spec.ts
  apps/api/src/modules/polls/supply/poll-ballot-mention.service.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/mobile/src/services/poll-duplicate-gate.spec.ts
  apps/mobile/src/services/polls.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(places/enrichment): drain 7 findings incl. a SQL-injection fix; 2 stopped-owner
  apps/api/scripts/seed-owner-scale-fixtures.ts
  apps/api/scripts/seed-region.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology-apply-plan.spec.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  apps/api/src/modules/external-integrations/llm/llm-caller-taxonomy.spec.ts
  apps/api/src/modules/external-integrations/llm/llm-chunking-token-budget.spec.ts
  apps/api/src/modules/external-integrations/llm/llm-chunking.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/places/places-catalog.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(F3708): derive the lint-ban gate's probe set from the overrides, closing the un-probed-scope hole
  audit/FINDINGS.md
  scripts/check-lint-ban-inheritance.mjs
Due: prettier

fix(llm): drain 3 dead-surface findings — delete never-called validateOutput + inert DTOs + README fiction
  apps/api/src/modules/external-integrations/llm/dto/llm-input.dto.ts
  apps/api/src/modules/external-integrations/llm/dto/llm-output.dto.ts
  apps/api/src/modules/external-integrations/llm/llm-chunking.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/README.md
  audit/FINDINGS.md
Due: api-lint, prettier

fix(api-specs): drain 7 query/spec-honesty findings — discriminator-keyed mocks, witnessed absence, fail-closed sqlText
  apps/api/src/modules/autocomplete/autocomplete.service.spec.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-alias-lost-update.integration.spec.ts
  apps/api/src/modules/messaging/messaging.service.spec.ts
  apps/api/src/modules/messaging/messaging.service.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/signals/occurred-at-timezone.integration.spec.ts
  apps/api/src/modules/signals/signal-demand-read.territory.spec.ts
  apps/api/src/shared/testing/preserved-anchors.spec.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(hygiene): drain 3 dead-code findings — 17 unused style imports, 7 dead overlay bindings, 2 dead eslint globs
  apps/api/eslint.config.mjs
  apps/mobile/src/overlays/searchRestaurantRouteController.ts
  apps/mobile/src/overlays/shell-residency-manager.ts
  apps/mobile/src/overlays/useBottomSheetRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
  apps/mobile/src/screens/Search/styles.ts
  audit/FINDINGS.md
Due: prettier

fix(app-route): drain 4 type-level dead-code findings; F5420 moot (fallbacks are live)
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-contract.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-origin-identity.spec.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/route-entry-origin-camera.spec.ts
  apps/mobile/src/navigation/runtime/transition-engine/transition-transaction.ts
  apps/mobile/src/screens/Search/hooks/use-search-clear-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-instrumentation-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-foundation-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-runtime-instrumentation-runtime.ts
  audit/FINDINGS.md
Due: prettier

fix(app-route): drain 7 more type-level findings (F5401-03,F5408,F5422-23); F5412 owner, 2 partial
  apps/mobile/src/navigation/runtime/AppRouteSheetHostRuntimeProvider.tsx
  apps/mobile/src/navigation/runtime/app-route-dynamic-scene-input-runtime-controller.ts
  apps/mobile/src/navigation/runtime/app-route-native-overlay-target-authorities.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-polls-scene-input-controller.ts
  apps/mobile/src/navigation/runtime/app-route-profile-transition-state-contract.ts
  apps/mobile/src/navigation/runtime/app-route-scene-entry-mounts.ts
  apps/mobile/src/navigation/runtime/app-route-scene-foundation-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-scene-motion-executor.ts
  apps/mobile/src/navigation/runtime/app-route-scene-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-shared-sheet-presentation-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.ts
  apps/mobile/src/navigation/runtime/route-local-restaurant-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/route-scene-input-lane-runtime.ts
  apps/mobile/src/navigation/runtime/use-app-route-dynamic-scene-input-writers-runtime.tsx
  apps/mobile/src/navigation/runtime/use-top-most-route-entry-for-scene.ts
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/scene-load-failure-policy.ts
  apps/mobile/src/overlays/searchRouteSessionTypes.ts
  apps/mobile/src/screens/Search/runtime/profile/use-restaurant-entry-pop-teardown-writer-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-control-runtime.ts
  audit/FINDINGS.md
Due: prettier

fix(app-route): drain 5 more type-level findings (F5419,F5424,F5800,F6300,F6603)
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-params-equality.spec.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-params-equality.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-command-controller.ts
  apps/mobile/src/navigation/runtime/app-route-polls-scene-input-controller.ts
  apps/mobile/src/navigation/runtime/app-route-polls-scene-runtime.ts
  apps/mobile/src/navigation/runtime/docked-scene-target.ts
  apps/mobile/src/overlays/RestaurantRouteSceneInputHost.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-panel-runtime-contract.ts
  apps/mobile/src/overlays/search-route-polls-scene-state.ts
  apps/mobile/src/overlays/searchRestaurantRouteController.ts
  apps/mobile/src/overlays/useSearchRoutePollCreationSceneStateRuntime.ts
  apps/mobile/src/overlays/useSearchRoutePollDetailSceneStateRuntime.ts
  audit/FINDINGS.md
Due: prettier

fix(F6402): delete a zero-reader transaction-input key, an unused param, and 3 phantom deps
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-surface-transaction-runtime.ts
  audit/FINDINGS.md
Due: prettier

fix(api-observability): scrub Sentry URL PII, bound the logger against cycles, type the workClass key
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/sentry/sentry.interceptor.spec.ts
  apps/api/src/sentry/sentry.interceptor.ts
  apps/api/src/shared/logging/redaction.ts
  apps/api/src/shared/logging/winston-logger-cycle.spec.ts
  apps/api/src/shared/logging/winston-logger.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(search-dto): give query entities a real shared type + bound viewportPolygon + strengthen 2 gate assertions
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/dto/shortcut-coverage.dto.spec.ts
  apps/api/src/modules/search/dto/shortcut-coverage.dto.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-see-locations.spec.ts
  apps/mobile/src/types/search.ts
  audit/FINDINGS.md
  packages/shared/src/index.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

fix(app-route): drain F5413/F5414 + partial F6410/F6411 (allowlist-from-type, dead casts/params)
  apps/mobile/src/navigation/runtime/app-route-native-overlay-target-authorities.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-input-registry.ts
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  apps/mobile/src/perf/perf-scenario-attribution.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-search-scene-chrome-freeze-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-card-render-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-render-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-selector-results-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-chrome-freeze-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-surface-render-header-source-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-search-scene-body-input-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-search-scene-model-owner.ts
  apps/mobile/src/screens/Search/runtime/surface/search-surface-runtime.ts
  apps/mobile/src/services/search.ts
  audit/FINDINGS.md
  scripts/perf-scenario-parity-contracts.js
  scripts/perf-scenario-visual-contracts.js
Due: prettier

fix(mobile): use control tokens (verified === literals), delete dead card props, document a magic number
  apps/mobile/src/components/FilterChip.tsx
  apps/mobile/src/components/SegmentedToggle.tsx
  apps/mobile/src/components/cards/ResultCard/DishResultCard.tsx
  apps/mobile/src/components/cards/ResultCard/RestaurantResultCard.tsx
  apps/mobile/src/components/skeletons/cutout-skeleton-presets.ts
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/toggles/ToggleStrip.tsx
  apps/mobile/src/toggles/toggle-strip-metrics.ts
  audit/FINDINGS.md
Due: prettier

fix(mobile): derive searchStore partialize from one list; cover the account_deleted transition
  apps/mobile/src/services/api-failure-policy.spec.ts
  apps/mobile/src/store/searchStore.partialize.spec.ts
  apps/mobile/src/store/searchStore.ts
  audit/FINDINGS.md
Due: prettier

docs(api): correct a false geo-mechanism comment + annotate anchor FK policies
  apps/api/scripts/reload/preserved-anchors.sql
  apps/api/src/modules/polls/polls.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(backlog): honest drain-progress recount — 877 FIXED, 183 open-bucket, 49 owner
  audit/BACKLOG-TRIAGE-2026-08-07.md
Due: prettier

fix(app-route): delete the dead sheet-frame-host nativeAdapter scaffold (7 write-only shared values) + a never-run comparator
  apps/mobile/src/navigation/runtime/AppRouteSheetHostRuntimeProvider.tsx
  apps/mobile/src/navigation/runtime/app-overlay-route-params-equality.spec.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-params-equality.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-frame-host-native-targets.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/use-app-route-sheet-frame-host-authority.ts
  audit/FINDINGS.md
Due: prettier

fix(F1302): delete the dead hasActiveSearchContent input threaded through the shell facts controller
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-policy-facts-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-shell-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-shell-runtime.ts
  audit/FINDINGS.md
Due: prettier

fix(F1487): satisfies-check the search-route visual-state seed instead of an as-unknown cast
  apps/mobile/src/overlays/searchRouteOverlayRuntimeContract.ts
  audit/FINDINGS.md
Due: prettier

fix(F959,F1053): single-source the mounted-scene-key unions; move search-history mutables into the store
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/screens/Search/hooks/use-search-history.ts
  apps/mobile/src/store/searchHistoryStore.reset.spec.ts
  apps/mobile/src/store/searchHistoryStore.ts
  audit/FINDINGS.md
Due: prettier

docs(F753): fold dated addenda into the product doc bodies (obey the edit-in-place rule)
  audit/FINDINGS.md
  product/favorites.md
  product/images.md
  product/messaging.md
  product/profile.md
  product/sharing.md
Due: prettier

fix(F5850): move ports-memo annotations to the checking factory-return position; delete 3 dead fields/params
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/screens/Search/hooks/use-suggestion-interaction-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-profile-presentation-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-control-runtime.ts
  audit/FINDINGS.md
Due: prettier

fix(F2702,F5426,F2901): comment-strip the orphan-profile gate; delete a dead port; derive 11 hardcoded verdicts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/surface/search-surface-runtime.spec.ts
  apps/mobile/src/screens/Search/runtime/surface/search-surface-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-bounds-service.ts
  apps/mobile/src/screens/Search/utils/overlap-region.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(F4948): no-evidence cuisine extraction writes no record instead of stamping done forever
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction-no-evidence.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(backlog): final drain-state — 893 FIXED, 163 open-bucket, 51 owner; mechanical vein drained
  audit/BACKLOG-TRIAGE-2026-08-07.md
Due: prettier

fix(F9200): delete a can't-fail guard the drain left — the type already guarantees the PF contract
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  audit/FINDINGS.md
Due: prettier

fix(F9201): stop the F4905 sweep-gap resurrecting fabricated-NOW timestamps for undated sources
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.undated-source.spec.ts
  audit/FINDINGS.md
Due: api-lint, prettier

design(D138): convergence achieved on the drained tree; the honest DONE boundary
  audit/DESIGNS.md
Due: prettier

docs(coverage): refresh review-shas for the 141 files this session rederived (LOOP re-review bookkeeping)
  audit/COVERAGE.md
Due: prettier

docs(coverage): mark 7 this-session-deleted files DELETED; map now 5 stale (all concurrent), 0 untracked
  audit/COVERAGE.md
Due: prettier

docs(coverage): refresh the last 5 self-edited rows — map now 0 STALE / 0 untracked
  audit/COVERAGE.md
Due: prettier

design(D139): inherited COVERAGE map verified honest — 26-file spot-check, zero false-terminals
  audit/DESIGNS.md
Due: prettier

docs(findings): reclassify 72 mislabeled-OPEN findings — 48 OWNER-DECISION, 24 ESCALATED (gate named)
  audit/FINDINGS.md
Due: prettier

fix(mechanical cluster C): seed onboarding calendar PRNG, drop dead native symbols, doc-honesty
  apps/mobile/ios/cravesearch/SearchMapRenderControllerBridge.m
  apps/mobile/ios/cravesearch/UIFrameSampler.swift
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/onboarding/runtime/onboarding-calendar.spec.ts
  apps/mobile/src/screens/onboarding/runtime/onboarding-calendar.ts
  apps/mobile/src/screens/onboarding/runtime/use-onboarding-animation-lane.ts
  audit/FINDINGS.md
  plans/data-audit-2026-08.md
Due: prettier

fix(mechanical cluster A): rederive app-route/overlay mechanical findings
  apps/mobile/src/components/cards/ResultCard/DishResultCard.tsx
  apps/mobile/src/components/cards/ResultCard/RestaurantResultCard.tsx
  apps/mobile/src/components/cards/ResultCard/result-card-helpers.ts
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/navigation/runtime/header-nav-action-registry.spec.ts
  apps/mobile/src/navigation/runtime/header-nav-action-registry.ts
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/overlays/landing-clock-band-gate.spec.ts
  apps/mobile/src/overlays/landing-clock-band-gate.ts
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/PollCandidateBars.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/list-detail-query-keys.ts
  apps/mobile/src/overlays/searchOverlayRouteHostContract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-bottom-nav-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-search-scene-model-owner.ts
  audit/FINDINGS.md
Due: prettier

fix(mechanical cluster B): fail-closed config, real shape asserts, live error seams
  apps/api/src/app.module.ts
  apps/api/src/config/boot-config-validation.spec.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/shared/config/validate-env.ts
  apps/mobile/src/overlays/scene-load-failure-law.spec.ts
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/providers/auth-config-guard.spec.ts
  apps/mobile/src/providers/auth-config-guard.ts
  apps/mobile/src/services/api.ts
  apps/mobile/src/services/banner-recovery-probe.spec.ts
  apps/mobile/src/services/polls.ts
  apps/mobile/src/services/user-lists.ts
  apps/mobile/src/services/users-blocklist-shape.spec.ts
  apps/mobile/src/services/users.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(mechanical): value-compare price selector, non-mutating lint, non-silent fence
  apps/mobile/package.json
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-filter-state-runtime.equality.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-filter-state-runtime.ts
  audit/FINDINGS.md
  scripts/check-lane-pathspec.sh
Due: deps-check, prettier

fix(overlays): delete dead export + dead z-index prop, correct divider doc (F9302/F9303/F9309)
  apps/mobile/src/overlays/BottomSheetSceneStackDecorLayers.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackPageFrame.tsx
  apps/mobile/src/overlays/bottomSheetWithFlashListContract.ts
  audit/FINDINGS.md
Due: prettier

fix(overlays): single-source runtime-config derivations, tsc-guard decor memo, delete dead secondary-list branch (F9300/F9304/F9301)
  apps/mobile/src/overlays/BottomSheetSceneStackDecorLayers.tsx
  apps/mobile/src/overlays/bottomSheetSharedRuntimeContract.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
  apps/mobile/src/overlays/useSearchRouteSceneStackBottomSheetRuntimeAssembly.ts
  audit/FINDINGS.md
Due: prettier
