Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

docs(plan): R14 executed and verified — place/item live, facet stamped, ⭐04 review pinged
  plans/taxonomy-rederivation.md
Due: prettier

fix(prompt): the rename sweep's one prose casualty — the generic-filler word list speaks English again
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

fix(score): rename residue — the scorer's SQL aliases speak place_id again; probe gains the decay variants
  apps/api/scripts/consensus-policy-diff.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
Due: api-lint, prettier

fix(harness+search): coverage-truth back to a real baseline — vacuous-zero guard, R14 alias residue in the dish/place SQL, locations restored
  apps/api/scripts/search-harness/coverage-truth.result.json
  apps/api/scripts/search-harness/coverage-truth.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
Due: api-lint, prettier

docs(plan): post-rename incident ledger — location loss restored, masked residue fixed, source-table alarm opened
  plans/taxonomy-rederivation.md
Due: prettier

probe(score): decay variant re-dialed 90d -> 180d (owner ruling: 90 overcorrects)
  apps/api/scripts/consensus-policy-diff.ts
Due: api-lint, prettier

probe(score): compression + one-pool dials — the equation candidates become measurable
  apps/api/scripts/consensus-policy-diff.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.types.ts
Due: api-lint, prettier

fix(probe): board rows ordered by rank, never the ::text score cast
  apps/api/scripts/consensus-policy-diff.ts
Due: api-lint, prettier

feat(score): market rooms locked in; every equation family becomes a config dial; the bake-off is one committed tool
  apps/api/scripts/consensus-policy-diff.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.types.ts
  apps/api/src/modules/content-processing/public-crave-score/score-calibration.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(prompt): rhino round 1 — the article rule is deleted, the filler list becomes a principle
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/rhino-prompt-audit.md
Due: prettier

docs(rhino): round-2 ledger — the &→and rule is an identity bug; its fix is staged pending a calm-hour cert
  plans/rhino-prompt-audit.md
Due: prettier

feat(prompt): rhino round 2 lands — punctuation is observed form; round 3 finds C.1 saturated
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/rhino-prompt-audit.md
Due: prettier

feat(prompt): rhino round 4 — C.1 becomes three gates; ask-dish inheritance lives at its decision point
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/rhino-prompt-audit.md
Due: prettier

feat(prompt): rhino round 5 — the fit assertion lands; a pick answering a constrained ask carries the ask's venue words
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/rhino-prompt-audit.md
Due: prettier

docs(rhino): round 6 — three list clusters judged; the classifier trim is measured out
  plans/rhino-prompt-audit.md
Due: prettier

docs(rhino): round 7 — Step A and B.1 get clean bills; the audit reaches full coverage
  plans/rhino-prompt-audit.md
Due: prettier

data-fix(recovery): prod->local core_restaurant_locations recovery script — one-time run found ZERO missing rows
  apps/api/scripts/data-fixes/recover-prod-locations.sh
Due: none

test(prompt): P1b closed — Best-shorthand invariant pinned as case 105 on the minting document; expansion-or-skip both legal, bare mint never
  apps/api/scripts/fixtures/prompt-ab-cases.json
  plans/rhino-prompt-audit.md
Due: prettier

docs(plan): location loss FULLY recovered (prod diff empty), statement logging live; incident item closed
  plans/taxonomy-rederivation.md
Due: prettier

test(search): re-author alias-fold test 3 to pin the locale-blind grounding law
  apps/api/src/modules/entity-text-search/alias-fold-symmetry.integration.spec.ts
Due: api-lint, prettier

chore(gate): mark autocomplete es-01 + vi-04 as known-red with cause and closer
  apps/api/scripts/search-harness/autocomplete-flow-gate.ts
Due: api-lint, prettier

chore(gold): commit es/vi post-rename re-run artifacts
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/scripts/search-harness/gold-corpus/vi.result.json
Due: prettier

chore(mobile): convert stale onboarding placeholder TODO to owner-dated marker
  apps/mobile/src/constants/onboarding.ts
  audit/COVERAGE.md
Due: prettier

fix(identity): one lock-key namespace — creator and mergers derive from identityMergeLockKey
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/identity-merge-lock-key.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
Due: api-lint, prettier

fix(rename-residue): align SQL aliases to their readers — placeCount, place_name, totalPlaceCount
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/teaser/teaser.service.ts
  apps/api/src/modules/user-lists/user-lists.service.ts
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
Due: api-lint, prettier

fix(scores): the score layer cannot sit silently short — wipe fires the rescore, coordinator self-heals parity, full-projection marks dirty
  apps/api/scripts/reload/wipe-city-derived.sql
  apps/api/src/modules/content-processing/public-crave-score/rescore-coordinator.service.spec.ts
  apps/api/src/modules/content-processing/public-crave-score/rescore-coordinator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/full-projection-rebuild.runner.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(invariants): scores.a-wipe-fires-the-rescore — mutation-proven
  apps/api/scripts/check-wipe-fires-rescore.ts
  apps/api/src/shared/invariants/registry.ts
Due: api-lint, prettier

fix(fleet): P7 architecture red team — clean-tree invariants restored, schema-description knife-edge proven and doctrined, residual docket ranked
  apps/api/scripts/rebuild-crave-scores.ts
  apps/api/scripts/schema-quote-mirror.ts
  apps/api/scripts/validate-crave-score-fixtures.ts
  plans/prompt-fleet-audit.md
Due: api-lint, prettier

feat(gate): relevance verdicts become config-scoped — the discriminator joins the identity, a prompt bump re-hears every drop
  apps/api/prisma/migrations/20260817230000_relevance_gate_config_scoped_verdicts/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
  audit/COVERAGE.md
  plans/prompt-fleet-audit.md
Due: api-lint, prettier

fix(llm): the word-role judge gets its caller profile — and the completeness scan learns to see indirected callers
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(rules): the last two unversioned lanes join the ledger — vocabulary's hand constant becomes derived, dish-knowledge stamps carry their rule version
  apps/api/prisma/migrations/20260817233000_dish_knowledge_versioned_stamp/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-rule.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-rule.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
  apps/api/src/modules/entity-display/vocabulary-rule-release.spec.ts
  plans/prompt-fleet-audit.md
Due: api-lint, prettier

docs(plan): the v16-and-beyond roadmap — owner-delegated coordination, six phases, six owner checkpoints
  plans/v16-and-beyond-roadmap.md
Due: prettier

plan(v16): the standing program — prep, shadow, verification, fresh-eyes, activation epoch, post-activation docket
  plans/v16-program.md
Due: prettier

fix(gate): loc-05 re-carriered — the name-only ruling now rides a self-minted zzq carrier, not the corpus
  apps/api/scripts/search-harness/entity-resolution-gate.ts
Due: api-lint, prettier

feat(search-ui): the shortcut row becomes a horizontal scroll surface — chips are data, not layout
  apps/mobile/src/screens/Search/components/SearchOverlayHeaderChrome.tsx
  apps/mobile/src/screens/Search/components/SearchShortcutsRow.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-chrome-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-chrome-host-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-shortcuts-layout-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-layout-plane-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-layout-resolution-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-layout-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-shortcut-layout-runtime.ts
  apps/mobile/src/screens/Search/styles.ts
  audit/COVERAGE.md
Due: prettier

fix(identity): fold_version travels with every re-keyed identity — the two raw re-key sites stamp provenance (A9a)
  apps/api/src/modules/attribute-ontology/attribute-ontology-apply-plan.spec.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/entity-resolver/identity-key-heal.integration.spec.ts
Due: api-lint, prettier

feat(spend): a worker boot without its budget owners refuses to start — the optional-governance fail-open is closed (A9b/12d)
  apps/api/src/modules/external-integrations/shared/usage-ledger-budget-ownership.spec.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
Due: api-lint, prettier

feat(invariants): the source tables cannot silently collapse — and every Gemini generation caller is registry-proven profiled
  apps/api/prisma/migrations/20260819090000_source_table_high_water/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/modules/external-integrations/shared/source-table-collapse-alarm.service.spec.ts
  apps/api/src/modules/external-integrations/shared/source-table-collapse-alarm.service.ts
  apps/api/src/shared/invariants/registry.ts
Due: api-lint, prettier

docs(ledger): A9a + A9b(12b/12d) + source-table collapse alarm marked CLOSED with proofs
  plans/iteration-phase-open-items.md
  plans/taxonomy-rederivation.md
  plans/v16-and-beyond-roadmap.md
Due: prettier

fix(taxonomy): seven reground-landed Google types classified noise — the census alarm's first catch
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
Due: api-lint, prettier
