Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

refactor(signals,extraction)!: the last two tree-walking scanners become lint rules and a merge test
  apps/api/eslint.config.mjs
  apps/api/scripts/backfill-attribute-evidence.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope-lockdown.spec.ts
  apps/api/src/modules/signals/subject-identity-lockdown.spec.ts
  apps/api/src/modules/signals/subject-identity.integration.spec.ts
  apps/api/src/modules/signals/subject-identity.spec.ts
Due: api-lint, prettier

feat: multilingual plan FINAL (round-3 verdicts integrated) + rename identity-drift fix
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  plans/multilingual.md
Due: api-lint, prettier

fix(site): dockerignore negations must FOLLOW **/test/ — last match wins
  .dockerignore
Due: none

plan(signals): the from-scratch derivation, grounded in measured data
  plans/account-deletion-ideal-shape.md
Due: prettier

fix(ci): lint-green the account-deletion spec — typed mock-call mapper
  apps/api/src/modules/identity/account-deletion.service.spec.ts
Due: api-lint, prettier

feat(person-data): declare what happens to every person-shaped column; delete the regex that guessed
  apps/api/prisma/migrations/20260803195448_drop_person_data_map/migration.sql
  apps/api/src/modules/identity/person-data/person-data-census.spec.ts
  apps/api/src/modules/identity/person-data/person-data-class.ts
Due: api-lint, prettier

docs(multilingual): M4b thesis tested — the existing chopper decomposes Spanish given alias rows
  plans/multilingual.md
Due: prettier

fix(site): image installs its own tsc + @types/node — the hoisted-node_modules assumption died in the image (TS2688)
  apps/site/Dockerfile
Due: none

docs(multilingual): labels double as match surfaces — tail coverage for day-one users
  plans/multilingual.md
Due: prettier

feat(person-data): erasure derived from the declaration, proven against a live database
  apps/api/src/modules/identity/person-data/person-data-census.spec.ts
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/modules/identity/person-data/person-data-eraser.service.ts
  apps/api/src/modules/identity/person-data/person-data-erasure.integration.spec.ts
Due: api-lint, prettier

docs(multilingual): reframe MARKET → the i18n build phase — build-once + per-language data, sequenced after the prompt phase
  plans/multilingual.md
Due: prettier

rederive(search-hooks)!: the hook-order guard exists, and the first ceremonial cluster is dead (F1013+F1012)
  apps/mobile/src/screens/Search/runtime/shared/spec-support/react-hook-harness.ts
  apps/mobile/src/screens/Search/runtime/shared/spec-support/react-hook-order-guard.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-action-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-autocomplete-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-clear-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-presentation-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-runtime-args.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-runtime-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-search-ui-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-state-args.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

feat(deletion): wire the derived eraser, salt the evasion hash, make the grace period real
  apps/api/prisma/migrations/20260803200930_deletion_purge_due/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/identity/account-deletion.module.ts
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
  apps/api/src/modules/identity/person-data/deletion-purge.service.ts
Due: api-lint, prettier

audit(coverage): git-provenance sha reconciliation — the sha column is a fact again
  audit/COVERAGE.md
Due: prettier

feat(deletion): propagate to processors — nulling our own pointer is not deletion
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
Due: api-lint, prettier

audit(findings): normalization — 45 stale statuses corrected against recorded rulings; true open queue is 212
  audit/FINDINGS.md
Due: prettier

feat(signals): aggregate ACROSS people — the operation that was never performed
  apps/api/src/modules/signals/demand-anonymization.integration.spec.ts
  apps/api/src/modules/signals/demand-anonymization.service.ts
  apps/api/src/modules/signals/signals.module.ts
Due: api-lint, prettier

docs(audit): superseded-pointer — plans/multilingual.md is canonical for language work
  plans/data-audit-2026-08.md
Due: prettier

audit(search-shared-w1): 63 rows argued IDEAL-VERIFIED; F1300-F1307 — the worst always-green contract yet, and a stale first-read doc
  apps/mobile/src/screens/Search/runtime/shared/use-search-autocomplete-cache-runtime.ts
  audit/COVERAGE.md
Due: prettier

audit(designs): D48 — the 121-finding mobile review debt ruled in one pass
  audit/DESIGNS.md
Due: prettier

fix: round-4 audit — identity follows the name on BOTH rename paths
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

docs(multilingual): ROUND 4 — implementation dry-run + foundations audit integrated
  plans/multilingual.md
Due: prettier

docs(multilingual): D1-D4 ratified as recommended
  plans/multilingual.md
Due: prettier

audit(search-shared-w2): 264 files read line-by-line — shared dir 71→278 IDEAL-VERIFIED; D49 verdicts recorded
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

fix(signals): the grain decides the statistic — place demand is a WINDOW, not a daily sum
  apps/api/prisma/migrations/20260803203741_demand_anonymous_mass/migration.sql
  apps/api/prisma/migrations/20260803204015_place_demand_anonymous/migration.sql
  apps/api/prisma/migrations/20260803204204_place_demand_snapshot/migration.sql
  apps/api/src/modules/signals/demand-anonymization.service.ts
Due: api-lint, prettier

docs(transitions): THE TRANSITION END-STATE CONTRACT — Phase 0 lands
  plans/transition-endstate-contract.md
Due: prettier

docs(transitions): Phase 1 amendments — the plan red team's ten findings, bound
  plans/transition-endstate-contract.md
Due: prettier

feat(redis): ideal shape — binary embedding cache, boot-time eviction contract, volatility law
  apps/api/src/app.module.ts
  apps/api/src/modules/external-integrations/llm/embedding.service.ts
  apps/api/src/modules/infrastructure/redis-policy.enforcer.ts
  apps/api/src/modules/infrastructure/redis-volatility-lockdown.spec.ts
Due: api-lint, prettier

docs(multilingual): ROUND 5 — modern-practice sweep, eleven amendments adopted
  plans/multilingual.md
Due: prettier

docs(transitions): owner amendments — the world-join family, skeleton-as-data, the per-rung hygiene law
  plans/transition-endstate-contract.md
Due: prettier

fix(convergence): night one taught — the coordinator marks rescore dirty
  apps/api/src/modules/restaurant-enrichment/nightly-convergence.service.ts
Due: api-lint, prettier

audit(designs): D50 owner-ruling batch recorded; F1203 executed — the entitlement map would have refused every purchase
  audit/DESIGNS.md
Due: prettier

audit(designs): D53 nav-runtime depth verdicts — the counter-keyed leak, the null===null lane, verify-before-relaunch law
  apps/api/prisma/migrations/20260804000000_entity_alias_labels_locale/migration.sql
  apps/api/scripts/backfill-entity-aliases.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
  audit/DESIGNS.md
Due: api-lint, prettier

feat(i18n-ws1): entity_alias/entity_labels foundation — rows are truth, the array is a projection
  apps/api/prisma/schema.prisma
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/shared/testing/preserved-anchors.spec.ts
Due: api-lint, prettier

feat(i18n-ws4): mobile i18n scaffolding — react-i18next + ICU MF1, locale on the wire, three screens live in Spanish
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/src/i18n/current-locale.ts
  apps/mobile/src/i18n/formatting.ts
  apps/mobile/src/i18n/index.ts
  apps/mobile/src/i18n/locale-resolution.spec.ts
  apps/mobile/src/i18n/locale-resolution.ts
  apps/mobile/src/i18n/locales/en.json
  apps/mobile/src/i18n/locales/es.json
  apps/mobile/src/i18n/polyfills.ts
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Search/components/SearchOverlayHeaderChrome.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/services/api.ts
  yarn.lock
Due: deps-check, prettier

fix(i18n): Vietnamese tone marks join the fold — 'pho hoai' reaches Phở Hoài
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
Due: api-lint, prettier

docs(multilingual): build log — wave 1 as-built corrections
  plans/multilingual.md
Due: prettier
