Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

docs(nav): the state-runtime double-compute is SAFE BY MONOTONICITY — documented, not machineried
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-state-runtime.ts
Due: prettier

docs(plans): run-3 adjudications — probe unreachable (keep), 6b rejected, 2-full re-scoped to the L-merge
  plans/s-c5-restaurant-stack-fact.md
Due: prettier

feat(nav): S-D.4 — the LaunchIntent search vocabulary dissolves into EntityRefAction; saved_place deleted
  apps/mobile/src/navigation/runtime/MainLaunchCoordinator.tsx
  apps/mobile/src/navigation/runtime/app-route-types.ts
  apps/mobile/src/navigation/runtime/use-entity-ref-action-executor.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-launch-intent-runtime.ts
Due: prettier

feat(search): S-D.3 — the selected-entity submission travels TYPED; the stringly parse dies
  apps/mobile/src/screens/Search/hooks/use-search-natural-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-suggestion-submit-runtime.ts
Due: prettier

docs(plans): S-D client charter COMPLETE — S-D.3+4 shipped; only the BE-gated row widening remains
  plans/s-d-one-desire-entitylink.md
Due: prettier

docs(plans): images step-1/2 Cloudinary decisions locked (research-backed)
  plans/images-ideal-shape.md
Due: prettier

feat(search): S-A — search-this-area becomes a coordinator kind; map-move flag resets at capture
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.ts
  apps/mobile/src/screens/Search/runtime/shared/results-toggle-interaction-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-search-area-submit-runtime.ts
Due: prettier

feat(photos): UGC photo foundation — signed direct uploads, webhook moderation lifecycle (steps 1-2)
  apps/api/.env.example
  apps/api/package.json
  apps/api/prisma/migrations/20260710010000_photos/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/cloudinary-setup.ts
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/photos/cloudinary.service.ts
  apps/api/src/modules/photos/photo-reconciliation.service.ts
  apps/api/src/modules/photos/photo-vision.service.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/photos/photos.module.ts
  apps/api/src/modules/photos/photos.service.spec.ts
  apps/api/src/modules/photos/photos.service.ts
  yarn.lock
Due: api-lint, deps-check, prettier

refactor(search): S-C.5 close-chain L-merge — intent + finalize dissolve into the state runtime
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-finalize-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-state-runtime.ts
Due: prettier

feat(photos): live E2E green — SDK webhook verifier, client-supplied takenAt
  apps/api/scripts/photo-e2e.ts
  apps/api/src/modules/photos/cloudinary.service.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/photos/photos.service.ts
  plans/images-ideal-shape.md
Due: api-lint, prettier

feat(search): S-A slice A — the presentation flags leave every submit trigger
  apps/mobile/src/screens/Search/hooks/use-search-structured-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-action-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-direct-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-launch-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-query-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-recent-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-search-area-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-suggestion-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-viewport-shortcut-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-shortcut-submission-runtime.ts
Due: prettier

feat(search): S-A harvest + charter close — dead flag machinery deleted, adjudications recorded
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/search-submit-entry-surface-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-recent-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-submit-runtime.ts
  plans/toggle-system-ideal.md
  plans/trigger-nav-ideal-verdict.md
Due: prettier

feat(photos): FULL PROBE GREEN — complete moderation lifecycle live-verified
  apps/api/.env.example
  apps/api/scripts/cloudinary-setup.ts
  apps/api/src/config/configuration.ts
  apps/api/src/main.ts
  apps/api/src/modules/photos/cloudinary.service.ts
  apps/api/src/modules/photos/photos.service.ts
  plans/images-ideal-shape.md
Due: api-lint, prettier

feat(nav): S-E — Desire ⇄ URL codec; /l/<slug> inbound turns list sharing ON; notifications route URLs
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/mobile/src/navigation/runtime/app-route-types.ts
  apps/mobile/src/navigation/runtime/desire-url-codec.spec.ts
  apps/mobile/src/navigation/runtime/desire-url-codec.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/providers/PollNotificationListener.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-interaction-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-launch-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-control-stage-runtime.ts
Due: api-lint, prettier

docs(plans): S-E marked EXECUTED — codec + inbound /l + notification routing; named deferrals
  plans/trigger-nav-ideal-verdict.md
Due: prettier

feat(camera): world-camera L2 opening — resolveAnchorLocation + resolveFocusCamera, pure w/ goldens
  apps/mobile/src/screens/Search/runtime/camera/resolve-focus-camera.spec.ts
  apps/mobile/src/screens/Search/runtime/camera/resolve-focus-camera.ts
Due: prettier

docs(plans): S-F adjudicated — pick mode ships with listDetail (its only consumer)
  plans/trigger-nav-ideal-verdict.md
Due: prettier

docs(plans): world-camera L1 execution plan — slices a-d from the banked terrain survey
  plans/world-camera-l1-execution.md
Due: prettier

docs(plans): L1.a re-scoped pre-implementation — role emission moves into L1.b's group-aware cut
  plans/world-camera-l1-execution.md
Due: prettier

refactor(camera): focus-fit takes the anchor as INPUT — P5 already lives in restaurant-location-selection
  apps/mobile/src/screens/Search/runtime/camera/resolve-focus-camera.spec.ts
  apps/mobile/src/screens/Search/runtime/camera/resolve-focus-camera.ts
Due: prettier

docs(plans): L1 adjudication 2 — L1.a merges into L1.b (group contract needs its native consumer); P5 home confirmed
  plans/world-camera-l1-execution.md
Due: prettier

docs(plans): L2 pure half shipped; camera-in-origin + reveal track adjudicated to ride L1/L3
  plans/world-camera-multilocation-foundation.md
Due: prettier

feat(map): world-camera L1 — LodEngine competes on entity GROUPS (one budget slot per restaurant)
  apps/mobile/ios/MapLodKit/Sources/MapLodKit/LodEngine.swift
  apps/mobile/ios/MapLodKit/Tests/MapLodKitTests/LodEngineTests.swift
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(plans): L1 progress — group budget shipped; sibling-emission constraints recorded
  plans/world-camera-l1-execution.md
Due: prettier

docs(plans): L1 constraint 2 answered — sibling dots ride the shared LOD-candidate provenance
  plans/world-camera-l1-execution.md
Due: prettier

feat(map): world-camera L1 — sibling locations join the catalog as GROUP members
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/compute-marker-pipeline.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.spec.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.ts
  apps/mobile/src/screens/Search/runtime/map/map-viewport-query.ts
  apps/mobile/src/screens/Search/runtime/map/restaurant-location-selection.ts
Due: prettier

docs(plans): OPEN RED [SE-QSTALL] — searchDesire session_enter stalls under docked-polls home; repro + attribution recipe
  plans/trigger-nav-ideal-verdict.md
Due: prettier

fix(search): [SE-QSTALL] the results-sheet interaction flags now END with their session
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-sheet-interaction-state-runtime.ts
Due: prettier

docs(plans): [SE-QSTALL] closed — root cause + fix recorded
  plans/trigger-nav-ideal-verdict.md
Due: prettier

feat(markets): world-camera L5 — the roll-up rule encoded structurally in market resolution
  apps/api/src/modules/markets/market-resolver.service.ts
Due: api-lint, prettier

docs(plans): world-camera L3 execution plan — profileSeed strangler lane + the parallel-machine dissolution map
  plans/world-camera-l3-execution.md
Due: prettier

docs(plans): L3.a scoping fact — the body-kind axis is the prerequisite; no SearchResponse look-alike shortcut
  plans/world-camera-l3-execution.md
Due: prettier

docs(plans): L3.a sizing — the seam commit's step classification defines the body union
  plans/world-camera-l3-execution.md
Due: prettier

docs(plans): L3.a commit-step classification — the body union's shape, step by step
  plans/world-camera-l3-execution.md
Due: prettier

docs(plans): L3 re-adjudication PROPOSAL — no ProfileBody world; profile = push + L4 selection
  plans/world-camera-l3-execution.md
Due: prettier

feat(camera): world-camera L2 integration — the profile multi-location fit runs the focus-fit
  apps/mobile/src/screens/Search/runtime/camera/resolve-focus-camera.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-restaurant-camera-motion-runtime.ts
Due: prettier

chore(camera): drop the unused viewport-bounds destructure left by the focus-fit swap
  apps/mobile/src/screens/Search/runtime/profile/profile-restaurant-camera-motion-runtime.ts
Due: prettier

feat(identity): viewer follow-edge endpoint — the last BE piece the userProfile page needed
  apps/api/src/modules/identity/user-follow.service.ts
  apps/api/src/modules/identity/user.controller.ts
Due: api-lint, prettier

feat(pages): userProfile + followList become REAL pages — live follow BE, drill loop intact
  apps/mobile/src/overlays/panels/FollowListPanel.tsx
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
  apps/mobile/src/services/users.ts
Due: prettier

feat(notifications): the in-app feed — model, endpoints, first producer, and the REAL page
  apps/api/prisma/migrations/20260710101637_user_notification_feed/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/identity/identity.module.ts
  apps/api/src/modules/identity/user-follow.service.ts
  apps/api/src/modules/notifications/notifications.controller.ts
  apps/api/src/modules/notifications/notifications.module.ts
  apps/api/src/modules/notifications/user-notification-feed.service.ts
  apps/mobile/src/overlays/panels/NotificationsPanel.tsx
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
  apps/mobile/src/services/notifications.ts
Due: api-lint, prettier
