Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

hunt(F1960): a seventh hand-rolled display-name resolver masks a deleted collaborator — on a row that already knows they are deleted
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(vocabulary): vegan is not vegetarian — the highest-stakes translation error, found by running it
  apps/api/src/modules/entity-display/vocabulary-generator.ts
Due: api-lint, prettier

fix(F1960/F1950)!: the eighth hand-rolled resolver is now a lint error, and a stale-locale cache hit is unrepresentable
  apps/mobile/.eslintrc.js
  apps/mobile/src/components/CollaboratorModalHost.tsx
  apps/mobile/src/services/search-cache-locale.spec.ts
  apps/mobile/src/services/search.ts
  apps/mobile/src/utils/user-display-name.spec.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

test(prompt): corpus A/B on 150 real posts — defects down 51/79/98%, and the model corrected me on omakase
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/scripts/prompt-corpus-ab.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/data-audit-2026-08.md
Due: api-lint, prettier

refactor(person-data)!: the compiler had TWO answers to its one question — and the second carried the bug the first was fixed for
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/modules/identity/person-data/person-data-eraser.service.ts
  apps/api/src/modules/identity/person-data/person-data-erasure-proof.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
Due: api-lint, prettier

audit(mobile-native): 26 UNREVIEWED rows terminalized — each with its live consumer cited
  audit/COVERAGE.md
Due: prettier

fix(governance)!: a 429 throttles the CREDENTIAL, not the pool that caught it
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
Due: api-lint, prettier

audit(F1970): 45 money-surface rows terminalized — the integration doc described a mechanism that no longer exists
  apps/api/src/modules/external-integrations/reddit/README.md
  apps/api/src/modules/external-integrations/reddit/REDDIT_API_INTEGRATION.md
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

audit(coverage): identity-money and repo-root terminalized — and CI has been RED on main for five runs
  audit/COVERAGE.md
Due: prettier

fix(invariants): re-derive two TomTom mutations whose code moved out from under them
  apps/api/src/shared/invariants/registry.ts
Due: api-lint, prettier

fix(F2040/lint): my own specs were the lint debt blocking deploys — and the unused import they exposed was a real leak
  apps/api/src/config/app-env-boot-decisions.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-alias-lost-update.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge-pair.integration.spec.ts
  apps/api/src/modules/identity/auth/clerk-auth.service.ts
  apps/api/src/modules/messaging/dto/messaging.dto.ts
  apps/api/src/modules/messaging/messaging-peer-identity.spec.ts
  apps/api/src/modules/messaging/messaging.service.ts
  apps/api/src/modules/notifications/register-device-userid.spec.ts
  apps/api/src/modules/user-lists/user-list-mappers-restaurant-batch.spec.ts
  apps/api/src/modules/user-lists/user-list-mappers-score-drop.spec.ts
  apps/api/src/shared/filters/global-exception-network-error.spec.ts
  apps/api/src/shared/logging/logging-userid-forgery.spec.ts
  apps/api/src/shared/logging/redaction.spec.ts
Due: api-lint, prettier

chore(F2040): drop a disable directive that suppressed nothing — dead scaffolding in a spec I just wrote
  apps/api/src/modules/messaging/messaging-peer-identity.spec.ts
Due: api-lint, prettier

audit(F2040/F2041/F2042): the lint sweep found a real leak, and named the exercise's own CI damage
  audit/FINDINGS.md
Due: prettier

fix(F2050): the guard against shipping raw author rows could be satisfied by an unused import
  apps/api/scripts/check-author-identity.ts
  apps/api/src/shared/invariants/registry.ts
Due: api-lint, prettier

chore(repo-root): the deploy doc contradicted its own enforcer, and three root files the bundler never read
  .lintstagedrc
  App.tsx
  RAILWAY.md
  app.config.js
  apps/api/README.md
  apps/mobile/images/Screenshot 2025-11-03 at 3.00.44 PM.png
  apps/mobile/images/image copy.png
  apps/mobile/images/image.png
  audit/FINDINGS.md
  babel.config.js
  package.json
Due: deps-check, prettier

fix(F2050/F2051): two lint door-locks were silently deleted by a later override — and the eighth hand-rolled resolver was leaking a deleted owner's @handle
  apps/mobile/.eslintrc.js
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/runtime/profile-panel-identity-runtime.ts
  apps/mobile/src/utils/user-display-name.spec.ts
  apps/mobile/src/utils/user-display-name.ts
Due: prettier

fix(F2081): a guard that matches raw text is satisfied by a comment saying it complies
  apps/api/scripts/check-author-identity.ts
  apps/api/scripts/check-subject-text-emission.ts
  apps/api/scripts/scanner-source.spec.ts
  apps/api/scripts/scanner-source.ts
  apps/api/src/shared/invariants/registry.ts
Due: api-lint, prettier

audit(coverage): the last 9 unread territories — a spend alert naming a pool it no longer queries, and two assertions that passed on an empty array
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-editing-runtime-args.spec.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  audit/PRIORITY-INJECTIONS.md
Due: api-lint, prettier

audit(F2080/F2081): the author-identity guard was satisfied first by an unused import, then by a comment
  audit/FINDINGS.md
Due: prettier

fix(F2082): a ban you must remember to restate is a convention — this makes dropping one fail CI
  .github/workflows/ci.yml
  apps/mobile/.eslintrc.js
  scripts/check-lint-ban-inheritance.mjs
Due: prettier

fix(F2075/F2100): the guard named for a missing DATABASE_URL could never fire — because the value was never missing
  apps/api/src/config/app-env-boot-decisions.spec.ts
  apps/api/src/config/configuration.ts
Due: api-lint, prettier

audit(F2075-F2102): config guard rederived to the boot that can refuse, plus the lint-ban inheritance gate
  audit/FINDINGS.md
Due: prettier

test(F2120-F2129): six specs that passed while their subject did nothing — and the "RED-proof" test that could not show red
  apps/api/src/modules/autocomplete/autocomplete.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/mobile/src/features/restaurant-hours/hours-engine.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-control-lane-collapse.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-host-runtime.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-patch-runtime-collapse.spec.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(F2160): the formatter was editing the evidence — 11 identifiers in the audit ledger silently rewritten
  .prettierignore
  audit/FINDINGS.md
Due: prettier

audit(F2160): the ledger's own non-idempotence was a lossy rewrite, and I had been documenting it as a workaround
  audit/FINDINGS.md
Due: prettier

fix(F2161): a burned-in law that cost 4 round trips was pure convention — now it names itself
  .github/workflows/ci.yml
  scripts/check-sql-comment-backticks.mjs
Due: prettier

audit(F2161): the backtick law is a mechanism now — tsc detects it, this names it
  audit/FINDINGS.md
Due: prettier

audit(grounding): 1,626 restaurants are invisible because a cuisine map is filtering Google's answers
  apps/api/scripts/grounding-name-probe.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

fix(F2162): two Railway keys that break prod silently were laws with no enforcer
  .github/workflows/ci.yml
  scripts/check-railway-manifests.mjs
Due: prettier

audit(F2162): the two Railway keys that exit 0 while breaking prod now fail CI
  audit/FINDINGS.md
Due: prettier

test(mocks): six argument-blind doubles — the spend gate did not care which budget it asked
  apps/api/src/modules/billing/billing-checkout.spec.ts
  apps/api/src/modules/entitlements/entitlement-enforcement.spec.ts
  apps/api/src/modules/external-integrations/governance/gemini-spend-gate.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-context-cache.registry.spec.ts
  apps/api/src/modules/identity/user-profile-stats.spec.ts
  audit/FINDINGS.md
Due: api-lint, prettier

audit(F1327/F2140-F2143): a shared primitive dropped EVERY notification, and a clean clone never type-checked the app
  .gitignore
  apps/mobile/jest.config.js
  apps/mobile/src/screens/Search/runtime/shared/use-snapshot-authority.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-snapshot-authority.ts
  apps/mobile/src/types/assets.d.ts
  apps/mobile/src/types/react-test-renderer.d.ts
  audit/FINDINGS.md
  scripts/findings-ledger-gate.sh
Due: prettier

fix(F2163): the parallel-worker law was written down, never enforced — and the corpus had 3x more violations than the doc claimed
  .github/workflows/ci.yml
  apps/api/prisma/migrations/AUTHORING.md
  scripts/check-migration-parallel-guard.mjs
Due: prettier

fix(F2143): CI's only compilability gate never compiled the mobile app — turbo resolved it to <NONEXISTENT> and called that success
  apps/mobile/package.json
  packages/shared/package.json
  turbo.json
Due: deps-check, prettier

audit(F2143/F2163): the mobile app was never compiled by CI, and the parallel-worker law now has an enforcer
  audit/FINDINGS.md
Due: prettier

test(F2200-F2205): six arg-ignoring mocks — four of them the same redirect stub, each hiding the very leak its spec was written to close
  apps/api/src/modules/autocomplete/autocomplete-injected-leak.spec.ts
  apps/api/src/modules/polls/poll-leaderboard-redirect.spec.ts
  apps/api/src/modules/polls/supply/poll-ballot-mention.service.spec.ts
  apps/api/src/modules/search/restaurant-status-leak.spec.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
Due: api-lint, prettier

fix(F2210): four blind redirect mocks were one missing abstraction — now the honest double is the only spellable one
  apps/api/eslint.config.mjs
  apps/api/src/modules/autocomplete/autocomplete-injected-leak.spec.ts
  apps/api/src/modules/polls/poll-leaderboard-redirect.spec.ts
  apps/api/src/modules/search/restaurant-status-leak.spec.ts
  apps/api/src/modules/signals/signal-demand-read.territory.spec.ts
  apps/api/src/shared/invariants/registry.spec.ts
  apps/api/src/shared/invariants/registry.ts
  apps/api/src/shared/testing/prisma-doubles.spec.ts
  apps/api/src/shared/testing/prisma-doubles.ts
Due: api-lint, prettier

audit(F2210): the four blind redirect mocks were one missing abstraction, not four bugs
  audit/FINDINGS.md
Due: prettier

fix(F2220): 759 COVERAGE rows claimed review of a file that had since changed — the revert rule was memory, not mechanism
  .github/workflows/ci.yml
  audit/COVERAGE.md
  scripts/coverage-staleness.mjs
Due: prettier

audit(F2221): the first IDEAL-VERIFIED row I spot-checked had an unrecorded defect
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier
