Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(ops): dashboard read failures degrade loudly — every swallow logs the real error
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
Due: api-lint, prettier

feat(spend): curve-derived expected-restaurants override for manifest estimates (measured Heaps β≈0.72)
  apps/api/scripts/seed-archive.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
Due: api-lint, prettier

chore(legal): TERMS_URL → hosted craveapp.ai/terms (page verified live)
  apps/mobile/src/constants/legalLinks.ts
Due: prettier

docs(ledger): discovery-curve red team — saturating model validated on Austin
  plans/rebuild-execution-ledger.md
Due: prettier

feat(observability): crash reporting — one-seam design, both apps
  apps/api/src/sentry/index.ts
  apps/api/src/sentry/sentry.filter.ts
  apps/api/src/sentry/sentry.interceptor.ts
  apps/api/src/sentry/sentry.module.ts
  apps/api/src/shared/filters/global-exception.filter.ts
  apps/api/src/shared/logging/logger-sentry-seam.spec.ts
  apps/api/src/shared/logging/logger.service.ts
  apps/mobile/App.tsx
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/observability/crash-reporting.ts
  yarn.lock
Due: api-lint, deps-check, prettier

docs(ledger): crash-reporting arc
  plans/rebuild-execution-ledger.md
Due: prettier

chore(red-team): final sweep — campaign lifecycle fixes, envelope metering on all exits, fail-hard onboarding, cruft purge
  apps/api/.env.example
  apps/api/package.json
  apps/api/scripts/complete-campaign.ts
  apps/api/scripts/cost-report.ts
  apps/api/scripts/packing-ab.ts
  apps/api/scripts/refresh-spend-rates.ts
  apps/api/scripts/resume-campaign.ts
  apps/api/scripts/seed-coarse-polygons.ts
  apps/api/scripts/seed-owner-fixtures.ts
  apps/api/scripts/seed-poll-fixtures.ts
  apps/api/scripts/seed-us-places.ts
  apps/api/src/main.ts
  apps/api/src/modules/content-processing/public-crave-score/score-calibration.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-batch-processing.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-metrics.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/shared/gemini-pricing.ts
  apps/api/src/modules/external-integrations/shared/ops-alerts.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/infrastructure/throttler/throttler.module.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/shared/logging/logging.interceptor.ts
  apps/api/src/shared/logging/winston.config.ts
  packages/shared/src/types/search.ts
  plans/archive-collection-efficiency-handoff.md
  plans/collection-freeze-audit.md
  plans/geo-demand-foundation-rebuild.md
  plans/rebuild-execution-ledger.md
  plans/suggest-ideal-shape.md
  scripts/rig/deploy.sh
Due: api-lint, shared-lint, deps-check, prettier

feat(suggest+ingredients): accent-fold highlighting; ingredients red team fixes
  apps/api/scripts/run-dish-knowledge-synthesis.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/mobile/src/screens/Search/runtime/shared/search-autocomplete-placeholder-filter.ts
  apps/mobile/src/screens/Search/utils/suggestion-match-highlight.spec.ts
  apps/mobile/src/screens/Search/utils/suggestion-match-highlight.ts
  plans/collection-freeze-audit.md
  product/favorites.md
Due: api-lint, prettier

feat(collector): §10 orphan-comment heal — self-healing parent fetch with terminal tombstones
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(search): ingredient include arm gains the named-food branch — 'burrata' returns dishes NAMED burrata
  apps/api/src/modules/search/search-ingredient-exclusion.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

docs(page): THE ONE TRACK — full first-principles derivation of the sheet interaction system
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(page): ONE TRACK §8 — the tool stack questioned layer by layer
  plans/page-composition-from-scratch-design.md
Due: prettier

fix(review): tombstones out of gate-rate denominator, failed jobs out of pending, healed fetches into drift actuals
  apps/api/prisma/schema.prisma
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(suggest+search): ingredient rows join autocomplete — the discovery surface
  apps/api/src/modules/autocomplete/autocomplete.service.spec.ts
  apps/mobile/src/navigation/runtime/entity-ref-action-policy.ts
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-suggestion-submit-runtime.ts
Due: api-lint, prettier

fix(spend): resumeAfterBreach self-registers the grant pool — the recovery path now works in a fresh process
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(suggest): ingredient twin-merge — one dish-ish row per name, widest correct tap
  apps/api/src/modules/autocomplete/autocomplete.service.spec.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
Due: api-lint, prettier

feat(page): ONE TRACK prototype slice 1 — the track as a dev overlay
  apps/mobile/App.tsx
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): one-track proto — release-energy dip model + HUD probe (top-edge WIP)
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): TrackScrollKit native hatch — real top rubber-band on the one track
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.h
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/ios/TrackScrollKit/TrackScrollKit.podspec
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): crossing intercept — velocity-continuous top rubber-band on the one track
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.h
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): native rubber spring — the bounce IS the track
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.h
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(search): name-containment failsafe + twin-ingredient union — recall follows the customer, not the edge graph
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-ingredient-exclusion.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-sibling-expansion.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

feat(page): ballistic wall + spring detent settle — momentum never crosses H
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): world mask + overscroll bleed — surface derivations on the one track
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): production surface composition on the one track — strip cutouts + corner ears
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(places+polls): shared viewport place-verdict seam + server-truth poll place selector
  apps/api/src/modules/places/places.controller.spec.ts
  apps/api/src/modules/places/places.controller.ts
  apps/api/src/modules/places/places.module.ts
  apps/api/src/modules/places/viewport-verdict.service.ts
  apps/api/src/modules/polls/dto/query-polls.dto.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-controls-store.spec.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-controls-store.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/services/places.ts
  apps/mobile/src/services/polls.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(page): U5 passed — FlashList on the one track + KVO-durable delegate proxy
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): the sheet clip — rounded clipping surface + counter-positioned track
  apps/mobile/src/screens/OneTrackPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): TrackSheet kit — the sheet-page standard, prototype as first consumer
  apps/mobile/src/screens/OneTrackPrototype.tsx
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetStrip.tsx
  apps/mobile/src/tracksheet/index.ts
  apps/mobile/src/tracksheet/useTrackSheetPhysics.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(page): production migration map + strangler rungs for TrackSheet
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): migration rung 1 — TrackSheetRouteHost at the seam (dev-flagged)
  apps/mobile/src/overlays/AppOverlayRouteHost.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(auth): name the unmet requirement when OAuth mints no session
  apps/mobile/src/hooks/useClerkOAuth.ts
Due: prettier

feat(rig): sim-target toggles the Clerk publishable key with the api target
  scripts/rig/sim-target.sh
Due: none

fix(pipeline): three extraction root causes — race-locked identity, self-healing projections, duplicate sweep
  apps/api/scripts/merge-duplicate-restaurants.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
Due: api-lint, prettier

docs(ledger): extraction root-cause arc
  plans/rebuild-execution-ledger.md
Due: prettier

docs(audit): full Austin extraction audit — measurements, prompt revision proposal, replay economics
  plans/austin-extraction-audit.md
  plans/rebuild-execution-ledger.md
Due: prettier

docs(page): rung 1 verified on live app — real registry chrome in parallel host
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): migration rung 2 — real geometry, live scene switching, track snaps
  apps/mobile/src/overlays/AppOverlayRouteHost.tsx
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier
