Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

docs(findings): F9806 handed to the Payments session; F9606 owner-accepted; F9609 parked
  audit/FINDINGS.md
Due: prettier

fix(db)!: the pool-size knob reaches Prisma — the 73-connection leak diagnosed and closed
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/prisma/session-timezone.spec.ts
Due: api-lint, prettier

fix(gdpr): the data export's manifest is now true by construction (F9502, owner-ruled)
  apps/api/scripts/export-person-data.ts
  apps/api/src/modules/identity/person-data/person-data-export.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-export.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(projection+merge): direct food mentions mint connections; the rebuild becomes a post-commit effect
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

refactor(db)!: the database config now contains ONLY what reaches a consumer
  apps/api/src/config/app-env-boot-decisions.spec.ts
  apps/api/src/config/configuration.ts
  apps/api/src/config/database-config.interface.ts
  apps/api/src/config/database-validation.service.ts
  apps/api/src/prisma/prisma.service.ts
Due: api-lint, prettier

fix(governance): round-3 — the scream survives the outage it exists for, and a throttle is not a cap
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
Due: api-lint, prettier

refactor(grounding)!: the type set dies entirely — zero type judgments remain
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

fix(geo)!: the last bbox-judged arm dies — a place answers only its GROUND
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/subjects.spec.ts
  packages/shared/src/geo/subjects.ts
  packages/shared/src/index.ts
Due: api-lint, shared-lint, prettier

chore(places)!: delete GET /places/viewport-verdict — an endpoint with zero callers ever
  apps/api/src/modules/places/places.controller.spec.ts
  apps/api/src/modules/places/places.controller.ts
  apps/api/src/modules/places/viewport-verdict.service.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/mobile/src/services/places.ts
Due: api-lint, prettier

feat(gates): one fail-closed gate-runner — a missing tool can never again read as a pass (F8900)
  .github/workflows/ci.yml
  audit/FINDINGS.md
  package.json
  scripts/app-route-runtime-delete-gate.sh
  scripts/audit-coverage-ledger-gate.sh
  scripts/check-lint-ban-inheritance.mjs
  scripts/crave-score-cutover-delete-gate.sh
  scripts/deps-check.sh
  scripts/findings-ledger-gate.sh
  scripts/ios-camera-symbol-gate.sh
  scripts/lib/gate-runner.sh
  scripts/lib/gate-runner.test.sh
  scripts/mobile-native-authority-gate.sh
  scripts/no-bypass-search-runtime.sh
  scripts/scripts-containment-gate.sh
  scripts/search-results-prepared-rows-delete-gate.sh
Due: deps-check, prettier

docs(audit): ghost campaign closed — 23.5% -> 11.9%, ~615 recovered, 228 tombstoned, zero errors on the final pass
  plans/data-audit-2026-08.md
Due: prettier

feat(lint): one safety standard — and the never-linted web-checkout tree joins it (F9100)
  .eslintrc.js
  apps/mobile/.eslintrc.js
  apps/site/eslint.config.mjs
  apps/site/package.json
  apps/site/test/router.test.ts
  audit/FINDINGS.md
  packages/shared/eslint.config.mjs
  yarn.lock
Due: deps-check, prettier

feat(knowledge-rail)!: one standing maintenance loop + judge v2 + the both-win verdict becomes writable
  apps/api/scripts/reconcile-surface-claims.ts
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
  apps/api/src/modules/entity-display/entity-display-lockdown.spec.ts
  apps/api/src/modules/entity-display/entity-display.module.ts
  apps/api/src/modules/entity-display/knowledge-maintenance.service.ts
Due: api-lint, prettier

plan(concept-graph): rail built; vi GREEN / zh needs segmentation (measured pre-flight)
  plans/concept-graph.md
Due: prettier

fix(gates): the three unreadable failures were the gate lagging today's own rederivations (F9950)
  audit/FINDINGS.md
  scripts/app-route-runtime-delete-gate.sh
Due: prettier

rederive(retry+settle)!: the 429 law lives IN the ladder; the coalescer is a store edge every feed inherits
  apps/mobile/src/overlays/panels/HomePanel.tsx
  apps/mobile/src/overlays/panels/runtime/home-feed-retry-rung.spec.ts
  apps/mobile/src/overlays/panels/runtime/home-feed-retry-rung.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/services/retry/feed-refetch-coalescer.spec.ts
  apps/mobile/src/services/retry/feed-refetch-coalescer.ts
  apps/mobile/src/services/retry/network-retry-ladder.spec.ts
  apps/mobile/src/services/retry/network-retry-ladder.ts
  apps/mobile/src/store/settled-bounds-coalesced-edge.spec.ts
  apps/mobile/src/store/settled-bounds-coalesced-edge.ts
Due: prettier

fix(governance): the metered path screams too — the envelope was the one blind spender
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
Due: api-lint, prettier

feat(header)!: ONE naming authority — the server stops publishing header names
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/services/polls.ts
Due: api-lint, prettier

feat(geo)!: ONE finest-place ordering — and the round-3 "contradiction" adjudicated, not obeyed
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/viewport-verdict.service.ts
  apps/api/src/modules/polls/poll-feed-membership.spec.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/signals/ground-containment.ts
  packages/shared/src/geo/subjects.ts
  packages/shared/src/index.ts
Due: api-lint, shared-lint, prettier

refactor(janitor)!: slim to its true name — grounded-place lifecycle; retry is mention-driven; the money guard moves to the spend chokepoint
  apps/api/scripts/reground-ghosts.ts
  apps/api/scripts/restaurant-janitor.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment-queue.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor-policy.integration.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/terminal-failure-guard.spec.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

style: prettier artifact from the projection-fix sweep — formatting only, no semantics
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.commit.spec.ts
Due: api-lint, prettier

fix(billing)!: F9806 — RevenueCat subscription key can never alias across users
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/billing/billing.service.ts
Due: api-lint, prettier

perf(track-probe): the row A/B instrument — crave://tracksheet-host?row=bare|full prices any row component
  apps/mobile/src/navigation/runtime/app-route-scene-input-registry.ts
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/track-flip-store.ts
  apps/mobile/src/tracksheet/track-press-phase-probe.spec.ts
  apps/mobile/src/tracksheet/track-press-phase-probe.ts
Due: prettier

docs(ops): deploy-readiness board — the coordinator's single surface for the staging→prod push
  ops/deploy-readiness.md
Due: prettier

docs(ops): board — fork 2 included per owner; Payments already landed F9806
  ops/deploy-readiness.md
Due: prettier

docs(ops): board updated from 5 session reports — stop-item sequencing adopted, env sweep verified
  ops/deploy-readiness.md
Due: prettier

docs(ops): board round 2 — all 8 sessions reported; rail-order law; prod baseline 3584ccb11; verifications executed
  ops/deploy-readiness.md
Due: prettier

perf(db): index every foreign key — 624M tuples of pure trigger overhead
  apps/api/prisma/migrations/20260805130000_index_every_foreign_key/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/check-foreign-key-indexes.ts
  apps/api/src/shared/invariants/registry.ts
Due: api-lint, prettier

test(governance): pin poison-beats-fail-open precedence (F9955) + route the coordination round's findings
  apps/api/src/modules/external-integrations/governance/poison-beats-fail-open.spec.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(ops): board round 3 — adversarial findings routed; every session has pre-deploy work
  ops/deploy-readiness.md
Due: prettier

fix(F9968)!: the guard bypass becomes unrepresentable — branded verdict, single-importer law
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-verdict-single-importer.spec.ts
  apps/api/src/modules/polls/poll-feed-membership.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/hooks/useSearchRequests.ts
  apps/mobile/src/screens/Search/runtime/shared/on-demand-notice-copy.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-authority-publish-skip.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-on-demand-notice.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/spec-support/react-hook-harness.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-presentation-actions-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-shell-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-page-header-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-store-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-primitives-runtime.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

fix(identity): a deleted account is anonymous on the optional auth path too (F9964)
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
  apps/api/src/modules/identity/auth/clerk-auth.guard.ts
  apps/api/src/modules/identity/auth/optional-auth-deleted-is-anonymous.spec.ts
  apps/api/src/modules/identity/auth/optional-clerk-auth.guard.ts
Due: api-lint, prettier

fix(search): ONE dietary wall derivation — the map was slicing differently than the cards
  apps/api/src/modules/search/dietary-constraints.ts
  apps/api/src/modules/search/dietary-walls-one-derivation.spec.ts
  apps/api/src/modules/search/search-coverage-row-cap.spec.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search-see-locations.spec.ts
  apps/api/src/modules/search/search-signals-write.spec.ts
  apps/api/src/modules/user-lists/user-list-results.assembler.ts
  apps/api/src/modules/user-lists/user-lists.access.spec.ts
  apps/api/src/modules/user-lists/user-lists.defaults.spec.ts
  apps/api/src/modules/user-lists/user-lists.memberships.spec.ts
  apps/api/src/modules/user-lists/user-lists.mutations.spec.ts
  apps/api/src/modules/user-lists/user-lists.profile-view.spec.ts
  apps/api/src/modules/user-lists/user-lists.service.ts
Due: api-lint, prettier

fix(track-host): gate the surface-mount log to dev — the last ungated console.log in the production render path (coordinator plans-audit item 4)
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

docs(F9963): the last displayPlaceName comment falls in line
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-on-demand-notice-runtime.tsx
Due: prettier

docs(findings): plans-audit round recorded (F9970-F9975) — the plan layer gets its truth pass, per-owner
  audit/FINDINGS.md
Due: prettier

docs+fix(audit): §10 adjudications — one-list ruling stands (UI fix owed mobile), cousin auto-fill comments reconciled, flags declared, deferrals dated
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search.service.ts
  plans/concept-graph.md
Due: api-lint, prettier

test(deletion): "the request destroys nothing" becomes a property — delete then restore is the identity function
  apps/api/src/modules/identity/account-deletion-promise.spec.ts
  apps/api/src/modules/identity/account-deletion-reversible.integration.spec.ts
Due: api-lint, prettier

fix(F9965/F9966/F9967): rollups excluded in every lane, the merge owns its transaction, the guard's semantics are pinned
  apps/api/scripts/enrich-restaurants.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/terminal-failure-guard.spec.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

fix(jobs): the derived indexes scream when they break, and two jobs stop escaping the cron gate
  apps/api/src/modules/entity-text-search/entity-lexicon-builder.service.ts
  apps/api/src/modules/search/on-demand-placeholder-cleanup.service.ts
  apps/api/src/modules/search/on-demand-request-users-cleanup.service.ts
  apps/api/src/modules/search/open-intervals-builder.service.ts
  apps/api/src/modules/search/scoring-territory-refresh.service.ts
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
