Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(map): dedupe rank badges — unify the two backend rank spaces
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

refactor(map): delete dead LOD/publish orphans (viewport_lod, map-planner admission, native-visible subscriber)
  apps/mobile/src/perf/perf-scenario-attribution.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/map-motion-pressure.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
Due: prettier

feat(crave-score): decay-on-read from the event ledger (Step 2)
  apps/api/scripts/validate-crave-score-fixtures.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.types.ts
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: api-lint, prettier

refactor(map): delete dead two-group overlap-region exports
  apps/mobile/src/screens/Search/utils/overlap-region.ts
  plans/lod-ideal-residency-refactor.md
Due: prettier

refactor(map): un-bundle name-labels into their own render source
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

refactor(map): pin residency (membership/opacity separation), reason-gated to native_lod
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

Revert "feat(crave-score): decay-on-read from the event ledger (Step 2)"
  apps/api/scripts/validate-crave-score-fixtures.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.types.ts
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: api-lint, prettier

docs(crave-score): correct decay architecture — projection emits decay-ready records, not scorer-reads-events
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: prettier

perf(map): pre-seed the pin bundle (full-replace membership = resident) — kills first-promote adds
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

feat(map): full pin residency — JS publishes ALL candidates (pan-to-new-areas + finishes wiggle kill)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

feat(crave-score): decay via projection-emitted mention records (the right architecture)
  apps/api/prisma/migrations/20260619210000_restaurant_item_mentions/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.types.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: api-lint, prettier

test(crave-score): equality gate + synthetic-age decay check for the records architecture
  apps/api/scripts/validate-crave-score-fixtures.ts
Due: api-lint, prettier

refactor(map): delete dead two-group in/out-region perf counters (#5 partial)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

feat(search): Rising filter — sort restaurants + dishes by 7-day Crave Score momentum
  apps/api/src/modules/search/README.md
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-constraints.compiler.ts
  apps/api/src/modules/search/search-constraints.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/hooks/use-search-filter-modal-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-natural-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-request-preparation-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/read-models/chip-read-model-builder.ts
  apps/mobile/src/screens/Search/runtime/shared/results-toggle-interaction-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-hidden-filters-warmup-state-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-runtime-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-filter-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-filters-runtime-state.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-control-plane-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-filter-modal-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-header-warmup-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filter-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filter-chip-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filters-header-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-ui-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-read-model.ts
  apps/mobile/src/screens/Search/utils/map-render-model.spec.ts
  apps/mobile/src/screens/Search/utils/map-render-model.ts
  apps/mobile/src/services/search.ts
  apps/mobile/src/store/searchStore.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

feat(search): surface endorsed dishless restaurants (relax the menu-item gate)
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

fix(crave-score): red-team hardening of v3 decay + dead-ref cleanup
  apps/api/package.json
  apps/api/prisma/seed-polls.ts
  apps/api/scripts/backfill-item-mention-records.ts
  apps/api/scripts/query-samples.sql
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/mobile/src/types/search.ts
  packages/shared/src/constants/index.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, deps-check, prettier

feat(polls): close-time poll graduation through the collection pipeline (Phase 5C)
  apps/api/prisma/migrations/20260619220000_poll_close_graduation/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/polls/poll-graduation.service.ts
  apps/api/src/modules/polls/poll-lifecycle.service.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

docs(polls): record 5C done + 5B deferral design + Phase 6 (a) evaluation
  plans/poll-phase-5-execution-scope.md
Due: prettier

feat(polls): rate-limit the abuse-prone write endpoints (§13A)
  apps/api/src/modules/polls/polls.controller.ts
Due: api-lint, prettier

docs(plan): polls-frontend + sheet-v4 (red-teamed) + toggle-strip regression spec
  plans/polls-frontend-plan.md
  plans/sheet-v4-foundation-plan.md
  plans/toggle-strip-regression-fix.md
Due: prettier

fix(search): keep the toggle strip uncovered during interaction (toggle) reloads
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-surface-render-header-source-runtime.tsx
Due: prettier

fix(search): loading cover starts below the toggle strip on interaction reloads
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-surface-panel-parts-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-composite-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-surface-render-header-source-runtime.tsx
Due: prettier

revert(search): drop the cover-offset symptom patch (clean baseline)
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-surface-panel-parts-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-composite-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
Due: prettier

fix(search): toggle colors flip on press-up again (un-freeze active states)
  apps/mobile/src/screens/Search/runtime/controller/search-root-search-scene-chrome-freeze-runtime.ts
Due: prettier

docs(plan): toggle-strip 3-regression archaeology + restore status
  plans/toggle-strip-regression-fix.md
Due: prettier

feat(perf): Sheet V4 proof foundation — sheet-drag-during-map-motion gate
  maestro/perf/flows/search-map-sheet-drag.yaml
  package.json
  plans/sheet-v4-foundation-plan.md
  scripts/perf-scenario-sheet-drag-contract.js
Due: deps-check, prettier

docs(sheet): nav↔sheet visibility map + decision to NOT consolidate
  apps/mobile/src/screens/Search/runtime/shared/NAV_SHEET_VISIBILITY_MAP.md
  plans/sheet-v4-foundation-plan.md
Due: prettier

feat(autocomplete): poll lane — polls in the search bar (§8.1, backend)
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/dto/autocomplete.dto.ts
Due: api-lint, prettier

feat(polls-fe): rebuild the poll data layer on the live model (comments/leaderboard)
  apps/mobile/src/services/polls.ts
Due: prettier

docs(polls/sheet): V4 snap-on-swap already supported (V4 ~complete) + poll-UI build-ready spec
  plans/polls-frontend-plan.md
  plans/sheet-v4-foundation-plan.md
Due: prettier

test(polls): live-model poll seed + end-to-end gazetteer→leaderboard validation
  apps/api/package.json
  apps/api/scripts/seed-poll-fixtures.ts
Due: api-lint, deps-check, prettier

feat(polls-fe): live-model poll card (increment 1 of the poll-UI rebuild)
  apps/mobile/src/overlays/panels/PollsPanel.tsx
Due: prettier

refactor(polls-fe): sweep the dead vote model (fixes the crash; removes vote/add-option)
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-autocomplete-owner.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-composer-runtime.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-composer-submit-runtime.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/overlays/panels/runtime/polls-vote-mutation-runtime.ts
Due: prettier

feat(polls): enrich poll list with card stats (comments, endorsers, creator)
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

feat(polls-fe): Reddit-class poll card (creator badge + metrics footer)
  apps/api/scripts/seed-poll-fixtures.ts
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/services/polls.ts
Due: api-lint, prettier

feat(polls-fe): full-width divider cards + always-"+" header button
  apps/mobile/src/overlays/panels/PollsPanel.tsx
Due: prettier

feat(polls-fe): drop the card subtitle (sheet header already conveys axis/location)
  apps/mobile/src/overlays/panels/PollsPanel.tsx
Due: prettier

feat(polls): tap-to-endorse — direct per-candidate endorsement signal
  apps/api/prisma/migrations/20260620120000_add_poll_endorsements/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/polls/dto/endorse-poll-subject.dto.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

feat(polls-fe): tap-to-endorse candidate bars on the feed card
  apps/api/src/modules/polls/polls.service.ts
  apps/mobile/src/overlays/panels/PollCandidateBars.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/services/polls.ts
Due: api-lint, prettier

feat(polls-fe): days-left countdown in the card footer
  apps/api/src/modules/polls/poll-lifecycle.service.ts
  apps/api/src/modules/polls/poll-timing.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/services/polls.ts
Due: api-lint, prettier
