Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

docs(schema): ClaimVerdict supersedes the surface stamp as verdict memory only — the stamp stays as the recall-qualification bit
  apps/api/prisma/schema.prisma
Due: none

fix(vocabulary): one hold law + adapter-spelled queue keys
  apps/api/src/modules/content-processing/entity-resolver/judged-vocabulary.service.ts
  apps/api/src/modules/content-processing/entity-resolver/judged-vocabulary.spec.ts
Due: api-lint, prettier

chore: cosmetics — unread count(*) dropped, stale sectioned-tier comment fixed, dangling coverage row removed
  apps/api/src/modules/content-processing/entity-resolver/claim-verdict-ledger.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(search): delete sectioned-relevancy — SEARCH_RANKING_MODE, exactFoodIds and the four inert builder arms are gone
  apps/api/scripts/search-harness/coverage-truth.result.json
  apps/api/scripts/search-harness/coverage-truth.ts
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(vocabulary): first-search sync hearing — bounded await, measured budget, ledgered call latency
  apps/api/prisma/migrations/20260816090000_api_usage_duration_ms/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/search-harness/browse-mode-probe.ts
  apps/api/src/modules/content-processing/entity-resolver/judged-vocabulary.service.ts
  apps/api/src/modules/content-processing/entity-resolver/judged-vocabulary.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

docs(plan): round-2 refinements R6-R10 — demand guard transitional, final button set, origin field, containment job extension, pinyin pending
  plans/taxonomy-rederivation.md
Due: prettier

docs(plan): final pre-GO rulings — pinyin yes (wave layer), types audit + trust-Google policy, origin-tracking split to own session
  plans/taxonomy-rederivation.md
Due: prettier

docs(search): first-search hearing cap re-measured at the REAL shape — 1-2 word hearings p50=1226ms p95=1423ms, cap does not bind
  apps/api/scripts/search-harness/browse-mode-probe.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

feat(claims): C4a restaurant-name hearing lane — the court a recall surface never had
  apps/api/scripts/hear-restaurant-name-claims.ts
  apps/api/src/modules/content-processing/entity-resolver/claim-rehearing-budget.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-hearing.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-hearing.service.ts
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-lane.ts
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-rule.ts
  apps/api/src/modules/external-integrations/llm/prompts/restaurant-name-judge-prompt.md
Due: api-lint, prettier

docs(plan): C4a restaurant-name lane landed — ledger entry updated
  plans/iteration-phase-open-items.md
Due: prettier

feat(taxonomy): R11 google-types audit — every stored type classified, kind or noise, one authority
  apps/api/scripts/check-place-type-classification.ts
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.spec.ts
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
  apps/api/src/modules/restaurant-enrichment/nightly-convergence.service.ts
  apps/api/src/modules/restaurant-enrichment/place-type-census.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.module.ts
  apps/api/src/shared/invariants/registry.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(taxonomy): venue-axis data backfill — stored types promoted to places_api evidence
  apps/api/scripts/backfill-place-type-attributes.ts
  apps/api/scripts/search-harness/coverage-truth.result.json
Due: api-lint, prettier

feat(prompt): v15 — leading-article law, evaluative-word order rule, x-food clause; 102-case cert x3 zero-flaky
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-count-loud.spec.ts
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-taxonomy.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion.spec.ts
  apps/api/src/modules/restaurant-enrichment/terminal-failure-guard.spec.ts
Due: api-lint, prettier

feat(court): C4a evidence card carries raw name-usage text — Supper and Stars are separable now
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-hearing.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-hearing.service.ts
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-rule.ts
  apps/api/src/modules/external-integrations/llm/prompts/restaurant-name-judge-prompt.md
Due: api-lint, prettier

test(prompt): pin dish-level ask-inheritance (V15i); park restaurant-level as measured-infeasible in clause form
  apps/api/scripts/fixtures/ask-inheritance-parked-cases.json
  apps/api/scripts/fixtures/prompt-ab-cases.json
Due: prettier

fix(court): an apostrophe folds to nothing — possessive coinages reach the evidence card
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-hearing.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-hearing.service.ts
Due: api-lint, prettier

feat(schema): quote-mirror check — schema-description drift is now structurally impossible
  apps/api/scripts/schema-quote-mirror.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
Due: api-lint, prettier

feat(search-ui): R1/R2 — panes renamed Where to Go / What to Get; shortcut pair collapsed to one 'All' browse button
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchShortcutsRow.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-tuple-selectors.ts
  apps/mobile/src/screens/Search/runtime/shared/shortcut-toggle-display-query.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-content-runtime.tsx
  audit/COVERAGE.md
Due: prettier

fix(llm): the restaurant-name judge gets its caller profile — the court's meter caller was unprofiled
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
Due: api-lint, prettier

feat(prompt): version fingerprint folds the response schema; registry row becomes the one hash authority
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.persist-first.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/external-integrations/llm/prompt-registry.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/shared/invariants/registry.ts
  audit/COVERAGE.md
Due: api-lint, prettier

probe(score): consensus-policy both-ways diff — 4 variants through the REAL scorer, reversible by construction
  apps/api/scripts/consensus-policy-diff.ts
Due: api-lint, prettier

feat(score): creator = one vote — post-body claims carry exactly one ballot (owner ruling 2026-08-16)
  apps/api/scripts/backfill-post-claim-ballots.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.post-ballot.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
Due: api-lint, prettier

docs(plan): O3 ruled — internal types become place/item; prefix rederivation commissioned
  plans/taxonomy-rederivation.md
Due: prettier

docs(plans): knowledge-attribute program design — placement, identity-entailment, provenance, pilots (P4)
  plans/knowledge-attributes.md
Due: prettier

docs(plan): lens-B verdicts — 5/6 layers same-again; browse serve hole dispatched; rename carry-list locked
  plans/taxonomy-rederivation.md
Due: prettier

docs(plans): shadow-sandbox rederivation — 30-door write enumeration + rehearsal-generation design (P6)
  plans/shadow-sandbox.md
Due: prettier

docs(plan): R15 verdict — one recall engine two policies confirmed ideal; name-intent arm derived; build-now defects queued
  plans/taxonomy-rederivation.md
Due: prettier

fix(search): browse queries SERVE through orchestration — the typed path converges on the All-chip's runQuery
  apps/api/scripts/search-harness/browse-mode-probe.ts
  apps/api/src/modules/search/search-orchestration.service.spec.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(harness): NUL byte out of promptFingerprint source; lens-A registrations; shadow-damage docket SD-1..3
  apps/api/scripts/backfill-post-claim-ballots.ts
  apps/api/scripts/search-harness/cjk-tokenization-preflight.ts
  apps/api/src/modules/entity-display/entity-display-lockdown.spec.ts
  apps/api/src/modules/external-integrations/llm/prompt-registry.service.ts
  plans/shadow-sandbox.md
Due: api-lint, prettier

fix(locale): cuisine extraction's identity probe adopts identityScope() — plus a lockdown so an 11th hand-rolled und predicate cannot land
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/shared/locale/surface-scope-lockdown.spec.ts
Due: api-lint, prettier

fix(search): pickPlacedWinner uses rankIn() — M9's -1-becomes-winner bug had a second, unfixed copy
  apps/api/src/modules/search/cross-type-placement-rank.spec.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

fix(itest): the restaurant-name hearing spec enters the ledger through its one write door
  apps/api/src/modules/content-processing/entity-resolver/restaurant-name-hearing.integration.spec.ts
Due: api-lint, prettier

feat(testing): gate + invariant-check become registered script classes; gemini-vendor-door phrase mapped
  apps/api/src/shared/invariants/registry.spec.ts
  apps/api/src/shared/testing/script-containment.spec.ts
  audit/COVERAGE.md
Due: api-lint, prettier

docs(data-fix): the coctel HELD_FOR_RULING block records its landed ruling (KEEP-UND, 2026-08-13)
  apps/api/scripts/data-fixes/revert-wrong-romanization-retags.ts
Due: api-lint, prettier

refactor(search-ui): the dead dishes-chip plumbing chain is deleted end-to-end
  apps/mobile/src/screens/Search/components/SearchOverlayHeaderChrome.tsx
  apps/mobile/src/screens/Search/components/SearchShortcutsRow.tsx
  apps/mobile/src/screens/Search/runtime/native/search-chrome-native-hit-target.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-chrome-touch-surface-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-chrome-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-interaction-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-chrome-touch-surface-geometry-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-direct-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-viewport-shortcut-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-chrome-host-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-shortcuts-interaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-shortcuts-layout-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-header-holes-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-header-shortcut-holes-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-layout-plane-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-layout-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-shortcut-layout-runtime.ts
  audit/COVERAGE.md
Due: prettier

docs(plans): iteration-ledger truth pass — two strikes, one stale baseline, five ownership assignments
  plans/iteration-phase-open-items.md
Due: prettier

fix(linker): pluralization variants floored at 3 chars — a 2-char fragment pluralized into an exact claim is manufactured evidence
  apps/api/src/modules/content-processing/entity-resolver/food-lemma.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/food-lemma.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(search): C4a denials reach the name arms — a notAName verdict now suppresses core_entities.name/identity_key matching everywhere names are matched
  apps/api/src/modules/entity-text-search/alias-fold-symmetry.integration.spec.ts
  apps/api/src/modules/entity-text-search/denied-name-registry.service.ts
  apps/api/src/modules/entity-text-search/denied-name-suppression.integration.spec.ts
  apps/api/src/modules/entity-text-search/entity-text-search.module.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/entity-text-search/localized-surfaces-exact-first.integration.spec.ts
  apps/api/src/modules/polls/poll-local-restaurant-match.integration.spec.ts
Due: api-lint, prettier

feat(search): out-of-viewport honesty — a grounded restaurant with zero results in the viewport says so instead of a silent empty page
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier
