Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

docs(rebuild): ledger — collector+aggregate merged leg committed; score cut in flight
  plans/rebuild-execution-ledger.md
Due: prettier

docs(perf): release re-measure — the reveal burst persists; L4 sliced landing is WARRANTED (the decision input)
  plans/perf-baselines.md
Due: prettier

feat(search): THE CONTENT-LANDING CLOCK — the fence release becomes two beats (L4 law 2)
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
Due: prettier

feat(rebuild): score cut — per-source calibration, ONE scoreVersion (v4)
  apps/api/prisma/migrations/20260720010000_score_per_source_calibration/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/rebuild-crave-scores.ts
  apps/api/scripts/validate-crave-score-fixtures.ts
  apps/api/src/modules/content-processing/public-crave-score/index.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.spec.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.types.ts
  apps/api/src/modules/content-processing/public-crave-score/score-calibration.spec.ts
  apps/api/src/modules/content-processing/public-crave-score/score-calibration.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-selected-location-order.spec.ts
Due: api-lint, prettier

docs(rebuild): ledger — score cut committed; Phase C purges in flight
  plans/rebuild-execution-ledger.md
Due: prettier

feat(search): the landing clock goes PROGRESSIVE — idle-frame slices, plural
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
Due: prettier

docs(perf): landing-clock release verification — modest gains, slicing saturated; residual burst needs map-side attribution
  plans/perf-baselines.md
Due: prettier

feat(rebuild): Phase C purge — the old world dies; signals is THE write path
  apps/api/prisma/migrations/20260720030000_phase_c_purge/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/backfill-signals-from-legacy-events.ts
  apps/api/scripts/rebuild-search-demand-daily.ts
  apps/api/scripts/warm-query-embedding-cache.ts
  apps/api/src/modules/analytics/analytics.module.ts
  apps/api/src/modules/analytics/search-demand-aggregation.service.ts
  apps/api/src/modules/analytics/search-demand.service.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/history/history.service.ts
  apps/api/src/modules/markets/market-registry.service.ts
  apps/api/src/modules/markets/markets.module.ts
  apps/api/src/modules/polls/dto/check-poll-duplicate.dto.ts
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/on-demand-ask-signal.spec.ts
  apps/api/src/modules/search/on-demand-request-users-cleanup.service.ts
  apps/api/src/modules/search/on-demand-request.service.ts
  apps/api/src/modules/search/search-signals-dual-write.spec.ts
  apps/api/src/modules/search/search-signals-write.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/signals.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(page): the listDetail split — the last non-search L2 migration; the gate dies
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  plans/page-composition-from-scratch-design.md
  scripts/rig/grep-invariants.sh
Due: prettier

docs(rebuild): wave-5 verdict recorded — 4 seam defects; fix pass in flight
  plans/rebuild-execution-ledger.md
Due: prettier

feat(search): the landing clock's RAMP HOLD — row mounts wait for the pin fade (catalog arc, step 1)
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-enter-settled-signal.ts
  plans/perf-baselines.md
Due: prettier

fix(rebuild): wave-5 seam fixes — act identity holds across all readers
  apps/api/scripts/validate-crave-score-fixtures.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-estimators.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-sort-plan.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/signals/dto/record-viewport-dwell.dto.ts
  apps/api/src/modules/signals/lng-intersect.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/signal-demand-read.territory.spec.ts
  apps/api/src/modules/signals/signals.controller.spec.ts
  apps/api/src/modules/signals/signals.controller.ts
  apps/api/src/modules/signals/signals.module.ts
  apps/api/src/modules/signals/signals.service.ts
  apps/api/src/modules/signals/sql-instant.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

docs(rebuild): ratification docket resolved — all 8 items ruled
  apps/api/src/modules/content-processing/public-crave-score/score-calibration.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.floors.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/places/subjects.ts
  apps/api/src/modules/polls/supply/poll-supply.constants.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  plans/geo-demand-foundation-rebuild.md
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

fix(map): enter-frame source dedup — the 217ms duplicate re-apply dies (catalog arc, deep half step 1)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  plans/perf-baselines.md
Due: prettier

docs(perf): release verdict with the enter-frame dedup — first structural drop
  plans/perf-baselines.md
Due: prettier

feat(rebuild): poll-supply swap — ONE demand algebra (ratified docket item 7)
  apps/api/src/modules/polls/supply/demand-mass.kernel.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
  apps/api/src/modules/search/on-demand-ask-signal.spec.ts
  apps/api/src/modules/search/search-signals-write.spec.ts
  apps/api/src/modules/signals/signals.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(map): off-main the preroll prepare pipeline — the enter-frame main stall dies (catalog arc, deep half step 2)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(perf): deep-half step 2 verdict — enter main stall zero; UI worst window flagged unattributed
  plans/perf-baselines.md
Due: prettier

feat(rebuild): §1 county-axis identity amendment — same-name twins coexist
  apps/api/prisma/migrations/20260720050000_place_county_axis/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/seed-us-places.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  plans/geo-demand-foundation-rebuild.md
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(rebuild): home-place registration — poll pushes target placeAt subtree
  apps/api/prisma/migrations/20260720060000_notification_device_home_place/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/markets/markets.module.ts
  apps/api/src/modules/notifications/dto/register-device.dto.ts
  apps/api/src/modules/notifications/notification-device.service.ts
  apps/api/src/modules/notifications/notification-device.spec.ts
  apps/api/src/modules/notifications/notifications-poll-release.spec.ts
  apps/api/src/modules/notifications/notifications.module.ts
  apps/api/src/modules/notifications/notifications.service.ts
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/services/notifications.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(map): covered-parse preparse + no-op frame reconcile skip (catalog arc, deep half step 3)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

feat(rebuild): See-locations mode — Leg 2 closes
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/dto/autocomplete.dto.ts
  apps/api/src/modules/history/history.service.spec.ts
  apps/api/src/modules/history/history.service.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search-see-locations.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/RecentHistoryView.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/render-meta-detail-line.tsx
  apps/mobile/src/screens/Search/hooks/use-search-structured-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-fetch.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-interaction-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-suggestion-submit-runtime.ts
  apps/mobile/src/services/autocomplete.ts
  apps/mobile/src/services/search.ts
  plans/rebuild-execution-ledger.md
  scripts/perf-scenario-market-demand-contracts.js
Due: api-lint, prettier

feat(rebuild): collector §10 mechanics + §12.5 per-request governed client
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-batch.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-batch-processing.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-job.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.commit.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collection-adapter.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/reddit/reddit.exceptions.ts
  apps/api/src/modules/external-integrations/reddit/reddit.module.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.spec.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/external-integrations/shared/external-integrations.types.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

docs(perf): deep-half step 3 verdict — zero [applyslow] in the release search reveal
  plans/perf-baselines.md
Due: prettier

feat(rebuild): durability + legacy expiry — money windows survive restarts
  apps/api/prisma/migrations/20260720100000_pool_window_consumption/migration.sql
  apps/api/prisma/migrations/20260720110000_signals_monthly_partitions/migration.sql
  apps/api/prisma/migrations/20260720120000_drop_notification_device_city/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-batch.worker.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-batch.worker.ts
  apps/api/src/modules/external-integrations/governance/governance.module.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-consumption.store.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/markets/markets.module.ts
  apps/api/src/modules/notifications/dto/register-device.dto.ts
  apps/api/src/modules/notifications/notification-device.service.ts
  apps/api/src/modules/polls/dto/check-poll-duplicate.dto.ts
  apps/api/src/modules/polls/dto/create-poll.dto.ts
  apps/api/src/modules/polls/dto/list-user-polls.dto.ts
  apps/api/src/modules/polls/dto/query-polls.dto.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/signals/signal-partition-maintenance.service.spec.ts
  apps/api/src/modules/signals/signal-partition-maintenance.service.ts
  apps/api/src/modules/signals/signals.module.ts
  apps/api/src/modules/signals/signals.service.spec.ts
  apps/api/src/modules/signals/signals.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(rebuild): tier-2 polygon promotion queue — §2 earned moments live
  apps/api/prisma/market-provisioning.ts
  apps/api/prisma/migrations/20260720130000_place_geometry_promotions/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places.module.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search-see-locations.spec.ts
  apps/api/src/modules/search/search-signals-write.spec.ts
  apps/api/src/modules/search/search.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

fix(rig): release-baseline sampler split — the "UI worst" was a JS stall in disguise
  plans/perf-baselines.md
  scripts/rig/release-baseline.sh
Due: prettier

feat(reveal): only the visible tab lands at the reveal + [RevealCommit] span (JS stall arc, step 1)
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/perf/reveal-commit-attribution.ts
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-list-render-item-runtime.tsx
Due: prettier

docs(perf): JS reveal-stall step-1 verdict — reveal task 164 -> ~58ms, stall class closed
  plans/perf-baselines.md
Due: prettier

feat(header): subject-store leg 1 — one law in shared, slice read, settle seam
  apps/api/package.json
  apps/api/src/modules/places/dto/places-in-view.dto.ts
  apps/api/src/modules/places/place-geo.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/places.controller.spec.ts
  apps/api/src/modules/places/places.controller.ts
  apps/api/src/modules/places/places.module.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  apps/api/src/modules/polls/poll-feed-membership.spec.ts
  apps/api/src/modules/polls/poll-feed-membership.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/signals/signals.controller.spec.ts
  apps/api/src/modules/signals/signals.controller.ts
  apps/api/src/modules/signals/signals.module.ts
  packages/shared/src/geo/index.ts
  packages/shared/src/geo/place-geo.ts
  packages/shared/src/geo/slice.ts
  packages/shared/src/geo/subjects.ts
  packages/shared/src/index.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, shared-lint, deps-check, prettier

fix(header): break Places↔Identity module cycle with forwardRef
  apps/api/src/modules/places/places.module.ts
Due: api-lint, prettier

feat(header): subject-store leg 2 — the header is computed where you look
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-on-demand-notice-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-session-services-foundation-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/use-viewport-subject-store-controller-runtime.ts
  apps/mobile/src/services/places.ts
  apps/mobile/src/services/signals.ts
  apps/mobile/src/store/viewport-subject-store.ts
Due: prettier

feat(header): leg 3 — polls feed drinks from the settle primitive; pollBounds dies
  apps/mobile/src/navigation/runtime/app-route-dynamic-scene-inputs-contract.ts
  apps/mobile/src/navigation/runtime/app-route-polls-scene-input-controller.ts
  apps/mobile/src/navigation/runtime/app-route-polls-scene-runtime.ts
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-refetch-edge.spec.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-refetch-edge.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-runtime-contract.ts
  apps/mobile/src/overlays/useSearchRoutePollsSceneStateRuntime.ts
  apps/mobile/src/screens/Search/hooks/use-search-map-movement-state.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-map-interaction-controller-runtime.ts
  apps/mobile/src/screens/Search/runtime/map/map-interaction-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-environment-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-map-interaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-map-runtime-lane.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-foundation-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-sheet-interaction-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-stage-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-scaffold-instrumentation-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-runtime-instrumentation-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-runtime-instrumentation-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/use-viewport-subject-store-controller-runtime.ts
  apps/mobile/src/store/viewport-subject-store.ts
Due: prettier

fix(map): camera_changed emits unconditionally — the header hears bare-map pans
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

feat(page): results PageSpec/band leg — bands are the general form + SingleLineText brand (L2 search family)
  apps/mobile/src/overlays/ChromeTitleText.tsx
  apps/mobile/src/overlays/PageBodyShell.tsx
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/overlays/page-body-contract.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/MessagingPanels.tsx
  apps/mobile/src/overlays/panels/NotificationsPanel.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/PostPhotosPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/panels/pollsHeaderVisuals.tsx
  apps/mobile/src/overlays/search-results-header-live-state.tsx
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-list-render-item-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-results-page-bands.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-item-content-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-search-scene-body-input-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-search-scene-model-owner.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): L3 residency prototype — the gate measures, and the claim holds (shells free, content is the budget)
  apps/mobile/App.tsx
  apps/mobile/src/perf/PerfScenarioCoordinator.tsx
  apps/mobile/src/perf/ResidentShellPrototype.tsx
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(plan): §2.5 polygon-native header law RATIFIED — paid tier, finest-dominator
  plans/geo-demand-foundation-rebuild.md
Due: prettier

feat(page): L3 build slice 1 — the liveness law lands (residency manager + boundary + re-derive at reveal)
  apps/mobile/App.tsx
  apps/mobile/src/components/skeletons/CutoutSkeletonSurface.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/PersistentSheetHeaderHost.tsx
  apps/mobile/src/overlays/ShellVisibilityBoundary.tsx
  apps/mobile/src/overlays/panels/NotificationsPanel.tsx
  apps/mobile/src/overlays/shell-residency-manager.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(header): §2.5 polygon-native law — finest dominator, polygon truth, bbox index
  apps/api/package.json
  apps/api/scripts/lib/gazetteer-names.ts
  apps/api/scripts/seed-coarse-polygons.ts
  apps/api/scripts/seed-us-places.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/places.controller.spec.ts
  apps/api/src/modules/places/places.controller.ts
  apps/api/src/modules/places/places.module.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/polls/poll-feed-membership.spec.ts
  apps/api/src/modules/polls/poll-feed-membership.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search.service.ts
  packages/shared/src/geo/ground.ts
  packages/shared/src/geo/index.ts
  packages/shared/src/geo/slice.ts
  packages/shared/src/geo/subjects.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, shared-lint, deps-check, prettier

chore(governance): seed-month pool raise — one-time US polygon drain
  apps/api/src/modules/external-integrations/governance/governance.service.ts
Due: api-lint, prettier
