Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, mobile-lint, shared-lint, prettier

api-lint:
  run: cd apps/api && pnpm lint

mobile-lint:
  run: cd apps/mobile && pnpm lint

shared-lint:
  run: cd packages/shared && pnpm lint

prettier:
  run: pnpm prettier --write {staged_files}

feat(milestone): complete M01 Database Foundation milestone
  .claude/commands/simone/do_task.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/S04_M01_sprint_meta.md
  CLAUDE.md
Due: prettier

refactor(simone): reorganize sprint directories with M<NN>_S<NN> naming convention
  .claude/commands/simone/commit.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/01_PROJECT_DOCS/ARCHITECTURE.md
  .simone/02_REQUIREMENTS/M02_Entity_Processing_Core_External_Integrations/M02_milestone_meta.md
  .simone/03_SPRINTS/CLAUDE.md
  .simone/03_SPRINTS/M01_S01_Database_Schema_Foundation/M01_S01_sprint_meta.md
  .simone/03_SPRINTS/M01_S01_Database_Schema_Foundation/TX01_S01_Core_Database_Schema_Implementation.md
  .simone/03_SPRINTS/M01_S01_Database_Schema_Foundation/TX02_S01_Database_Indexes_Performance_Optimization.md
  .simone/03_SPRINTS/M01_S01_Database_Schema_Foundation/TX03_S01_Database_Constraints_Relationships.md
  .simone/03_SPRINTS/M01_S01_Database_Schema_Foundation/TX04_S01_Prisma_Migrations_Schema_Management.md
  .simone/03_SPRINTS/M01_S01_Database_Schema_Foundation/TX05_S01_Seed_Data_Schema_Validation.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/M01_S02_sprint_meta.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/PRD_4_2_4_3_UNIFIED_ENTITY_MODEL_IMPLEMENTATION.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/TX01_S02_Repository_Layer_Foundation.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/TX02_S02_Database_Configuration_Pooling.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/TX03_S02_Error_Handling_Validation.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/TX04_S02_Logging_Infrastructure.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/TX05_S02_Entities_Repository_Layer.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/TX06_S02_Basic_Connections_CRUD.md
  .simone/03_SPRINTS/M01_S02_CRUD_Operations_Repository_Layer/TX07_S02_Entities_Service_Layer.md
  .simone/03_SPRINTS/M01_S03_Testing_Performance_Validation/M01_S03_sprint_meta.md
  .simone/03_SPRINTS/M01_S03_Testing_Performance_Validation/TX01_S03_Unit_Test_Coverage_Database_Operations.md
  .simone/03_SPRINTS/M01_S03_Testing_Performance_Validation/TX02_S03_Integration_Tests_Repository_Service_Layer.md
  .simone/03_SPRINTS/M01_S04_Final_Validation_Cleanup/M01_COMPLETION_REPORT.md
  .simone/03_SPRINTS/M01_S04_Final_Validation_Cleanup/M01_S04_sprint_meta.md
  .simone/03_SPRINTS/M01_S04_Final_Validation_Cleanup/TX01_S04_Code_Quality_Cleanup_Linting_Resolution.md
  .simone/03_SPRINTS/M01_S04_Final_Validation_Cleanup/TX02_S04_Bulk_Operations_Performance_Validation_Testing.md
  .simone/03_SPRINTS/M01_S04_Final_Validation_Cleanup/TX03_S04_M01_Final_Validation_Documentation.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/M02_S01_sprint_meta.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T01_S01_LLM_Integration_API_Setup.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T02_S01_Entity_Resolution_System.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T03_S01_Alias_Management_System.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T04_S01_Context_Dependent_Attribute_Handling.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/M02_S02_sprint_meta.md
Due: prettier

fix create sprint tasks command
  .claude/commands/simone/create_sprint_tasks.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T01_S01_LLM_Integration_API_Setup.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T02_S01_Entity_Resolution_System.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T03_S01_Alias_Management_System.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T04_S01_Context_Dependent_Attribute_Handling.md
Due: prettier

feat(api): implement T01_S01 LLM integration API setup
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/M02_S01_sprint_meta.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T01_S01_LLM_Integration_API_Setup.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/TX01_S01_LLM_Integration_API_Setup.md
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/llm/dto/index.ts
  apps/api/src/modules/external-integrations/llm/dto/llm-input.dto.ts
  apps/api/src/modules/external-integrations/llm/dto/llm-output.dto.ts
  apps/api/src/modules/external-integrations/llm/index.ts
  apps/api/src/modules/external-integrations/llm/llm-health.controller.ts
  apps/api/src/modules/external-integrations/llm/llm.exceptions.ts
  apps/api/src/modules/external-integrations/llm/llm.integration.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.module.ts
  apps/api/src/modules/external-integrations/llm/llm.service.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
Due: api-lint, prettier

update do task command
  .claude/commands/simone/do_task.md
Due: prettier

refactor(entities): rename EntityResolutionService to EntityContextService
  apps/api/src/modules/entities/entities.module.ts
  apps/api/src/modules/entities/entities.service.integration.spec.ts
  apps/api/src/modules/entities/entities.service.spec.ts
  apps/api/src/modules/entities/entities.service.ts
  apps/api/src/repositories/entity-context.service.integration.spec.ts
  apps/api/src/repositories/entity-context.service.spec.ts
  apps/api/src/repositories/entity-context.service.ts
  apps/api/src/repositories/repository.module.ts
  apps/api/test/INTEGRATION_TESTING.md
  apps/api/test/cross-service-integration.spec.ts
  apps/api/test/integration-test.setup.ts
Due: api-lint, prettier

feat(llm): migrate from OpenAI to Gemini 2.5 Flash API
  apps/api/.env.example
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/llm/llm.integration.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
Due: api-lint, prettier

feat(api): implement T02_S01 three-tier entity resolution system
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T02_S01_Entity_Resolution_System.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/TX02_S01_Entity_Resolution_System.md
  apps/api/package.json
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/entity-resolver/index.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

chore: update pnpm-lock.yaml for string-similarity dependency
  pnpm-lock.yaml
Due: prettier

feat(entity-resolver): implement T03_S01 alias management system
  .claude/commands/simone/do_task.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T03_S01_Alias_Management_System.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/TX03_S01_Alias_Management_System.md
  apps/api/src/modules/content-processing/entity-resolver/alias-management.service.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/alias-management.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
Due: api-lint, prettier

feat(api): implement T04_S01 context-dependent attribute handling
  apps/api/src/modules/content-processing/index.ts
  apps/api/src/modules/content-processing/llm-processor/context-determination.service.integration.spec.ts
  apps/api/src/modules/content-processing/llm-processor/context-determination.service.spec.ts
  apps/api/src/modules/content-processing/llm-processor/context-determination.service.ts
  apps/api/src/modules/content-processing/llm-processor/index.ts
  apps/api/src/modules/content-processing/llm-processor/llm-processor.module.ts
Due: api-lint, prettier

fix(api): resolve entity resolution service business logic issues
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
Due: api-lint, prettier

chore: complete T04_S01 task and Sprint S01
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/M02_S01_sprint_meta.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/T04_S01_Context_Dependent_Attribute_Handling.md
  .simone/03_SPRINTS/M02_S01_LLM_Entity_Resolution_Foundation/TX04_S01_Context_Dependent_Attribute_Handling.md
Due: prettier

feat(sprints): create M02 S02 external integrations sprint tasks
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/M02_S02_sprint_meta.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/T01_S02_Google_Places_API_Integration.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/T02_S02_External_Integrations_Module.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/T03_S02_Basic_Security_Essentials.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/T04_S02_Bulk_Operations_Pipeline.md
Due: prettier

feat(api): implement T01_S02 Google Places API integration
  apps/api/src/modules/external-integrations/external-integrations.module.ts
  apps/api/src/modules/external-integrations/google-places/google-places-health.controller.ts
  apps/api/src/modules/external-integrations/google-places/google-places.exceptions.ts
  apps/api/src/modules/external-integrations/google-places/google-places.integration.spec.ts
  apps/api/src/modules/external-integrations/google-places/google-places.module.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.spec.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/google-places/google-places.types.ts
  apps/api/src/modules/external-integrations/google-places/index.ts
  apps/api/src/modules/external-integrations/google-places/restaurant-enrichment.service.ts
  apps/api/src/modules/external-integrations/index.ts
Due: api-lint, prettier

feat(api): add T01_S02 Google Places configuration and dependencies
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  pnpm-lock.yaml
Due: api-lint, prettier

fix(api): improve LLM JSON parsing and test environment setup
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/index.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/test/jest.setup.ts
Due: api-lint, prettier

chore(simone): complete T01_S02 Google Places API integration task
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/M02_S02_sprint_meta.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/T01_S02_Google_Places_API_Integration.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/TX01_S02_Google_Places_API_Integration.md
Due: prettier

feat(api): implement T02_S02 external integrations module with centralized API management
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/T02_S02_External_Integrations_Module.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/TX02_S02_External_Integrations_Module.md
  apps/api/src/modules/external-integrations/external-integrations-health.controller.ts
  apps/api/src/modules/external-integrations/external-integrations.integration.spec.ts
  apps/api/src/modules/external-integrations/external-integrations.module.ts
  apps/api/src/modules/external-integrations/google-places/google-places.integration.spec.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.spec.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/index.ts
  apps/api/src/modules/external-integrations/llm/llm.service.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.spec.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/external-integrations/shared/base-external-api.service.ts
  apps/api/src/modules/external-integrations/shared/external-integrations.exceptions.ts
  apps/api/src/modules/external-integrations/shared/external-integrations.types.ts
  apps/api/src/modules/external-integrations/shared/index.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
Due: api-lint, prettier

docs(project): update manifest with T02_S02 task completion
  .simone/00_PROJECT_MANIFEST.md
Due: prettier

docs: streamline CLAUDE.md and enhance do_task iterative code review process
  .claude/commands/simone/do_task.md
  CLAUDE.md
Due: prettier

chore: ignore Winston daily rotate audit logs in gitignore
  .gitignore
Due: none

fix: improve Winston audit log ignore patterns
  .gitignore
Due: none

fix: remove Winston audit log files from git tracking
  apps/api/logs/.91429ef53d96d5ef4de5883671c3b4460ea02e14-audit.json
  apps/api/logs/.b3d7db7378bd4b974e4d4b33ba5264fe13877cf0-audit.json
  apps/api/logs/.fc6bc5551914159aa480404ca7c8f1ae70f9114b-audit.json
Due: prettier

ignore logs folder
  .gitignore
Due: none

feat(security): implement T03_S02 basic security essentials
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/T03_S02_Basic_Security_Essentials.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/TX03_S02_Basic_Security_Essentials.md
  CLAUDE.md
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/external-integrations/external-integrations.integration.spec.ts
  apps/api/src/modules/infrastructure/index.ts
  apps/api/src/modules/infrastructure/security/decorators/rate-limit.decorator.ts
  apps/api/src/modules/infrastructure/security/guards/security.guard.ts
  apps/api/src/modules/infrastructure/security/index.ts
  apps/api/src/modules/infrastructure/security/middleware/sanitization.middleware.ts
  apps/api/src/modules/infrastructure/security/middleware/security-headers.middleware.ts
  apps/api/src/modules/infrastructure/security/security.integration.spec.ts
  apps/api/src/modules/infrastructure/security/security.module.ts
  apps/api/src/modules/infrastructure/security/security.service.ts
Due: api-lint, prettier

feat(simone): enhance PRD reading instructions in do_task command
  .claude/commands/simone/do_task.md
Due: prettier

feat(repositories): implement T04_S02 bulk operations pipeline
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/M02_S02_sprint_meta.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/T04_S02_Bulk_Operations_Pipeline.md
  .simone/03_SPRINTS/M02_S02_External_Integrations_Security/TX04_S02_Bulk_Operations_Pipeline.md
  apps/api/src/repositories/bulk-operations.service.integration.spec.ts
  apps/api/src/repositories/bulk-operations.service.spec.ts
  apps/api/src/repositories/bulk-operations.service.ts
  apps/api/src/repositories/bulk-operations.types.ts
  apps/api/src/repositories/index.ts
  apps/api/src/repositories/repository.module.ts
Due: api-lint, prettier

style(external-integrations): fix formatting in integration test
  apps/api/src/modules/external-integrations/external-integrations.integration.spec.ts
Due: api-lint, prettier

feat(simone): create M03 milestone and sprint structure for hybrid data collection
  .simone/00_PROJECT_MANIFEST.md
  .simone/02_REQUIREMENTS/M03_Hybrid_Data_Collection_Implementation/M03_milestone_meta.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/M03_S01_sprint_meta.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T01_S01_Archive_Download_Storage_Setup.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T02_S01_Stream_Processing_Implementation.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T03_S01_Historical_Content_Pipeline.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T04_S01_Batch_Processing_System.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T05_S01_LLM_Processing_Integration_Preparation.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/M03_S02_sprint_meta.md
Due: prettier

docs: enhance Simone framework with improved PRD sections and task execution
  .claude/commands/simone/do_task.md
  .simone/99_TEMPLATES/task_template.md
  CLAUDE.md
Due: prettier

update prime command
  .claude/commands/simone/prime.md
Due: prettier

formatting
  apps/api/src/repositories/bulk-operations.service.ts
Due: api-lint, prettier

feat(content-processing): implement T02_S01 stream processing for zstd ndjson files
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/TX02_S01_Stream_Processing_Implementation.md
  apps/api/package.json
  apps/api/src/modules/content-processing/index.ts
  apps/api/src/modules/content-processing/reddit-collector/data-optimization.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/enhanced-stream-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/index.ts
  apps/api/src/modules/content-processing/reddit-collector/processing-metrics.service.ts
  apps/api/src/modules/content-processing/reddit-collector/pushshift-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data-extractor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data-extractor.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data.types.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.exceptions.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/system-zstd-decompressor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/system-zstd-decompressor.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/validate-stream-processing.ts
  pnpm-lock.yaml
Due: api-lint, prettier

fix(tests): resolve bulk operations integration test failures
  apps/api/src/repositories/bulk-operations.service.integration.spec.ts
  apps/api/src/repositories/bulk-operations.service.spec.ts
Due: api-lint, prettier

docs: update project tracking for T02_S01 completion
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T02_S01_Stream_Processing_Implementation.md
  CLAUDE.md
Due: prettier

feat(content-processing): implement T03_S01 historical content pipeline
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T03_S01_Historical_Content_Pipeline.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/TX03_S01_Historical_Content_Pipeline.md
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.exceptions.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.types.ts
  apps/api/src/modules/content-processing/reddit-collector/index.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
Due: api-lint, prettier

docs(simone): add real-world feedback principles to development process
  .claude/commands/simone/code_review.md
  .claude/commands/simone/do_task.md
Due: prettier

style: improve code formatting and remove unused variables
  apps/api/src/modules/content-processing/reddit-collector/data-optimization.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/enhanced-stream-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data-extractor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data-extractor.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data.types.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/system-zstd-decompressor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/system-zstd-decompressor.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/validate-stream-processing.ts
  apps/api/src/repositories/bulk-operations.service.integration.spec.ts
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  mobile-lint: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
