Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

revert(page): scroll/gesture arc — restore pre-boundary-physics baseline
  apps/mobile/src/overlays/BottomSheetScrollContainer.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/PageBodyShell.tsx
  apps/mobile/src/overlays/PersistentSheetHeaderHost.tsx
  apps/mobile/src/overlays/SceneBodyFoundationSurface.tsx
  apps/mobile/src/overlays/SearchMountedScenePageBundleAuthority.tsx
  apps/mobile/src/overlays/bottomSheetSceneStackHostContract.ts
  apps/mobile/src/overlays/bottomSheetSharedRuntimeContract.ts
  apps/mobile/src/overlays/bottomSheetSharedRuntimeUtils.ts
  apps/mobile/src/overlays/bottomSheetWithFlashListContract.ts
  apps/mobile/src/overlays/sceneScrollStateRegistry.ts
  apps/mobile/src/overlays/sheetBodyScrollDefaults.ts
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
  apps/mobile/src/overlays/useBottomSheetSharedGestureRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
  apps/mobile/src/overlays/useBottomSheetSharedScrollContainerRuntime.tsx
  apps/mobile/src/overlays/useBottomSheetSharedScrollEventsRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedSnapExecutionRuntime.ts
  apps/mobile/src/overlays/useSearchRouteSceneStackBottomSheetRuntimeAssembly.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-sheet-scroll-body-defaults-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-sheet-shell-props-contract.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(governance): the gemini DOLLAR pool — owner-budget self-stop before the vendor wall
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/gemini-pricing.spec.ts
  apps/api/src/modules/external-integrations/shared/gemini-pricing.ts
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
Due: api-lint, prettier

docs(plan): §24 COST GOVERNANCE v2 — projection-governed spend, full replacement
  plans/geo-demand-foundation-rebuild.md
Due: prettier

feat(page): restore the boundary-physics arc (owner: the bounce felt native)
  apps/mobile/src/overlays/BottomSheetScrollContainer.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/PageBodyShell.tsx
  apps/mobile/src/overlays/PersistentSheetHeaderHost.tsx
  apps/mobile/src/overlays/SceneBodyFoundationSurface.tsx
  apps/mobile/src/overlays/SearchMountedScenePageBundleAuthority.tsx
  apps/mobile/src/overlays/bottomSheetSceneStackHostContract.ts
  apps/mobile/src/overlays/bottomSheetSharedRuntimeContract.ts
  apps/mobile/src/overlays/bottomSheetSharedRuntimeUtils.ts
  apps/mobile/src/overlays/bottomSheetWithFlashListContract.ts
  apps/mobile/src/overlays/sceneScrollStateRegistry.ts
  apps/mobile/src/overlays/sheetBodyScrollDefaults.ts
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
  apps/mobile/src/overlays/useBottomSheetSharedGestureRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
  apps/mobile/src/overlays/useBottomSheetSharedScrollContainerRuntime.tsx
  apps/mobile/src/overlays/useBottomSheetSharedScrollEventsRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedSnapExecutionRuntime.ts
  apps/mobile/src/overlays/useSearchRouteSceneStackBottomSheetRuntimeAssembly.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-sheet-scroll-body-defaults-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-sheet-shell-props-contract.ts
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(spend): §24 Legs A+B — measured unit costs + lane cost baselines with pause-on-breach
  apps/api/prisma/migrations/20260724160000_spend_unit_costs/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
Due: api-lint, prettier

feat(spend): §24 Leg C — the campaign surface: estimate → approve-by-hash → envelope
  apps/api/prisma/migrations/20260724170000_spend_campaigns/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/seed-archive.ts
  apps/api/scripts/seed-coarse-polygons.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-ingestion.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
Due: api-lint, prettier

feat(spend): §24 Leg D — demotions, kill list, census: the caps become backstops
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

docs(ledger): §24 executed — projection-governed spend live in production
  plans/rebuild-execution-ledger.md
Due: prettier

fix(spend): §24 red team — six defects closed, five hardenings, plan honesty
  apps/api/scripts/resume-lane.ts
  apps/api/src/modules/content-processing/reddit-collector/batch-processing-queue.types.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/external-integrations/governance/governance.service.spec.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/shared/gemini-pricing.spec.ts
  apps/api/src/modules/external-integrations/shared/gemini-pricing.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  plans/geo-demand-foundation-rebuild.md
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

feat(spend): §24 follow-ups closed — vendor rate tables, lane tags, campaign-aware drain
  apps/api/prisma/migrations/20260724180000_document_lane_tag/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/seed-coarse-polygons.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
  apps/api/src/modules/places/places-promotion.service.ts
  plans/geo-demand-foundation-rebuild.md
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

fix(collector): the censored recall instrument — keyword limit 1 → 100 (vendor page)
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-attempt-history.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/search/on-demand-placeholder-cleanup.service.ts
  apps/api/src/modules/search/on-demand-request.service.ts
  apps/api/src/modules/search/on-demand-tuning.constants.ts
  plans/geo-demand-foundation-rebuild.md
  plans/rebuild-execution-ledger.md
  plans/suggest-ideal-shape.md
Due: api-lint, prettier

fix(spend): TomTom rates VENDOR-VERIFIED — split cheap/scarce, invoice caveat retired
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
  apps/api/src/modules/places/places-promotion.service.ts
Due: api-lint, prettier

feat(ops): owner dashboard + alert infrastructure — /ops, ops_alerts, 8 emitters
  apps/api/prisma/migrations/20260724190000_ops_alerts/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/ops-alerts.service.spec.ts
  apps/api/src/modules/external-integrations/shared/ops-alerts.service.ts
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.controller.spec.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.controller.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.html.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.module.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  apps/api/src/modules/ops-dashboard/ops-token.guard.spec.ts
  apps/api/src/modules/ops-dashboard/ops-token.guard.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
Due: api-lint, prettier

fix(ops): spec mock typing for OpsAlertsService — unbound-method lint fix
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
Due: api-lint, prettier

fix(ops): dashboard fetches follow the app's global prefix (/api/v1)
  apps/api/src/modules/ops-dashboard/ops-dashboard.html.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

fix(ops): per-route CSP so the self-contained dashboard's inline script runs
  apps/api/src/modules/ops-dashboard/ops-dashboard.controller.ts
Due: api-lint, prettier

docs(constitution): §18-8b batch ratified (owner-delegated) + ops items closed
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/search/on-demand-request.service.ts
  docker-compose.observability.yml
  observability/README.md
  observability/grafana/provisioning/dashboards/autocomplete-overview.json
  observability/grafana/provisioning/dashboards/dashboard.yml
  observability/grafana/provisioning/dashboards/integrations-overview.json
  observability/grafana/provisioning/dashboards/search-overview.json
  observability/grafana/provisioning/datasources/loki.yml
  observability/grafana/provisioning/datasources/prometheus.yml
  observability/loki/loki-config.yml
  observability/prometheus/prometheus.yml
  observability/promtail/promtail-config.yml
  plans/geo-demand-foundation-rebuild.md
Due: api-lint, prettier

feat(ops): dashboard V2 — vendor position, places, sources; grafana relics deleted
  apps/api/src/modules/external-integrations/shared/ops-alerts.service.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.html.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
Due: api-lint, prettier

feat(suggest): the refit ships — rank fusion replaces every score bridge
  apps/api/src/modules/autocomplete/autocomplete.service.spec.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/dto/autocomplete.dto.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/hooks/useSearchRequests.ts
  apps/mobile/src/overlays/SearchOverlayChromeHost.tsx
  apps/mobile/src/screens/Search/components/SearchOverlayHeaderChrome.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestionSurface.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-autocomplete-error-store.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-autocomplete-error-store.ts
  apps/mobile/src/screens/Search/runtime/shared/search-autocomplete-placeholder-filter.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-autocomplete-placeholder-filter.ts
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-chrome-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-autocomplete-cache-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-autocomplete-request-effect-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-autocomplete-request-execution-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-recent-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-suggestion-data-inputs-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-held-display-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-presentation-plane-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-suggestion-surface-runtime-contract.ts
  apps/mobile/src/screens/Search/utils/suggestion-match-highlight.spec.ts
  apps/mobile/src/screens/Search/utils/suggestion-match-highlight.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

fix(suggest): type labels reverted — differentiation is icon-only (owner call)
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
Due: prettier

docs(polls): vote-integrity ladder — the sybil-protection research verdict
  plans/vote-integrity-ladder.md
Due: prettier

chore(ops): prometheus extermination + single hard fail semantic + §25 breadcrumb
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/modules/autocomplete/autocomplete.service.spec.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/reddit-collector/bull-queue-metrics.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-metrics.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/external-integrations/governance/governance.service.spec.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/llm.module.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/llm-rate-limiter-metrics.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/metrics/metrics.controller.ts
  apps/api/src/modules/metrics/metrics.module.ts
  apps/api/src/modules/metrics/metrics.service.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search-metrics.service.ts
  apps/api/src/modules/search/search-see-locations.spec.ts
  apps/api/src/modules/search/search-signals-write.spec.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/prisma/prisma.module.ts
  apps/api/src/prisma/prisma.service.ts
  plans/rebuild-execution-ledger.md
  yarn.lock
Due: api-lint, deps-check, prettier

feat(rig): one-command local-DB refresh from prod (staged restore, dynamic CHECK capture)
  scripts/rig/refresh-local-db-from-prod.sh
Due: none

fix(suggest): owner corrections — muted-match highlight, banner-standard errors, viewed-dish parity
  apps/api/src/modules/polls/supply/poll-supply.constants.ts
  apps/mobile/src/hooks/useSearchRequests.ts
  apps/mobile/src/screens/Search/components/SearchOverlayHeaderChrome.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-autocomplete-error-store.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-autocomplete-error-store.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-autocomplete-cache-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-autocomplete-request-execution-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-recent-submit-runtime.ts
Due: api-lint, prettier

feat(deploy): prisma migrate deploy at container boot — deploys carry their migrations
  apps/api/Dockerfile
Due: none

fix(deploy): startCommand override also runs migrate deploy (railway.json wins over Dockerfile CMD)
  railway.json
Due: prettier

feat(integrity): vote-integrity launch rungs — device-key capture, HMAC'd vote metadata, sybil report
  apps/api/prisma/migrations/20260725120000_vote_integrity_launch/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/identity/auth.controller.ts
  apps/api/src/modules/identity/auth/clerk-auth.guard.ts
  apps/api/src/modules/identity/auth/optional-clerk-auth.guard.ts
  apps/api/src/modules/identity/identity.module.ts
  apps/api/src/modules/identity/user-devices.service.ts
  apps/api/src/modules/integrity/integrity.module.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.spec.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/signals/audit-hmac.ts
  apps/mobile/src/services/api.ts
  apps/mobile/src/services/device-key.ts
  plans/rebuild-execution-ledger.md
  plans/vote-integrity-ladder.md
  railway.json
Due: api-lint, prettier

chore(rig): refresh-script hardening (timescale TOC filter + non-empty verify) + ledger
  plans/rebuild-execution-ledger.md
  scripts/rig/refresh-local-db-from-prod.sh
Due: prettier

feat(rig): deploy.sh (root-context, watch, single-retry, smoke) + sim-target.sh (env+metro+verified reload)
  scripts/rig/deploy.sh
  scripts/rig/sim-target.sh
Due: none

docs: CLAUDE.md workflow section — deploy.sh, sim-target, auto-migrate laws
  CLAUDE.md
Due: prettier

fix(integrity): red-team fixes — canonical IPv6 hashing, one-hop trustProxy, no raw identifiers in the ledger
  apps/api/src/main.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.spec.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/signals/audit-hmac.spec.ts
  apps/api/src/modules/signals/audit-hmac.ts
  apps/api/src/modules/signals/signals.service.ts
  plans/rebuild-execution-ledger.md
  plans/vote-integrity-ladder.md
Due: api-lint, prettier

chore(rig): deploy.sh uses global railway CLI (mise-shimmed)
  scripts/rig/deploy.sh
Due: none

feat(spend): all-in cost accounting — caller taxonomy, per-class measured rates, manifest approvals, median expectation
  apps/api/scripts/seed-archive.ts
  apps/api/src/modules/external-integrations/llm/llm-caller-taxonomy.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.html.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  plans/rebuild-execution-ledger.md
Due: api-lint, prettier

chore(rig): deploy.sh warns on dirty working tree (railway ships the tree, not HEAD)
  scripts/rig/deploy.sh
Due: none

fix(ops): serialize campaign BigInt columns at the payload edge
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
Due: api-lint, prettier

fix(ops): expectation median trims leading no-data days (absence of measurement ≠ measured zero)
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
Due: api-lint, prettier

fix(ops): cap absurd pre-governance percent display + explain it in the legend
  apps/api/src/modules/ops-dashboard/ops-dashboard.html.ts
Due: api-lint, prettier

chore(red-team): final sweep fixes — dead flat-favorites vertical removed, autocomplete favorites rewired to lists, worker deploy override fixed
  apps/api/prisma/migrations/20260725190000_drop_flat_user_favorites/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/autocomplete/autocomplete.service.spec.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/favorites/dto/create-favorite.dto.ts
  apps/api/src/modules/favorites/favorites-signals-dual-write.spec.ts
  apps/api/src/modules/favorites/favorites.controller.ts
  apps/api/src/modules/favorites/favorites.module.ts
  apps/api/src/modules/favorites/favorites.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/prisma/prisma.service.ts
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/hooks/use-favorites.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Search/runtime/resolver/search-world-fetch.ts
  apps/mobile/src/services/favorites.ts
  apps/mobile/src/services/search.ts
  apps/mobile/src/types/search.ts
  packages/shared/src/types/search.ts
  plans/env-config-audit.md
  railway.worker.json
Due: api-lint, shared-lint, prettier

docs(ledger): final red-team entry
  plans/rebuild-execution-ledger.md
Due: prettier

feat(spend): refresh-spend-rates.ts — on-demand runner for the nightly rate refresh
  apps/api/scripts/refresh-spend-rates.ts
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
