Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

docs(coverage): refresh 35 shas for files rederived this turn (0 stale)
  audit/COVERAGE.md
Due: prettier

fix(overlays): make PageBodyShell band->state total at the type level (F9306/F9307)
  apps/mobile/src/overlays/PageBodyShell.tsx
  apps/mobile/src/overlays/page-body-contract.ts
  apps/mobile/src/overlays/panels/NotificationsPanel.tsx
  apps/mobile/src/perf/ResidentShellPrototype.tsx
  audit/FINDINGS.md
Due: prettier

docs(coverage): refresh shas for the band-key totality edit (0 stale)
  audit/COVERAGE.md
Due: prettier

docs(findings): disposition the last 4 un-triaged rows (F954 escalated, F967/F1800/F6803 owner)
  audit/FINDINGS.md
Due: prettier

docs(designs): D140 — mechanical-drain + F967 coverage close, honest DONE assessment
  audit/DESIGNS.md
Due: prettier

fix(locale) + docs(audit): cross-app locale-parity invariant; record un-hunted-territory P1 hunt
  apps/api/scripts/check-locale-parity.ts
  apps/api/src/shared/invariants/registry.ts
  apps/mobile/src/i18n/formatting.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

docs(designs): D141 — un-hunted hunt + GDPR over-deletion owner escalation (F9313/F9314=F7500/D118)
  audit/DESIGNS.md
Due: prettier

docs(coverage): close coverage on api operator-scripts (23 IDEAL-VERIFIED, 0 findings)
  audit/COVERAGE.md
Due: prettier

docs(audit): close the LAST un-hunted territory — tracksheet subsystem (26 files, 0 remain)
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(api): apply fold-law to concept-satisfies containment; make label default-election atomic
  apps/api/src/modules/content-processing/entity-resolver/concept-satisfies-fold.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/concept-satisfies.service.ts
  apps/api/src/modules/entity-display/label-sweep-default.integration.spec.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(audit): refresh coverage shas; reclassify F9344 to owner/infra-scaling gate
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

docs(crave): map the 5 territories hunted 2026-08-07 (persondata, entity-display/search, locale, tracksheet, scripts)
  CRAVE.md
Due: prettier

docs(designs): D142 — adversarial verify of session IDEAL-VERIFIED claims (12/12 upheld, 0 new)
  audit/DESIGNS.md
Due: prettier

docs(entitlements): correct interceptor comment over-claim (F9410, found by adversarial verify)
  apps/api/src/modules/entitlements/entitlement-enforcement.interceptor.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(coverage): refresh entitlement-interceptor sha (F9410 comment fix) — 0 stale
  audit/COVERAGE.md
Due: prettier

fix(tracksheet): single-source the detent epsilon (F9400); escalate F9401/F9402/F9403
  apps/mobile/src/tracksheet/track-detent-epsilon-agreement.spec.ts
  apps/mobile/src/tracksheet/track-entry-interrupt.ts
  apps/mobile/src/tracksheet/track-motion-plan.ts
  audit/FINDINGS.md
Due: prettier

docs(coverage): track-entry-interrupt IDEAL-VERIFIED (F9400 resolved); 0 stale / 0 OPEN
  audit/COVERAGE.md
Due: prettier

fix(runtime): compiler-enforce single-writer, cancel push registrar, document selector purity
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-writer.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-runtime-bus-selector.ts
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

docs(coverage): refresh shas for the runtime-core fixes (F9421/F9422/F9423) — 0 stale
  audit/COVERAGE.md
Due: prettier

fix(polls): idempotent endorsement toggle under a concurrent double-tap (F9440)
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(profile): narrow ProfileTransitionStatus to its reachable states (F9430)
  apps/mobile/src/navigation/runtime/app-route-profile-transition-state-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-runtime-action-execution.ts
  audit/FINDINGS.md
Due: prettier

docs(coverage): refresh shas for F9440/F9430 fixes — 0 stale
  audit/COVERAGE.md
Due: prettier

fix(reextract): close the falsy-zero bypass of the shadow-activate firewall (F9450)
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(coverage): refresh sha for F9450 fix
  audit/COVERAGE.md
Due: prettier

docs(audit): record adversarial passes #9 (F9470 photo-leak, escalated) + #10 (zero)
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

docs(designs): D145 — two consecutive zero-finding adversarial passes achieved (#10, #11)
  audit/DESIGNS.md
Due: prettier

docs(designs): D146 — owner ruling F9313/F9314: implement per-column erasure (Option B) directly
  audit/DESIGNS.md
Due: prettier

docs(tomtom): correct a false vendor fact — the entityType filter truncates the chain
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
Due: api-lint, prettier

fix(gdpr): per-column erasure scoping — erasing one person never destroys another's rows (F9313/F9314/F7500, D146)
  apps/api/src/modules/identity/person-data/delete-scope-guard.spec.ts
  apps/api/src/modules/identity/person-data/person-data-eraser.service.ts
  apps/api/src/modules/identity/person-data/person-data-erasure-proof.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
  apps/api/src/modules/identity/person-data/retention-horizon.integration.spec.ts
  apps/api/src/modules/identity/person-data/retention-horizon.service.ts
  apps/api/src/modules/identity/person-data/third-party-survival.integration.spec.ts
  audit/FINDINGS.md
Due: api-lint, prettier

feat(gdpr): census inverted to total classification — an unclassified column cannot exist (F9310, owner-ruled B)
  apps/api/src/modules/identity/person-data/person-data-census.spec.ts
  apps/api/src/modules/identity/person-data/person-data-class.ts
  audit/FINDINGS.md
Due: api-lint, prettier

feat(gdpr): a failed account purge rings the bell on day one (F9311, owner-ruled N=1)
  apps/api/src/modules/identity/person-data/deletion-purge.service.spec.ts
  apps/api/src/modules/identity/person-data/deletion-purge.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(tomtom)!: the probe's reverse geocode goes PLAIN — the entityType filter truncated every chain
  apps/api/scripts/west-village-probe.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
Due: api-lint, prettier

fix(polls-feed)!: settles coalesce and a 429 means SLOW DOWN — the 3,387-request storm dies
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/services/retry/feed-refetch-coalescer.spec.ts
  apps/mobile/src/services/retry/feed-refetch-coalescer.ts
Due: prettier

feat(gdpr): the 40 quarantined columns ruled and classified — contributions stay, telemetry anonymous, money 7y, handles hashed
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
  apps/api/src/modules/identity/person-data/person-data-census.spec.ts
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
  apps/api/src/modules/identity/person-data/retention-horizon.integration.spec.ts
  apps/api/src/modules/identity/person-data/retention-horizon.service.ts
  apps/api/src/modules/identity/reserved-username-hash.spec.ts
  apps/api/src/modules/identity/reserved-username-hash.ts
  apps/api/src/modules/identity/username.service.ts
  apps/api/src/modules/signals/signals.service.ts
  audit/FINDINGS.md
  product/profile.md
Due: api-lint, prettier

feat(header)!: the center-anchored header law — what you parked the centre on names the screen
  apps/api/scripts/header-verdict-probe.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/viewport-verdict.service.ts
  apps/api/src/modules/polls/poll-feed-membership.spec.ts
  apps/api/src/modules/polls/poll-feed-membership.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  packages/shared/src/geo/subjects.ts
  packages/shared/src/index.ts
Due: api-lint, shared-lint, prettier

feat(logging): PII vocabulary in the redactor — scrub the values, keep the id handle (F9315)
  apps/api/src/shared/logging/redaction.spec.ts
  apps/api/src/shared/logging/redaction.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs: D147 — account-lifecycle rulings (pause ruled out, rail-aware manage-sub approved, Sentry triage job live)
  audit/DESIGNS.md
  product/profile.md
Due: prettier

feat(billing): rail-aware Manage subscription — the right cancel door for every subscriber (D147)
  apps/api/src/modules/identity/billing-rail.spec.ts
  apps/api/src/modules/identity/billing-rail.ts
  apps/api/src/modules/identity/dto/user-profile.dto.ts
  apps/api/src/modules/identity/user-profile-billing-rail.spec.ts
  apps/api/src/modules/identity/user.service.ts
  apps/mobile/App.tsx
  apps/mobile/src/constants/legalLinks.ts
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
  apps/mobile/src/overlays/panels/runtime/manage-subscription-dispatch.spec.ts
  apps/mobile/src/overlays/panels/runtime/manage-subscription-dispatch.ts
  apps/mobile/src/overlays/panels/runtime/use-manage-subscription-action.ts
  apps/mobile/src/screens/PaywallPresentationHost.tsx
  apps/mobile/src/services/billing.ts
  apps/mobile/src/services/purchases.ts
  apps/mobile/src/services/users.ts
  apps/mobile/src/store/paywallPresentationStore.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(claude): how the owner likes to communicate — outcome-framed, example-first, honest recommendations
  CLAUDE.md
Due: prettier

docs(claude): communication section restated as two principles (digestibility, UX-impact lens)
  CLAUDE.md
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
