Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, mobile-lint, shared-lint, prettier

api-lint:
  run: cd apps/api && yarn lint

mobile-lint:
  run: cd apps/mobile && yarn lint

shared-lint:
  run: cd packages/shared && yarn lint

prettier:
  run: yarn prettier --write {staged_files}

style: reformat code and documentation for consistent styling
  apps/api/prisma/seed-polls.ts
  apps/api/prisma/verify-polls.ts
  apps/api/src/modules/search/README.md
  apps/mobile/src/screens/Search/index.tsx
  plan.md
Due: api-lint, mobile-lint, prettier

refactor: integrate useHeaderCloseCutout into overlays for improved close button handling and layout management
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/overlays/useHeaderCloseCutout.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

style: improve code formatting in BookmarksOverlay and PollsOverlay for better readability
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/useHeaderCloseCutout.tsx
Due: mobile-lint, prettier

refactor: update BookmarksOverlay and PollsOverlay to use handleHidden for improved overlay management and user experience
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/empty-state.tsx
  apps/mobile/src/screens/Search/components/metric-icons.tsx
  apps/mobile/src/screens/Search/components/price-range-slider.tsx
  apps/mobile/src/screens/Search/components/render-meta-detail-line.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/hooks/use-search-history.ts
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/screens/Search/utils/format.ts
  apps/mobile/src/screens/Search/utils/geo.ts
  apps/mobile/src/screens/Search/utils/map.ts
  apps/mobile/src/screens/Search/utils/merge.ts
  apps/mobile/src/screens/Search/utils/price.ts
  apps/mobile/src/screens/Search/utils/quality.ts
  apps/mobile/src/screens/Search/utils/response.ts
  apps/mobile/src/screens/Search/utils/top-food.ts
Due: mobile-lint, prettier

style: improve code formatting and readability across Search components, including consistent indentation and line breaks
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/empty-state.tsx
  apps/mobile/src/screens/Search/components/metric-icons.tsx
  apps/mobile/src/screens/Search/components/price-range-slider.tsx
  apps/mobile/src/screens/Search/components/render-meta-detail-line.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/screens/Search/utils/format.ts
  apps/mobile/src/screens/Search/utils/map.ts
  apps/mobile/src/screens/Search/utils/merge.ts
  apps/mobile/src/screens/Search/utils/price.ts
  apps/mobile/src/screens/Search/utils/quality.ts
  apps/mobile/src/screens/Search/utils/response.ts
  apps/mobile/src/screens/Search/utils/top-food.ts
Due: mobile-lint, prettier

refactor: enhance SearchScreen functionality by integrating new hooks for search submission, improving empty state handling, and optimizing layout calculations for better user experience
  apps/mobile/src/components/SquircleSpinner.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/empty-state.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

style: refine code formatting and readability in Search components, including consistent indentation and line breaks for improved maintainability
  apps/mobile/src/components/SquircleSpinner.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

style: enhance code formatting and readability in keyword-search-orchestrator.service.ts and llm.service.ts by ensuring consistent indentation and line breaks
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
Due: api-lint, prettier

refactor: enhance Search functionality by updating recent section rendering logic in SearchScreen and SearchSuggestions components for improved clarity and maintainability
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: simplify shouldRenderSuggestionPanel logic in SearchScreen for improved clarity and maintainability
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

feat: integrate network status handling in Search and overlay components to improve user experience during connectivity issues
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/src/components/SystemStatusBanner.tsx
  apps/mobile/src/constants/searchHistory.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/providers/NetworkStatusListener.tsx
  apps/mobile/src/providers/SearchHistoryPreload.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/hooks/use-search-history.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/services/api.ts
  apps/mobile/src/store/searchHistoryStore.ts
  apps/mobile/src/store/systemStatusStore.ts
  yarn.lock
Due: mobile-lint, prettier

style: improve code formatting and readability across multiple components by ensuring consistent indentation and line breaks
  .gitignore
  .nvmrc
  apps/api/prisma/seed.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/collection-job-scheduler.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/test-pipeline.ts
  apps/mobile/App.tsx
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/EmailAuthModal.tsx
  apps/mobile/src/components/SystemStatusBanner.tsx
  apps/mobile/src/components/ui/Button.tsx
  apps/mobile/src/components/ui/Text.tsx
  apps/mobile/src/constants/typography.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/empty-state.tsx
  apps/mobile/src/screens/Search/components/render-meta-detail-line.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/hooks/use-search-history.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/screens/SignIn.tsx
  apps/mobile/src/store/systemStatusStore.ts
  package-lock.json
  package.json
Due: api-lint, mobile-lint, prettier

style: improve code formatting and readability in various components by ensuring consistent indentation and line breaks
  apps/api/prisma/seed.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/render-meta-detail-line.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
Due: api-lint, mobile-lint, prettier

formatting
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

feat: enhance LLM configuration and timeout management by adding new environment variables and integrating undici for improved HTTP request handling
  apps/api/.env.example
  apps/api/package.json
  apps/api/prisma/migrations/20251219000537_fix_validate_entity_references/migration.sql
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/prisma/prisma.service.ts
  yarn.lock
Due: api-lint, prettier

style: improve code formatting and readability in llm.service.ts by ensuring consistent indentation and line breaks
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

feat: add LLM query timeout and logging configuration options to enhance LLM service functionality
  apps/api/.env.example
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
Due: api-lint, prettier

feat: add dry run and thought debugging options to LLM and processing services for enhanced testing and logging capabilities
  apps/api/.env.example
  apps/api/prisma/migrations/20251219160000_connection_entity_names_view/migration.sql
  apps/api/src/config/configuration.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/test-pipeline.ts
  apps/mobile/App.tsx
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/components/SystemStatusBanner.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/render-meta-detail-line.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/utils/format.ts
  packages/shared/src/types/search.ts
  scripts/ios-refresh.sh
Due: api-lint, mobile-lint, shared-lint, prettier

style: improve code formatting and readability in unified-processing.service.ts, llm.service.ts, and search.service.ts by ensuring consistent indentation and line breaks
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

refactor: enhance llm.service.ts and ios-refresh.sh for improved readability and functionality by standardizing error handling, optimizing port configuration, and adding Metro log monitoring
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  scripts/ios-refresh.sh
Due: api-lint, prettier

feat: add locationKey support to various models and services for enhanced location-aware functionality in on-demand requests and entity resolution
  apps/api/prisma/migrations/20251220120000_location_key_entity_on_demand/migration.sql
  apps/api/prisma/migrations/20251220224918_add_subreddit_viewport/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/scripts/calculate-volumes.ts
  apps/api/scripts/onboard-subreddit.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/dto/autocomplete.dto.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-batch-processing.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/on-demand-processing.service.ts
  apps/api/src/modules/search/on-demand-request.service.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-subreddit-resolver.service.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/tsconfig.json
  apps/mobile/src/hooks/useSearchRequests.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/services/autocomplete.ts
  packages/shared/src/types/search.ts
  plans/autocomplete.md
  plans/multi-location-enrichment.md
  plans/on-demand-collection.md
Due: api-lint, mobile-lint, shared-lint, prettier

style: improve code formatting and readability in multiple services by standardizing indentation and line breaks
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

style: enhance code readability in keyword-search-orchestrator.service.ts and unified-processing.service.ts by standardizing indentation and line breaks
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

feat: Implement multi-location restaurant enrichment, search by location bounds and center, and update autocomplete and LLM integrations.
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

style: Apply minor formatting and documentation adjustments across various files.
  apps/api/scripts/onboard-subreddit.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/utils/quality.ts
  plans/display-rank-scores.md
Due: api-lint, mobile-lint, prettier

style: Adjust parentheses for improved readability in ternary operators and method arguments.
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

style: Refactor ternary operator formatting for improved readability across multiple services and components.
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollCreationSheet.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/screens/Search/index.tsx
  plans/search-performance-plan.md
Due: api-lint, mobile-lint, prettier

style: Standardize indentation and formatting for ternary operators across multiple services to enhance code readability.
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

feat: Enhance mobile app configuration and improve environment variable management, including updates to Redis integration, restaurant enrichment concurrency, and icon paths.
  apps/api/.env.example
  apps/api/scripts/onboard-subreddit.ts
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  apps/api/src/config/database-config.interface.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/rank-score/rank-score-refresh.service.ts
  apps/api/src/modules/content-processing/rank-score/rank-score-refresh.types.ts
  apps/api/src/modules/content-processing/rank-score/rank-score-refresh.worker.ts
  apps/api/src/modules/content-processing/rank-score/rank-score.module.ts
  apps/api/src/modules/content-processing/rank-score/rank-score.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/coverage-key/coverage-registry.service.ts
  apps/api/src/modules/external-integrations/llm/llm.module.ts
  apps/api/src/modules/polls/poll-score-refresh.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/mobile/AppEntry.js
  apps/mobile/app.json
  apps/mobile/babel.config.js
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/cravesearch.xcodeproj/project.pbxproj
  apps/mobile/ios/cravesearch/AppDelegate.h
  apps/mobile/ios/cravesearch/AppDelegate.mm
  apps/mobile/ios/cravesearch/AppDelegate.swift
  apps/mobile/ios/cravesearch/Info.plist
  apps/mobile/ios/cravesearch/PrivacyInfo.xcprivacy
  apps/mobile/ios/cravesearch/cravesearch.entitlements
  apps/mobile/ios/cravesearch/main.m
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/hooks/useClerkOAuth.ts
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/providers/NetworkStatusListener.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/SignIn.tsx
  apps/mobile/src/services/coverage.ts
  package.json
  yarn.lock
Due: api-lint, mobile-lint, prettier

style: Standardize formatting of ternary operators in Reddit batch and unified processing services for improved code readability.
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

style: Standardize formatting of ternary operators and update package dependencies in mobile app configuration for improved readability and consistency.
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/mobile/package.json
  yarn.lock
Due: api-lint, prettier

feat: Add createdByUserId field to PollTopic and Poll models, enhance poll creation with user tracking, and improve search functionality with updated sorting and layout adjustments.
  Untitled
  apps/api/prisma/migrations/20251224233000_poll_user_activity/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed-polls.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/identity/identity.module.ts
  apps/api/src/modules/identity/user-event.service.ts
  apps/api/src/modules/polls/dto/list-user-polls.dto.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/README.md
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/constants/typography.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/PollCreationSheet.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/hooks/use-search-chrome-transition.ts
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  plans/profile-screen.md
Due: api-lint, mobile-lint, prettier

style: Refactor code formatting for improved readability across multiple files, including consistent indentation and line breaks in function parameters and SQL queries.
  apps/api/prisma/seed-polls.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/hooks/use-search-chrome-transition.ts
  apps/mobile/src/screens/Search/index.tsx
  plans/profile-screen.md
Due: api-lint, mobile-lint, prettier

feat: Update theme colors for improved visual consistency, enhance PollsOverlay with new badge layout and functionality, and implement user location caching in Search screen for better performance.
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/useHeaderCloseCutout.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

style: Refactor PollsOverlay and useHeaderCloseCutout for improved readability, including consistent padding usage and ternary operator formatting.
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/useHeaderCloseCutout.tsx
Due: mobile-lint, prettier

feat: Update typography styles, enhance BottomSheetWithFlashList with animated components, and refactor PollsOverlay for improved layout and functionality.
  apps/mobile/images/image.png
  apps/mobile/src/constants/typography.ts
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/sheetUtils.ts
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: Simplify BottomSheetWithFlashList by removing unused animations and adjust SearchHeader styles for better layout and consistency.
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
Due: mobile-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  mobile-lint: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
