Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

feat(s4-knowledge): cuisine facet on dish knowledge + venue-facts extraction wired end to end
  apps/api/prisma/migrations/20260826120000_knowledge_cuisines/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/fixtures/cuisine-gold-cases.json
  apps/api/scripts/fixtures/cuisine-gold.s4.result.json
  apps/api/scripts/fixtures/cuisine-gold.s4.run2.result.json
  apps/api/scripts/fixtures/cuisine-gold.s4.run3.result.json
  apps/api/scripts/fixtures/dish-knowledge-gold-cases.json
  apps/api/scripts/fixtures/dish-knowledge-gold.s4.run1.result.json
  apps/api/scripts/fixtures/dish-knowledge-gold.s4.run2.result.json
  apps/api/scripts/fixtures/dish-knowledge-gold.s4.run3.result.json
  apps/api/scripts/prompt-gold.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-rule.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-rule.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/cuisine-prompt.md
  apps/api/src/modules/external-integrations/llm/prompts/dish-knowledge-prompt.md
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction-no-evidence.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.module.ts
Due: api-lint, prettier

fix(s4-knowledge): bbq ruled a tradition (repertoire assertion passes the TRADITION TEST), venue-type-only summaries teach empty-is-correct; two gold cases re-derived — cuisine lane 15/15 x3x3
  apps/api/scripts/fixtures/cuisine-gold-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/cuisine-prompt.md
Due: prettier

feat(s4-search-geo): cuisine dual-projection (F5 concept shape + facet placement) + market membership at grounding
  apps/api/eslint.config.mjs
  apps/api/prisma/migrations/20260826150000_market_membership/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-count-loud.spec.ts
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-taxonomy.spec.ts
  apps/api/src/modules/restaurant-enrichment/market-membership.integration.spec.ts
  apps/api/src/modules/restaurant-enrichment/market-membership.service.ts
  apps/api/src/modules/restaurant-enrichment/nightly-convergence.service.ts
  apps/api/src/modules/restaurant-enrichment/place-grounding-hearing.integration.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion.spec.ts
  apps/api/src/modules/restaurant-enrichment/terminal-failure-guard.spec.ts
  apps/api/src/modules/search/browse-mode.spec.ts
  apps/api/src/modules/search/cross-type-placement-rank.spec.ts
  apps/api/src/modules/search/cuisine-dual-projection.integration.spec.ts
  apps/api/src/modules/search/cuisine-dual-projection.spec.ts
  apps/api/src/modules/search/cuisine-facet.registry.ts
  apps/api/src/modules/search/dense-tie-plurality.spec.ts
  apps/api/src/modules/search/list-restaurant-dishes-tiebreak.integration.spec.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-see-locations.spec.ts
  apps/api/src/modules/search/search-signals-write.spec.ts
  apps/api/src/modules/search/search-untyped-recall.spec.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/territory-scoping-fail-open-log.spec.ts
Due: api-lint, prettier

docs(roadmap): v16 superseded by certified v17 — phase-1 state updated
  plans/v16-and-beyond-roadmap.md
Due: prettier

feat(v17-final): fact-ask availability boundary (criterion decides, clause-scoped mute) + N10 pin + preflight trace audit; certified 113-114/115 x3 series with N6/N7 documented as the boundary band
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/scripts/fixtures/v17-preflight-outputs.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/v17-preflight-trace-20260826.md
Due: prettier

feat(bench): pre-spend abandon verb — a superseded candidate frees the active slot through the state machine, never a DB poke; post-approval exits stay outcome-only
  apps/api/scripts/bench.ts
  apps/api/src/modules/content-processing/iteration-bench/iteration-bench.service.ts
Due: api-lint, prettier

fix(bench): drive() pumps the batch poller itself — law 3 made literal (v16's 25h stall and v17's first-drive stall were both 'observed a queue nobody was polling')
  apps/api/src/modules/content-processing/iteration-bench/iteration-bench.integration.spec.ts
  apps/api/src/modules/content-processing/iteration-bench/iteration-bench.service.ts
Due: api-lint, prettier

fix(bench): dish-knowledge rule spec pin follows the v3 ledger entry (hybrid-tradition law)
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-rule.spec.ts
Due: api-lint, prettier

fix(v17): witness repair + banked-refusal recovery
  apps/api/scripts/replay-banked-refusals.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.witness-repair.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
  scripts/rig/reextract.sh
Due: api-lint, prettier

fix(v17): quote-mirror green — the schema's emitted-form example drops the article ('elvis presley combo'), Gate 1 shows source-span vs emitted form; clears INVARIANTS-RED
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
Due: api-lint, prettier

fix(v17-loop2): ingredient observed-span contract, docs-per-chunk attention cap, one-shadow-extraction-per-run guard
  apps/api/scripts/reload/shadow-diff.sql
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.witness-repair.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.ts
  apps/api/src/modules/content-processing/reddit-collector/replay-duplicate-guard.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
  apps/api/src/modules/external-integrations/llm/llm-chunking-token-budget.spec.ts
  apps/api/src/modules/external-integrations/llm/llm-chunking.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(v17-loop3): ingredient checker verifies against the dish name + resolution chain (C.5-honest scope, diacritic+number fold both ways); shadow-diff re-pairs resolve-shift rows out of LOST SUPPORT
  apps/api/scripts/reload/shadow-diff.sql
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.witness-repair.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.ts
Due: api-lint, prettier

fix(v17-mechanical): resolve-shift fuzzy folding, failed-replay residue sweep, ingredient morpheme+hyphen folds, cuisine-name measurement
  apps/api/scripts/reload/shadow-diff.sql
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.ts
  apps/api/src/modules/content-processing/reddit-collector/replay-duplicate-guard.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
  plans/cuisine-name-signal-measurement.md
Due: api-lint, prettier

fix(activation): three real defects caught during the v16 activation run
  apps/api/scripts/activate-shadow.ts
  apps/api/scripts/rebuild-affected-projections.ts
  apps/api/scripts/reload/wipe-city-derived.sql
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
Due: api-lint, prettier

feat(v17-issues-1-3): vouch test, value testimony, landing law — owner-ruled rederivations
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

feat(v17-gate1): the OFFERING TEST — named offerings are dishes (owner-ruled rederivation)
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/scripts/wild-ab-named-offering.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  plans/ask-taxonomy-study.md
  plans/extraction-ideal-spec.md
  plans/named-offering-fragmentation-study.md
Due: api-lint, prettier

docs(architecture): the from-scratch test — systems map, judge ledger audit, category/knowledge-split study, ideal-architecture derivation
  docs/llm-systems-map.md
  plans/attribute-merge-system.md
  plans/category-and-knowledge-split-study.md
  plans/ideal-architecture.md
  plans/judge-ledger-audit.md
Due: prettier

docs(map): correct two false dormancy flags (taste-profile builder, estimator registry) per dormant-systems audit
  docs/llm-systems-map.md
Due: prettier

docs(search): the complete end-to-end search data flow, read line-by-line by the coordinator
  docs/search-flow.md
Due: prettier

feat(wave2-2026-08-30): identity-only merges, the reason tripwire, the Restaurant Facts judge — run-and-judge corrections
  apps/api/scripts/backfill-venue-cuisine-evidence.ts
  apps/api/scripts/fixtures/cuisine-gold-cases.json
  apps/api/scripts/fixtures/cuisine-prompt.v2.md
  apps/api/scripts/fixtures/entity-match-gold-cases.json
  apps/api/scripts/merge-vs-widen-study.ts
  apps/api/scripts/prompt-gold.ts
  apps/api/scripts/unmerge-entity-dedupe-2026-08-30.ts
  apps/api/scripts/widening-docket.ts
  apps/api/src/modules/attribute-ontology/attribute-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-dedupe-rule.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-number-lane.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/merge-reason-tripwire-chokepoint.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/widening-satisfies-rule.ts
  apps/api/src/modules/content-processing/reddit-collector/place-attribute-projection.ts
  apps/api/src/modules/content-processing/verdict-replay/verdict-replay-adapters.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/cuisine-prompt.md
  apps/api/src/modules/external-integrations/llm/prompts/entity-match-prompt.md
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
  apps/api/src/modules/restaurant-enrichment/nightly-convergence.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction-no-evidence.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/modules/restaurant-enrichment/venue-cuisine-evidence.service.ts
  apps/api/src/modules/restaurant-enrichment/venue-cuisine-evidence.spec.ts
  apps/api/src/modules/restaurant-enrichment/venue-cuisine-lanes.integration.spec.ts
  apps/api/src/shared/merge-reason-tripwire.spec.ts
  apps/api/src/shared/merge-reason-tripwire.ts
  plans/cuisine-judge-rebuild-report.md
  plans/merge-batch-audit.md
  plans/merge-vs-widen-final-verdicts.json
  plans/merge-vs-widen-study.md
  plans/merge-vs-widen-tiebreak-verdicts.json
  plans/widening-system-report.md
Due: api-lint, prettier

feat(wave3-2026-08-30): grounding chooser v2, the Unknown-Search Intake, batch size settled — reload-ready
  apps/api/scripts/bundle-size-experiment.ts
  apps/api/scripts/check-subject-text-emission.ts
  apps/api/scripts/fixtures/chooser-gold-cases.json
  apps/api/scripts/fixtures/unknown-intake-sim-inputs.json
  apps/api/scripts/merge-duplicate-restaurants.ts
  apps/api/scripts/reground-ghosts.ts
  apps/api/scripts/simulate-unknown-intake.ts
  apps/api/scripts/unmerge-entity-dedupe-2026-08-30.ts
  apps/api/scripts/void-broken-sweep-strikes.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/restaurant-place-chooser.prompt.ts
  apps/api/src/modules/restaurant-enrichment/business-identity-rules.spec.ts
  apps/api/src/modules/restaurant-enrichment/business-identity-rules.ts
  apps/api/src/modules/restaurant-enrichment/grounding-sweep-tripwire.spec.ts
  apps/api/src/modules/restaurant-enrichment/grounding-sweep-tripwire.ts
  apps/api/src/modules/restaurant-enrichment/place-grounding-rule.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/venue-cuisine-rule.ts
  apps/api/src/modules/search/demand-vocabulary.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/unknown-search-intake.service.ts
  apps/api/src/modules/search/unknown-search-intake.spec.ts
  apps/api/src/modules/search/unsegmented-residue-ingredient.spec.ts
  apps/api/src/modules/search/unsegmented-residue.service.ts
  docs/llm-systems-map.md
  plans/bundle-size-experiment.md
  plans/campaign-redteam-v3.md
  plans/grounding-fix-report.md
  plans/launch-flip-list.md
  plans/poll-gazetteer-all-types-study.md
  plans/unknown-search-intake.md
Due: api-lint, prettier

feat(wave4-2026-08-30): why-this-matched chips, prompt debts closed, fold v2, A-1 gate, poll trio — the launch-load runway
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/content-processing/entity-resolver/fold-version-pin.spec.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  apps/api/src/modules/polls/poll-leaderboard-redirect.spec.ts
  apps/api/src/modules/polls/poll-rank-determinism.spec.ts
  apps/api/src/modules/polls/polls-creation-moderation-order.spec.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/restaurant-enrichment/servable-place-scope.ts
  apps/api/src/modules/restaurant-enrichment/servable-place-visibility.integration.spec.ts
  apps/api/src/modules/search/concept-membership.compiler.ts
  apps/api/src/modules/search/match-explain.spec.ts
  apps/api/src/modules/search/match-explain.ts
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/components/cards/ResultCard/DishResultCard.tsx
  apps/mobile/src/components/cards/ResultCard/RestaurantResultCard.tsx
  apps/mobile/src/screens/Search/match-explain-strings.spec.ts
  apps/mobile/src/screens/Search/match-explain-strings.ts
  apps/mobile/src/screens/Search/runtime/shared/on-demand-notice-copy.ts
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/types/search.ts
  audit/COVERAGE.md
  packages/shared/src/index.ts
  packages/shared/src/types/search.ts
  plans/amendments-a1-polls-report.md
  plans/austin-launch-load.md
  plans/birth-and-linking-redteam.md
  plans/final-prompt-items-report.md
  plans/grounding-fix-report.md
  plans/launch-flip-list.md
  plans/normalization-coherence-audit.md
  plans/why-this-matched-report.md
Due: api-lint, shared-lint, prettier

feat(wave5-2026-08-30): the pre-load gate — v17 registered, worker-lane alarm, orthographic surfaces, A-1 composed everywhere
  apps/api/prisma/migrations/20260830120000_entity_surface_orthographic_source/migration.sql
  apps/api/scripts/fixtures/gate-audit-extract.ts
  apps/api/scripts/fixtures/gate-cert-driver.sh
  apps/api/scripts/fixtures/vocabulary-gold-cases.json
  apps/api/scripts/fixtures/vocabulary-v7-prompt.ts
  apps/api/scripts/prompt-gold.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-surface.service.ts
  apps/api/src/modules/content-processing/entity-resolver/orthographic-variants.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/orthographic-variants.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/entity-display/entity-display.module.ts
  apps/api/src/modules/entity-display/knowledge-maintenance-lock.integration.spec.ts
  apps/api/src/modules/entity-display/knowledge-maintenance-rail.spec.ts
  apps/api/src/modules/entity-display/knowledge-maintenance.service.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-display/orthographic-variant-sweep.service.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
  apps/api/src/modules/entity-display/vocabulary-rule-release.spec.ts
  apps/api/src/modules/home/curated-list-builder.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/servable-place-scope.ts
  apps/api/src/modules/restaurant-enrichment/worker-lane-decline-alarm.spec.ts
  apps/api/src/modules/restaurant-enrichment/worker-lane-decline-alarm.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/unknown-search-intake.service.ts
  apps/api/src/modules/search/unknown-search-intake.spec.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/teaser/teaser.service.ts
  docs/llm-systems-map.md
  plans/austin-launch-load.md
  plans/orthographic-surfaces-report.md
  plans/preload-gate-report.md
  plans/waves34-redteam.md
Due: api-lint, prettier

feat(v18-final): the accuracy polish — dead dishes are temporal, criteria over courtesy superlatives, verdicts bind their subjects
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/final-accuracy-rederivation.md
Due: prettier

chore: ignore artifacts/ (cert-run output archive swept from fixtures per runbook phase 0)
  .gitignore
Due: none

fix(reextract): estimate guard defers to the replay-prior — an idle trailing window no longer blocks a quote the last completed replay already prices
  apps/api/scripts/reextract-estimate.ts
Due: api-lint, prettier

fix(gc): independent attribute evidence counts as support — activation GC no longer cascade-deletes paid places_api/cuisine_llm evidence for sub-threshold attributes
  apps/api/scripts/reload/gc-unsupported-entities.sql
  audit/COVERAGE.md
Due: prettier

docs(flip-list): hard ordering for the category edge builder + pre-arming checks from the LLM-decision audit
  plans/launch-flip-list.md
Due: prettier

docs(plans): the Judge Contract — one declared primitive for every LLM decision (red team + from-scratch derivation)
  plans/llm-lane-primitive.md
Due: prettier

fix(batch-rail): the poller is not discretionary — it self-runs on the worker runtime instead of hiding behind CRONS_ENABLED, plus a stall alarm
  apps/api/src/modules/external-integrations/llm/gemini-batch-poller-aliveness.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  plans/austin-launch-load.md
  plans/launch-flip-list.md
Due: api-lint, prettier

fix(llm): U+0000 never reaches the database — strip at the one parse chokepoint, in both forms
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/nul-byte-storability.spec.ts
  plans/austin-launch-load.md
Due: api-lint, prettier

fix(reextract): terminal is not the same as DONE — a campaign stays open while a failed job's retry is owed
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
Due: api-lint, prettier

fix(reextract): completion asks whether work is still OWED, not whether a row says failed
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
Due: api-lint, prettier

fix(crons): work already dispatched is collected regardless of the cron switch — five more jobs in the poller's class
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/source-declares-its-language.spec.ts
  apps/api/src/modules/entity-text-search/entity-embedding-reconciler.service.ts
  apps/api/src/modules/identity/person-data/deletion-purge.service.ts
  apps/api/src/modules/identity/person-data/retention-horizon.integration.spec.ts
  apps/api/src/modules/identity/person-data/retention-horizon.service.ts
  apps/api/src/modules/identity/person-data/third-party-survival.integration.spec.ts
  apps/api/src/modules/notifications/notification-dispatcher.service.ts
  apps/api/src/modules/photos/photo-reconciliation.service.ts
  apps/api/src/shared/completion-work-aliveness.spec.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(category-edges): the activation path refuses a COLLAPSE, not merely a zero
  apps/api/src/modules/content-processing/reddit-collector/food-category-edge-sql.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
Due: api-lint, prettier

fix(extraction): a name the source spells across separators is CITED, not hallucinated — the atom-run rule
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.ts
Due: api-lint, prettier

feat(v19): named-offering composition + the audit's seven fix classes — certified x3
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

feat(v19-final): posture decides deals, geography is not a gate, the prompt is location-agnostic
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

feat(v20): the carrier is a decision test, not example gravity
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
