Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

feat(ingredients): pipeline wiring — mention.ingredients -> entities -> connections
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

feat(collection): Stage-0 archive pre-filter + multi-subreddit + dark onboarding
  apps/api/prisma/market-provisioning.ts
  apps/api/scripts/onboard-market.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-ingestion.service.ts
Due: api-lint, prettier

feat(ingredients): dish knowledge synthesis — canonical ingredients + aliases per dish
  apps/api/prisma/migrations/20260707020000_knowledge_synthesized_at/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/dish-knowledge-synthesis.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/modules/external-integrations/llm/prompts/relevance-gate-prompt.md
Due: api-lint, prettier

feat(collection): relevance-gate prompt, grounded + calibrated (step 2)
  apps/api/scripts/relevance-gate/calibration-labels.json
  apps/api/scripts/relevance-gate/calibration-sample.jsonl
  apps/api/scripts/relevance-gate/replay.ts
  apps/api/src/modules/external-integrations/llm/prompts/relevance-gate-prompt.md
Due: api-lint, prettier

feat(search): S4c-1c-1 — world-ready latch in the pure gate; ordering refs + recovery lane deleted
  apps/mobile/src/screens/Search/runtime/shared/search-surface-results-transaction.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-surface-results-transaction.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-surface-transaction-runtime.ts
Due: prettier

feat(search): S4c-1c-2 — operation token threads explicitly; activeOperationId bus key DELETED
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-presentation-seam.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-resolver.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-runtime-owner-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-surface-transaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-request-execution-authority-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-presentation-intent-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-results-presentation-ports.ts
Due: prettier

docs(search): ledger — S4c-1c-1/2 shipped
  plans/search-desired-state-architecture.md
Due: prettier

feat(search): S4c-1c-3 — the episode token cardsKey#gN is the enter transaction id (worldId end-to-end)
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-presentation-seam.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-presentation-intent-ports.ts
Due: prettier

docs(search): ledger — S4c-1c-3 shipped
  plans/search-desired-state-architecture.md
Due: prettier

docs(search): ledger — S4c complete (JS side); conscious keeps recorded
  plans/search-desired-state-architecture.md
Due: prettier

feat(collection): universal relevance gate wired into processPosts (step 3)
  apps/api/prisma/migrations/20260707200000_relevance_verdicts/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
Due: api-lint, prettier

feat(ingredients): search lane — natural query to two-tier ingredient filter
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/modules/external-integrations/llm/prompts/query-prompt.md
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/dto/shortcut-coverage.dto.ts
  apps/api/src/modules/search/search-constraints.compiler.ts
  apps/api/src/modules/search/search-constraints.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

fix(search-map): task #16 root-caused + fixed — dismiss→resubmit pin/label no-show
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

docs(search): ledger — S4d-0 shipped, task #16 fixed
  plans/search-desired-state-architecture.md
Due: prettier

fix(red-team+cleanup): ingredient hardening + dead-code deletion
  apps/api/prisma/migrations/20260707030000_ingredient_name_unique/migration.sql
  apps/api/src/modules/content-processing/entity-resolver/alias-management.service.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/entity-text-search/entity-embedding-reconciler.service.ts
  apps/api/src/modules/external-integrations/external-integrations.module.ts
  apps/api/src/modules/external-integrations/google-geocoding/google-geocoding.module.ts
  apps/api/src/modules/external-integrations/google-geocoding/google-geocoding.service.ts
  apps/api/src/modules/external-integrations/index.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/reddit/README.md
  apps/api/src/modules/external-integrations/reddit/REDDIT_API_INTEGRATION.md
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/repositories/utils/entity-type-guards.ts
Due: api-lint, prettier

feat(collection): relevance-gate measurement run (step 4) — pipeline complete
  apps/api/scripts/relevance-gate/measure.ts
  apps/api/scripts/relevance-gate/measurement-report.json
  plans/archive-prefilter-pipeline.md
Due: api-lint, prettier

feat(search-map): S4d-1 — basemap collision flips at fade START, both directions (owner directive)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

feat(search-map): S4d-2 — fade_out_acked at the ramp floor (ack-everything seed)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

docs(search): ledger — S4d-1/2 shipped
  plans/search-desired-state-architecture.md
Due: prettier

docs(plans): stale-status banner on open-threads (95% executed, truth lives in pre-launch/runbook)
  plans/search-collection-open-threads.md
Due: prettier

feat(search-map): S4d-3a — the dismiss-settle wall-clock timer dies; settle rides the fade-out floor
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(search): ledger — S4d-3a shipped
  plans/search-desired-state-architecture.md
Due: prettier

fix(collection): relevance gate — no body truncation, plan-vs-ask law, prompt-hash verdicts
  apps/api/prisma/migrations/20260707230000_relevance_prompt_hash/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/relevance-gate/calibration-labels.json
  apps/api/scripts/relevance-gate/calibration-sample.jsonl
  apps/api/scripts/relevance-gate/measurement-report.json
  apps/api/scripts/relevance-gate/replay.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/relevance-gate-prompt.md
Due: api-lint, prettier

feat(collection): relevance gate ON by default for all collection types
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  plans/archive-prefilter-pipeline.md
Due: api-lint, prettier

feat(llm): audit-reason policy — reasons ON in dev, OFF in prod
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
  apps/api/src/modules/external-integrations/llm/llm-audit-policy.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/relevance-gate-prompt.md
  product/pre-launch.md
Due: api-lint, prettier

refactor(llm): prompts no longer restate output shapes — schema is the authority
  apps/api/src/modules/external-integrations/llm/prompts/attribute-placement-prompt.md
  apps/api/src/modules/external-integrations/llm/prompts/entity-match-prompt.md
  apps/api/src/modules/external-integrations/llm/prompts/poll-subject-prompt.md
Due: prettier

fix(search): results list disables FlashList MVCP — untoggle no longer reveals pre-scrolled
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-list-transport-runtime.tsx
Due: prettier

fix(search-map): basemap labels return after dismiss — VA collision participation rides the ramps
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

refactor(collection): relevance gate joins the schema-authority pattern
  apps/api/scripts/relevance-gate/replay.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
Due: api-lint, prettier

refactor(llm): audit-reason policy scoped to EPHEMERAL reasons only
  apps/api/scripts/relevance-gate/replay.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
  apps/api/src/modules/external-integrations/llm/llm-audit-policy.ts
  product/pre-launch.md
Due: api-lint, prettier

fix(search): initial-load skeleton is TRUE CUTOUTS again (owner directive, partial)
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-content-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: prettier

feat(llm): decision ledger (moderation + judges) — and it caught a real judge bug
  apps/api/prisma/migrations/20260708010000_llm_decision_records/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/decision-ledger.service.ts
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
Due: api-lint, prettier

feat(search): ONE loading surface — every loading state is a TRUE cutout (fork deleted)
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-list-render-item-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-results-rows-visibility.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-content-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
Due: prettier

feat(search): reveal skeleton carries static toggle-strip pill holes (owner design)
  apps/mobile/src/components/skeletons/CutoutSkeletonSurface.tsx
  apps/mobile/src/components/skeletons/SceneLoadingSurface.tsx
  apps/mobile/src/components/skeletons/cutout-skeleton-presets.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-content-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
Due: prettier

refactor(llm): output budgets are model-max everywhere — small budgets deleted
  apps/api/scripts/relevance-gate/replay.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

fix(search): variant reveals assert scroll-to-top; scene restore no longer re-fires on spec churn
  apps/mobile/src/overlays/overlayScrollOffsetRuntime.ts
  apps/mobile/src/overlays/useOverlaySheetListRuntime.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
Due: prettier

feat(search): INSTANT open-now — client-derived variant world with background true-up
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/resolver/search-world-derivation.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-resolver.ts
  apps/mobile/src/screens/Search/runtime/resolver/shortcut-coverage-world.ts
  apps/mobile/src/screens/Search/runtime/shared/search-open-now-variant.ts
Due: prettier

feat(search-api): shortcut coverage features carry per-row isOpen
  apps/api/src/modules/search/search-coverage.service.ts
Due: api-lint, prettier

chore(search): [FAVDBG] dev diagnostic on the favorites list-results fetch
  apps/mobile/src/screens/Search/runtime/resolver/search-world-fetch.ts
Due: prettier

perf(search-map): ONE reconcile per enter — the stall behind shimmer freeze / sheet pause / strip snap
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none
