Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

feat(prompt): v21 — the volunteer principle, attribute-hedge law, clause-scoped plans (three owner rulings)
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

chore(fixtures): retire N8-geo-fredericksburg — geography is not a gate (owner ruling 2026-09-01)
  apps/api/scripts/fixtures/prompt-ab-cases.json
Due: prettier

fix(reextract): shadow diff counts place mentions as support — 65 of 89 anchored 'lost support' rows were places whose v16 attribute event became a clean v21 place mention
  apps/api/scripts/reload/shadow-diff.sql
Due: none

feat(prompt): v22 — the spine: decompose, then the Landing Test; every exception a test
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

feat(alias-clean-slate): the grade law — aliases are identity claims held to the merge bar (owner-approved program, built personally)
  apps/api/prisma/migrations/20260902130000_alias_claim_grade/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/activate-shadow.ts
  apps/api/scripts/alias-clean-slate/README.md
  apps/api/scripts/alias-clean-slate/backfill-observed.ts
  apps/api/scripts/alias-clean-slate/wipe.sql
  apps/api/scripts/fixtures/entity-match-gold-cases.json
  apps/api/src/modules/content-processing/entity-resolver/alias-claim-grade.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-surface.service.ts
  apps/api/src/modules/content-processing/entity-resolver/reject-tombstone-presink.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/rehearsal-generation.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/business-identity-rules.ts
  apps/api/src/modules/restaurant-enrichment/merge-canonical-under-lock.integration.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/shared/invariants/registry.ts
  plans/alias-clean-slate.md
Due: api-lint, prettier

feat(same-business-court): pairs the owned-domain test cannot vouch for get a hearing, not a parking spot (owner-ordered)
  apps/api/scripts/alias-clean-slate/retro-validate-court.ts
  apps/api/scripts/alias-clean-slate/retro-validate-domain-gate.ts
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
  apps/api/src/modules/external-integrations/llm/prompts/same-business-judge-prompt.md
  apps/api/src/modules/restaurant-enrichment/business-identity-rules.ts
  apps/api/src/modules/restaurant-enrichment/merge-canonical-under-lock.integration.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/same-business-rule.ts
  apps/api/src/shared/judge-contracts/index.ts
  apps/api/src/shared/judge-contracts/same-business.contract.ts
Due: api-lint, prettier

fix(red-team-2026-09-03): basis-aware merge routing closes the court bypass — plus six more findings from the three-agent pass
  apps/api/scripts/alias-clean-slate/backfill-observed.ts
  apps/api/scripts/alias-clean-slate/retro-validate-domain-gate.ts
  apps/api/scripts/alias-clean-slate/wipe.sql
  apps/api/src/modules/attribute-ontology/attribute-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-surface.service.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/entity-resolver/metro-adoption.service.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/business-identity-rules.spec.ts
  apps/api/src/modules/restaurant-enrichment/business-identity-rules.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/shared/invariants/registry.ts
  apps/api/src/shared/locale/surface-scope.ts
  plans/alias-clean-slate.md
Due: api-lint, prettier

feat(clean-slate): staging execution artifacts — tx budget for the remote backfill, convergence-sweep driver for scheduler-off environments
  apps/api/scripts/alias-clean-slate/backfill-observed.ts
  apps/api/scripts/alias-clean-slate/run-convergence-sweeps.ts
Due: api-lint, prettier

chore(cleanup): the copy-pasted mechanisms get one home — completion-work timer, gold-harness lib, fixture archive
  apps/api/scripts/fixtures/archive/ask-inheritance-parked-cases.json
  apps/api/scripts/fixtures/archive/attribute-placement-gold.result.json
  apps/api/scripts/fixtures/archive/attribute-placement-prompt.pred.md
  apps/api/scripts/fixtures/archive/chooser-gold.result.json
  apps/api/scripts/fixtures/archive/cuisine-gold.result.json
  apps/api/scripts/fixtures/archive/cuisine-gold.s4.result.json
  apps/api/scripts/fixtures/archive/cuisine-gold.s4.run2.result.json
  apps/api/scripts/fixtures/archive/cuisine-gold.s4.run3.result.json
  apps/api/scripts/fixtures/archive/cuisine-prompt.v1.md
  apps/api/scripts/fixtures/archive/dish-knowledge-gold.result.json
  apps/api/scripts/fixtures/archive/dish-knowledge-gold.s4.run1.result.json
  apps/api/scripts/fixtures/archive/dish-knowledge-gold.s4.run2.result.json
  apps/api/scripts/fixtures/archive/dish-knowledge-gold.s4.run3.result.json
  apps/api/scripts/fixtures/archive/dish-knowledge-prompt.pred.md
  apps/api/scripts/fixtures/archive/gate-audit-extract.ts
  apps/api/scripts/fixtures/archive/prompt-ab-s1-grader-rebaseline.result.json
  apps/api/scripts/fixtures/archive/v13-final-certification.result.json
  apps/api/scripts/fixtures/archive/v17-preflight-outputs.json
  apps/api/scripts/fixtures/archive/vocabulary-gold-v4pred.result.json
  apps/api/scripts/fixtures/archive/vocabulary-gold.result.json
  apps/api/scripts/fixtures/gate-cert-driver.sh
  apps/api/scripts/fixtures/prompt-ab-cases.json
Due: api-lint, prettier

fix(red-team-eras): six verified findings from the widening/grounding and governance/batch-rail passes
  apps/api/scripts/alias-clean-slate/wipe.sql
  apps/api/src/modules/content-processing/entity-resolver/widening-satisfies.service.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/widening-satisfies.service.ts
  apps/api/src/modules/content-processing/entity-resolver/widening-verdict-table.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/food-category-edge-sql.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/spend-expectation-monitor.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-quota-watcher.service.ts
  apps/api/src/modules/notifications/notification-dispatcher.service.ts
  apps/api/src/modules/photos/photo-reconciliation.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/search/food-category-edge-builder.service.ts
  apps/api/src/shared/completion-work-aliveness.spec.ts
  apps/api/src/shared/completion-work-timer.ts
  apps/api/src/shared/index.ts
  plans/prompt-edit-method-audit-20260827.md
  plans/v17-preflight-trace-20260826.md
Due: api-lint, prettier

docs: watchdog comments follow their timers (leftover @Cron references)
  apps/api/src/modules/external-integrations/shared/spend-expectation-monitor.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-quota-watcher.service.ts
Due: api-lint, prettier

feat(v23+two-pass): the small known list, certified honestly — and the leak floor measured head-on
  apps/api/scripts/attribute-merge-gold.ts
  apps/api/scripts/attribute-placement-gold.ts
  apps/api/scripts/entity-match-gold.ts
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/scripts/fixtures/prompt-parked-cases.json
  apps/api/scripts/lib/gold-harness.ts
  apps/api/scripts/two-pass-ab.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  apps/api/src/modules/external-integrations/llm/prompts/decompose-pass-prompt.md
  plans/two-pass-extraction.md
Due: api-lint, prettier

docs(two-pass): round 2 — perPost==single by construction (chunks are one post + its comments); the leak floor lives INSIDE threads; per-comment isolation w/ prompt caching is the deciding experiment
  plans/two-pass-extraction.md
Due: prettier

fix(cost): the reconciler compared an account-wide bill to a prod-only ledger
  audit/COVERAGE.md
  scripts/rig/cost-reconcile.sh
Due: prettier

feat(v23-final): the MAKER TEST + THE STATUS TEST — two from-scratch unifications that broke measured seesaws (owner-ordered)
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/scripts/fixtures/prompt-parked-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

feat(window-sweep): K<=20 kills the attention leak class — deployment is one env var
  apps/api/scripts/two-pass-ab.ts
  plans/two-pass-extraction.md
Due: api-lint, prettier

feat(v23): THE LABEL-VS-THING TEST — the correction seesaw was three rules with no shared law (owner-ordered rederivation)
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

feat(v23): the PLURALITY pass — four spots where the prompt implicitly taught one-at-a-time where lists are wanted (owner-ordered singularity audit)
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

docs(two-pass): K=25 run inverts the picture — v23-final's doctrine passes zero the leak suite AT K=30; shadow should run at default chunk size, window knob reserved
  plans/two-pass-extraction.md
Due: prettier

docs(prompt-ideal-shape): census merge — five contradictions fixed in Wave 0, downstream verified array-faithful
  plans/prompt-ideal-shape.md
Due: prettier

feat(v23): Wave 0 of the ideal-shape program — eight census contradictions fixed, two resolved one-sidedly after live ablation
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

feat(v23): the V14a expedition — three stacked doctrine gaps behind the 'ambient flaky', plus three precision fixes found by same-hour ablation; FIRST ALL-PASS DECK (284/284 x3)
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: prettier

docs(prompt-ideal-shape): the expedition method law — same-hour ablation before calling a flaky ambient
  plans/prompt-ideal-shape.md
Due: prettier

chore(ledger): the cert harnesses stamp a run_key — August's $890 of interactive extraction was unattributable
  apps/api/scripts/lib/script-run-key.ts
  apps/api/scripts/prompt-ab.ts
  apps/api/scripts/two-pass-ab.ts
Due: api-lint, prettier

docs(prompt-ideal-shape): waves 1-3 retired after execution — the top-of-prompt block suppresses picks; v23 text stands
  plans/prompt-ideal-shape.md
Due: prettier

plan(red-team): holistic scope decision — backend to 2026-08-07 by ledger, mobile as docket drain, CI red since 08-09 is wave 0
  plans/red-team-2026-09-04-scope.md
Due: prettier

docs(red-team): findings ledger — territories 1, 1b, 2, 4 verified; wave 0b recorded
  plans/red-team-2026-09-04-findings.md
Due: prettier

fix(identity): a word-court refusal is an absolute write, and ontology merges go through the one ledgered merge door (red team 2026-09-04 ID-2, ID-3)
  apps/api/src/modules/attribute-ontology/attribute-dedupe-merge.service.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology-apply-plan.spec.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology-merge-door.integration.spec.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology-shortlist.spec.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  apps/api/src/modules/content-processing/entity-resolver/knowledge-cuisine-adjudication.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/surface-role-verdicts.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(enrichment): the shared user-anchor predicate compared uuid signal columns to a ::text cast — the janitor's ungroundable gate threw on every run (CI wave 0c)
  apps/api/src/modules/restaurant-enrichment/user-anchor-scope.ts
Due: api-lint, prettier

docs(red-team): ledger wave 0c + identity fixes
  plans/red-team-2026-09-04-findings.md
Due: prettier

fix(replay): recovered refusal evidence is folded onto the shadow run it recovers for — 2,122 dark events on staging never activated (red team 2026-09-04 T1-2, T1-5)
  apps/api/scripts/fold-recovery-runs.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/recovery-run-fold.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
Due: api-lint, prettier

docs(red-team): enrichment territory ledgered
  plans/red-team-2026-09-04-findings.md
Due: prettier

test(replay): the recovery-fold proof writes its fixture events through the ledger's one write door (CI event-ledger-chokepoint guard)
  apps/api/src/modules/content-processing/reddit-collector/recovery-run-fold.integration.spec.ts
Due: api-lint, prettier

docs(red-team): ledger the governance + replay fixes
  plans/red-team-2026-09-04-findings.md
Due: prettier

fix(search): one degrade contract for viewport coverage (the fail-open policy alarm was unreachable), and the soft-concept cap drops overflow instead of hardening it (red team 2026-09-04 S-5, S-4)
  apps/api/src/modules/search/engine-coverage-degrade.spec.ts
  apps/api/src/modules/search/engine-coverage.service.ts
  apps/api/src/modules/search/engine-coverage.spec.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/territory-scoping-fail-open-log.spec.ts
  audit/COVERAGE.md
Due: api-lint, prettier

docs(red-team): ledger S-4/S-5/G-4; cross-session invariants collision noted
  plans/red-team-2026-09-04-findings.md
Due: prettier

fix(ops-alerts): dedupe keys are unique among OPEN alerts only — acknowledging re-arms a static key (red team 2026-09-04 G-6)
  apps/api/prisma/migrations/20260904120000_ops_alerts_open_dedupe/migration.sql
  apps/api/prisma/migrations/AUTHORING.md
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/shared/ops-alerts-rearm.integration.spec.ts
Due: api-lint, prettier

docs(red-team): ledger the batch; the git-add law; remaining queue
  plans/red-team-2026-09-04-findings.md
Due: prettier

docs(red-team): ledger the include-similar seam fix
  plans/red-team-2026-09-04-findings.md
Due: prettier

plan(red-team): owner decisions batch — enrichment design items, campaign resume, harness lock, mobile docket
  plans/red-team-2026-09-04-owner-decisions.md
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
