Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

feat(search-flow): D1a defect ledger + D6 rebuild verdict; SRINULL/T4DEDUP/clear-attribution probes
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
  plans/search-flow-plan.md
Due: prettier

feat(search-flow): R0 loud contracts — suspicious no-op guards now report
  apps/mobile/src/screens/Search/runtime/shared/search-flow-contracts.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-marker-enter-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-surface-transaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/surface/search-surface-runtime.ts
Due: prettier

feat(search): sectioned relevancy sort — exact-first grouping with provenance
  apps/api/scripts/search-harness/sibling-mode-e2e.ts
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

docs(plans): sectioned relevancy sort built
  plans/search-collection-open-threads.md
Due: prettier

fix(search): sectioned ranking default OFF — pure crave score stands
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

docs(plans): R1 pre-flight — two audit friction claims refuted against code
  plans/search-flow-plan.md
Due: prettier

feat(search-flow): R1a — marker-catalog single-authority contract (RED proven on-sim)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

feat(search): graded relevance signal on every result row
  apps/api/scripts/search-harness/sibling-mode-e2e.ts
  apps/api/src/modules/search/search-sibling-expansion.service.ts
  apps/api/src/modules/search/search.service.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

fix(llm): current-generation model fallbacks; widen overlay nomination to word-set variants
  apps/api/src/config/configuration.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
Due: api-lint, prettier

feat(search-flow): R1a-2 — both-tab marker projections precomputed at response commit (GREEN)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-response-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
Due: prettier

docs(plans): ledger #6 — pagination owner-reported broken (pre-rebuild); attribute after R1c
  plans/search-flow-plan.md
Due: prettier

refactor(search-flow): R1c — single-writer filter/tab state; bus is runtime authority
  apps/mobile/src/screens/Search/hooks/use-search-submit-response-owner.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-filter-state-store-bridge.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-tab-toggle-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-filter-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-data-plane-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-primitives-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-session-assembly-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-primitives-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filter-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filter-chip-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-ui-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
  apps/mobile/src/store/searchStore.ts
Due: prettier

feat(llm): collection model A/B harness + page-2 probe; unify judge thinking to MINIMAL
  apps/api/.gitignore
  apps/api/scripts/collection-model-ab.ts
  apps/api/scripts/search-harness/page2-probe.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

docs(plans): include-similar toggle spec (owner-settled product shape)
  plans/search-collection-open-threads.md
Due: prettier

fix(search-flow): pagination ledger #6a — user-scroll gate dead under gesture-handoff
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/overlays/searchOverlayRouteHostContract.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-results-sheet-interaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/results-sheet-interaction-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-sheet-interaction-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-sheet-load-more-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-sheet-plane-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-search-scene-body-input-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-search-scene-model-owner.ts
  maestro/perf/flows/search-results-paginate.yaml
  plans/search-flow-plan.md
Due: prettier

feat(collection): Austin archive cost estimator; model → gemini-3.5-flash
  apps/api/scripts/archive/estimate-austin-cost.sh
  apps/api/src/config/configuration.ts
Due: api-lint, prettier

docs(plans): include-similar chip = toggle remote control; page-1 union prefetch; reset-to-top + highlight spec
  plans/search-collection-open-threads.md
Due: prettier

feat(search-flow): R2-A/B — pagination #6b FIXED end-to-end; T1 stall attributed to card render; scroll_results verb
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/overlays/searchOverlayRouteHostContract.ts
  apps/mobile/src/perf/PerfScenarioCoordinator.tsx
  apps/mobile/src/perf/perf-scenario-command-registry.ts
  apps/mobile/src/perf/perf-scenario-deep-link.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/results-sheet-interaction-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-tab-toggle-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-toggle-commit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-scroll-authority-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-sheet-load-more-runtime.ts
  apps/mobile/src/screens/Search/runtime/surface/search-surface-runtime.ts
  maestro/perf/flows/search-results-paginate.yaml
Due: prettier

chore(search-flow): T1DBG card-render counter probe (dev-gated)
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
Due: prettier

docs(plans): pagination #6b closed; D6a T1 attribution (card render = the burner)
  plans/search-flow-plan.md
Due: prettier

chore(search-flow): T1DBG projection duration mark — runner burner = 124.6ms source-frame build
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

feat(search): include-similar toggle server side — param, override semantics, page-1 union prefetch
  apps/api/scripts/search-harness/sibling-mode-e2e.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search.service.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

feat(collection): Gemini Batch API pipeline — 50% LLM cost for all async collection
  apps/api/prisma/migrations/20260706014854_add_llm_batch_jobs/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/smoke-gemini-batch.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/llm.module.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/polls/poll-graduation.service.ts
Due: api-lint, prettier

feat(search-flow): R2-C — card-render eviction + sibling frame prewarm (JS commit window cleared)
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/overlays/bottomSheetSceneStackHostContract.ts
  apps/mobile/src/overlays/bottomSheetSharedRuntimeContract.ts
  apps/mobile/src/overlays/useBottomSheetSharedGestureRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
  apps/mobile/src/overlays/useBottomSheetSharedScrollContainerRuntime.tsx
  apps/mobile/src/overlays/useSearchRouteSceneStackBottomSheetRuntimeAssembly.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

docs(plans): D6b — R2-C results; remaining toggle gap is native-side (~107ms)
  plans/search-flow-plan.md
Due: prettier

feat(search-flow): R3 — native applied-feature ledger; toggle-back corruption structurally dead
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

chore(search-flow): [NGAP] native-gap attribution probes — gap fully decoded
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(plans): D6c — native gap decoded; remedies spec the coordinator unification
  plans/search-flow-plan.md
Due: prettier

chore(search-flow): [NGAPJS] token-hop probes — the ~110ms toggle gap fully partitioned
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
Due: prettier

docs(plans): D6c refined — final token-hop partition; coordinator commit-phase spec locked
  plans/search-flow-plan.md
Due: prettier

feat(search-flow): U1+U2a — single-file coordinator (TR5 seed) + direct enter-start bridge
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/ios/cravesearch/UIFrameSamplerBridge.m
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-runtime-machine-execution-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-runtime-machine.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-interaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-marker-enter-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-tab-toggle-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-toggle-commit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-toggle-coordinator.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-toggle-lifecycle-runtime.ts
Due: prettier

docs(plans): D6d — endgame design: single native lifecycle for every variant swap
  plans/search-flow-plan.md
Due: prettier

feat(search): 'Include similar' toggle + remove the 100+ votes filter
  apps/mobile/src/hooks/useSearchQuery.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/hooks/use-search-filter-modal-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-natural-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-request-preparation-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-structured-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-action-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-response-owner.ts
  apps/mobile/src/screens/Search/runtime/controller/results-presentation-owner-runtime.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-search-scene-chrome-freeze-runtime.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/read-models/chip-read-model-builder.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-owner-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/results-toggle-interaction-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-hidden-filters-warmup-state-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-environment-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-runtime-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-filter-state-store-bridge.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-publication-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-value-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-filter-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-filters-runtime-state.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-control-plane-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-filter-modal-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-header-warmup-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filter-chip-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filters-header-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-read-model.ts
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/services/search.ts
  apps/mobile/src/store/searchStore.ts
  apps/mobile/src/types/search.ts
Due: prettier

feat(search-flow): endgame round 1 — election-reset mechanism DECODED; generation-reuse fix + probes
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
Due: prettier

docs(plans): D6e — endgame root cause complete: the collision promotion round-trip
  plans/search-flow-plan.md
Due: prettier

feat(search-flow): D6e collision surgery — promotion-independent collision source, single-generation toggles
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

docs(plans): D6e surgery shipped — measurements + transport-dedup gotcha; drop now-unused lastNativeAck destructure
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  plans/search-flow-plan.md
Due: prettier

fix(collection+places): category/praise prompt laws, attribute self-heal, cheap location-refresh tier
  apps/api/scripts/archive/batch-slice-test.ts
  apps/api/scripts/refresh-restaurant-locations.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.md
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  product/pre-launch.md
Due: api-lint, prettier

fix(search): toggle press-up choreography (fade hold), dish label text, skeleton cover
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
