Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

feat(P2.2): metro-aware resolution + locations follow testimony
  apps/api/prisma/migrations/20260803010000_metro_location_probes/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/entity-resolver/metro-adoption.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion-queue.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion.types.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion.worker.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

fix(search)!: unscored restaurants are null, not zero — the map's worst tier was a lie (F758)
  apps/api/src/modules/search/search-query.executor.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/profile/profile-panel-hydration-snapshot-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/search-include-similar-variant.ts
  audit/FINDINGS.md
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

docs(multilingual): generation scope, the self-teaching loop, and the rejected translation gateway
  plans/multilingual.md
Due: prettier

gate(crave-score): wired into CI, RED-proven — repaired gate immediately superseded by the F758 law it helped surface
  .github/workflows/ci.yml
  apps/api/src/modules/search/search-query.executor.ts
  scripts/crave-score-cutover-delete-gate.sh
Due: api-lint, prettier

feat(billing)!: Stripe web checkout rail restored — hosted Checkout + portal, entitlements unified through the access-grant ledger (F759)
  apps/api/prisma/migrations/20260803130000_restore_stripe_checkout_rail/migration.sql
  apps/api/src/config/configuration.ts
  apps/api/src/modules/billing/billing-checkout.spec.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/dto/create-checkout-session.dto.ts
  apps/api/src/modules/billing/revenuecat-entitlement-map.spec.ts
  apps/api/src/modules/billing/revenuecat-entitlement-map.ts
Due: api-lint, prettier

docs(multilingual): M4 experiment RUN — 15/15 cross-lingual top-5 on the live index
  plans/multilingual.md
Due: prettier

fix(P2.2): round-13 red team — the wire, the edges, and the grounded-twin merge-back
  plans/data-audit-2026-08.md
Due: prettier

audit(designs): D39 owner rulings — UCB explore, tier order, rail retirement, onboarding-as-profile
  audit/DESIGNS.md
Due: prettier

owner-rulings(D39): named-X outranks mentions-X everywhere; the map's visual rail is retired
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/entity-text-search/evidence-tier-ladder.spec.ts
  audit/FINDINGS.md
  package.json
  scripts/perf-scenario-visual-contracts.js
  scripts/visual-regression.js
  scripts/visual-regression.test.js
  visual-baselines/README.md
  visual-baselines/validate-enter.png
  visual-baselines/validate-twist.png
  visual-baselines/validate-zoomin.png
  visual-baselines/validate-zoomout.png
Due: api-lint, deps-check, prettier

audit(designs): D41 — durable estimator seam + class grain for UCB explore
  audit/DESIGNS.md
Due: prettier

audit(designs): D40 Phase-2 verdict — core approved, three lifetime/privacy escalations
  audit/DESIGNS.md
Due: prettier

feat(site)!: craveapp.ai becomes apps/site — real workspace, /premium web checkout, CORS allowlist (F760)
  apps/api/src/main.ts
  apps/site/.gitignore
  apps/site/Dockerfile
  apps/site/README.md
  apps/site/package.json
  apps/site/src/clerk-frontend-api.ts
  apps/site/src/config.ts
  apps/site/src/pages/index.html
  apps/site/src/pages/privacy.html
  apps/site/src/pages/support.html
  apps/site/src/pages/terms.html
  apps/site/src/premium-page.ts
  apps/site/src/router.ts
  apps/site/src/server.ts
  apps/site/test/router.test.ts
  apps/site/tsconfig.json
  railway.site.json
Due: api-lint, deps-check, prettier

audit(designs): D40 escalations ruled — severance implemented, profile internal-only, scrub joined
  audit/DESIGNS.md
Due: prettier

rederive(explore)!: the blend is dead — explore selection is measured-yield UCB on a durable estimator seam (F467/D41)
  apps/api/prisma/migrations/20260803140000_estimator_state_durable_seam/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/keyword-explore-ucb.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-explore-yield.estimator.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-demand-unavailable.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.floors.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/estimators/estimator-registry.ts
  apps/api/src/modules/estimators/estimator-state.store.ts
Due: api-lint, prettier

feat(billing)!: web paywall sells both plans — closed two-word vocabulary, price ids unrepresentable to callers
  apps/api/src/config/configuration.ts
  apps/api/src/modules/billing/billing-checkout.spec.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/dto/create-checkout-session.dto.ts
  apps/site/README.md
  apps/site/src/premium-page.ts
  apps/site/test/router.test.ts
Due: api-lint, prettier

rederive(personalization)!: D40 — onboarding answers are durable seed data, the ledger is the taste profile
  CRAVE.md
  apps/api/prisma/migrations/20260803150000_onboarding_answer_history_and_taste_profile/migration.sql
  apps/api/src/modules/home/curated-list-builder.service.ts
  apps/api/src/modules/home/curated-list-builder.spec.ts
  apps/api/src/modules/home/curated-lists.constants.ts
  apps/api/src/modules/home/home.module.ts
  apps/api/src/modules/identity/dto/update-user-onboarding.dto.ts
  apps/api/src/modules/identity/identity.module.ts
  apps/api/src/modules/identity/onboarding-answer-decoder.spec.ts
  apps/api/src/modules/identity/onboarding-completion-write.spec.ts
  apps/api/src/modules/identity/user-profile-stats.spec.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/places/live-cities.module.ts
  apps/api/src/modules/places/live-cities.reader.ts
  apps/api/src/modules/places/places-containment.integration.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signals.module.ts
  apps/api/src/modules/signals/user-taste-profile.builder.spec.ts
  apps/api/src/modules/signals/user-taste-profile.builder.ts
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/navigation/runtime/AppRouteCoordinator.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/onboarding/onboarding-completion-replay.spec.ts
  apps/mobile/src/services/users.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  packages/shared/src/constants/index.ts
  packages/shared/src/constants/onboarding-questions.ts
Due: api-lint, shared-lint, prettier

audit(designs): D42 nav-overlays Phase-2 verdicts
  audit/DESIGNS.md
Due: prettier

rederive(deletion)!: severance implemented — deletion disconnects the person, the evidence stays anonymous (F767)
  CRAVE.md
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  scripts/rig/lifecycle-matrix.sh
  scripts/rig/scrub-staging-user-data.sql
Due: api-lint, prettier

rederive(nav-overlays)!: D42 — the arm window can no longer silently degrade, forgotten fields are compile errors
  apps/mobile/src/navigation/runtime/ADDING_A_SCENE.md
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-global-restaurant-route-controller.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-command-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-shared-sheet-presentation-controller.ts
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/docked-scene-target.ts
  apps/mobile/src/navigation/runtime/presentation-frame-chrome-clock.spec.ts
  apps/mobile/src/navigation/runtime/transition-engine/transition-transaction.spec.ts
  apps/mobile/src/navigation/runtime/transition-engine/transition-transaction.ts
  apps/mobile/src/navigation/runtime/use-app-route-shared-sheet-runtime.ts
  apps/mobile/src/overlays/BottomSheetSceneStackBodyLayer.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/OverlaySheetHeaderChrome.tsx
  apps/mobile/src/overlays/PersistentSheetHeaderHost.tsx
  apps/mobile/src/overlays/SceneBodyReadyGate.tsx
  apps/mobile/src/overlays/bottomSheetSceneStackHostContract.ts
  apps/mobile/src/overlays/searchOverlayRouteHostContract.ts
  apps/mobile/src/overlays/shape-equality.ts
  apps/mobile/src/overlays/useSearchRouteSceneStackBottomSheetRuntimeAssembly.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

audit(designs): D42-supplement — F943 narrowed, F944 re-ruled after honest stop
  audit/DESIGNS.md
Due: prettier

audit(designs): D43 mobile-search Phase-2 verdicts
  audit/DESIGNS.md
Due: prettier

chore: land the re-ported rnmapbox 10.3.1 patch (patches-parked -> patches) + ignore pycache
  .gitignore
  patches-parked/@rnmapbox+maps+10.2.9.patch
  patches-parked/README.md
  patches/@rnmapbox+maps+10.3.1.patch
Due: prettier

audit(designs): D44 mobile-native Phase-2 verdicts — test lane, staging profile, privacy manifest; Android + push-env escalated
  audit/DESIGNS.md
Due: prettier

audit(designs): D45 mobile-search pass-2 verdicts — F1059 null-score regression, comparator class, port stubs
  audit/DESIGNS.md
Due: prettier

rederive(native+docs+ci)!: D44 landed, docs pass-2 truth-audited, the environment-dependent timezone spec seeds its own boundary
  .github/workflows/ci.yml
  CRAVE.md
  apps/api/src/modules/signals/occurred-at-timezone.integration.spec.ts
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/ios/cravesearch.xcodeproj/xcshareddata/xcschemes/cravesearch.xcscheme
  apps/mobile/ios/cravesearch/CraveBottomSheetHostView.swift
  apps/mobile/ios/cravesearch/Info.plist
  apps/mobile/ios/cravesearch/PrivacyInfo.xcprivacy
  apps/mobile/ios/cravesearch/ProfilePresentationTransactionExecutor.swift
  apps/mobile/src/screens/Search/runtime/map/map-interaction-diagnostics.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-selection-focus-store.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-runtime-instrumentation-runtime.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  business/signal/ledger/08-paid-amplification.md
  business/signal/ledger/09-aso-and-app-store.md
  business/signal/panels/p4-share-link-policy/brief-teaser-slugs.md
  business/signal/redteam/blueprint/completeness-critic.md
  business/signal/redteam/blueprint/compliance-and-platform-risk.md
  business/signal/redteam/verdict.md
  plans/async-integrity-ideal-shape.md
  plans/austin-reextract-handoff.md
  plans/chrome-in-content-cutover.patch
  plans/full-reload-charter.md
  plans/generation-ideal-shape.md
  plans/lod-ideal-residency-refactor.md
  plans/multilingual.md
  plans/old-host-responsibility-audit.md
  plans/one-ground-charter.md
  plans/payments-ideal-shape.md
  plans/production-hardening.md
  plans/reextract-choreography.md
  plans/search-calibration-prebuild-handoff.md
  plans/search-from-scratch-derivation.md
  plans/transition-derivation.md
  product/pre-launch.md
  scripts/mobile-native-authority-gate.sh
Due: api-lint, prettier

refactor(sheet)!: the red-team round — kill-list, clamp-signature filter, resident chrome stack
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/ios/TrackScrollKit/Sources/TrackShellSlot.h
  apps/mobile/ios/TrackScrollKit/Sources/TrackShellSlot.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

refactor(llm): derive PAID/FREE from the BILL, and make an unclassified surface unbuildable
  apps/api/src/modules/external-integrations/llm/gated-gemini-client.spec.ts
  apps/api/src/modules/external-integrations/llm/gated-gemini-client.ts
  apps/api/src/modules/external-integrations/llm/gemini-billable-surfaces.ts
  scripts/rig/gemini-billable-skus.sh
Due: api-lint, prettier

refactor(config)!: pay the fifteen-file flag debt, then delete the allowlist and both scanners
  apps/api/eslint.config.mjs
  apps/api/src/config/configuration.ts
  apps/api/src/modules/content-processing/reddit-collector/env-flag-dialect-lockdown.spec.ts
  apps/api/src/modules/entity-text-search/entity-embedding-reconciler.service.ts
  apps/api/src/modules/entity-text-search/entity-sibling-edge-builder.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/llm-audit-policy.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/home/curated-list-builder.service.ts
  apps/api/src/modules/identity/auth/clerk-auth.service.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/utils/search-debug.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/shared/config/env-flag-lockdown.spec.ts
  apps/api/src/shared/logging/winston.config.ts
Due: api-lint, prettier

audit(designs): D47 api-scripts pass-2 verdicts — schema-derived anchor law, import-closure containment
  audit/DESIGNS.md
Due: prettier

rederive(scale-pass2)!: the score writer was an OOM on a timer; the JS active-run filter hid permanent generation retention
  CRAVE.md
  apps/api/scripts/query-samples.sql
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.write-shape.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.active-run.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

fix(site): .dockerignore excluded apps/site/test — the in-image suite COPY failed the build in 6s with no logs
  .dockerignore
Due: none

feat(deletion): one definition of "a person's data" + the ratified deletion design
  apps/api/prisma/migrations/20260803192724_person_data_map/migration.sql
  apps/api/prisma/migrations/20260803192817_person_data_map_photos_authored/migration.sql
  plans/account-deletion-ideal-shape.md
Due: prettier

refactor(polls,enrichment,search)!: three scanners become a constant, a rule, and a question put to Postgres
  apps/api/eslint.config.mjs
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/entity-text-search/hnsw-index-migrations.spec.ts
  apps/api/src/modules/entity-text-search/hnsw-index.integration.spec.ts
  apps/api/src/modules/polls/poll-ballot-voter-coupling.spec.ts
  apps/api/src/modules/polls/supply/ballot-document-marker.ts
  apps/api/src/modules/polls/supply/poll-ballot-mention.service.ts
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-counter.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor-policy.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

fix(deletion): burn the handle, drop the person link — my own fix had un-burned usernames
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
Due: api-lint, prettier
