Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, mobile-lint, shared-lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: cd apps/api && yarn lint
    mobile-lint:
      glob: 'apps/mobile/**/*.{ts,tsx,js,jsx}'
      run: cd apps/mobile && yarn lint
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: cd packages/shared && yarn lint

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

feat: add nextOpenDisplay to operating status and enhance search query logic to display next opening time in mobile app
  apps/api/src/modules/search/search-query.executor.ts
  apps/mobile/src/overlays/sheetUtils.ts
  apps/mobile/src/screens/Search/index.tsx
  packages/shared/src/types/search.ts
Due: api-lint, mobile-lint, shared-lint, prettier

refactor: streamline code formatting and improve readability in Search/index.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

feat: implement restaurant location management by adding primary location handling, enhancing search query logic, and updating related services for improved location data integration
  apps/api/prisma/migrations/20250207200000_restaurant_locations/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/repositories/utils/entity-type-guards.ts
  apps/mobile/src/screens/Search/index.tsx
  packages/shared/src/types/index.ts
  packages/shared/src/types/search.ts
Due: api-lint, mobile-lint, shared-lint, prettier

refactor: improve code formatting and readability in restaurant entity merge and location enrichment services, and enhance search query logic for better clarity
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/mobile/src/screens/Search/index.tsx
Due: api-lint, mobile-lint, prettier

fix: ensure latitude and longitude are not null in search query for filtered locations to improve data accuracy
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

refactor: update search query logic to handle restaurant results more efficiently, improve readability, and enhance UI elements in the mobile app
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/index.tsx
Due: api-lint, mobile-lint, prettier

chore: remove unused assets and update theme colors in the mobile app for improved consistency and visual appeal
  apps/mobile/assets/fonts/JetBrainsMono-SemiBold.ttf
  apps/mobile/images/image.png
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/assets/adaptive-icon.png
  apps/mobile/src/assets/icon.png
  apps/mobile/src/assets/pin-base.png
  apps/mobile/src/assets/pin-collision.png
  apps/mobile/src/assets/pin-fill.png
  apps/mobile/src/assets/pin.png
  apps/mobile/src/assets/pins/restaurant-pin.png
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/screens/Search/index.tsx
  patches/expo-apple-authentication+6.0.1.patch
  yarn.lock
Due: mobile-lint, prettier

refactor: improve code formatting and readability in Search/index.tsx by standardizing indentation and simplifying conditional expressions
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: update Search screen to enhance search functionality with structured search requests, improve state management, and introduce search shortcuts for better user experience
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/services/search.ts
  copy.md
Due: mobile-lint, prettier

refactor: enhance Search screen layout and formatting for improved readability and maintainability, including consistent indentation and streamlined component structures
  apps/mobile/src/screens/Search/index.tsx
  copy.md
Due: mobile-lint, prettier

chore: update dependencies in yarn.lock, enhance mobile app configuration with new environment variables, and improve Search screen functionality with new icons and optimized component structure
  apps/mobile/.env.example
  apps/mobile/app.json
  apps/mobile/images/image.png
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/assets/pin-base.png
  apps/mobile/src/assets/pin-collision.png
  apps/mobile/src/assets/pin.png
  apps/mobile/src/components/DropShadow.tsx
  apps/mobile/src/components/icons/HeroIcons.tsx
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/hooks/useSearchRequests.ts
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/services/autocomplete.ts
  apps/mobile/src/services/favorites.ts
  apps/mobile/src/services/search.ts
  yarn.lock
Due: mobile-lint, prettier

refactor: standardize code formatting and improve readability in Search components, including consistent indentation and streamlined imports
  apps/mobile/app.json
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: improve code formatting and readability in Search components by standardizing indentation and enhancing layout structure for better maintainability
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: standardize Text component formatting in Search screen for improved readability and consistency across various elements
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: enhance theme colors and overlay components for improved visual consistency and user experience across mobile app
  apps/mobile/src/components/FrostedGlassBackground.tsx
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: improve code formatting and readability in FrostedGlassBackground and SearchSuggestions components by standardizing indentation and enhancing layout structure
  apps/mobile/src/components/FrostedGlassBackground.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
Due: mobile-lint, prettier

refactor: update theme colors for improved visual consistency and adjust typography weights in Search screen for enhanced readability
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: update text color for better contrast and adjust layout structure in Search screen for improved readability and user experience
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: enhance Search screen functionality by integrating mention and upvote metrics, refining layout for better user experience, and optimizing component structure for improved readability
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/components/ui/Text.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/index.tsx
  packages/shared/src/types/search.ts
Due: api-lint, mobile-lint, shared-lint, prettier

refactor: improve code formatting and readability across multiple components in mobile app, including standardizing indentation and optimizing layout structure for enhanced maintainability
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: api-lint, mobile-lint, prettier

refactor: enhance Search screen by adding compact count formatting, updating icon usage, and refining layout for improved readability and user experience
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: streamline Search screen component structure by improving code formatting, enhancing readability, and refining layout for better user experience
  apps/mobile/src/components/ui/Text.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: integrate @react-native-masked-view/masked-view for enhanced UI masking in Search filters, improve layout structure, and optimize component interactions for better user experience
  apps/mobile/images/image copy.png
  apps/mobile/images/image.png
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/MaskedHoleOverlay.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/index.tsx
  yarn.lock
Due: mobile-lint, prettier

refactor: optimize MaskedHoleOverlay and Search components by improving code formatting, enhancing readability, and streamlining layout structure for better user experience
  apps/mobile/src/components/MaskedHoleOverlay.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: update SearchFilters component styles for improved visual consistency and user experience, including color adjustments and layout refinements
  apps/mobile/package.json
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
Due: mobile-lint, prettier

refactor: enhance SearchFilters component layout and styling for improved readability and user interaction, including adjustments to text and button styles
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
Due: mobile-lint, prettier

yrefactor: update dependencies and improve layout in Search components, including adjustments to padding and button styles for enhanced user experience
  .vscode/settings.json
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/constants/ui.ts
  apps/mobile/src/screens/Search/index.tsx
  yarn.lock
Due: mobile-lint, prettier

refactor: improve code formatting and readability in Search components, including adjustments to layout functions and style definitions for enhanced maintainability
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: enhance pricing logic and UI in Search components, including the addition of price symbols, improved price range handling, and layout adjustments for better user experience
  apps/mobile/images/image.png
  apps/mobile/src/constants/pricing.ts
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/store/searchStore.ts
Due: mobile-lint, prettier

refactor: improve code formatting and readability across overlay components, including consistent styling adjustments and enhanced layout for better user experience
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: reorganize SearchScreen layout and styling for improved readability and user experience, including adjustments to component structure and consistent color usage
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: adjust layout and formatting in SearchScreen for improved readability and consistency, including reorganization of component structure and accessibility attributes
  apps/api/src/modules/favorites/dto/create-favorite.dto.ts
  apps/api/src/modules/favorites/favorites.controller.ts
  apps/api/src/modules/favorites/favorites.service.ts
  apps/mobile/package.json
  apps/mobile/src/components/ui/Text.tsx
  apps/mobile/src/hooks/index.ts
  apps/mobile/src/hooks/use-favorites.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/services/favorites.ts
  apps/mobile/src/types/multi-slider.ts
  yarn.lock
Due: api-lint, mobile-lint, prettier

refactor: simplify price range normalization logic in Search component for improved readability
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: enhance Search component layout and styling for improved user experience, including adjustments to price range handling, search filters, and suggestion display
  apps/mobile/src/components/FrostedGlassBackground.tsx
  apps/mobile/src/overlays/SecondaryBottomSheet.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/store/searchStore.ts
Due: mobile-lint, prettier

formatting
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: add effect to manage overlay visibility in SearchScreen, improving user experience by ensuring overlays are closed when suggestion screen is active
  apps/mobile/src/screens/Search/index.tsx
  plan.md
Due: mobile-lint, prettier

formatting
  plan.md
Due: prettier

refactor: implement recently viewed restaurants feature with enhanced analytics and UI improvements, including query-level tracking and integration into search suggestions
  apps/api/prisma/migrations/20250207200000_restaurant_locations/migration.sql
  apps/api/prisma/migrations/20251216000000_search_log_analytics_and_restaurant_views/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/dto/autocomplete.dto.ts
  apps/api/src/modules/content-processing/reddit-collector/entity-priority-selection.service.ts
  apps/api/src/modules/favorites/favorites.service.ts
  apps/api/src/modules/history/dto/list-restaurant-views.dto.ts
  apps/api/src/modules/history/dto/record-restaurant-view.dto.ts
  apps/api/src/modules/history/history.controller.ts
  apps/api/src/modules/history/history.module.ts
  apps/api/src/modules/history/history.service.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-popularity.service.ts
  apps/api/src/modules/search/search-query-suggestion.service.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/components/MaskedHoleOverlay.tsx
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/services/autocomplete.ts
  apps/mobile/src/services/search.ts
  apps/mobile/src/store/overlayStore.ts
  packages/shared/src/types/search.ts
  plan.md
Due: api-lint, mobile-lint, shared-lint, prettier

refactor: enhance event tracking and scoring logic in search functionality, including updates to event definitions, data model, and scoring mechanisms for improved analytics and user experience
  apps/api/src/modules/content-processing/reddit-collector/entity-priority-selection.service.ts
  apps/mobile/src/screens/Search/index.tsx
  plan.md
Due: api-lint, mobile-lint, prettier

feat: Introduce database schema namespacing with prefixed tables, make LLM rate limits configurable, and improve LLM rate limit retry logic.
  apps/api/prisma/migrations/20251216100000_db_namespaces/migration.sql
  apps/api/prisma/migrations/20251216110000_single_schema_prefixes/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed-polls.ts
  apps/api/prisma/verify-polls.ts
  apps/api/scripts/query-samples.sql
  apps/api/src/modules/analytics/search-demand.service.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/content-processing/reddit-collector/entity-priority-selection.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/centralized-rate-limiter.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/search/README.md
  apps/api/src/modules/search/on-demand-placeholder-cleanup.service.ts
  apps/api/src/modules/search/search-popularity.service.ts
  apps/api/src/modules/search/search-query-suggestion.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/test-pipeline.ts
  apps/mobile/src/screens/Search/index.tsx
  plan.md
Due: api-lint, mobile-lint, prettier
