Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

plan(red-team): campaign ledger opened — wave 1 legacy-plan verdict + shared-layer clean bill
  plans/red-team-2026-08-19.md
Due: prettier

plan(red-team): fix wave 1 recorded + standing docket
  plans/red-team-2026-08-19.md
Due: prettier

plan(red-team): waves 2-5 recorded, mobile docket, cross-cutting law candidates
  plans/red-team-2026-08-19.md
Due: prettier

docs(red-team): panels/overlays findings docket + the spec-hook effects memory corrected (they commit, twice)
  plans/red-team-2026-08-19.md
Due: prettier

docs(memory): spec-hook effects law re-refined — polls/home effects commit, twice (the prior ZERO-effects claim was stale)
  CLAUDE.md
Due: prettier

fix(search): dishes + profile endpoints un-broken — the scanner's first clean-tree run caught two more R14 param mismatches
  apps/api/src/modules/search/search.controller.ts
Due: api-lint, prettier

feat(invariants): routes.every-param-binding-names-a-route-segment — the R14 residue class gets a scanner, mutation-proven RED with both shipped shapes
  apps/api/scripts/check-route-param-binding.ts
  apps/api/src/shared/invariants/registry.ts
Due: api-lint, prettier

fix(taxonomy): second reground tranche types classified noise — census alarm catch #2
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
Due: api-lint, prettier

docs(red-team): R14 endpoint class closed — scanner caught two more, four total, guard registered
  plans/red-team-2026-08-19.md
Due: prettier

fix(search): the lane list is derived, coverage tells the truth, the open-now flag reports what actually constrained
  apps/api/scripts/search-harness/coverage-truth.result.json
  apps/api/src/modules/search/engine-coverage.service.ts
  apps/api/src/modules/search/open-now-applied-honesty.spec.ts
  apps/api/src/modules/search/search-coverage-status-lanes.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search-sibling-expansion.service.ts
  apps/api/src/modules/search/search.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(taxonomy): third drain tranche classified noise — census catch #3
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
Due: api-lint, prettier

docs(plans-reconciliation): TOTAL-RED-TEAM lens 1 — 19 plan files corrected with dated, hash-backed banners
  audit/COVERAGE.md
  plans/best-in-class-app-foundation-cutover-master-plan.md
  plans/gemini-consumption-modes.md
  plans/images-ideal-shape.md
  plans/map-presentation-choreography-derivation.md
  plans/map-presentation-epoch-and-participation.md
  plans/observability-overhaul.md
  plans/open-items-ledger.md
  plans/poll-supply-rederivation.md
  plans/production-hardening.md
  plans/promote-under-cover-spec.md
  plans/reextract-choreography.md
  plans/search-label-observation-native-cutover-plan.md
  plans/search-map-ideal-effort/04-CONSENSUS-ROADMAP.md
  plans/search-map-ideal-effort/07-va-migration-cleanup-manifest.md
  plans/search-runtime-ideal-shape-master-plan.md
  plans/shadow-sandbox.md
  plans/skeleton-path-audit.md
  plans/strip-choreography-rederivation.md
  plans/toggle-fade-swap-lane.md
Due: prettier

fix(mobile): R14 rename residue — four dead-literal seams re-wired, dead shortcut-lane types deleted
  apps/mobile/src/navigation/runtime/MainLaunchCoordinator.tsx
  apps/mobile/src/overlays/SearchOverlayChromeHost.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/resolve-typed-return-restaurant-promotion.ts
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-chrome-contract.ts
  apps/mobile/src/services/polls.ts
  audit/COVERAGE.md
Due: prettier

fix(polls): interactions bump the poll row so the hourly sweep can see them — and the thread read states its moderation filter
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

docs(roadmap): total red-team campaign record — findings routed, drain complete, clean bills logged
  plans/v16-and-beyond-roadmap.md
Due: prettier

fix(search): lens-2 deep-read salvage — derived lanes, two R14 dead-literal seams, stale cache-key doc
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/search/demand-vocabulary.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/utils/search-debug.ts
Due: api-lint, prettier

fix(shared): sanitizer global-regex verdict flap pinned + dead validator/logger surface removed
  apps/api/src/shared/index.ts
  apps/api/src/shared/logging/logger.interface.ts
  apps/api/src/shared/logging/winston-logger.service.ts
  apps/api/src/shared/logging/winston.config.ts
  apps/api/src/shared/pipes/custom-validators.ts
  apps/api/src/shared/pipes/validation.config.ts
  apps/api/src/shared/sanitization/text-sanitizer.service.spec.ts
  apps/api/src/shared/sanitization/text-sanitizer.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(teaser): prototype-key lookups hardened with Object.hasOwn on the public preview endpoint
  apps/api/src/modules/teaser/teaser.service.ts
Due: api-lint, prettier

feat(lifecycle): the ungroundable-survival gate — terminal grounding failure archives at the money guard's own threshold, anchors inviolable, janitor doctrine rewritten to the ruling that governs
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor-policy.integration.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

fix(word-court): L5 — the word-claim key spells its locale through the one normalizer
  apps/api/src/modules/content-processing/entity-resolver/word-claim-lane.ts
Due: api-lint, prettier

fix(word-court): L1 — the backlog drain co-batches across lanes, one hearing per subject
  apps/api/src/modules/content-processing/entity-resolver/judged-vocabulary.service.ts
Due: api-lint, prettier

fix(word-court): M2 — facets that share a call share a meter, and the rate divides by what the money bought
  apps/api/src/modules/content-processing/entity-resolver/claim-hearing-ledger.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/claim-rehearing-budget.service.ts
  apps/api/src/modules/content-processing/entity-resolver/claim-verdict-ledger.service.ts
  apps/api/src/modules/content-processing/entity-resolver/judged-vocabulary.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/word-vocabulary-judge.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
Due: api-lint, prettier

test(baseline): coverage-truth re-baseline post-corpus-movement (must-appear 2354) — ⭐05's declared baseline, committed on their behalf to clear the deploy stamp
  apps/api/scripts/search-harness/coverage-truth.result.json
Due: prettier

feat(guard): the hosted-DB write guard names staging as the sanctioned laptop target — pinned host, prod still refuses unconditionally
  apps/api/src/prisma/prisma.service.ts
Due: api-lint, prettier

docs(v16): nightly-invariants line carries the push-on-red shape
  plans/v16-program.md
Due: prettier

docs(roadmap): checkpoint ① resolved — nightly invariants live with push-on-red; no cleanup owed
  plans/v16-and-beyond-roadmap.md
Due: prettier

fix(rig): the staging push truncates the pool meter with its ledger — split truth exhausted the backstop and killed the first v16 arm
  audit/COVERAGE.md
  scripts/rig/push-local-db-to-staging.sh
Due: prettier

fix(shadow): rehearsal rides the batch resume — the projection omitted the flag and every batch-path shadow minted live (the v16 leak, 339 entities/943 surfaces on staging), pinned
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.persist-first.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
Due: api-lint, prettier

fix(batch): cancel terminalizes its run through the one failure door — the 79 stuck-'running' v16 runs made the gap visible
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
Due: api-lint, prettier

docs(red-team): v16 verdicts, estimate post-mortem, bench mandate
  plans/red-team-2026-08-19.md
Due: prettier

plan(bench): the iteration bench — three laws, the state machine, owner gates, build stages
  plans/iteration-bench.md
Due: prettier

docs(census): iteration_runs classified (ops bookkeeping) — the guilty-until-classified guard caught its own author
  apps/api/src/modules/identity/person-data/person-data-class.ts
Due: api-lint, prettier

fix(taxonomy): fourth drain tranche classified noise (nightly catch #4) + the check's own restaurants/places alias fixed
  apps/api/scripts/check-place-type-classification.ts
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
Due: api-lint, prettier

docs(v16): trace audit + grounding investigation verdicts, state-of-everything sweep
  plans/state-of-everything-20260825.md
  plans/v16-grounding-investigation-20260825.md
  plans/v16-trace-audit-20260825.md
Due: prettier

docs(v16): cuisine system review, name-rule cost/benefit, defect-class sizing — the v17 evidence base
  plans/cuisine-system-review-20260825.md
  plans/name-rule-costbenefit-20260825.md
  plans/v16-defect-sizing-20260825.md
Due: prettier

fix(gate): restaurant route contract gate tracks the R14 placeId rename (gate rot, not a violation)
  scripts/app-route-runtime-delete-gate.sh
Due: none

plan(v17): the program — observed-span name contract, schema praise split, cuisine enumerator sequencing, grader-first; both red teams folded in
  plans/forgotten-commitments-redteam-20260825.md
  plans/v17-coherence-redteam-20260825.md
  plans/v17-program.md
Due: prettier

feat(bench-s1): grader rebuilt for the observed-span contract + gold re-baseline (F10)
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/scripts/fixtures/prompt-ab-s1-grader-rebaseline.result.json
  apps/api/scripts/prompt-ab.ts
Due: api-lint, prettier

fix(bench-s1): 8 more stale expectations re-derived from source text (agent sweep missed them); --only accepts a comma list
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/scripts/prompt-ab.ts
Due: api-lint, prettier

feat(v17): observed-span contract cutover — schema split + code-side canonicalization + banked refusals
  apps/api/prisma/migrations/20260826090000_extraction_contract_refusals/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/packing-ab.ts
  apps/api/scripts/reload/shadow-diff.sql
  apps/api/scripts/schema-quote-mirror.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/place-name-contract.ts
  apps/api/src/modules/external-integrations/llm/llm-concurrent-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/modules/identity/person-data/person-data-class.ts
  audit/COVERAGE.md
  scripts/rig/bench.sh
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
