Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

fix(billing)!: F9960-F9962 — RevenueCat TRANSFER moves the subscription atomically
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/webhook-event-identity.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(ops): board round 4 — landings ratified (F9963/F9964/F9968, adjudications), divider fix routed, doc-truth lane out
  ops/deploy-readiness.md
Due: prettier

docs(search): the plan described a flag world that no longer exists, and the wrong negation
  apps/api/src/modules/search/search-query.builder.ts
  plans/search-from-scratch-derivation.md
Due: api-lint, prettier

docs(plans): account-deletion plan becomes a description of what exists (F9970)
  plans/account-deletion-ideal-shape.md
Due: prettier

docs(audit): renumber the gated transfer-identifier residual F9963 -> F9969 (F9963 was taken)
  audit/FINDINGS.md
Due: prettier

docs(findings): coordination landings ratified — billing READY, merge/rollup/guard trio landed, plan passes landing
  audit/FINDINGS.md
Due: prettier

docs(ops): board round 5 — Payments+03 READY; rebuild elevated to deploy step 3b (F9967 window)
  ops/deploy-readiness.md
Due: prettier

fix(async-integrity): the last two bare batch status writes become guarded transitions
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
Due: api-lint, prettier

fix(F9976) + docs: the activation plan file becomes the resume authority; three plans stop lying
  apps/api/scripts/activate-shadow.ts
  apps/api/src/modules/content-processing/reddit-collector/activation-plan.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/activation-plan.ts
  plans/austin-reextract-handoff.md
  plans/query-system-data-dependencies.md
  plans/reextract-choreography.md
Due: api-lint, prettier

fix(test): drop parentPlaceIds from a fixture — the field was deleted on 08-07
  apps/mobile/src/overlays/panels/runtime/polls-place-jump.spec.ts
Due: prettier

docs(ops): board table rewritten with asserted replace — 5 of 8 rows READY
  ops/deploy-readiness.md
Due: prettier

docs(ops): extraction (fork) READY — 6 of 8 rows green
  ops/deploy-readiness.md
Due: prettier

docs: Search's six landed + dup-indexes struck as false finding; negation carried open; divider is Search's last item
  audit/FINDINGS.md
  ops/deploy-readiness.md
Due: prettier

docs(search): truth pass — the FAILS list read as live status, and a harness drove a deleted flag
  apps/api/scripts/search-harness/sibling-mode-e2e.ts
  plans/search-from-scratch-derivation.md
Due: api-lint, prettier

docs(plans): the coordinator's 15-plan truth pass — every correction dated, cited, and re-verified
  plans/android-parity.md
  plans/async-integrity-ideal-shape.md
  plans/collection-scheduler-consolidation.md
  plans/crave-score-cutover-plan.md
  plans/data-audit-2026-08.md
  plans/env-config-audit.md
  plans/generation-ideal-shape.md
  plans/global-overlay-route-runtime-cutover-plan.md
  plans/keyword-collection-priority-overhaul.md
  plans/multilingual.md
  plans/page-composition-from-scratch-design.md
  plans/prepared-snapshot-presentation-architecture-audit.md
  plans/restaurant-identity-domain-rollup-plan.md
  plans/search-demand-layer-architecture-pass.md
  plans/search-flow-rederivation.md
  plans/tomtom-market-cutover-plan.md
Due: prettier

chore: adopt the five orphaned files + close F7903's lint residual (F9980)
  apps/api/src/main.ts
  apps/api/src/modules/notifications/notification-dispatcher.service.ts
  apps/api/src/modules/places/parse-ground-geojson.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  apps/mobile/src/tracksheet/__render__/test-globals.d.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(async-integrity): C3 class CLOSED — zero bare llmBatchJob.update() remain, scan-proven
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
Due: api-lint, prettier

docs: C3 class closed and scan-enforced (fork 2, 1e2f218c4) — the scan caught a third site both audits missed
  audit/FINDINGS.md
  plans/async-integrity-ideal-shape.md
Due: prettier

docs(ops): fork 2 READY again — C3 scan-enforced; 6 of 8 green, 2 tails
  ops/deploy-readiness.md
Due: prettier

docs(plans): Wave-4's authorized edits applied — the stale critique gets its banner, the ladder's silent substitution named, B4 finally lives in a real file
  plans/redteam-abstractions.md
  plans/transition-endstate-contract.md
Due: prettier

feat(search)!: one list, ranked by score — the divider dies, and it was hiding results (owner ruling)
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/screens/Search/runtime/read-models/list-read-model-builder.ts
  apps/mobile/src/screens/Search/runtime/read-models/read-model-selectors-runtime.tsx
  apps/mobile/src/screens/Search/runtime/read-models/results-one-list-law.spec.ts
  apps/mobile/src/screens/Search/runtime/read-models/results-read-model-exact-match-state.ts
  apps/mobile/src/screens/Search/runtime/read-models/results-read-model-sectioned-projection.ts
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-exact-match-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-list-projection-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-list-projection-telemetry-runtime.ts
  apps/mobile/src/screens/Search/runtime/read-models/use-search-results-list-render-item-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/results-surface-read-model-policy-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/results-surface-read-model-policy-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-page-bands.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-results-policy-domain-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-selector-results-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-item-transport-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
  audit/FINDINGS.md
Due: prettier

docs(ops): ALL ROWS READY — green sweep running
  ops/deploy-readiness.md
Due: prettier

fix(sweep): green-sweep triage — 6 spec/gate reds, all spec-side, zero code defects
  apps/api/scripts/reconcile-surface-claims.ts
  apps/api/src/modules/entity-display/entity-display-lockdown.spec.ts
  apps/api/src/modules/entity-text-search/alias-fold-symmetry.integration.spec.ts
  apps/api/src/modules/external-integrations/governance/poison-beats-fail-open.spec.ts
  apps/api/src/modules/search/search-coverage-archived-leak.integration.spec.ts
  apps/api/src/modules/search/search-coverage-location-tiebreak.integration.spec.ts
  audit/FINDINGS.md
  ops/deploy-readiness.md
Due: api-lint, prettier

docs(ops): FULL GREEN SWEEP PASSED — go/no-go with the owner
  ops/deploy-readiness.md
Due: prettier

docs(ops): stop-item RESOLVED-IN-FACT (prod already timestamptz); owner defers both spend ops to launch prep
  ops/deploy-readiness.md
Due: prettier

fix(db): entity_satisfies index correctly ordered — fresh-chain apply was broken
  apps/api/prisma/migrations/20260805130000_index_every_foreign_key/migration.sql
  apps/api/prisma/migrations/20260808120000_entity_satisfies_to_entity_id_index/migration.sql
Due: none

fix(gate): doc-claims verdict no longer depends on which machine runs it
  scripts/check-doc-claims.mjs
Due: none

docs(audit): coverage honesty pass — 225 stale reviews reverted, 9 deleted paths judged
  audit/COVERAGE.md
Due: prettier

docs(audit): F9981 — CI DB-spec corpus-dependence; prod --force attribution recorded
  audit/FINDINGS.md
Due: prettier

feat(search)!: PURE global Crave Score order — tier admits, never orders (owner ruling 2026-08-08)
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  plans/concept-graph.md
Due: api-lint, prettier

fix(track-skeleton)!: pending mounted bodies paint their skeleton, not blank — the gate's context died with the old host
  apps/mobile/src/tracksheet/__render__/harness.ts
  apps/mobile/src/tracksheet/__render__/mocks/panels-mock.tsx
  apps/mobile/src/tracksheet/__render__/track-host-readiness.render-spec.tsx
  apps/mobile/src/tracksheet/use-track-leg-resolver.tsx
  plans/skeleton-path-audit.md
Due: prettier

owner-ruling(OA8): warm revisits are an OUTCOME not a ban; all queued cleanups approved; industry-frontier audit mandated
  plans/transition-endstate-contract.md
Due: prettier

refactor(search): drop the rounded display score from every ORDER BY — derived keys cannot break ties
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

docs(frontier): industry best-practices audit — the track matches or beats the norm; the gaps are one layer up and down
  plans/industry-frontier-audit.md
Due: prettier

docs(ops): DEPLOYED TO PRODUCTION — post-deploy state, incident F9982, open tails
  audit/FINDINGS.md
  ops/deploy-readiness.md
Due: prettier

fix(deploy): F9982 — the upload target is verified by identity, not name
  audit/FINDINGS.md
  scripts/rig/deploy.sh
Due: prettier

fix(C1): the pure-score ruling reaches the restaurant axis — the sectioned-without-pooled path still ordered by tier
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/mobile/src/navigation/runtime/transition-engine/host-token-transition-adapter.ts
  apps/mobile/src/navigation/runtime/transition-engine/transition-lane-player.ts
  apps/mobile/src/overlays/BottomSheetSceneStackBodyLayer.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackDecorLayers.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/PersistentSheetHeaderHost.tsx
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/overlays/SearchMountedScenePageBundleAuthority.tsx
  apps/mobile/src/overlays/SearchOverlayRouteGateHost.tsx
  apps/mobile/src/overlays/SearchOverlayRouteSheetSurfaceHost.tsx
  apps/mobile/src/overlays/SearchRouteSceneStackBottomSheetSurfaceHost.tsx
  apps/mobile/src/screens/OneTrackPrototype.tsx
Due: api-lint, prettier

plan(concept-graph): §11 rederivation-audit verdict — core ideal, knowledge plumbing owes a pass-run ledger; punchlist recorded
  plans/concept-graph.md
Due: prettier

fix(specs)!: a DB spec's verdict is a fact about the code, not about the corpus (F9981)
  apps/api/src/modules/identity/person-data/person-data-coverage.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-erasure-proof.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-scope.integration.spec.ts
  apps/api/src/modules/signals/subject-text-floor.integration.spec.ts
  audit/FINDINGS.md
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
