Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

audit(native-residue): F1700-F1710 — the scalar stack is a duplicate of its shipped twin; DELETE ruled (D59)
  CRAVE.md
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

fix(places-lists): billing-drift guard + derive the third type-list copy — the two open hand-lists the census flagged
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger-sku-coverage.spec.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

fix(track-engine)!: motion episodes are exclusive — refuse kills a live spring, the excursion machine is event-driven with generation-stamped edges, snapTo yields to the finger
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/track-sheet-fence.spec.ts
  apps/mobile/src/tracksheet/track-sheet-fence.ts
Due: prettier

audit(sim-session): D56 camera fix VERIFIED ON THE RIG — capture-at-trigger, fitAll-target, pixel-identical return
  audit/FINDINGS.md
Due: prettier

test(track-harness)!: the render lane — 18 host-wiring falsifiers over the real host/page/physics chain, 17-mutation RED ledger; hasClearedScreenEdge mirror deleted
  apps/mobile/.eslintrc.js
  apps/mobile/jest.tracksheet-render.config.js
  apps/mobile/jest.tracksheet-render.setup.js
  apps/mobile/package.json
  apps/mobile/src/tracksheet/__render__/harness.ts
  apps/mobile/src/tracksheet/__render__/mocks/flash-list-mock.tsx
  apps/mobile/src/tracksheet/__render__/mocks/panels-mock.tsx
  apps/mobile/src/tracksheet/__render__/mocks/react-native-mock.ts
  apps/mobile/src/tracksheet/__render__/mocks/reanimated-mock.ts
  apps/mobile/src/tracksheet/__render__/mocks/runtime-mock.ts
  apps/mobile/src/tracksheet/__render__/mocks/surfaces-mock.tsx
  apps/mobile/src/tracksheet/__render__/render-utils.tsx
  apps/mobile/src/tracksheet/__render__/track-host-fence.render-spec.tsx
  apps/mobile/src/tracksheet/__render__/track-host-readiness.render-spec.tsx
  apps/mobile/src/tracksheet/__render__/track-host-switch.render-spec.tsx
  apps/mobile/src/tracksheet/track-entry-hidden.spec.ts
  apps/mobile/src/tracksheet/track-entry-hidden.ts
  apps/mobile/tsconfig.json
  apps/mobile/tsconfig.tracksheet-render.json
  yarn.lock
Due: deps-check, prettier

docs(contract): deep red-team synthesis — motion authority + domain authority + one scene schema ratified as the post-burn-in ladder
  plans/redteam-abstractions.md
  plans/transition-endstate-contract.md
Due: prettier

rederive(controllers-F1601-F1609)!: 15 relay hops collapse to the four authorities — 24 files deleted, every hop byte-identical under a proven instrument
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-overlay-relay-composite.spec.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-route-geometry-frame-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-route-motion-frame-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-route-sheet-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-route-visual-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-control-selection-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-host-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-interaction-selection-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-panel-selection-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-policy-selection-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-presence-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-render-visibility-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-render-visual-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-route-host-visual-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-session-host-state-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-overlay-local-restaurant-sheet-visual-state-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/search-root-overlay-local-restaurant-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/spec-support/react-hook-harness.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-route-host-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-control-selection-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-host-runtime.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-interaction-control-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-interaction-selection-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-panel-policy-selection-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-panel-selection-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-policy-selection-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-presence-authority-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-presence-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-publication-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-render-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-route-host-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-selection-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-session-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-visibility-profiler-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-visual-host-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-local-restaurant-sheet-visual-session-runtime.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

docs(multilingual): backlog burndown + list census results
  plans/multilingual.md
Due: prettier

refactor(tomtom)!: the vendor boundary reaches the Gemini standard — fault arms, money gate, one door
  apps/api/eslint.config.mjs
  apps/api/scripts/data-fixes/audit-catalog-vs-vendor.ts
  apps/api/scripts/data-fixes/resolve-entity-names.ts
  apps/api/scripts/publish-reconciliation.ts
  apps/api/scripts/seed-region.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-containment.integration.spec.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  apps/api/src/modules/signals/ground-containment.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/shared/invariants/registry.spec.ts
  apps/api/src/shared/invariants/registry.ts
  scripts/rig/cost-reconcile.sh
Due: api-lint, prettier

rederive(native-F1700)!: the scalar-surface stack is deleted — 2,100+ lines across three languages, the shipped twin stands alone
  apps/mobile/android/app/src/main/java/com/crave/SearchChromeScalarSurfaceRegistryModule.java
  apps/mobile/android/app/src/main/java/com/crave/SearchMapRenderControllerPackage.java
  apps/mobile/ios/cravesearch.xcodeproj/project.pbxproj
  apps/mobile/ios/cravesearch/SearchChromeScalarSurfaceRegistry.swift
  apps/mobile/ios/cravesearch/SplashScreen.storyboard
  apps/mobile/ios/cravesearch/UIFrameSamplerBridge.m
  apps/mobile/src/screens/Search/runtime/native/search-chrome-scalar-surface-diagnostics-harness.ts
  apps/mobile/src/screens/Search/runtime/native/search-chrome-scalar-surface-measurement-runtime.ts
  apps/mobile/src/screens/Search/runtime/native/search-chrome-scalar-surface-presentation-runtime.ts
  apps/mobile/src/screens/Search/runtime/native/search-chrome-scalar-surface-primitive-source-runtime.ts
  apps/mobile/src/screens/Search/runtime/native/search-chrome-scalar-surface-producer-runtime.ts
  apps/mobile/src/screens/Search/runtime/native/search-chrome-scalar-surface-runtime.ts
  apps/mobile/src/screens/Search/runtime/native/search-chrome-scalar-surface-target-runtime.ts
  apps/mobile/src/screens/Search/runtime/native/search-chrome-scalar-surface.ts
  apps/mobile/src/screens/Search/runtime/native/use-search-chrome-scalar-surface-measured-control-ref.ts
  apps/mobile/src/screens/Search/runtime/native/use-search-chrome-scalar-surface-primitive-source-writer-runtime.ts
  apps/mobile/src/screens/Search/runtime/native/use-search-chrome-scalar-surface-runtime-bus-primitive-source-runtime.ts
  scripts/app-route-runtime-delete-gate.sh
Due: prettier

rederive(controllers-B): the repacker dep-coverage scanner itself — the guard the collapse rides on
  apps/mobile/src/screens/Search/runtime/shared/spec-support/repacker-dep-array-coverage.spec.ts
Due: prettier

audit(D60): controllers territory terminal; D59 executed
  audit/DESIGNS.md
Due: prettier

fix(maestro-F1713): poll-feed-sort flow tapped testIDs that never existed — retargeted to the live selector-sheet ids
  audit/FINDINGS.md
  maestro/perf/flows/poll-feed-sort.yaml
Due: prettier

verify(D56-camera): all five points PASS on the rig; the 'map gets stuck' mechanism is PROVEN (F1714-F1718)
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/pageswitch-debug-flag.ts
  audit/FINDINGS.md
Due: prettier

audit(D61): camera lane park-and-replay APPROVED — the patch re-port severed the completion channel
  audit/DESIGNS.md
Due: prettier

rederive(F1012-lane)!: the eleven single-field control-lane wrappers collapse into their consumers (F1719-F1720)
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-control-lane-collapse.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-control-lanes.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-profile-control-lanes.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-profile-control-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-control-lanes.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-control-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-control-stage-runtime.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

rederive(D61-batch1)!: the camera lane parks and replays at the arbiter — the native fallback lane is dead (F1721-F1722)
  apps/mobile/ios/cravesearch/ProfilePresentationTransactionExecutor.swift
  apps/mobile/ios/cravesearch/UIFrameSamplerBridge.m
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/pageswitch-debug-flag.ts
  apps/mobile/src/navigation/runtime/route-entry-origin-single-staging.spec.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-search-runtime-camera-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/map/camera-intent-arbiter-park.spec.ts
  apps/mobile/src/screens/Search/runtime/map/camera-intent-arbiter.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-camera-host-availability.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-native-camera-executor.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-session-assembly-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-session-assembly-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-session-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-session-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-session-services-foundation-runtime.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  scripts/app-route-runtime-delete-gate.sh
Due: prettier

fix(D61-batch2)!: the rnmapbox patch is whole again — completion channel restored, registry parker removed, iOS builds green (F1723)
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/cravesearch.xcodeproj/project.pbxproj
  apps/mobile/ios/cravesearch/PrivacyInfo.xcprivacy
  apps/mobile/src/screens/Search/components/search-map.tsx
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
  patches/@rnmapbox+maps+10.3.1.patch
  scripts/ios-camera-symbol-gate.sh
Due: prettier

rederive(F1012-ports)!: ten pure repacker port files collapse into the one consumer both chains terminate in (F1730)
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-control-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ports-collapse.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-runtime-bus-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-runtime-core-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-runtime-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-runtime-request-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-history-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-presentation-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-results-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-search-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-surface-ports.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

verify(D61-rig): the camera lane heals on the real composite — park/replay/supersession/completion all proven live (F1724)
  audit/FINDINGS.md
Due: prettier

rederive(F1509+F1508)!: one uncollapsed identity resolver — both facts by name, both patches deleted, departure not return (F1731)
  apps/mobile/src/navigation/runtime/app-route-overlay-session-origin-identity.spec.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/route-entry-origin-camera.spec.ts
  apps/mobile/src/navigation/runtime/route-entry-origin-capture-delegate.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

attr(F1032+F1717): both mechanisms proven on the rig — the *-patch freeze lifts with a binding constraint (F1732-F1733)
  audit/FINDINGS.md
Due: prettier

feat(search): dietary walls + toggle DTO — per-projection semantics (owner ruling 2026-08-04)
  apps/api/src/modules/search/dietary-constraints.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-see-locations.spec.ts
  apps/api/src/modules/search/search-signals-write.spec.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

rederive(F1012-patch)!: the last cluster falls — F1012 CLOSED across all four (F1734-F1735)
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-surface-hydration-publication-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-bus-publication-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-bus-publish-effect-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filter-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filter-chip-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-hydration-key-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-hydration-keys-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-hydration-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-hydration-publication-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-hydration-render-gate-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-hydration-render-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-hydration-settle-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-hydration-status-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-prepared-rows-key-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-prepared-rows-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-list-prepared-rows-readiness-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-patch-runtime-collapse.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-price-selector-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-reconnect-bus-patch-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-ui-bus-patch-runtime.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

feat(search): B1 substrate — IANA tz backfill + SQL-evaluable open intervals (parity 500/500)
  apps/api/package.json
  apps/api/prisma/migrations/20260804190000_location_open_intervals/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/search/open-intervals-builder.service.ts
  apps/api/src/modules/search/search.module.ts
  yarn.lock
Due: api-lint, deps-check, prettier

feat(search)!: B1 collapse — open-now is a SQL membership predicate; two-phase machine deleted
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/utils/open-now-selection.spec.ts
  apps/api/src/modules/search/utils/open-now-selection.ts
Due: api-lint, prettier

feat(search): dietary toggle flows through the natural-search path
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

docs(search): B1-B3 close-out record
  plans/search-from-scratch-derivation.md
Due: prettier

docs(CRAVE-F1780): stamp the executed wave into the canonical map
  CRAVE.md
  audit/FINDINGS.md
Due: prettier

audit(F1781): clean pass 1 is NOT clean — a 37-file zero-consumer orphan cluster survived two prior passes
  audit/FINDINGS.md
Due: prettier

feat(search): the dietary toggle strip ships — chips are a LENS, options are server-curated
  apps/api/src/modules/search/dietary-constraints.ts
  apps/api/src/modules/search/search.controller.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/hooks/use-dietary-options.ts
  apps/mobile/src/screens/Search/hooks/use-search-filter-modal-owner.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-fetch.ts
  apps/mobile/src/screens/Search/runtime/shared/dietary-lens.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-filter-state-store-bridge.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-header-warmup-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filters-header-runtime.ts
  apps/mobile/src/services/search.ts
  apps/mobile/src/store/searchStore.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

docs(search): dietary strip shipped — record the lens semantics + server-curated options
  plans/search-from-scratch-derivation.md
Due: prettier

rederive(F1781)!: the 37-file dead contract scaffold is deleted — three prior verdicts had ruled it and never executed
  apps/mobile/src/screens/Search/hooks/search-submit-runtime-utils.ts
  apps/mobile/src/screens/Search/runtime/shared/results-surface-read-model-policy-diagnostics.ts
  apps/mobile/src/screens/Search/runtime/shared/route-overlay-command-input-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-bottom-nav-layout-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-policy-domain-diagnostics.ts
  apps/mobile/src/screens/Search/runtime/shared/search-header-search-bar-interaction-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-header-search-bar-layout-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-header-search-bar-visual-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-header-search-this-area-interaction-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-header-search-this-area-visual-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-header-shortcuts-interaction-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-header-shortcuts-layout-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-header-shortcuts-visual-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-hidden-filters-warmup-state-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-map-render-engine-inputs-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-map-render-host-config-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-map-render-presentation-props-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-map-render-state-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-overlay-local-restaurant-sheet-render-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-overlay-profiler-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-price-sheet-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-rank-and-score-sheets-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-result-row-header-chrome-boundary-telemetry.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-card-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-sheet-resolved-scene-selection-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus-context.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-overlay-container-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-data-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-layout-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-motion-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-panel-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-scroll-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-suggestion-surface-selection-input-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-effects-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-results-transaction-key-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-tab-root-overlay-key-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-tab-scene-layout-runtime.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  scripts/app-route-runtime-delete-gate.sh
Due: prettier

fix(search): dietary chips get their OWN toggle-interaction kind (they were wearing the price toggle's)
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.spec.ts
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.ts
  apps/mobile/src/screens/Search/runtime/shared/results-toggle-interaction-contract.ts
  apps/mobile/src/tracksheet/track-sheet-fence.spec.ts
  apps/mobile/src/tracksheet/track-sheet-fence.ts
Due: prettier

rederive(track-domain)!: ONE domain authority — the five tau-guards collapse into legalRange(), F4 and F7 close by construction
  apps/mobile/ios/TrackScrollKit/Sources/TrackDomainRange.h
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/ios/TrackScrollKit/Tests/TrackDomainRangeTests.c
  apps/mobile/ios/TrackScrollKit/Tests/run.sh
  apps/mobile/package.json
Due: deps-check, prettier

rederive(ledger-backlog): first wave of ruled-but-unexecuted verdicts — F1019 no-fake-estimates, F1021, F1071, F1077, nav pass-2
  apps/mobile/src/navigation/runtime/MainLaunchCoordinator.tsx
  apps/mobile/src/navigation/runtime/app-overlay-route-params-equality.ts
  apps/mobile/src/navigation/runtime/app-route-native-overlay-target-authorities.ts
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/components/restaurant-result-card-descriptor.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
  apps/mobile/src/screens/Search/runtime/read-models/header-read-model-builder.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-surface-transaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-bounds-service.ts
  audit/FINDINGS.md
Due: prettier

fix(security-F408+F416)!: the audit trail no longer trusts an unverified JWT, and redaction stops leaking secrets
  apps/api/src/shared/logging/correlation.utils.ts
  apps/api/src/shared/logging/logging-userid-forgery.spec.ts
  apps/api/src/shared/logging/logging.interceptor.ts
  apps/api/src/shared/logging/redaction.spec.ts
  apps/api/src/shared/logging/redaction.ts
  apps/api/src/shared/logging/winston-logger.service.ts
Due: api-lint, prettier

audit(ledger)!: the ledger can finally answer 'what is owed' — 345 open, 480 terminal, and a gate that keeps it true
  .github/workflows/ci.yml
  audit/FINDINGS.md
  scripts/findings-ledger-gate.sh
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
