Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

docs(charter): one title authority landed + sim-verified
  plans/one-ground-charter.md
Due: prettier

docs(async): round 5 — execution-only red team, 7/7 real-code proofs + Nest-context ballot/sweep runs; stranded label honesty
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  plans/async-integrity-ideal-shape.md
Due: api-lint, prettier

feat(search): two owner rulings land — richness-gate modifier semantics ratified, threshold = one full page
  apps/api/src/modules/search/search.service.ts
  plans/search-from-scratch-derivation.md
Due: api-lint, prettier

fix(places): THE ALEUTIAN CLASS — derived bbox becomes the largest-gap law
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-containment.integration.spec.ts
Due: api-lint, prettier

fix(track): reachability before the seed; presentation is commanded, not inferred
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

docs(charter): empirical round recorded — one claim falsified and fixed
  plans/one-ground-charter.md
Due: prettier

docs(search): calibration pre-build handoff — instruments now, readings once
  plans/search-calibration-prebuild-handoff.md
Due: prettier

feat(sheet): THE SINGLE PAINTED CHROME — the twin dies, the hit redirects
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/ios/TrackScrollKit/Sources/TrackShellSlot.h
  apps/mobile/ios/TrackScrollKit/Sources/TrackShellSlot.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

feat(sheet): the elastic tug and the header-gated release come back
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
Due: none

docs(audit): P2 verification update — cuisine dissolves (prompt already both-sides), chains narrows to metro-scoped resolution, dietary narrows to dedupe
  plans/data-audit-2026-08.md
Due: prettier

feat(vocab): class ② — cuisine facet, tombstone redirects, explicit junk sinks, full-rebuild runner
  apps/api/prisma/migrations/20260801200000_cuisine_facet/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/full-projection-rebuild.runner.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

fix(sheet): the tug is an EPISODE, not a property of the finger
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
Due: none

feat(restaurants): class ③ — junk archive migration, stripped-key + prefix dedupe lanes with ambiguity guard
  apps/api/prisma/migrations/20260801210000_restaurant_junk_archive/migration.sql
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
Due: api-lint, prettier

feat(vocab): class ④ — occasion/dup/junk-alias cleanup, food dedupe cron, attribute identity unique
  apps/api/prisma/migrations/20260801220000_vocab_alias_cleanup/migration.sql
  apps/api/prisma/migrations/20260801230000_attribute_identity_unique/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
Due: api-lint, prettier

feat(edges): class ⑤ — one category source of truth, edge hygiene, minting threshold, pipeline hygiene
  apps/api/prisma/migrations/20260801240000_edge_hygiene/migration.sql
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/search/search-category-rollup.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

feat(search): step 3 — the pooled richness gate, one execution per projection
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

docs(rig): BUILD TRUST — cwd drift, silent skipped builds, dead-strip false negatives
  CLAUDE.md
Due: prettier

feat(header): retry-ladder parity + catalog-revision watermark + full cleanup pass
  apps/api/src/modules/content-processing/index.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/content-processing/reddit-collector/index.ts
  apps/api/src/modules/home/home-feed.service.ts
  apps/api/src/modules/home/home-feed.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/places.controller.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  apps/api/src/modules/places/viewport-verdict.service.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
  apps/api/src/modules/signals/ground-containment.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/mobile/src/overlays/panels/HomePanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  apps/mobile/src/services/home-feed-normalize.ts
  apps/mobile/src/services/home-types.ts
  apps/mobile/src/services/home.spec.ts
  apps/mobile/src/services/polls.ts
  apps/mobile/src/store/viewport-subject-store.ts
  packages/shared/src/geo/slice.ts
  packages/shared/src/geo/subjects.ts
Due: api-lint, shared-lint, prettier

fix(vocab): final red team — one canonical fold everywhere, self-healing index migration, mint-time edge rules, user-anchor exemptions
  apps/api/prisma/migrations/20260801200000_cuisine_facet/migration.sql
  apps/api/prisma/migrations/20260801210000_restaurant_junk_archive/migration.sql
  apps/api/prisma/migrations/20260801220000_vocab_alias_cleanup/migration.sql
  apps/api/prisma/migrations/20260801230000_attribute_identity_unique/migration.sql
  apps/api/prisma/migrations/20260801240000_edge_hygiene/migration.sql
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
Due: api-lint, prettier

docs(audit): classes ②-⑤ execution record + the canonical fold law
  plans/data-audit-2026-08.md
Due: prettier

feat(search): step 5 — per-word starvation provenance (soft_word_counts)
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

refactor(track): THE COLLAPSE — one track, resident STATE not resident scroll views
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

test(polls): spec harnesses follow the removed promotion injections
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
Due: api-lint, prettier

docs(charter): cleanup close-out recorded
  plans/one-ground-charter.md
Due: prettier

feat(search): step 4 — structured grounding; flat foodIds becomes a derived view
  apps/api/src/modules/search/search-category-rollup.spec.ts
  apps/api/src/modules/search/search-constraints.ts
  apps/api/src/modules/search/search-ingredient-include.spec.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

chore(cleanup): production-readiness sweep across the recent arcs
  apps/api/.env.example
  apps/api/scripts/archive/estimate-austin-cost.sh
  apps/api/scripts/dish-knowledge-synthesis.ts
  apps/api/scripts/matcher-probe.ts
  apps/api/scripts/replay-pilot.ts
  apps/api/scripts/replay-stranded-runs.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/batch-processing-queue.types.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data.types.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.types.ts
  apps/api/src/modules/external-integrations/index.ts
  apps/api/src/modules/external-integrations/llm/dto/llm-output.dto.ts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  apps/api/src/modules/external-integrations/llm/index.ts
  apps/api/src/modules/external-integrations/llm/llm-audit-policy.ts
  apps/api/src/modules/external-integrations/llm/llm-chunking.service.ts
  apps/api/src/modules/external-integrations/llm/llm-concurrent-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.exceptions.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/rate-limiting.types.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/external-integrations/shared/base-external-api.service.ts
  apps/api/src/modules/external-integrations/shared/external-integrations.exceptions.ts
  apps/api/src/modules/external-integrations/shared/index.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
  scripts/rig/grep-invariants.sh
Due: api-lint, prettier

feat(search): step 4b — one evidence-admission authority, per-consumer floors
  apps/api/src/modules/search/evidence-admission.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

feat(search): step 2 — untyped exact recall + lemma variant probes + single-bucket placement
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-untyped-recall.spec.ts
Due: api-lint, prettier

feat(search): zero-per-search-LLM plumbing — unsegmented staging zone + async segmenter + flag-gated gazetteer Understand
  apps/api/prisma/migrations/20260802000000_unsegmented_residue_staging/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-untyped-recall.spec.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/unsegmented-residue.service.ts
Due: api-lint, prettier

feat(search): calibration-tail instruments — conflict extractor, junk detectors, threshold re-measure
  apps/api/scripts/search-harness/calibration-instruments.ts
Due: api-lint, prettier

fix(header): watermark red-team round — three convergence holes closed
  apps/mobile/src/overlays/panels/HomePanel.tsx
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
Due: prettier

fix(chrome): ONE RULER for the search chrome; the strip stops re-measuring
  apps/mobile/src/components/SegmentedToggle.tsx
  apps/mobile/src/navigation/runtime/AppRouteSceneChromeMotionRuntimeProvider.tsx
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

perf(places): watermark rides an index (61ms -> 0.06ms) + red-team round 2
  apps/api/prisma/migrations/20260801130000_place_geometries_fetched_at_index/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-catalog.service.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  apps/mobile/src/store/viewport-subject-store.ts
Due: api-lint, prettier

docs(charter): watermark red-team rounds recorded
  plans/one-ground-charter.md
Due: prettier

fix(sheet): the published sheetY is a MIRROR, not a control; chrome cache stops freezing handlers
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

fix: THE BIG ONE — big-one red-team fixes across shadow seams + hygiene
  apps/api/prisma/migrations/20260801200000_cuisine_facet/migration.sql
  apps/api/scripts/activate-shadow.ts
  apps/api/scripts/reload/gc-unsupported-entities.sql
  apps/api/scripts/reload/shadow-diff.sql
  apps/api/scripts/reload/shadow-discard.sql
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  plans/data-audit-2026-08.md
  plans/reextract-choreography.md
  scripts/rig/reextract.sh
Due: api-lint, prettier

fix(places): FINAL red-team round — cross-change defects, the class no single-commit review could see
  apps/api/package.json
  apps/api/prisma/migrations/20260730140000_probed_regions/migration.sql
  apps/api/prisma/migrations/20260801140000_probed_regions_view_index/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/seed-coarse-polygons.ts
  apps/api/scripts/seed-region.ts
  apps/api/scripts/seed-us-places.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/mobile/src/overlays/panels/HomePanel.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-on-demand-notice-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-control-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  apps/mobile/src/store/viewport-subject-store.ts
Due: api-lint, deps-check, prettier

docs(charter): final red-team round recorded
  plans/one-ground-charter.md
Due: prettier

feat(sheet): THE CHROME IS CONTENT — mask ownership is exclusive
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

fix(reextract): activation silently no-opped and reported success
  apps/api/scripts/activate-shadow.ts
  apps/api/scripts/prompt-activate.ts
  apps/api/scripts/prompt-push.ts
  apps/api/scripts/reextract-estimate.ts
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
