Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

refactor(collection): delete the gate's staged-rollout 'archive' mode
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
Due: api-lint, prettier

fix(collection): gate flow-trace fixes for non-archive pipelines
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
Due: api-lint, prettier

feat(search-map): S4d-3b — delete every silent-drop/timer hold regime in the native protocol
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

docs(plans): ledger — S4d-3b shipped; S4d-3c is the remaining mechanical rename
  plans/search-desired-state-architecture.md
Due: prettier

refactor(search-map): S4d-3c slice 1 — the five legacy request keys leave the native payload
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

docs(plans): ledger — S4d-3c slice 1 shipped; slice 2 scoped honestly as a state redesign
  plans/search-desired-state-architecture.md
Due: prettier

docs(plans): S4d-3c slice-2 scoping facts — event-key economy is the real breadth
  plans/search-s4-reconciler-edit-map.md
Due: prettier

docs(collection): freeze audit — contract is load-ready, nothing forces re-spend
  plans/collection-freeze-audit.md
Due: prettier

docs(billing): payments ideal-shape design — the access-grant ledger
  plans/payments-ideal-shape.md
Due: prettier

feat(collection): seed-market.ts — THE archive seeding command; test-pipeline retired
  apps/api/test-pipeline.ts
Due: prettier

refactor(search-map): S4d-3c slice 2a — the wire is explicit (worldId, phase)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

refactor(search-map): S4d-3c slice 2b — the three enter request keys collapse into ONE (worldId, level) register
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(plans): ledger — S4d-3c COMPLETE (2a wire + 2b register collapse; kind = conscious keep)
  plans/search-desired-state-architecture.md
Due: prettier

refactor(collection): audit items 1+4 — delete dead half-merge, rename mislabeled kill switch
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-ingestion.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/collection-job-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
Due: api-lint, prettier

feat(collection): lifecycle reconciler for stuck runs (audit item 2)
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
Due: api-lint, prettier

fix(collection): sub-batch failures fail the run loudly (audit item 3)
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

feat(search+resolver): ingredients read contract + doctrine (audit items 7-8)
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/testimony-knowledge-doctrine.md
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

refactor(search): S4e step 1 — openNow/priceLevels/risingActive/includeSimilarActive leave the bus
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/hooks/use-search-filter-modal-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-writer.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-tuple-selectors.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-filter-state-store-bridge.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-filter-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-filters-runtime-state.ts
  apps/mobile/src/screens/Search/utils/price.ts
Due: prettier

feat(enrichment): primary enrichment rides BullMQ (audit item 6)
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment-queue.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.worker.ts
Due: api-lint, prettier

docs(collection): scheduler consolidation target shape + strangler plan (item 5)
  plans/collection-scheduler-consolidation.md
Due: prettier

feat(collection): collection_schedules table (consolidation step 1)
  apps/api/prisma/migrations/20260708030000_collection_schedules/migration.sql
  apps/api/prisma/schema.prisma
Due: none

refactor(search): S4e step 2 — searchMode/submittedQuery/isSearchSessionActive leave the bus
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/hooks/use-search-clear-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-data-plane-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-query-action-context-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-writer.ts
  apps/mobile/src/screens/Search/runtime/shared/search-foreground-policy-domain-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-shell-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-results-runtime-state.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-clear-restore-authority-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-arrival-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-flags-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-session-runtime-contract.ts
Due: prettier

feat(billing): access-grant ledger + gating guard + webhook hardening (steps 1-2)
  apps/api/prisma/migrations/20260708030000_access_grants/migration.sql
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/entitlements/entitlements.module.ts
  apps/api/src/modules/entitlements/require-entitlement.guard.ts
  apps/api/src/modules/identity/dto/user-profile.dto.ts
  apps/api/src/modules/identity/identity.module.ts
  apps/api/src/modules/identity/user.service.ts
Due: api-lint, prettier

refactor(search): S4e step 3 — pendingTabSwitchTab is deleted; desired tab = tuple.tab everywhere
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-data-plane-runtime.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-presentation-seam.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-writer.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-runtime-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-shell-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-shell-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-results-runtime-state.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-filter-modal-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-arrival-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-primitives-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-chrome-freeze-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filters-header-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-session-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-read-model.ts
Due: prettier

feat(collection): consolidated CollectionSchedulerService (steps 2-4)
  apps/api/prisma/market-provisioning.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/collection-job-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
Due: api-lint, prettier

refactor(search): S4e step 4 — the exit-lane synthetic exit_started pre-announce dies
  apps/mobile/src/screens/Search/runtime/shared/use-search-surface-results-exit-transaction-execution-runtime.ts
Due: prettier

feat(billing): grant writers — comp CLI + one-call reward hooks (step 3)
  apps/api/scripts/access-grant.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/entitlements/entitlements.module.ts
  apps/api/src/modules/entitlements/reward-grant.service.ts
Due: api-lint, prettier

docs(plans): ledger — S4e COMPLETE; the S1–S4 charter is fully executed
  plans/search-desired-state-architecture.md
Due: prettier

refactor(collection): delete the dead keyword planning path (step 5, part 1)
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
Due: api-lint, prettier

refactor(collection): scheduler consolidation COMPLETE — map path deleted (step 5)
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-job.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
Due: api-lint, prettier

test(billing): entitlement + webhook contract suite (step 6) — caught 2 real bugs
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/require-entitlement.guard.spec.ts
Due: api-lint, prettier

docs(collection): scheduler consolidation plan marked COMPLETE
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  plans/collection-scheduler-consolidation.md
Due: api-lint, prettier

fix(search-map): the dismiss ack label persists through mid-dismiss keyless payloads
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
Due: prettier

feat(billing): dish-layer gates placed, LOG mode (step 4)
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/search/search.controller.ts
  apps/api/src/modules/search/search.module.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

fix(search): a close-canceled resolution logs info, not a dev error toast
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
Due: prettier

feat(payments): step 5 — mobile purchases layer (RC wrapper, useAccess server-truth hook, paywall skeleton)
  apps/mobile/.env.example
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/src/hooks/useAccess.ts
  apps/mobile/src/providers/PurchasesProvider.tsx
  apps/mobile/src/screens/PaywallScreen.tsx
  apps/mobile/src/services/purchases.ts
  apps/mobile/src/services/users.ts
  plans/payments-ideal-shape.md
  yarn.lock
Due: deps-check, prettier

docs(payments): record launch business-model decision — soft paywall, annual store intro trial
  apps/mobile/src/screens/PaywallScreen.tsx
  plans/payments-ideal-shape.md
Due: prettier

fix(search): the empty-results state actually renders — and favorites gets honest empty copy
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-content-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
  apps/mobile/src/screens/Search/styles.ts
Due: api-lint, prettier

fix(collection): seeder owns Gemini batch polling to completion
  apps/api/scripts/seed-market.ts
Due: api-lint, prettier

fix(collection): tolerate type-prefixed SRC refs in model output
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
