Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, mobile-lint, shared-lint, prettier

api-lint:
  run: cd apps/api && yarn lint

mobile-lint:
  run: cd apps/mobile && yarn lint

shared-lint:
  run: cd packages/shared && yarn lint

prettier:
  run: yarn prettier --write {staged_files}

chore: standardize ternary operator formatting for improved readability in restaurant location enrichment service
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

chore: add expo-linear-gradient dependency and implement gradient background in BottomTabNavigator for improved UI
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/mobile/images/image.png
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/navigation/BottomTabNavigator.tsx
  apps/mobile/src/screens/Search/index.tsx
  yarn.lock
Due: api-lint, mobile-lint, prettier

chore: add expo-blur dependency, update Podfile for iOS deployment target, and enhance Search screen with blur effects for improved UI
  apps/mobile/images/image.png
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/Podfile.properties.json
  apps/mobile/ios/cravesearch.xcodeproj/project.pbxproj
  apps/mobile/ios/cravesearch/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/mobile/ios/cravesearch/Images.xcassets/Contents.json
  apps/mobile/ios/cravesearch/Images.xcassets/SplashScreen.imageset/Contents.json
  apps/mobile/ios/cravesearch/Images.xcassets/SplashScreenBackground.imageset/Contents.json
  apps/mobile/package.json
  apps/mobile/src/assets/pins/restaurant-pin.png
  apps/mobile/src/navigation/BottomTabNavigator.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/types/imageImports.ts
  yarn.lock
Due: mobile-lint, prettier

chore: standardize JSON formatting in image asset configuration files and improve code readability in Search screen component
  apps/mobile/ios/cravesearch/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/mobile/ios/cravesearch/Images.xcassets/Contents.json
  apps/mobile/ios/cravesearch/Images.xcassets/SplashScreen.imageset/Contents.json
  apps/mobile/ios/cravesearch/Images.xcassets/SplashScreenBackground.imageset/Contents.json
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: refactor Search screen component by removing unused animations, updating styles, and improving search bar functionality
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: enhance Search screen with like functionality for dishes and restaurants, update styles for improved UI
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: refine Search screen layout and styles for better user experience
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: integrate open-now filtering functionality in Search screen with user notifications
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: add utc_offset_minutes field to Google Places service and fix indentation in Search screen
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/mobile/src/screens/Search/index.tsx
Due: api-lint, mobile-lint, prettier

chore: implement onboarding flow with RootNavigator and add onboarding screen components
  apps/mobile/App.tsx
  apps/mobile/images/image.png
  apps/mobile/images/image2.png
  apps/mobile/images/image3.png
  apps/mobile/images/image4.png
  apps/mobile/src/assets/onboarding/placeholder.png
  apps/mobile/src/components/ui/Button.tsx
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/navigation/RootNavigator.tsx
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/index.ts
  apps/mobile/src/store/onboardingStore.ts
  apps/mobile/src/types/navigation.ts
Due: mobile-lint, prettier

chore: improve code readability in Search screen by standardizing JSX formatting
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: update onboarding flow with new steps, enhance UI elements, and improve code organization
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: update Prisma schema with new models and fields for user entitlements and billing events
  apps/api/prisma/schema.prisma
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: update README and configuration for Clerk and Stripe integration, add new environment variables
  README.md
  apps/api/package.json
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  apps/api/src/main.ts
  apps/api/src/modules/billing/billing-webhook.controller.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.module.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/dto/create-checkout-session.dto.ts
  apps/api/src/modules/billing/dto/create-portal-session.dto.ts
  apps/api/src/modules/billing/dto/revenuecat-webhook.dto.ts
  apps/api/src/modules/identity/auth/clerk-auth.guard.ts
  apps/api/src/modules/identity/auth/clerk-auth.service.ts
  apps/api/src/modules/identity/dto/user-profile.dto.ts
  apps/api/src/modules/identity/identity.module.ts
  apps/api/src/modules/identity/user.controller.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/shared/decorators/current-user.decorator.ts
  apps/api/src/shared/index.ts
  apps/api/src/shared/types/authenticated-request.type.ts
  apps/mobile/.env.example
  apps/mobile/App.tsx
  apps/mobile/assets/splash.png
  apps/mobile/images/image5.png
  apps/mobile/images/logo.png
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/services/api.ts
  yarn.lock
Due: api-lint, mobile-lint, prettier

chore: standardize string formatting in onboarding constants and improve code readability in Onboarding screen
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/screens/Onboarding.tsx
Due: mobile-lint, prettier

chore: add price level filtering functionality in search and onboarding screens, update related components and styles
  apps/api/prisma/migrations/20250315000000_add_price_level_to_entities/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/hooks/useSearchQuery.ts
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/store/searchStore.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/search.ts
Due: api-lint, mobile-lint, shared-lint, prettier

chore: enhance code readability by standardizing formatting in restaurant location enrichment and search services, and improve onboarding screen styles
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/store/searchStore.ts
Due: api-lint, mobile-lint, prettier

chore: improve code readability by standardizing indentation in restaurant location enrichment service
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

chore: update onboarding flow with new carousel step, enhance button styles, and improve theme integration
  apps/mobile/src/assets/onboarding/placeholder.png
  apps/mobile/src/components/ui/Button.tsx
  apps/mobile/src/constants/onboarding.ts
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

chore: enhance LLM service with caching functionality, update configuration for cache settings, and improve onboarding screen styles
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/mobile/src/components/ui/Button.tsx
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/screens/Onboarding.tsx
Due: api-lint, mobile-lint, prettier

chore: improve code readability by standardizing formatting in LLM service, Button component, and Onboarding screen
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/mobile/src/components/ui/Button.tsx
  apps/mobile/src/screens/Onboarding.tsx
Due: api-lint, mobile-lint, prettier

chore: standardize code formatting and improve readability in test pipeline and various services
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/test-pipeline.ts
Due: api-lint, prettier

chore: standardize code formatting and improve readability in unified processing and LLM services
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
Due: api-lint, prettier

chore: improve code readability by standardizing formatting in SmartLLMProcessor service
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
Due: api-lint, prettier

chore: enhance code readability by standardizing formatting in SmartLLMProcessor service
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
Due: api-lint, prettier

chore: enhance autocomplete functionality with user context, improve entity resolution, and standardize code formatting
  .gitleaks.toml
  apps/api/prisma/migrations/20251116090000_autocomplete_trgm/migration.sql
  apps/api/src/modules/autocomplete/autocomplete.controller.ts
  apps/api/src/modules/autocomplete/autocomplete.module.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/dto/autocomplete.dto.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
  apps/api/src/modules/search/search-popularity.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query-suggestion.service.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/test-pipeline.ts
  apps/mobile/images/image7.png
  apps/mobile/src/components/EmailAuthModal.tsx
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/providers/PollNotificationListener.tsx
  apps/mobile/src/screens/Bookmarks/index.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Polls/index.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/services/auth.ts
  apps/mobile/src/services/autocomplete.ts
  apps/mobile/src/store/cityStore.ts
  patches/react-native-gesture-handler+2.12.1.patch
Due: api-lint, mobile-lint, prettier

chore: add admin poll creation functionality, enhance user authentication flow, and improve navigation in mobile app
  README.md
  apps/api/README.md
  apps/api/src/config/configuration.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/identity/auth/admin.guard.ts
  apps/api/src/modules/identity/identity.module.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/polls/dto/create-manual-poll.dto.ts
  apps/api/src/modules/polls/poll-lifecycle.service.ts
  apps/api/src/modules/polls/poll-scheduler.service.ts
  apps/api/src/modules/polls/polls-admin.controller.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/test-pipeline.ts
  apps/mobile/src/navigation/RootNavigator.tsx
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/SignIn.tsx
  apps/mobile/src/screens/index.ts
  apps/mobile/src/services/polls.ts
  apps/mobile/src/types/navigation.ts
Due: api-lint, mobile-lint, prettier

chore: standardize code formatting and improve readability across multiple components in mobile and API services
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/SignIn.tsx
Due: api-lint, mobile-lint, prettier

chore: standardize code formatting and improve readability across multiple components in mobile and API services
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/identity/auth/optional-clerk-auth.guard.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/providers/PollNotificationListener.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: api-lint, mobile-lint, prettier

chore: standardize code formatting and improve readability in unified processing and authentication guard services
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/identity/auth/optional-clerk-auth.guard.ts
Due: api-lint, prettier

fix: correct spelling error in test pipeline and enhance search query logic to include restaurant total upvotes and minimum votes filtering
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/test-pipeline.ts
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Search/index.tsx
Due: api-lint, mobile-lint, prettier

chore: update dependencies, enhance search query logic to include restaurant total counts, and improve UI elements in mobile app overlays
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/ios/Podfile.lock
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/components/icons/HeroIcons.tsx
  apps/mobile/src/overlays/BookmarksOverlay.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/overlays/RestaurantOverlay.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/types/multi-slider.ts
  packages/shared/src/types/search.ts
  patches/expo-apple-authentication+6.0.1.patch
  yarn.lock
Due: api-lint, mobile-lint, shared-lint, prettier

chore: standardize code formatting and improve readability in metro.config.js, HeroIcons.tsx, PollsOverlay.tsx, and Search/index.tsx
  apps/api/src/modules/search/search-query.executor.ts
  apps/mobile/metro.config.js
  apps/mobile/src/components/icons/HeroIcons.tsx
  apps/mobile/src/overlays/PollsOverlay.tsx
  apps/mobile/src/screens/Search/index.tsx
  packages/shared/src/types/search.ts
Due: api-lint, mobile-lint, shared-lint, prettier

feat: enhance search functionality by adding user location context, improving restaurant context handling, and updating UI to display distance and operating status in mobile app
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/mobile/src/components/icons/HeroIcons.tsx
  apps/mobile/src/screens/Search/index.tsx
  packages/shared/src/types/search.ts
Due: api-lint, mobile-lint, shared-lint, prettier

chore: standardize code formatting and improve readability in Search/index.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor: simplify search screen logic by removing unused state management and enhancing gesture handling with NativeViewGestureHandler
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  mobile-lint: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
