Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(chrome): the nav action fires on PRESS, not on PRESS-OUT
  apps/mobile/src/overlays/HeaderNavAction.tsx
Due: prettier

fix(migrations): serial plans — prod /dev/shm can't host parallel DSM
  apps/api/prisma/migrations/20260801230000_attribute_identity_unique/migration.sql
  apps/api/prisma/migrations/20260801240000_edge_hygiene/migration.sql
Due: none

fix: THE FINAL RED TEAM — three Opus reviewers + execution proof
  .claude/skills/reextract/SKILL.md
  apps/api/scripts/activate-shadow.ts
  apps/api/scripts/reload/shadow-discard.sql
  apps/api/src/modules/content-processing/entity-resolver/entity-anchor-rehome.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-anchor-rehome.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/prompt-registry.service.ts
  plans/austin-reextract-handoff.md
  plans/reextract-choreography.md
  scripts/rig/deploy.sh
  scripts/rig/reextract.sh
Due: api-lint, prettier

fix(places): red-team round 3 — three BLOCKERs, all silent, all already live
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-containment.integration.spec.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
Due: api-lint, prettier

docs(charter): round 3 recorded + the honest open list
  plans/one-ground-charter.md
Due: prettier

docs(plan): the foundational re-derivation — GENERATION as a first-class dimension
  plans/generation-ideal-shape.md
Due: prettier

fix(sheet): THE PATH RULE — everything that is not the chrome is clipped
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
Due: none

refactor(places): THE OBSERVATION TYPE — a failure is not an observation
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
Due: api-lint, prettier

docs(charter): the re-derivation — six diseases beneath the open findings
  plans/one-ground-charter.md
Due: prettier

refactor(extraction): ONE home for extraction scope — and the abstraction I first proposed was wrong
  .claude/skills/reextract/SKILL.md
  apps/api/scripts/activate-shadow.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope-lockdown.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  plans/generation-ideal-shape.md
Due: api-lint, prettier

feat(spend): ambient campaign attribution — the envelope now guards what it was sized for
  .claude/skills/reextract/SKILL.md
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/external-integrations/shared/work-context.ts
Due: api-lint, prettier

fix(projections,gate): starved connections stop ranking; the gate's fallback stops being silent
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
Due: api-lint, prettier

fix(scripts): the integrity script stops aborting under RESTRICT; the diff stops hiding owner decisions
  apps/api/scripts/data-fixes/fix-integrity-defects.sql
  apps/api/scripts/reload/shadow-diff.sql
Due: none

docs: deploy gotcha — watchPattern guard skips CLI ups; prod shm limit
  CLAUDE.md
Due: prettier

refactor(places): diseases E and F — one reading of one fact; no unproven claim at a spend boundary
  apps/api/scripts/seed-region.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
Due: api-lint, prettier

refactor(places): disease B — the asked-region memory gets an IDENTITY
  apps/api/prisma/migrations/20260801150000_probed_regions_identity/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
Due: api-lint, prettier

feat(reextract): non-destructive activation — rollback is REAL now
  .claude/skills/reextract/SKILL.md
  apps/api/scripts/activate-shadow.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.persist-first.spec.ts
  plans/austin-reextract-handoff.md
  plans/reextract-choreography.md
  scripts/rig/reextract.sh
Due: api-lint, prettier

fix(mobile): disease D — a measurement must not outlive its subject
  apps/mobile/src/screens/Search/runtime/viewport/use-viewport-subject-store-controller-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
Due: prettier

refactor(mobile): disease C — one retry law, stated once
  apps/mobile/src/overlays/panels/HomePanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  apps/mobile/src/services/retry/network-retry-ladder.ts
Due: prettier

fix(signals): one cursor was carrying two facts — invalidation gets its own home
  apps/api/prisma/migrations/20260801160000_rebuild_floor/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
Due: api-lint, prettier

docs(charter): all six diseases landed
  plans/one-ground-charter.md
Due: prettier

fix(ingest): live supersede scoped to its OWN generation — churn can no longer destroy rollback targets
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

fix(places,signals): red-teaming my own last-round fixes — two regressions I introduced
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
Due: api-lint, prettier

fix(security): the unauthenticated Places spend faucet + three hardening holes
  apps/api/src/main.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
  apps/api/src/modules/external-integrations/google-places/google-places.controller.ts
  apps/api/src/modules/external-integrations/google-places/google-places.module.ts
  apps/api/src/modules/ops-dashboard/ops-token.guard.ts
Due: api-lint, prettier

fix(places,mobile): round 5 — a fault is not a miss; the parked-camera wedge, reopened and closed
  apps/api/prisma/migrations/20260801170000_repair_null_centroids/migration.sql
  apps/api/prisma/migrations/20260801180000_miss_attempts/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/mobile/src/overlays/panels/HomePanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/screens/Search/runtime/viewport/use-viewport-subject-store-controller-runtime.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
Due: api-lint, prettier

fix(places,polls,signals): round 6 — the abuse lens, and my floor fix was broken twice
  apps/api/prisma/migrations/20260801170000_repair_null_centroids/migration.sql
  apps/api/prisma/migrations/20260801190000_rebuild_floor_seq/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/infrastructure/throttler/throttler.decorator.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/polls/dto/check-poll-duplicate.dto.ts
  apps/api/src/modules/polls/dto/create-poll.dto.ts
  apps/api/src/modules/polls/dto/query-polls.dto.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: api-lint, prettier

fix: FINAL RED TEAM — eight executed defects across identity, merge, GC, praise
  apps/api/prisma/migrations/20260802010000_unicode_fold/migration.sql
  apps/api/scripts/reload/gc-unsupported-entities.sql
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  apps/api/src/modules/ops-dashboard/ops-token.guard.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

fix: FINAL-FINAL red team applied — the retain premise made TRUE, product lies removed, spend fully metered
  apps/api/scripts/activate-shadow.ts
  apps/api/scripts/reload/shadow-discard.sql
  apps/api/src/modules/content-processing/entity-resolver/entity-anchor-rehome.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-anchor-rehome.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope-lockdown.spec.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/home/curated-list-builder.service.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/mobile/src/services/curated-list-adapter.ts
  scripts/rig/deploy.sh
  scripts/rig/reextract.sh
Due: api-lint, prettier

docs(pre-launch): the repo-disconnect owner action — watchPatterns block CLI deploys too
  product/pre-launch.md
Due: prettier

feat(polls): ask ourselves before we ask Google — local-first identity, miss memory, attempt gate, $200 pool
  apps/api/prisma/migrations/20260802020000_vendor_lookup_memory/migration.sql
  apps/api/prisma/migrations/20260802030000_poll_creation_attempts/migration.sql
  apps/api/prisma/migrations/20260802040000_polls_hot_path_indexes/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/polls/poll-aggregation.service.ts
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

fix(polls): the heavy viewport reads require auth
  apps/api/src/modules/polls/polls.controller.ts
Due: api-lint, prettier

fix: capacity re-derivation + the Places dollar gate + crash-consistent activation
  CLAUDE.md
  apps/api/scripts/activate-shadow.ts
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/prisma/prisma.service.ts
  plans/austin-reextract-handoff.md
  plans/reextract-choreography.md
  scripts/rig/reextract.sh
Due: api-lint, prettier

fix(security): close the rate-limit bypass and five exposure findings
  apps/api/src/modules/autocomplete/dto/autocomplete.dto.ts
  apps/api/src/modules/identity/auth/clerk-auth.service.ts
  apps/api/src/modules/identity/dto/list-user-follows.dto.ts
  apps/api/src/modules/infrastructure/throttler/throttler.module.ts
  apps/api/src/modules/notifications/notification-device.service.ts
  apps/api/src/modules/notifications/notifications.controller.ts
  apps/api/src/modules/places/launch-position.controller.ts
  apps/api/src/modules/polls/polls.controller.ts
Due: api-lint, prettier

fix(spend): the Places gate was metering NOTHING; the backstop had no floor and no ceiling
  CLAUDE.md
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
Due: api-lint, prettier

fix(polls): moderate the supplied entity name BEFORE the spend boundary
  apps/api/src/modules/polls/polls-creation-moderation-order.spec.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

docs(pre-launch): the deploy block is now security-blocking
  product/pre-launch.md
Due: prettier

fix(search): lemma-variant EXACT outranks a fuzzy typed link (red-team finding)
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

docs(search): build status + empirical red-team record in the derivation plan
  plans/search-from-scratch-derivation.md
Due: prettier

fix(sheet): THE SWITCH FLOOR — a content swap may not clamp the posture
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
Due: none

fix(search): pooled mode with no soft words degenerates to plain strict query
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier
