Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

refactor(llm,env)!: gate the client, not the call sites — three scanners deleted
  apps/api/eslint.config.mjs
  apps/api/src/modules/external-integrations/llm/gated-gemini-client.spec.ts
  apps/api/src/modules/external-integrations/llm/gated-gemini-client.ts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/centralized-rate-limiter.service.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/api/src/modules/health/health.service.ts
  apps/api/src/modules/polls/poll-feed-timestamp-frame.spec.ts
  apps/api/src/shared/config/app-env-single-reader.guard.spec.ts
Due: api-lint, prettier

docs: plans/multilingual.md — the from-scratch multilingual design, twice red-teamed
  plans/multilingual.md
Due: prettier

docs(audit): P2.2 research — three classes measured, the ruled shape red-teamed and refined
  plans/data-audit-2026-08.md
Due: prettier

refactor(spend)!: make the currency a type — a ledger figure can no longer reach a ceiling
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/external-integrations/shared/external-integrations.types.ts
  apps/api/src/modules/external-integrations/shared/places-operation-vocabulary.spec.ts
  apps/api/src/modules/external-integrations/shared/reconciliation-multiplier.service.ts
  apps/api/src/modules/external-integrations/shared/reconciliation-multiplier.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/spend-currency.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
Due: api-lint, prettier

refactor(entitlements)!: boot refuses a route the paywall would 403
  apps/api/src/modules/entitlements/entitlements.module.ts
  apps/api/src/modules/entitlements/paywall-coverage.audit.spec.ts
  apps/api/src/modules/entitlements/paywall-coverage.audit.ts
  apps/api/src/modules/entitlements/paywall-exemption.guard.spec.ts
  apps/api/src/modules/entitlements/user-bearing-guard.ts
  apps/api/src/modules/identity/auth/clerk-auth.guard.ts
  apps/api/src/modules/identity/auth/optional-clerk-auth.guard.ts
Due: api-lint, prettier

refactor(signals,photos)!: build the daily-acts law, don't mention it; move the photo seam to lint
  apps/api/eslint.config.mjs
  apps/api/scripts/demand-law-proof.ts
  apps/api/src/modules/photos/photo-reads.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/signals/act-identity.ts
  apps/api/src/modules/signals/demand-mass-law.spec.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/signal-demand-read.territory.spec.ts
  apps/api/src/modules/user-lists/user-list-tile-gallery.service.ts
Due: api-lint, prettier

audit: seed the rederivation ledgers — 4,172 files, 20 territories
  CRAVE.md
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

audit(repo-root): delete the never-wired agent-log hook cluster; verdicts for root configs
  .githooks/post-commit
  .githooks/pre-commit
  .githooks/pre-commit.old
  .githooks/prepare-commit-msg
  .gitignore
  CRAVE.md
  audit/FINDINGS.md
  scripts/agent-log/ensure-agent-log.sh
  scripts/agent-log/reset-agent-log.sh
  scripts/install-agent-hooks.sh
Due: prettier

fix(entitlements): the boot audit can no longer pass having checked nothing
  apps/api/src/modules/entitlements/paywall-coverage.audit.spec.ts
  apps/api/src/modules/entitlements/paywall-coverage.audit.ts
Due: api-lint, prettier

audit(designs): D1-D10 rubric verdicts for api-identity-money — 6 approved, 4 escalated
  audit/DESIGNS.md
Due: prettier

audit(designs): D11-D18 verdicts for external-integrations — 7 approved, 2 escalated
  audit/DESIGNS.md
Due: prettier

fix(spend,signals,lint): close eight red-team findings — one was a live money leak
  apps/api/eslint.config.mjs
  apps/api/package.json
  apps/api/src/modules/external-integrations/llm/gated-gemini-client.spec.ts
  apps/api/src/modules/external-integrations/llm/gated-gemini-client.ts
  apps/api/src/modules/external-integrations/shared/reconciliation-multiplier.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/external-integrations/shared/spend-currency.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/signals/act-identity.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
Due: api-lint, deps-check, prettier

audit(designs): D19-D24 — signals+ops, all approved with binding constraints
  audit/DESIGNS.md
Due: prettier

rederive(identity-money): D2 D4 D5 D6 D7m D10 — six approved designs, mutation-proven
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/webhook-event-identity.ts
  apps/api/src/modules/entitlements/authentication-effect.ts
  apps/api/src/modules/entitlements/entitlement-config.spec.ts
  apps/api/src/modules/entitlements/entitlement-config.ts
  apps/api/src/modules/entitlements/entitlement-enforcement.interceptor.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/entitlements/paywall-coverage.audit.spec.ts
  apps/api/src/modules/entitlements/paywall-coverage.audit.ts
  apps/api/src/modules/entitlements/user-bearing-guard.ts
  apps/api/src/modules/identity/auth/clerk-auth.guard.ts
  apps/api/src/modules/identity/auth/clerk-auth.service.spec.ts
  apps/api/src/modules/identity/auth/clerk-auth.service.ts
  apps/api/src/modules/identity/auth/optional-clerk-auth.guard.ts
  apps/api/src/modules/identity/user-profile-stats.spec.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/legal/legal.controller.ts
  apps/api/src/modules/teaser/teaser-vocabulary.spec.ts
  apps/api/src/modules/teaser/teaser.service.ts
  apps/mobile/src/constants/onboarding.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  packages/shared/src/constants/index.ts
  packages/shared/src/constants/onboarding-vocabulary.ts
Due: api-lint, shared-lint, prettier

rederive(external-integrations): D11-D17 — the vendor boundary finishes its own laws
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/google-places/index.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/dto/index.ts
  apps/api/src/modules/external-integrations/llm/embedding.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/centralized-rate-limiter.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/rate-limiting.types.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/external-integrations/reddit/index.ts
  apps/api/src/modules/external-integrations/shared/gemini-pricing.spec.ts
  apps/api/src/modules/external-integrations/shared/gemini-pricing.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

rederive(migrations): D25 D26 — replay-proven corpus; orphaned enums dropped
  CRAVE.md
  apps/api/prisma/migrations/20260803000000_drop_orphaned_enum_types/migration.sql
  apps/api/prisma/schema.prisma
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

rederive(spend-ceilings): D18a — Places limits are derivations, zero means closed
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-zero-closed.spec.ts
  audit/DESIGNS.md
Due: api-lint, prettier

rederive(ci+p2.2): D27 D28 — type-check first; the P2.2 premise corrected before its build
  .github/workflows/ci.yml
  CRAVE.md
  apps/api/src/modules/places/places-containment.integration.spec.ts
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
  plans/data-audit-2026-08.md
Due: api-lint, prettier

rederive(owner-ruled): D1 D3 D7 D8 D9 D18b — the six rulings, mutation-proven
  apps/api/prisma/migrations/20260803010000_abolish_photo_reward_grants/migration.sql
  apps/api/prisma/migrations/20260803020000_access_grant_kind/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/identity/user.controller.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/identity/username.service.ts
  apps/api/src/modules/moderation/moderation.service.ts
  apps/api/src/modules/teaser/teaser.service.ts
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: api-lint, prettier

rederive(signals+ops): D19-D24 — the ledger's laws become structural
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/infrastructure/throttler/throttler-tiers.spec.ts
  apps/api/src/modules/infrastructure/throttler/throttler.decorator.ts
  apps/api/src/modules/infrastructure/throttler/throttler.module.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.spec.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.ts
  apps/api/src/modules/ops-dashboard/ops-access.guard.ts
  apps/api/src/modules/ops-dashboard/ops-bootstrap.controller.ts
  apps/api/src/modules/ops-dashboard/ops-browser-access.spec.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.controller.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.html.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.module.ts
  apps/api/src/modules/ops-dashboard/ops-session-cookie.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  apps/api/src/modules/ops-dashboard/ops-token.guard.spec.ts
  apps/api/src/modules/signals/occurred-at-coercion.spec.ts
  apps/api/src/modules/signals/records-signal.decorator.ts
  apps/api/src/modules/signals/signal-coverage.audit.spec.ts
  apps/api/src/modules/signals/signal-coverage.audit.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.spec.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/signal-partition-maintenance.service.spec.ts
  apps/api/src/modules/signals/signal-partition-maintenance.service.ts
  apps/api/src/modules/signals/signals.controller.ts
  apps/api/src/modules/signals/signals.module.ts
  apps/api/src/modules/signals/subject-identity-lockdown.spec.ts
  apps/api/src/modules/signals/subject-identity.ts
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: api-lint, prettier

audit(designs): D32 — places batch verdicts; expansion spend posture escalated
  audit/DESIGNS.md
Due: prettier

audit(designs): D33 — api-core verdicts; the Sentry seam that never worked
  audit/DESIGNS.md
Due: prettier

fix(sheet): THE SAME-EDGE LAW — boxes that must tile may not round separately
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

fix(sheet): THE UNDER-LAP — the wiggling gap, named and killed
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

rederive(places-enrichment): D29a-D32 — accounting truth, RED-capable proofs, measured bounds
  CRAVE.md
  apps/api/src/modules/attribute-ontology/attribute-ontology-queue.service.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  apps/api/src/modules/attribute-ontology/attribute-ontology.worker.ts
  apps/api/src/modules/estimators/estimator-registry.spec.ts
  apps/api/src/modules/estimators/estimator-registry.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/places/ip-location.service.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction-queue.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor-policy.spec.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion-queue.service.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

rederive(expansion-ruling): F354 F352a D1-residual — retries that resume, bills that attribute, boots that refuse
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion-queue.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion.types.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-secondary-location-expansion.worker.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

audit: content-processing pass-1 artifacts — the heart mapped; D34 verdicts
  CRAVE.md
  audit/DESIGNS.md
Due: prettier

audit(coverage): content-processing 70 rows — pass 1 statuses and shas
  audit/COVERAGE.md
Due: prettier

refactor(db)!: rebuild signals on a timestamptz key — the last naive column, and the last env-var escape
  apps/api/eslint.config.mjs
  apps/api/prisma/migrations/20260803000000_signals_occurred_at_timestamptz/migration.sql
  apps/api/prisma/migrations/20260803001000_poll_place_supply_one_authority/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/occurred-at-timezone-proof.ts
  apps/api/src/modules/integrity/sybil-cluster-report.service.ts
  apps/api/src/modules/signals/occurred-at-coercion.spec.ts
  apps/api/src/modules/signals/occurred-at-timezone.integration.spec.ts
  apps/api/src/modules/signals/occurred-at.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/sql-instant.ts
  apps/api/src/prisma/prisma.service.ts
Due: api-lint, prettier

docs(audit): P2.2 addendum — locations follow testimony; crons re-enabled
  plans/data-audit-2026-08.md
Due: prettier

audit: seed 5 priority findings the territory passes have not reached
  audit/PRIORITY-INJECTIONS.md
Due: prettier

audit: search+polls pass-1 — the archived-leak class survives on six peripheral surfaces; D35 verdicts
  CRAVE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

audit(coverage): search+polls 108 rows pass-1 mapped (PARTIAL pending Phase-3)
  audit/COVERAGE.md
Due: prettier

docs(claude.md): the backtick-in-a-template trap, after paying for it four times
  CLAUDE.md
Due: prettier

rederive(content-processing): D34 heart batch — one supersede law, honest workers, archive integrity, no silent metrics
  apps/api/scripts/clear-coverage-gap.ts
  apps/api/scripts/data-fixes/README.md
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.types.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-batch.worker.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-batch.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-ingestion.service.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-integrity.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-processing-metrics.service.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-zstd-decompressor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/collection-job-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope-lockdown.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/full-projection-rebuild.runner.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-batch-processing.worker.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-batch-processing.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-demand-unavailable.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.floors.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data.types.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
  apps/api/src/modules/content-processing/reddit-collector/scheduled-collection.exceptions.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.exceptions.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/shared/config/env-flag.ts
  audit/COVERAGE.md
Due: api-lint, prettier

refactor(sharing)!: the slug is the capability everywhere — one read law, no second opinion
  apps/api/prisma/migrations/20260802224550_message_share_carries_capability/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/messaging/dto/messaging.dto.ts
  apps/api/src/modules/messaging/messaging.module.ts
  apps/api/src/modules/messaging/messaging.service.spec.ts
  apps/api/src/modules/messaging/messaging.service.ts
  apps/api/src/modules/messaging/share-package-resolver.service.ts
  apps/api/src/modules/user-lists/user-list-access.module.ts
  apps/api/src/modules/user-lists/user-list-access.policy.ts
  apps/api/src/modules/user-lists/user-lists.module.ts
Due: api-lint, prettier

audit(designs): D36 user-surfaces + D37 docs-tooling Phase-2 verdicts
  audit/DESIGNS.md
Due: prettier

audit(designs): D38 mobile-app-core Phase-2 verdicts
  audit/DESIGNS.md
Due: prettier
