Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(tomtom)!: the finest rung's identity is ANCHORED — and two fossils die with it
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  apps/api/src/modules/places/tomtom-observation.property.spec.ts
Due: api-lint, prettier

docs(findings): Item 5 resolved — F9460 MOOT ($0 by design); F9461/F9462 taxonomy fixes in flight, janitor stays off pending the DB-audit session's root cause
  audit/FINDINGS.md
Due: prettier

fix(header)!: the candidate cap protected the DEAD law's winners — and the straddle's last echoes go
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-viewport-cap.integration.spec.ts
  apps/api/src/modules/places/places.controller.spec.ts
  apps/api/src/modules/places/places.controller.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/viewport-verdict.service.ts
  apps/api/src/modules/polls/poll-feed-membership.spec.ts
  apps/api/src/modules/polls/poll-feed-membership.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/overlays/panels/pollsHeaderVisuals.tsx
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  apps/mobile/src/services/places.ts
  apps/mobile/src/store/viewport-subject-store.ts
  packages/shared/src/geo/subjects.ts
Due: api-lint, shared-lint, prettier

feat(alias-guard): same-type-only collisions — picante may mean hot sauce AND spicy
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
Due: api-lint, prettier

feat(enrichment): a Google outage can no longer archive a real restaurant (F9461/F9462)
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-taxonomy.spec.ts
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-taxonomy.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

feat(search): cousin auto-fill — the judged ring serves when nothing more exact can fill the page
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

test(gold): re-author 6 entries to rulings — pollo merged into chicken (cp-12/18); negation doctrine asserts non-inversion only (ng-02/03/17/18)
  apps/api/scripts/search-harness/gold-corpus/es.json
Due: prettier

fix(invariants): the id-format check forbade digits in the family segment
  apps/api/src/shared/invariants/registry.spec.ts
Due: api-lint, prettier

fix(gates): drop a stale subject-text entry — the census spec moved off the column
  apps/api/scripts/check-subject-text-emission.ts
Due: api-lint, prettier

fix(sharing): a grace-deleted author's real name no longer renders on share cards (F9480)
  apps/api/src/modules/messaging/share-package-resolver.deleted-author.spec.ts
  apps/api/src/modules/messaging/share-package-resolver.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

fix(geo)!: round-2 red team — identity by the point everywhere, faults never become memories
  apps/api/scripts/data-fixes/audit-catalog-vs-vendor.ts
  apps/api/scripts/data-fixes/resolve-entity-names.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/home/home-feed.service.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/places-viewport-cap.integration.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  apps/api/src/modules/places/tomtom-observation.property.spec.ts
  apps/api/src/modules/places/viewport-verdict.service.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.spec.ts
  apps/mobile/src/screens/Search/runtime/viewport/viewport-subject-store-controller-core.ts
  apps/mobile/src/services/places.ts
  packages/shared/src/geo/index.ts
  packages/shared/src/geo/slice.ts
Due: api-lint, shared-lint, prettier

docs(designs): D148 approved — deletion-time identity stash replaces the vacuous watchdog (queued behind photo migration)
  audit/DESIGNS.md
Due: prettier

fix(alias-guard)!: revert same-type-only relaxation — measured regression, strict guard restored
  apps/api/scripts/search-harness/gold-corpus/es.json
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
Due: api-lint, prettier

docs(audit): round 2 hops 3-4 — scores are clean; the ungrounded set is a ghost-restaurant UX
  plans/data-audit-2026-08.md
Due: prettier

docs(audit): hop 5 — the doubled-evidence scare is benign; scores count each comment once
  plans/data-audit-2026-08.md
Due: prettier

refactor(search)!: the dead categories field dies on the wire
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/user-lists/user-list.mappers.ts
  apps/mobile/src/services/curated-list-adapter.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

docs(audit): owner rulings — 705 project as category links; junk names verified live; grounding unblocked
  plans/data-audit-2026-08.md
Due: prettier

docs(audit): attributes census — dietary walls fully consistent, no action
  plans/data-audit-2026-08.md
Due: prettier

docs(audit): ghost attribution — the type filter guillotines candidates before the judge; one attempt freezes forever
  plans/data-audit-2026-08.md
Due: prettier

refactor(person-data)!: the rule becomes a union — six illegal states stop being writable
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
  apps/api/src/modules/identity/person-data/retention-horizon.integration.spec.ts
Due: api-lint, prettier

docs(designs): D149 approved — scream-never-kill spend governance (full shape + queue)
  audit/DESIGNS.md
Due: prettier

probe(header): novel-terrain sweep — six weird sites, the law holds; naming oddities are one family
  apps/api/scripts/header-verdict-probe.ts
Due: api-lint, prettier

fix(cards): the last fabricated price band dies, and the real-range render is finally proven (F1019)
  apps/mobile/src/constants/pricing.spec.ts
  apps/mobile/src/constants/pricing.ts
  apps/mobile/src/screens/Search/components/restaurant-result-card-descriptor.spec.ts
  audit/FINDINGS.md
Due: prettier

fix(grounding): the judge's verdict stands — type gate demoted to hint, ghosts recover at 47%
  apps/api/scripts/reground-ghosts.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/restaurant-place-chooser.prompt.ts
  apps/api/src/modules/restaurant-enrichment/enrichment-failure-taxonomy.ts
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.worker.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

feat(governance)!: scream, never kill — a budget can no longer refuse a user (D149)
  CRAVE.md
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/google-places/places-origin-rule.spec.ts
  apps/api/src/modules/external-integrations/governance/gemini-spend-gate.spec.ts
  apps/api/src/modules/external-integrations/governance/governance.service.spec.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/outage-guard.spec.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor-metrics.spec.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/external-integrations/shared/expected-monthly-spend.ts
  apps/api/src/modules/external-integrations/shared/ops-alerts.service.spec.ts
  apps/api/src/modules/external-integrations/shared/ops-alerts.service.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/spend-expectation-monitor.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-expectation-monitor.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-quota-watcher.service.spec.ts
  apps/api/src/modules/external-integrations/shared/vendor-quota-watcher.service.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(designs): D149-V addendum — the aws_rek watcher line is a bridge and dies with the Vision migration
  audit/DESIGNS.md
Due: prettier

feat(claims-registry)!: one guarded word registry — labels display, aliases ground, conflicts get a judge
  apps/api/scripts/reconcile-surface-claims.ts
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/entity-resolver/word-claim-adjudicator.service.ts
  apps/api/src/modules/entity-display/entity-display.module.ts
  apps/api/src/modules/entity-display/label-sweep-default.integration.spec.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-caller-profiles.ts
Due: api-lint, prettier

plan(concept-graph): §9.9 built — claims registry live, judge-v2 owed
  plans/concept-graph.md
Due: prettier

fix(photos): a failed Cloudinary destroy can no longer leak the asset forever (F9470)
  apps/api/prisma/migrations/20260807020000_photo_destroy_pending/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/photos/photos.service.spec.ts
  apps/api/src/modules/photos/photos.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

docs(governance): the TomTom 5 QPS is now an owner-checked fact, not a guess
  apps/api/src/modules/external-integrations/governance/governance.service.ts
Due: api-lint, prettier

feat(identity): a deleted person's name leaves the database the moment they delete (D148)
  CRAVE.md
  apps/api/prisma/migrations/20260807030000_deleted_identity_stash/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/check-author-identity.ts
  apps/api/scripts/scanner-source.ts
  apps/api/src/modules/identity/account-deletion.service.ts
  apps/api/src/modules/identity/clerk-sync-no-resurrection.spec.ts
  apps/api/src/modules/identity/deleted-identity.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/modules/identity/person-data/person-data-erasure-proof.integration.spec.ts
  apps/api/src/modules/identity/public-author-identity.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/shared/invariants/registry.ts
  audit/FINDINGS.md
Due: api-lint, prettier

feat(photos): moderation moves to Vision SafeSearch — the 50/month wall dies (D149-V)
  apps/api/.env.example
  apps/api/scripts/cloudinary-setup.ts
  apps/api/scripts/photo-e2e.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/external-integrations.module.ts
  apps/api/src/modules/external-integrations/google-vision/google-vision.module.ts
  apps/api/src/modules/external-integrations/google-vision/google-vision.service.spec.ts
  apps/api/src/modules/external-integrations/google-vision/google-vision.service.ts
  apps/api/src/modules/external-integrations/shared/expected-monthly-spend.ts
  apps/api/src/modules/external-integrations/shared/ops-alerts.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-currency.ts
  apps/api/src/modules/external-integrations/shared/spend-expectation-monitor.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
  apps/api/src/modules/external-integrations/shared/vendor-quota-watcher.service.spec.ts
  apps/api/src/modules/external-integrations/shared/vendor-quota-watcher.service.ts
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/photos/photo-vision.service.ts
  apps/api/src/modules/photos/photos.service.spec.ts
  apps/api/src/modules/photos/photos.service.ts
Due: api-lint, prettier

refactor(grounding): red team of my own shipment — unread flag, dead filter, one hint set, chooser reshaped to six principles
  apps/api/src/modules/external-integrations/llm/prompts/restaurant-place-chooser.prompt.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

refactor(places): delete the half-wired sessionToken trap; record why sessions don't pay here (F9520)
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/polls/dto/create-poll.dto.ts
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/mobile/src/services/polls.ts
  audit/FINDINGS.md
Due: api-lint, prettier

chore(grounding): absorb red-team handoff — dead method deleted, session-token note retracted
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

fix: the red-team's governance/billing gaps — the day's laws now reach both their homes
  CRAVE.md
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
  apps/api/src/modules/content-processing/reddit-collector/full-projection-rebuild.runner.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/governance/pool-consumption.store.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.spec.ts
  apps/api/src/modules/external-integrations/governance/pool-registry.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-origin-rule.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/spend-expectation-monitor.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-expectation-monitor.service.ts
  apps/api/src/modules/identity/billing-rail.ts
  apps/api/src/modules/identity/profile-live-subscription.spec.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/polls/poll-create-llm-degrade.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/search/README.md
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/profileSceneQueryOptions.ts
  apps/mobile/src/overlays/panels/runtime/manage-subscription-dispatch.ts
  apps/mobile/src/overlays/panels/runtime/profile-panel-body-model-runtime.ts
  apps/mobile/src/overlays/panels/runtime/use-poll-viewer-identity.ts
  apps/mobile/src/screens/PaywallPresentationHost.tsx
  apps/mobile/src/screens/paywall-auto-dismiss.spec.ts
  apps/mobile/src/screens/paywall-auto-dismiss.ts
  apps/mobile/src/services/users.ts
  audit/FINDINGS.md
  packages/shared/src/index.ts
  packages/shared/src/types/billing.ts
Due: api-lint, shared-lint, prettier

fix(photos+gdpr): the red-team's safety and proof-quality gaps — nothing approves blind, nothing leaks quiet
  apps/api/scripts/photo-e2e.ts
  apps/api/src/modules/external-integrations/google-vision/google-vision.service.spec.ts
  apps/api/src/modules/external-integrations/google-vision/google-vision.service.ts
  apps/api/src/modules/identity/person-data/delete-scope-guard.spec.ts
  apps/api/src/modules/identity/person-data/person-data-census.spec.ts
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
  apps/api/src/modules/photos/cloudinary-destroy.spec.ts
  apps/api/src/modules/photos/cloudinary.service.ts
  apps/api/src/modules/photos/photos.service.spec.ts
  apps/api/src/modules/photos/photos.service.ts
  audit/FINDINGS.md
  product/profile.md
Due: api-lint, prettier

fix(merge): a merge joins its caller's transaction — the nested-tx self-deadlock dies
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

refactor(grounding): the service derives its own source snippet — every lane feeds the judge
  apps/api/scripts/reground-ghosts.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

docs(audit): the 'junk names' are real menu items — shape-vs-kind strikes again
  plans/data-audit-2026-08.md
Due: prettier
