Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

feat(pages): editProfile becomes a REAL page — display name + username claim
  apps/mobile/src/overlays/panels/EditProfilePanel.tsx
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
Due: prettier

docs(plans): L3 re-adjudication ACCEPTED under the standing ideal-mandate — profile = push + selection
  plans/world-camera-l3-execution.md
Due: prettier

docs(plans): the L3 dissolution trace — 3 machine-only effects, one close owner, 20 deletable files
  plans/world-camera-l3-execution.md
Due: prettier

docs(plans): cutover slice-1 contract — the five model facts and their route-fact re-feeds
  plans/world-camera-l3-execution.md
Due: prettier

feat(profile): L3 cutover slice 1 — the presence-shaped view facts re-feed from the ROUTE STACK
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-presentation-view-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-presentation-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-view-state-runtime.ts
Due: prettier

feat(profile): L3 cutover slices 2+3 — the profile presents MACHINE-LESSLY
  apps/mobile/src/screens/Search/runtime/profile/profile-direct-presentation-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-action-surface-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-execution-models-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-runtime.ts
Due: prettier

feat(profile): L3 slice 4 — the prepared-presentation MACHINE IS DELETED (22 files)
  apps/mobile/src/navigation/runtime/app-route-profile-app-execution-runtime-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-focus-presentation-builder.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-completion-update.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-dismiss-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-settle-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-snapshot-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-transaction-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-transaction-resolver.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-transition-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-profile-route-intent-normalizer.ts
  apps/mobile/src/navigation/runtime/app-route-profile-transition-state-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-transition-state-mutations.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-app-close-finalization-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-app-execution-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-app-route-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-direct-presentation-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-native-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-native-completion-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-native-execution-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-native-execution-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-action-surface-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-execution-models-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-presentation-view-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-panel-seed-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-close-presentation-builder.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-open-presentation-builder.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-binding-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-command-executor.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-completion-executor.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-entry-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-event-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-state-executor.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-transaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-presentation-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-transition-runtime-state.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-transition-state-record.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-view-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-profile-prepared-snapshot-key-runtime.ts
Due: prettier

docs(plans): L1 status — machine deletion unblocks L1.c; trace in flight
  plans/world-camera-l1-execution.md
Due: prettier

docs(plans): L1.c dissolution trace — the restaurantOnly web is window-bridging; deletion trades blank-map for old-pin retention
  plans/world-camera-l1-execution.md
Due: prettier

feat(map,profile): L1.c — the restaurantOnly web dissolves; entity worlds are naturally single-restaurant
  apps/mobile/src/screens/Search/components/SearchMapRenderSurface.tsx
  apps/mobile/src/screens/Search/components/SearchMapWithMarkerEngine.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/hooks/use-search-clear-owner.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-map-engine-input-controller-runtime.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-map-surface-state-controller-runtime.ts
  apps/mobile/src/screens/Search/runtime/map/compute-marker-pipeline.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.spec.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-action-model-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-action-models.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-action-runtime-port-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-open-presentation-plan-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-query-action-context-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-runtime-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-restaurant-action-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-value-constructor.ts
  apps/mobile/src/screens/Search/runtime/shared/search-root-map-viewport-intent-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-root-primitives-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-direct-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-interaction-effects-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-interaction-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-launch-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-recent-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-search-area-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-submit-preparation-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-suggestion-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-clear-restore-authority-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-effects-runtime-args.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-effects-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-map-surface-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-map-surface-view-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-map-viewport-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-profile-owner-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-control-stage-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-primitives-runtime.ts
Due: prettier

docs(plans): L1.c EXECUTED — restaurantOnly web deleted in one joint (92709da7)
  plans/world-camera-l1-execution.md
Due: prettier

docs(plans): L1 adjudicated functionally COMPLETE — Phase D closed-by-reshape; remainder = L4's native contract
  plans/world-camera-l1-execution.md
Due: prettier

docs(plans): L5 verified COMPLETE — market-wide aggregates confirmed in all lanes; profile lane returns full location set
  plans/world-camera-l1-execution.md
Due: prettier

docs(plans): L4 execution plan — selection ≡ profile presentation; three real gaps (invisible-resident, z-lift, key collection)
  plans/world-camera-l4-execution.md
Due: prettier

docs(plans): L4 slices A-C built + the group rank-inflation fix — pending iOS build + on-device D
  plans/world-camera-l4-execution.md
Due: prettier

feat(map): L4 selection-overlay substrate — invisible-resident role + group-dense unified rank
  apps/mobile/ios/MapLodKit/Sources/MapLodKit/LodEngine.swift
  apps/mobile/ios/MapLodKit/Tests/MapLodKitTests/LodEngineTests.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.spec.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.ts
  apps/mobile/src/screens/Search/runtime/map/map-viewport-query.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
Due: prettier

fix(map): the reveal-deadlock race — fence-blocked direct enter-start is now RECORDED; plus L4 native wiring
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

feat(map): L4 additive selection overlay — the selected group joins ANY presented world, tab-agnostic
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.spec.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.ts
Due: prettier

docs(plans): L4 EXECUTED — additive tab-agnostic overlay verified on-device; the app-wide reveal deadlock root-caused en route
  plans/world-camera-l4-execution.md
Due: prettier

docs(plans): world-camera executable surface COMPLETE — camera-in-origin adjudicated owner-gated (one consumer, one feel decision)
  plans/world-camera-l4-execution.md
Due: prettier

fix(migrations): strip Prisma's generated HNSW index DROP from the notification-feed migration
  apps/api/prisma/migrations/20260710101637_user_notification_feed/migration.sql
Due: none

fix(photos): foundation hardening — six ideal-shape review findings
  apps/api/prisma/migrations/20260710120000_photos_hardening/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/photos/cloudinary.service.ts
  apps/api/src/modules/photos/photo-reconciliation.service.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/photos/photos.service.spec.ts
  apps/api/src/modules/photos/photos.service.ts
Due: api-lint, prettier

docs(plans): red-team register — 7 P1s, 9 cheap P2s, 9 recorded items, perf table (dev-sim), glide method
  plans/red-team-2026-07-10.md
Due: prettier

feat(photos): read paths, events ledger, favorites toolkit schema (steps 3-5)
  apps/api/prisma/migrations/20260710130000_favorites_toolkit/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/favorites/dto/add-favorite-list-item.dto.ts
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/api/src/modules/photos/photo-event.service.ts
  apps/api/src/modules/photos/photo-read.service.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/photos/photos.module.ts
  plans/images-ideal-shape.md
Due: api-lint, prettier

feat(sheet): the GLIDE MANDATE — the submit reveal springs to its snap; 'instant_behind_search_mode' deleted
  apps/mobile/src/screens/Search/runtime/shared/search-submit-entry-surface-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-surface-results-enter-transaction-execution-runtime.ts
  plans/red-team-2026-07-10.md
Due: prettier

refactor(sheet): the entry-MOTION contract dissolves — only the entry-surface fact survives
  apps/mobile/src/screens/Search/runtime/shared/search-submit-entry-surface-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-surface-results-enter-transaction-execution-runtime.ts
Due: prettier

docs(plans): red-team fix progress — batches 1+2 landed, glide mandate landed, remainder enumerated
  plans/red-team-2026-07-10.md
Due: prettier

fix(map,profile): red-team batch 3 — RT-2 freeze re-fed from the PF, RT-7 representative-first restored end-to-end, RT-11 selected labels mint first, RT-13/14
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-presentation-view-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-presentation-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-view-state-runtime.ts
Due: prettier

docs(plans): red-team batch 3 landed + the 60fps standard recorded — dev-sim fails it; attribution split + Release gate specced
  plans/red-team-2026-07-10.md
Due: prettier

feat(perf): Release-lane 60fps gate — native [UIFPS] NSLog sink + the honest measurement
  apps/mobile/ios/cravesearch/UIFrameSampler.swift
  plans/red-team-2026-07-10.md
Due: prettier

feat(photos): avatar upload path — same machinery, live-verified
  apps/api/scripts/cloudinary-setup.ts
  apps/api/src/modules/photos/cloudinary.service.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/photos/photos.service.ts
  product/profile.md
Due: api-lint, prettier

refactor(photos): strips everywhere — no single-photo slots (owner correction)
  apps/api/src/modules/photos/photo-read.service.ts
  plans/page-registry.md
  product/images.md
Due: api-lint, prettier

perf(map): the commit-instant frame is attributed + killed — sprite prewarm at catalog arrival, chunked pin-VA mint
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(map): the >30ms apply log is a loud contract, not a temp probe
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(plans): commit-instant kill + choppy-sheet assertion recorded; the two content-swap frames named as the last floor-60 gap
  plans/red-team-2026-07-10.md
Due: prettier

fix(photos,identity,billing): comprehensive red team #2 — cross-system seams + new-layer hardening
  apps/api/prisma/migrations/20260710140000_photo_events_fk/migration.sql
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/favorites/dto/update-favorite-list-item.dto.ts
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/api/src/modules/favorites/favorites.controller.ts
  apps/api/src/modules/favorites/tag-normalizer.ts
  apps/api/src/modules/identity/account-deletion.module.ts
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
  apps/api/src/modules/identity/user.controller.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/photos/cloudinary.service.ts
  apps/api/src/modules/photos/photo-event.service.ts
  apps/api/src/modules/photos/photo-read.service.ts
  apps/api/src/modules/photos/photos.service.ts
  plans/images-ideal-shape.md
Due: api-lint, prettier

fix(ledger): official Gemini rates + thinking tokens + photo-vision chokepoint
  apps/api/scripts/photo-e2e.ts
  apps/api/scripts/seed-market.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/photos/photo-vision.service.ts
Due: api-lint, prettier

docs(plans): archive-load run audit — 10 issue classes, ideal-shape changes, red-teamed economics
  plans/archive-load-run-audit.md
Due: prettier

fix(map,profile): red-team batch 4 — RT-12 additive selection group ranks LAST (world badges never renumber on profile open/close), RT-16 dead surface deleted
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-action-runtime-port-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-open-action-execution.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-action-surface-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-preview-action-execution.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-preview-presentation-plan-runtime.ts
Due: prettier

chore(profile): drop the two unused forceMiddleSnap destructures the RT-16 prune exposed
  apps/mobile/src/screens/Search/runtime/profile/profile-open-action-execution.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-preview-action-execution.ts
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
