Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

docs(plan): Phase 3 status — 3A/3B/3D done, 3C remaining
  plans/poll-phase-3-execution-scope.md
Due: prettier

feat(polls): seeded poll axis — structural derivation (Phase 3C); Phase 3 complete
  apps/api/src/modules/polls/poll-scheduler.service.ts
  plans/poll-phase-3-execution-scope.md
Due: api-lint, prettier

refactor(map): remove dead native labelPreference writes (finishes labelPreference collapse)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

fix(map): revert #1 visible-set project-on-arrival/subscriber/guard
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

docs(plan): scope Phase 4 (thread + voting); leaderboard-endorsement gated on Phase 5
  plans/poll-phase-4-execution-scope.md
Due: prettier

feat(profile): prepared-snapshot GAP 1+2 — first-class highlight + frozen nav-cutoff padding
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-snapshot-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-transaction-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-transaction-resolver.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-open-action-execution.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-open-presentation-builder.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-command-executor.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-transaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-runtime-action-execution.ts
Due: prettier

Revert "feat(profile): prepared-snapshot GAP 1+2 — first-class highlight + frozen nav-cutoff padding"
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-snapshot-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-transaction-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-prepared-presentation-transaction-resolver.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-open-action-execution.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-open-presentation-builder.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-command-executor.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-prepared-presentation-transaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-runtime-action-execution.ts
Due: prettier

feat(polls): comment thread — CRUD + likes + read surface (Phase 4A-4C)
  apps/api/scripts/poll-comment-probe.ts
  apps/api/src/modules/polls/dto/create-comment.dto.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

docs(plan): Phase 4A-4C done (comment thread); 4D gated on Phase 5
  plans/poll-phase-4-execution-scope.md
Due: prettier

feat(gazetteer): no-LLM entity span-scan + comment highlighting (Phase 5 core)
  apps/api/scripts/gazetteer-probe.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

docs(plan): Phase 5 gazetteer core done; sandbox/close-time remain; 4D now unblocked
  plans/poll-phase-5-execution-scope.md
Due: prettier

feat(polls): endorsement-projection leaderboard (Phase 4D v1)
  apps/api/scripts/poll-leaderboard-probe.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

docs(plan): Phase 4 complete — 4D endorsement leaderboard done
  plans/poll-phase-4-execution-scope.md
Due: prettier

refactor(polls): retire the vote tally — poll-aggregation refreshes the endorsement leaderboard (§2.4)
  apps/api/src/modules/polls/poll-aggregation.service.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

docs(plan): mark §2.4 done — vote tally retired into endorsement projection
  plans/community-polls-discussion-driven-collection-plan.md
Due: prettier

refactor(polls): remove the legacy poll vote model end-to-end + recalibrate Crave Score to the poll-free scale
  apps/api/prisma/migrations/20260618233116_drop_poll_vote_model/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/validate-crave-score-fixtures.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.types.ts
  apps/api/src/modules/polls/dto/cast-poll-vote.dto.ts
  apps/api/src/modules/polls/dto/create-poll-option.dto.ts
  apps/api/src/modules/polls/dto/list-user-polls.dto.ts
  apps/api/src/modules/polls/poll-aggregation.service.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  plans/community-polls-discussion-driven-collection-plan.md
  plans/crave-score-cutover-plan.md
Due: api-lint, prettier

refactor(map): collapse dual in/out-region LOD into a single unified group
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-map-engine-input-controller-runtime.ts
Due: prettier

fix(map): one pin layer + all-pins shadow — remove two-group render remnants
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

fix(map): track promotion off the native visible-set during pan (unstick pins)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
Due: prettier

feat(map): Phase 1 — native-owned LOD decision in shadow (granular redesign)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/map-lod-granular-redesign.md
Due: prettier

feat(map): Phase 2 — native drives per-pin LOD; JS stops camera-tick republish
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

chore(map): Phase 3 (partial) — delete dead grid-cadence machinery + harness plan
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  plans/lod-observability-harness.md
Due: prettier

feat(crave-score): v3 endorsement rescore — discounted dish-acclaim + praise, global percentile (Phases 1-2)
  apps/api/prisma/migrations/20260619120000_crave_score_v3/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.service.ts
  apps/api/src/modules/content-processing/public-crave-score/public-crave-score.types.ts
  apps/api/src/modules/search/search-query.builder.ts
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: api-lint, prettier

test(crave-score): rewrite the fixture validator for v3
  apps/api/scripts/validate-crave-score-fixtures.ts
Due: api-lint, prettier

docs(crave-score): record v3 plan phase statuses (Phases 0-2 done; 3-5 scoping)
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: prettier

feat(map): LOD observability harness — native [lodev] event stream + runner + analyzer
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/lod-observability-harness.md
  scripts/lod-harness-analyze.js
  scripts/lod-harness.sh
Due: prettier

fix(map): unstick the snap-after-gesture — native LOD fades animate DURING motion
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  scripts/lod-harness-analyze.js
Due: prettier

refactor(autocomplete): rank by the v3 Crave Score, not restaurant_quality_score
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
Due: api-lint, prettier

docs(crave-score): Phase 5 status — public surfaces off quality-score; deletion blocked on decay-config
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: prettier

feat(map): harness V2 — crossfade sync, perf/jank, zoom, exact-moment epoch sync
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/lod-observability-harness.md
  scripts/lod-harness-analyze.js
  scripts/lod-harness.sh
Due: prettier

feat(map): harness V3 — rendered-vs-role truth + jank localization (cwork/workMs)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/lod-observability-harness.md
  scripts/lod-harness-analyze.js
Due: prettier

perf(map): cache desired-dot collection in native_lod reconcile (6.9ms -> 2.2ms)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/lod-observability-harness.md
  scripts/lod-harness-analyze.js
Due: prettier

feat(map): harness exposes source mutations during movement (the real jank)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  scripts/lod-harness-analyze.js
  scripts/lod-harness.sh
Due: prettier

perf(map): keep demoted markers resident in the pin bundle (no source removes during LOD)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

refactor(crave-score): retire quality-score.service + dead decay materialization + recency window (Phase 5 Step 1)
  apps/api/prisma/migrations/20260619190000_retire_quality_score_and_recency/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/quality-score/quality-score.module.ts
  apps/api/src/modules/content-processing/quality-score/quality-score.service.ts
  apps/api/src/modules/content-processing/quality-score/quality-score.types.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.types.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/README.md
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/repositories/connection.repository.ts
  apps/api/src/repositories/repository.module.ts
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  packages/shared/src/types/index.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

docs(crave-score): decay design + Step-2 status — ideal shape locked, deferred on 2-week corpus
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: prettier

docs(crave-score): correct decay note — mentioned_at IS the post date; decay ready for archive collection
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: prettier

fix(map): native LOD promotion actually renders — dots promote on zoom/pan
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
Due: prettier

docs(crave-score): tidy plan §3/§4 to match v3 reality (no decayed* columns)
  plans/crave-score-v3-endorsement-redesign-plan.md
Due: prettier

feat(map): harness render ground-truth (queryRenderedFeatures) — strict LOD verifier
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  scripts/lod-harness-analyze.js
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
