Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix: round-11 fuzz — self-merge annihilation + four identity/repair seams
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

docs(pre-launch): the prod rate-limit item is DONE (re-measured); search merge handed off
  product/pre-launch.md
Due: prettier

fix(ci): first honest green — park unappliable Mapbox patch, prune dead jobs, fix real breakage
  .github/workflows/ci.yml
  apps/api/tsconfig.json
  apps/mobile/src/overlays/panels/runtime/home-shelf-rows.spec.ts
  apps/mobile/src/overlays/useBottomSheetSharedGestureRuntime.ts
  patches-parked/@rnmapbox+maps+10.2.9.patch
  patches-parked/README.md
Due: prettier

feat(deploy): CI verdict in the prod gate + local->staging DB pit stop + deploy law in CLAUDE.md
  CLAUDE.md
  scripts/rig/deploy.sh
  scripts/rig/push-local-db-to-staging.sh
Due: prettier

perf(search): fame-pin verdict becomes STORED data — metro search 6.4s → ~0.3s (round-5 ideal-abstraction)
  apps/api/prisma/migrations/20260802170000_in_scoring_territory/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/search/scoring-territory-refresh.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-selected-location-order.spec.ts
  apps/api/src/modules/search/search.module.ts
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
Due: api-lint, prettier

docs(search): round-5 ideal-abstraction verdicts — long-term shapes, timings, what's already done
  plans/search-from-scratch-derivation.md
Due: prettier

refactor(access): three honest answers, not two — the verdict is a sum type
  apps/api/src/modules/entitlements/access-verdict.spec.ts
  apps/api/src/modules/entitlements/access-verdict.ts
  apps/api/src/modules/entitlements/entitlement-enforcement.interceptor.ts
  apps/api/src/modules/entitlements/entitlement-enforcement.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
Due: api-lint, prettier

refactor(photos): the abstraction is named after the INVARIANT, not the storage
  apps/api/src/modules/photos/photo-reads.spec.ts
  apps/api/src/modules/photos/photo-reads.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/photos/photos.module.ts
Due: api-lint, prettier

fix(ci): prod-shaped test Postgres + migrate deploy — the entitlement integration specs get a real schema
  .github/workflows/ci.yml
Due: prettier

feat: IDEAL SHAPE — language-agnostic single-implementation identity + the reconciler
  apps/api/prisma/migrations/20260802050000_identity_key_app_written/migration.sql
  apps/api/scripts/backfill-identity-keys.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

fix(deploy): close the dirty-staging soundness hole in the promotion gate
  scripts/rig/deploy.sh
Due: none

refactor(ids): two failure modes, two mechanisms — brands and named participants
  apps/api/src/modules/identity/user-block.service.ts
  apps/api/src/modules/identity/user-block.spec.ts
  apps/api/src/modules/identity/user-follow.service.ts
  apps/api/src/modules/identity/user-report.service.ts
  apps/api/src/modules/identity/user.controller.ts
  apps/api/src/shared/types/ids.spec.ts
  apps/api/src/shared/types/ids.ts
Due: api-lint, prettier

refactor: delete the repository framework — 1,804 lines for one findUnique
  apps/api/src/app.module.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/repositories/base/base-repository.interface.ts
  apps/api/src/repositories/base/base.repository.spec.ts
  apps/api/src/repositories/base/base.repository.ts
  apps/api/src/repositories/base/repository.exceptions.ts
  apps/api/src/repositories/connection.repository.ts
  apps/api/src/repositories/entity.repository.ts
  apps/api/src/repositories/index.ts
  apps/api/src/repositories/repository.module.ts
  apps/api/src/shared/index.ts
  apps/api/src/shared/types/error-interfaces.ts
  apps/api/src/shared/utils/prisma-error-mapper.ts
Due: api-lint, prettier

fix(search): the debounce is a UX affordance, not a cost control
  apps/mobile/src/screens/Search/runtime/shared/use-search-autocomplete-request-execution-runtime.ts
Due: prettier

docs(pre-launch): red-team lane CLOSED — four items rederived, not patched
  product/pre-launch.md
Due: prettier

fix(redteam): big red-team pass — PII scrub, gate soundness, CI teeth, cost attribution
  .github/workflows/ci.yml
  apps/api/src/modules/external-integrations/shared/reconciliation-multiplier.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  plans/production-hardening.md
  scripts/rig/deploy.sh
  scripts/rig/push-local-db-to-staging.sh
  scripts/rig/refresh-staging-from-prod.sh
  scripts/rig/scrub-staging-user-data.sql
Due: api-lint, prettier

feat(search): untyped demand flows directly — LLM demoted to residue splitting (round-5 ideal)
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-untyped-recall.spec.ts
Due: api-lint, prettier

feat(search): delete-dictionary lexicon + Damerau-Levenshtein edit lane (round-5 ideal, phase 2)
  apps/api/prisma/migrations/20260802180000_entity_word_deletes/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/entity-text-search/entity-lexicon-builder.service.ts
  apps/api/src/modules/entity-text-search/entity-lexicon.spec.ts
  apps/api/src/modules/entity-text-search/entity-lexicon.ts
  apps/api/src/modules/entity-text-search/entity-text-search.module.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
Due: api-lint, prettier

feat(search): unified linker — one all-types retrieval, pure placement (round-5 ideal, phase 3)
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-untyped-recall.spec.ts
Due: api-lint, prettier

fix(deploy): P0 — deploy could silently SKIP and lie about what prod runs
  CLAUDE.md
  apps/api/src/modules/photos/photo-read.service.ts
  apps/api/src/modules/photos/photo-reads.spec.ts
  apps/api/src/modules/photos/photo-reads.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/user-lists/user-list-tile-gallery.service.ts
  apps/api/src/modules/user-lists/user-list-tile-gallery.spec.ts
  apps/api/src/modules/user-lists/user-lists.service.ts
  scripts/rig/deploy.sh
  scripts/rig/push-local-db-to-staging.sh
  scripts/rig/refresh-staging-from-prod.sh
  scripts/rig/scrub-staging-user-data.sql
Due: api-lint, prettier

fix(photos): push the block exclusion INTO the query — my seam truncated pages
  apps/api/src/modules/photos/photo-reads.spec.ts
  apps/api/src/modules/photos/photos.controller.ts
Due: api-lint, prettier

feat(search): close out ALL remaining search-plan deferrals (owner: no more deferring)
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

fix(redteam): two P0s in my own work — PII survived the scrub, and a CI guard could not fail
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
  apps/api/src/modules/notifications/notification-device.service.ts
  apps/api/src/modules/notifications/notification-device.spec.ts
  apps/api/src/modules/polls/poll-feed-timestamp-frame.spec.ts
  apps/api/src/modules/polls/polls-creation-moderation-order.spec.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls-feed.spec.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/user-lists/user-lists.access.spec.ts
  apps/api/src/modules/user-lists/user-lists.defaults.spec.ts
  apps/api/src/modules/user-lists/user-lists.favorites-kind.spec.ts
  apps/api/src/modules/user-lists/user-lists.memberships.spec.ts
  apps/api/src/modules/user-lists/user-lists.mutations.spec.ts
  apps/api/src/modules/user-lists/user-lists.profile-view.spec.ts
  apps/api/src/modules/user-lists/user-lists.service.ts
  scripts/no-bypass-search-runtime.sh
  scripts/rig/deploy.sh
  scripts/rig/scrub-staging-user-data.sql
Due: api-lint, prettier

fix(paywall,notifications): finish two sweeps I declared done
  apps/api/src/app.controller.ts
  apps/api/src/modules/debug/debug.controller.ts
  apps/api/src/modules/entitlements/paywall-exemption.guard.spec.ts
  apps/api/src/modules/notifications/user-notification-feed.service.ts
  apps/api/src/modules/ops-dashboard/ops-dashboard.controller.ts
Due: api-lint, prettier

docs(search): round-5 implementation record — untyped demand, lexicon+DL, unified linker, tier-2 ring
  plans/search-from-scratch-derivation.md
Due: prettier

fix(search): restaurant names link on EXACT only for non-restaurant inputs
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

feat(search): tier-2 similar ring in the ONE execution — second pipeline run deleted (round-5, phase 4)
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

fix(guards): the remaining five that could not fail
  apps/api/src/modules/entitlements/access-verdict.spec.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/outage-guard.spec.ts
  apps/api/src/modules/signals/demand-mass-law.spec.ts
  apps/api/src/shared/config/env-parsing.spec.ts
  apps/api/src/shared/sql-timestamp-frame.guard.spec.ts
Due: api-lint, prettier

docs(search): phase-4 close-out — no remaining deferrals in the search plan
  plans/search-from-scratch-derivation.md
Due: prettier

fix(photos): the gallery route can finally paginate
  apps/api/src/modules/photos/photo-reads.spec.ts
  apps/api/src/modules/photos/photos.controller.ts
Due: api-lint, prettier

fix(deploy): smoke asserts the STAMP, not bare HEAD — dirty staging deploys were self-failing
  scripts/rig/deploy.sh
Due: none

fix(guards): three of my guards passed against broken code
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  apps/api/src/modules/external-integrations/shared/reconciliation-multiplier.service.ts
  apps/api/src/modules/external-integrations/shared/spend-campaign.service.ts
  apps/api/src/modules/photos/photo-reads.spec.ts
  apps/api/src/modules/photos/photos.module.ts
  apps/api/src/modules/user-lists/user-list-tile-gallery.service.ts
  apps/api/src/modules/user-lists/user-list-tile-gallery.spec.ts
  apps/api/src/shared/testing/code-only.ts
  apps/api/src/shared/testing/import-scan.ts
  apps/api/src/shared/types/ids.spec.ts
Due: api-lint, prettier

feat(sheet): THE LEGITIMACY FILTER — only four hands may move the sheet, by decree
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
Due: none

fix(env): APP_ENV really has one reader now — the sweep the commit claimed
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/external-integrations/llm/llm-audit-policy.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/centralized-rate-limiter.service.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/api/src/modules/restaurant-enrichment/nightly-convergence.service.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/shared/config/app-env-single-reader.guard.spec.ts
  apps/api/src/shared/config/app-env.ts
Due: api-lint, prettier

feat: ROUND 12 IDEAL SHAPE — atomic identity, one merge contract, one convergence order
  apps/api/prisma/schema.prisma
  apps/api/scripts/backfill-identity-keys.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope-lockdown.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope.service.ts
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-cuisine-extraction.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

docs(audit): language & localization — the concepts-vs-labels law, both sides of the coin
  plans/data-audit-2026-08.md
Due: prettier

ci: install ripgrep before the no-bypass guard — it refuses to run without it
  .github/workflows/ci.yml
Due: prettier

fix(scrub): make the PII guard a foundation — auto-scrub known shapes, FAIL CLOSED on unknown ones
  scripts/rig/scrub-staging-user-data.sql
Due: none

refactor(db)!: an instant is an instant — timestamptz everywhere, guard deleted
  apps/api/prisma/migrations/20260802060000_timestamptz_everywhere/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/analytics/demand-scoring-trace.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-pacer.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collector-source-registry.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/signals/sql-instant.ts
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/shared/sql-timestamp-frame.guard.spec.ts
  apps/api/src/shared/sql/utc-instant.ts
Due: api-lint, prettier

fix(foundations): bake build identity into the image; stop the scrub eating editorial content
  apps/api/Dockerfile
  scripts/rig/deploy.sh
  scripts/rig/scrub-staging-user-data.sql
Due: none
