Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(collection): source_id prompt contract matches the SRC-ref reality (root cause)
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.md
Due: prettier

fix(search): S4d/S4e red-team findings — fan-out guards + the lost session-active edge
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-filter-state-store-bridge.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
Due: prettier

fix(collection): red-team criticals — one planner for real, hot-spike self-provisioned
  apps/api/src/modules/content-processing/reddit-collector/chronological/chronological-collection.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/collection-job-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduler.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-job.worker.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
Due: api-lint, prettier

fix(collection): batch lifecycle owns every state — no more silent wedges
  apps/api/prisma/migrations/20260708050000_llm_batch_job_ingest_attempts/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/relevance-gate.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
Due: api-lint, prettier

fix(collection): enrichment/processing honesty pass + dead seam deleted
  apps/api/src/modules/content-processing/content-processing.controller.ts
  apps/api/src/modules/content-processing/content-processing.module.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
  apps/api/src/modules/content-processing/reddit-collector/llm-processing.processor.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment-queue.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

feat(search): ingredient EXCLUSION lane wired end-to-end — the doctrine is real now
  apps/api/src/modules/content-processing/entity-resolver/testimony-knowledge-doctrine.md
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/modules/external-integrations/llm/prompts/query-prompt.md
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-constraints.compiler.ts
  apps/api/src/modules/search/search-constraints.ts
  apps/api/src/modules/search/search-ingredient-exclusion.spec.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

fix(batch): shutdown owns the in-flight poll/ingest cycle (ordering by ownership)
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
Due: api-lint, prettier

chore(collection): SRC normalizer made LOUD + scheduled for deletion
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
Due: api-lint, prettier

docs(payments): RevenueCat config executed via API — premium entitlement live, env wired
  plans/payments-ideal-shape.md
Due: prettier

fix(collection): round-2 red-team — verifier-confirmed breaks in the fixes
  apps/api/job-control.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological/collection-job-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/polls/poll-graduation.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor.service.ts
  apps/api/src/modules/search/README.md
Due: api-lint, prettier

feat(search-map): the interaction fade rides the (worldId, phase) wire — S4d truly complete
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-runtime-machine-intent-lifecycle-transport.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-toggle-coordinator.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-search-area-submit-runtime.ts
Due: prettier

fix(billing): four RC webhook bugs found by Test Store E2E; paywall dev harness
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/dto/revenuecat-webhook.dto.ts
  apps/mobile/App.tsx
  apps/mobile/src/screens/PaywallDevPreview.tsx
  plans/payments-ideal-shape.md
Due: api-lint, prettier

feat(search): failure & offline UX in ideal shape — one level, one retry mechanism
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/empty-state.tsx
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-presentation-seam.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-panel-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-policy-facts-resolver.ts
  apps/mobile/src/screens/Search/runtime/shared/results-toggle-interaction-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/route-search-scene-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-writer.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-runtime-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-results-runtime-state.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-data-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-surface-panel-parts-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-composite-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-content-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-surface-panel-state-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
  apps/mobile/src/screens/Search/styles.ts
  product/search-and-dishes.md
Due: prettier

feat(search): offline = a PAUSED resolution — the universal hang (owner call)
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-presentation-seam.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
  product/search-and-dishes.md
Due: prettier

fix(net): re-evaluate connectivity on app foreground
  apps/mobile/src/providers/NetworkStatusListener.tsx
Due: prettier

feat(app): THE standard modal surface + the uniform failure modal (owner spec)
  apps/mobile/src/components/AppModalHost.tsx
  apps/mobile/src/components/app-modal-store.ts
  apps/mobile/src/overlays/OverlayModalSheet.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
  product/search-and-dishes.md
Due: prettier

fix(app): red-team pass on the modal system + app-wide failure enablement
  apps/mobile/App.tsx
  apps/mobile/src/components/AppModalHost.tsx
  apps/mobile/src/components/app-modal-store.ts
  apps/mobile/src/overlays/OverlayModalSheet.tsx
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/PollCandidateBars.tsx
  apps/mobile/src/overlays/panels/runtime/profile-panel-actions-runtime.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-presentation-seam.ts
  apps/mobile/src/screens/Search/runtime/resolver/search-world-resolver.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
  product/search-and-dishes.md
Due: prettier

feat(app): failure modal = pure return-to-origin (owner revision)
  apps/mobile/src/components/AppModalHost.tsx
  apps/mobile/src/components/app-modal-store.ts
  apps/mobile/src/overlays/panels/runtime/profile-panel-actions-runtime.ts
  apps/mobile/src/overlays/search-results-header-live-state.tsx
  apps/mobile/src/screens/Search/runtime/shared/route-search-scene-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-data-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-surface-panel-parts-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-composite-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-content-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
  product/search-and-dishes.md
Due: prettier

feat(app): page-foundation standard + failure-modal red-team round 3
  apps/mobile/src/components/AppModalHost.tsx
  apps/mobile/src/components/app-modal-store.ts
  apps/mobile/src/navigation/runtime/ADDING_A_SCENE.md
  apps/mobile/src/screens/Search/runtime/shared/search-failed-enter-unwind.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-results-policy-domain-runtime.ts
  plans/page-foundation-codification.md
  product/README.md
Due: prettier

docs(plans): trigger/nav ideal — vision (fixed pre-inspection), 3-agent audit verdict, six gaps, dependency-ordered strides
  plans/trigger-nav-ideal-verdict.md
Due: prettier

feat(toggles): SegmentedToggle generalized to N segments; bookmarks+profile ported off hand-rolls
  apps/mobile/src/components/SegmentedToggle.tsx
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  plans/page-foundation-codification.md
Due: prettier

docs(plans): One World, Many Bodies — camera/multi-location/profile-flow foundation design
  plans/world-camera-multilocation-foundation.md
Due: prettier

docs(toggles): THE TOGGLE CONTRACT — full audit verdict + risk-ordered consolidation queue
  apps/mobile/src/navigation/runtime/ADDING_A_SCENE.md
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  plans/page-foundation-codification.md
Due: prettier

docs(plans): drill-in/orphan addendum + 3-auditor red team resolved into the fixed ideal
  plans/trigger-nav-ideal-verdict.md
  plans/world-camera-multilocation-foundation.md
Due: prettier

docs(toggles): toggle-system ideal shape v2 — design of record, post-red-team
  plans/toggle-system-ideal.md
Due: prettier

docs(plans): S-B entries-as-values execution plan (5 slices, cut-surface grounded)
  plans/s-b-entries-as-values.md
Due: prettier

docs(toggles): v2.1 reconciliation with the trigger/nav strides + world/camera layers
  plans/toggle-system-ideal.md
Due: prettier

feat(toggles): Gate 1 — the toggle interaction engine, search adapter, polls adoption
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-toggle-coordinator.ts
  apps/mobile/src/toggles/toggle-interaction-engine.spec.ts
  apps/mobile/src/toggles/toggle-interaction-engine.ts
Due: prettier

docs(plans): S-A inbound deliverable — search-this-area rides the toggle coordinator
  plans/trigger-nav-ideal-verdict.md
Due: prettier

refactor(collection): ideal-shape cut-over — the accepted-as-is list, re-red-teamed
  apps/api/prisma/migrations/20260708090000_workkind_enum_ledger_dedupe/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/main.ts
  apps/api/src/modules/content-processing/entity-resolver/dish-knowledge-synthesis.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduler.service.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

feat(nav): S-B slice 1 — entries become values (entryId, pure stack algebra, derived previous)
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.spec.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-native-overlay-target-authorities.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.spec.ts
  apps/mobile/src/navigation/runtime/route-local-restaurant-overlay-session-snapshot-contract.ts
  apps/mobile/src/navigation/runtime/route-overlay-navigation-snapshot-contract.ts
  apps/mobile/src/navigation/runtime/route-scene-switch-snapshot-contract.ts
  apps/mobile/src/navigation/runtime/route-scene-transition-snapshot-contract.ts
  apps/mobile/src/navigation/runtime/use-app-route-dynamic-scene-input-writers-runtime.tsx
Due: prettier

chore(db): migration drift repaired — migrate dev unblocked
  apps/api/prisma/migrations/20260709053500_normalize_fk_constraint_names/migration.sql
Due: none

feat(nav): S-B slice 2 — nav-out DERIVED from the stack; laneKind 'child' arm deleted
  apps/mobile/src/navigation/runtime/ADDING_A_SCENE.md
  apps/mobile/src/navigation/runtime/AppShellMainNavigator.tsx
  apps/mobile/src/navigation/runtime/app-route-presentation-frame-contract.ts
  apps/mobile/src/navigation/runtime/nav-hide-intent-store.ts
  apps/mobile/src/navigation/runtime/nav-out-derivation-store.ts
  apps/mobile/src/navigation/runtime/use-app-route-nav-out-derivation-writer-runtime.ts
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-bottom-nav-visual-runtime.ts
  plans/s-b-entries-as-values.md
Due: prettier

feat(nav): S-B slice 3a — child-leg lifecycle: a leg lives exactly as long as its stack entry
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  plans/s-b-entries-as-values.md
Due: prettier

feat(nav): S-B slices 3b+4 — same-key nesting is real; drill-in loop live on device
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.spec.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.ts
  apps/mobile/src/navigation/runtime/use-top-most-route-entry-for-scene.ts
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
  apps/mobile/src/overlays/panels/runtime/profile-panel-actions-runtime.ts
  apps/mobile/src/overlays/panels/runtime/use-account-actions-runtime.ts
Due: prettier

feat(nav): S-B origin-on-entry — pop restores the popped entry's captured presentation
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/route-entry-origin-capture-delegate.ts
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
Due: prettier

chore(nav): drop unused detent destructure left by the origin-fallback change
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
Due: prettier

docs(plans): S-C de-special-search execution plan (search-as-same-key-push, predicate split, 4 slices)
  plans/s-c-de-special-search.md
Due: prettier

docs(plans): S-C.2 WIP status — push conversion validated (tab invariant holds), detent-restore RED open
  plans/s-c-de-special-search.md
Due: prettier

docs(plans): S-C.2 detent-RED attribution narrowed (capture correct, kind not the cause; explicit-origin-motion on pop is the next seam)
  plans/s-c-de-special-search.md
Due: prettier
