Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

docs(plans): W1 running log — slices 1-2/backend/save-sheet landed; scope moves recorded
  plans/registry-implementation-plan.md
Due: prettier

feat(favorites): reusable drag-reorder machinery + home edit mode (W1 slice 8a)
  apps/mobile/src/components/reorder/ReorderableRows.tsx
  apps/mobile/src/components/reorder/index.ts
  apps/mobile/src/components/reorder/reorder-types.ts
  apps/mobile/src/components/reorder/useReorderDrag.ts
  apps/mobile/src/overlays/overlaySceneScrollHandleRegistry.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/useAppOverlayRouteController.ts
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
Due: prettier

feat(sheet): edit-lock — rubber-band at expanded via a UI-thread lock registry (W1 §8.11)
  apps/mobile/src/overlays/overlaySheetEditLockRuntime.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/useBottomSheetSharedGestureRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedSnapExecutionRuntime.ts
Due: prettier

feat(lists): listDetail real page + the [PREMOUNT] loud contract (W1 slices 3-4)
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/desire-url-codec.ts
  apps/mobile/src/navigation/runtime/entity-ref-action-policy.ts
  apps/mobile/src/navigation/runtime/premount-violation-probe.ts
  apps/mobile/src/navigation/runtime/use-entity-ref-action-executor.ts
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-launch-intent-runtime.ts
  apps/mobile/src/services/favorite-lists.ts
Due: prettier

feat(lists): W1 closer — within-list edit mode, collaborator chip/modal/join, All tiles (W1 slices 8b-9 + All)
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/mobile/src/components/reorder/index.ts
  apps/mobile/src/components/reorder/useIsScreenReaderEnabled.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-types.ts
  apps/mobile/src/navigation/runtime/desire-url-codec.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-launch-intent-runtime.ts
  apps/mobile/src/services/favorite-lists.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

docs(plans): W1 closed — full sim pass green; finger-test items accumulated
  plans/registry-implementation-plan.md
Due: prettier

feat(api,photos): W2 backend — batch card strips, report reason, photo visibility
  apps/api/eslint.config.mjs
  apps/api/prisma/migrations/20260711180000_photo_report_reason/migration.sql
  apps/api/prisma/migrations/20260711210000_photo_visibility/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/photos/photo-event.service.ts
  apps/api/src/modules/photos/photo-read.service.spec.ts
  apps/api/src/modules/photos/photo-read.service.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/photos/photos.service.spec.ts
  apps/api/src/modules/photos/photos.service.ts
Due: api-lint, prettier

feat(photos): W2 mobile — postPhotos scene + camera page + funnel; strips on every card; events buffer; report flow
  apps/mobile/App.tsx
  apps/mobile/ios/Podfile.lock
  apps/mobile/package.json
  apps/mobile/src/components/photos/CardPhotoStrip.tsx
  apps/mobile/src/components/photos/PhotoStrip.tsx
  apps/mobile/src/components/photos/photo-events-buffer.ts
  apps/mobile/src/components/photos/use-card-photo-strip.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/navigation/runtime/app-route-scene-policy-registry.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.spec.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.ts
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
  apps/mobile/src/navigation/runtime/scene-foundation-spec.ts
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/PhotoSourcePickerModal.tsx
  apps/mobile/src/overlays/PostPhotosFunnelHost.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/PostPhotosPanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/postPhotosPendingAssets.ts
  apps/mobile/src/overlays/searchOverlayRouteHostContract.ts
  apps/mobile/src/overlays/types.ts
  apps/mobile/src/screens/CameraCaptureHost.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/services/photos.ts
  yarn.lock
Due: deps-check, prettier

chore(photos): post-submit testID for sim driving; strip funnel debug logs
  apps/mobile/src/overlays/panels/PostPhotosPanel.tsx
Due: prettier

docs(plans): W2 closed — funnel/camera/strips/report/visibility sim-verified
  plans/registry-implementation-plan.md
Due: prettier

fix(photos): drop duplicate testID on post button
  apps/mobile/src/overlays/panels/PostPhotosPanel.tsx
Due: prettier

feat(w3): restaurant profile views + user profile sections/lists/blocking/avatar
  apps/api/prisma/migrations/20260711230000_w3_user_blocks_and_list_pinned/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/favorites/dto/update-favorite-list.dto.ts
  apps/api/src/modules/favorites/favorite-lists.service.ts
  apps/api/src/modules/favorites/favorite-lists.w3.spec.ts
  apps/api/src/modules/favorites/favorites.public.controller.ts
  apps/api/src/modules/identity/identity.module.ts
  apps/api/src/modules/identity/user-block.service.ts
  apps/api/src/modules/identity/user-block.w3.spec.ts
  apps/api/src/modules/identity/user-follow.service.ts
  apps/api/src/modules/identity/user.controller.ts
  apps/api/src/modules/photos/photos.controller.ts
  apps/api/src/modules/polls/dto/restaurant-mentions.dto.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/api/src/modules/polls/polls.module.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/restaurant-mentions.service.spec.ts
  apps/api/src/modules/polls/restaurant-mentions.service.ts
  apps/mobile/src/overlays/panels/EditProfilePanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/RestaurantProfileViews.tsx
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
  apps/mobile/src/services/favorite-lists.ts
  apps/mobile/src/services/polls.ts
  apps/mobile/src/services/users.ts
Due: api-lint, prettier

feat(w3): owner list long-press modal (pin/share/delete) + server-honest blocked profile read
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/identity/dto/user-profile.dto.ts
  apps/api/src/modules/identity/public-user.controller.ts
  apps/api/src/modules/identity/user-block.service.ts
  apps/api/src/modules/identity/user-block.w3.spec.ts
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
  apps/mobile/src/services/users.ts
Due: api-lint, prettier

feat(w3): messaging M1+M2 — DM backend + inbox/session scenes
  apps/api/prisma/migrations/20260712010000_w3_messaging/migration.sql
  apps/api/src/modules/messaging/dto/messaging.dto.ts
  apps/api/src/modules/messaging/messaging.controller.ts
  apps/api/src/modules/messaging/messaging.module.ts
  apps/api/src/modules/messaging/messaging.service.ts
  apps/api/src/modules/messaging/messaging.service.w3.spec.ts
  apps/api/src/modules/messaging/share-package-resolver.service.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/navigation/runtime/app-route-scene-policy-registry.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.spec.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.ts
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
  apps/mobile/src/navigation/runtime/scene-foundation-spec.ts
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/panels/MessagingPanels.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
  apps/mobile/src/overlays/panels/runtime/profile-panel-actions-runtime.ts
  apps/mobile/src/overlays/panels/runtime/profile-panel-body-model-runtime.ts
  apps/mobile/src/overlays/panels/runtime/profile-panel-identity-runtime.ts
  apps/mobile/src/overlays/panels/runtime/profile-panel-runtime-contract.ts
  apps/mobile/src/overlays/searchOverlayRouteHostContract.ts
  apps/mobile/src/overlays/types.ts
  apps/mobile/src/services/messaging.ts
Due: api-lint, prettier

feat(w3): universal share modal — one surface for all six share kinds
  apps/api/src/modules/messaging/messaging.controller.ts
  apps/api/src/modules/messaging/messaging.service.ts
  apps/api/src/modules/messaging/messaging.service.w3.spec.ts
  apps/mobile/App.tsx
  apps/mobile/src/components/ShareModalHost.tsx
  apps/mobile/src/components/index.ts
  apps/mobile/src/components/share-modal-store.ts
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/services/messaging.ts
Due: api-lint, prettier

docs(plans): W3 closed — profiles/social/messaging/share sim-verified
  plans/registry-implementation-plan.md
Due: prettier

docs(w4): stale-doc sweep (W0-W3 ship statuses) + share-package research doc
  CLAUDE.md
  plans/page-registry.md
  plans/w4-share-package-research.md
  product/README.md
  product/favorites.md
  product/launch-runbook.md
  product/messaging.md
  product/notifications.md
  product/polls.md
  product/profile.md
  product/restaurant-profile.md
  product/search-and-dishes.md
  product/sharing.md
Due: prettier

feat(w4): settings tree + full-snap/handle-hide, poll modals, poll-count truth fix, DM composer geometry
  apps/api/src/modules/identity/user-block.service.ts
  apps/api/src/modules/identity/user-block.w3.spec.ts
  apps/api/src/modules/identity/user-poll-stat.w4.spec.ts
  apps/api/src/modules/identity/user-stats.service.ts
  apps/api/src/modules/identity/user.controller.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/mobile/src/constants/legalLinks.ts
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
  apps/mobile/src/navigation/runtime/scene-foundation-spec.ts
  apps/mobile/src/overlays/OverlaySheetHeaderChrome.tsx
  apps/mobile/src/overlays/PersistentSheetHeaderHost.tsx
  apps/mobile/src/overlays/panels/MessagingPanels.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
  apps/mobile/src/screens/PaywallScreen.tsx
  apps/mobile/src/services/users.ts
Due: api-lint, prettier

fix(messaging): static-mode body owns the frame fill (transport sanitizer strips flex); owner finger-test checklist
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
  plans/owner-finger-test-checklist.md
Due: prettier

docs(plans): W4 closed — ALL WAVES COMPLETE; owner finger-test checklist is the handoff
  plans/registry-implementation-plan.md
Due: prettier

docs(plans): red-team verdict + owner calls + deferred-with-trigger ledger
  plans/registry-implementation-plan.md
Due: prettier

fix(location): request foreground permission at the startup chokepoint (red-team attributed)
  apps/mobile/src/navigation/runtime/MainLaunchCoordinator.tsx
Due: prettier

docs(claude): the stale-Prisma-client API trap — migrate => rebuild+restart the shared dev API
  CLAUDE.md
  apps/api/src/modules/favorites/favorite-lists.mutations.spec.ts
  apps/api/src/modules/favorites/favorite-lists.profile-view.spec.ts
  apps/api/src/modules/identity/user-block.spec.ts
  apps/api/src/modules/identity/user-profile-stats.spec.ts
  apps/api/src/modules/messaging/messaging.service.spec.ts
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
Due: api-lint, prettier

docs(plans): red-team remediation close + finger-test additions
  plans/archive-collection-efficiency-handoff.md
  plans/owner-finger-test-checklist.md
  plans/registry-implementation-plan.md
  plans/w3-messaging-design.md
Due: prettier

fix(editProfile): hoist handleChangePhoto above the loading/failure early returns
  apps/mobile/src/overlays/panels/EditProfilePanel.tsx
Due: prettier

feat(collection): pre-LLM dedupe gate + explicit batch system-prompt cache (duplication red-team)
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
Due: api-lint, prettier

feat(chunking): token-target packing + per-post scoping laws (packing audit)
  apps/api/src/modules/external-integrations/llm/llm-chunking.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.md
Due: api-lint, prettier

chore(config): env audit — dead knobs deleted, never-changed tunables to code
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  plans/env-config-audit.md
Due: api-lint, prettier

feat(chrome): header divider primitive everywhere + flush-content law
  apps/mobile/src/navigation/runtime/ADDING_A_SCENE.md
  apps/mobile/src/navigation/runtime/app-route-shared-sheet-runtime-contract.ts
  apps/mobile/src/navigation/runtime/use-app-route-shared-sheet-runtime.ts
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackPageFrame.tsx
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
  apps/mobile/src/overlays/panels/EditProfilePanel.tsx
  apps/mobile/src/overlays/panels/FollowListPanel.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/MessagingPanels.tsx
  apps/mobile/src/overlays/panels/NotificationsPanel.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/PostPhotosPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/RestaurantProfileViews.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
  apps/mobile/src/overlays/sceneHeaderScrollOffsetRegistry.ts
  apps/mobile/src/screens/Search/RecentHistoryView.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-environment-contract.ts
Due: prettier

feat(chrome): universal white layer over frost + FrostCutout primitive; profile metrics cutout
  apps/mobile/src/navigation/runtime/ADDING_A_SCENE.md
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
  apps/mobile/src/navigation/runtime/scene-foundation-spec.ts
  apps/mobile/src/overlays/SceneBodyFoundationSurface.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/useBottomSheetSceneStackBodyContentRuntime.tsx
Due: prettier

docs(plans): page-chrome standard shipped — laws + finger-test §7.6
  plans/owner-finger-test-checklist.md
  plans/registry-implementation-plan.md
Due: prettier

test(collection): packing-ab harness — PACKED vs UNPACKED contamination A/B for cross-post packing
  apps/api/scripts/packing-ab.ts
Due: api-lint, prettier

feat(scripts): collection-model-ab-v2 — quality A/B (attribution/fabrication/canonicalization/disagreement + batch cost) on 150 stratified stored extraction inputs
  apps/api/scripts/collection-model-ab-v2.ts
Due: api-lint, prettier

fix(chunking): restrict packing to same-post merging — cross-post packing failed its empirical gate
  apps/api/src/modules/external-integrations/llm/llm-chunking.service.ts
Due: api-lint, prettier

fix(boot): api role boots without worker-gated collection scheduling (module-level role composition)
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
Due: api-lint, prettier

feat(collection): thread-level dedupe gate — resend only threads with uncovered comments
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.thread-dedupe.spec.ts
  apps/api/src/modules/external-integrations/llm/llm-chunking.service.ts
Due: api-lint, prettier

chore(config): fold never-changed tunables into code, verify rate limits/timeouts/sampling
  apps/api/src/config/configuration.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm-concurrent-processing.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/centralized-rate-limiter.service.ts
  apps/api/src/modules/external-integrations/llm/rate-limiting/smart-llm-processor.service.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/history/history.service.ts
  apps/api/src/modules/polls/poll-scheduler.service.ts
  apps/api/src/modules/polls/poll-timing.ts
  apps/api/src/modules/search/README.md
  apps/api/src/modules/search/on-demand-request.service.ts
  apps/api/src/modules/search/on-demand-tuning.constants.ts
  apps/api/src/modules/search/search-query-suggestion.service.ts
  apps/api/src/modules/search/search.service.ts
  plans/env-config-audit.md
Due: api-lint, prettier

chore(config): model default = the A/B decision (gemini-3-flash-preview)
  apps/api/src/config/configuration.ts
Due: api-lint, prettier
