Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

owner-rulings(D50-D53): legal truth, spend ceilings three-valued, standings unclipped, one brand token, Android parity plan, push non-defect
  CLAUDE.md
  apps/api/prisma/migrations/AUTHORING.md
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/governance/governance.service.spec.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-zero-closed.spec.ts
  apps/api/src/modules/legal/legal.controller.ts
  apps/api/src/modules/places/place-dag-read.spec.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  apps/mobile/ios/cravesearch/cravesearch.entitlements
  apps/mobile/src/components/FilterChip.tsx
  apps/mobile/src/components/SegmentedToggle.tsx
  apps/mobile/src/components/cards/ResultCard/CardActionPillRow.tsx
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/overlays/panels/NotificationsPanel.tsx
  apps/mobile/src/overlays/panels/PollCandidateBars.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/poll-standings-model.spec.ts
  apps/mobile/src/overlays/panels/poll-standings-model.ts
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/utils/quality-color.ts
  apps/site/src/pages/privacy.html
  apps/site/src/pages/terms.html
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
  business/signal/blueprint.md
  plans/android-parity.md
Due: api-lint, prettier

refactor(invariants)!: the registry shrinks — mirror tests deleted, the census is not a quota
  apps/api/src/modules/content-processing/reddit-collector/extraction-scope-lockdown.spec.ts
  apps/api/src/shared/invariants/registry.ts
Due: api-lint, prettier

rederive(nav-runtime-D53)!: the counter-keyed leak is a single slot, the dead clip lane is gone, the probes have an off switch
  apps/mobile/src/navigation/runtime/AppRouteSheetHostRuntimeProvider.tsx
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-global-restaurant-route-controller.ts
  apps/mobile/src/navigation/runtime/app-route-native-overlay-target-authorities.ts
  apps/mobile/src/navigation/runtime/app-route-nav-silhouette-authority.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-command-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/navigation/runtime/app-route-scene-foundation-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-scene-motion-executor.ts
  apps/mobile/src/navigation/runtime/app-route-scene-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/app-route-shared-sheet-presentation-controller.ts
  apps/mobile/src/navigation/runtime/app-route-shared-sheet-visible-state-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-runtime-contract.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-surface-runtime-contract.ts
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
  apps/mobile/src/navigation/runtime/pageswitch-debug-flag.ts
  apps/mobile/src/navigation/runtime/route-scene-switch-settle-registry.spec.ts
  apps/mobile/src/navigation/runtime/route-scene-switch-settle-registry.ts
  apps/mobile/src/navigation/runtime/use-app-route-sheet-frame-host-authority.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

feat(i18n): spine surface seeding — the seeded label forms bank as tagged alias rows
  apps/api/scripts/seed-spine-aliases.ts
Due: api-lint, prettier

owner-rulings(OA5-OA7): instant mode dies; search flow source-agnostic; end-to-end execution mode
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.spec.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.ts
  plans/transition-endstate-contract.md
Due: prettier

fix(share): every copied share link pointed at crave-search.app — a domain we don't own
  apps/mobile/src/components/share-modal-store.ts
  apps/mobile/src/navigation/runtime/desire-url-codec.ts
Due: prettier

docs(R7-prep): search-flow rederivation — pipeline is unified, gap list bound; OA6.1 skeleton-vs-frozen-world ruling
  plans/search-flow-rederivation.md
  plans/transition-endstate-contract.md
Due: prettier

audit(overlays-depth): 113 read, F1450-F1499 full — undo/redo loss bug, per-panel delete guard gap, the memo landmine's survival; trivia landed
  apps/mobile/src/navigation/runtime/pageswitch-debug-flag.ts
  apps/mobile/src/overlays/AppOverlayRouteHost.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackBodyLayer.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/SearchOverlayRouteSheetSurfaceHost.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/use-account-actions-runtime.ts
  apps/mobile/src/overlays/useBottomSheetSharedSnapExecutionRuntime.ts
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

feat(track-R1)!: the unit is the entry — sceneKey#entryId identity, entry-keyed memory/caches/bodies, depth-3 retention, G-RESTORE falsifiers
  apps/mobile/src/screens/OneTrackPrototype.tsx
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/index.ts
  apps/mobile/src/tracksheet/track-entry-identity.spec.ts
  apps/mobile/src/tracksheet/track-entry-identity.ts
  apps/mobile/src/tracksheet/track-entry-retention.spec.ts
  apps/mobile/src/tracksheet/track-entry-retention.ts
  apps/mobile/src/tracksheet/track-entry-scroll-memory.spec.ts
  apps/mobile/src/tracksheet/track-entry-scroll-memory.ts
  apps/mobile/src/tracksheet/track-entry-switch.spec.ts
  apps/mobile/src/tracksheet/track-entry-switch.ts
  plans/transition-endstate-contract.md
Due: prettier

audit(designs): D55 — mandate additions: search-flow camera red-team, plan-archaeology step, performance first-class
  audit/DESIGNS.md
Due: prettier

audit(payments): F1600 — the payments identity chain verified coherent from App Store to code, via the access skill
  audit/FINDINGS.md
Due: prettier

audit(camera-origin): the D55 red-team lands — four uncoordinated camera ledgers vs a sheet foundation that never had a camera; D56 approves camera-joins-OriginSnapshot
  CRAVE.md
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

fix(read): rollup rows are never dish rows — the flag finally gets its consumer
  apps/api/src/modules/home/curated-list-builder.service.ts
  apps/api/src/modules/search/search-pooled-gate.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/teaser/teaser.service.ts
  plans/data-audit-2026-08.md
Due: api-lint, prettier

feat(track-R2)!: the readiness axis — total paint decision, skeleton as spec data, hidden-leg activity gate, two-phase cold flip + PERF probe
  apps/mobile/src/screens/OneTrackPrototype.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/track-entry-activity.spec.ts
  apps/mobile/src/tracksheet/track-entry-activity.ts
  apps/mobile/src/tracksheet/track-entry-readiness.spec.ts
  apps/mobile/src/tracksheet/track-entry-readiness.ts
  apps/mobile/src/tracksheet/track-entry-skeleton.spec.ts
  apps/mobile/src/tracksheet/track-entry-skeleton.ts
  plans/transition-endstate-contract.md
Due: prettier

audit(app-core-p2 + census): F1550-F1562 recorded, D57 ruled; the readers census learns requireCeiling
  CRAVE.md
  apps/api/src/config/configuration-readers.spec.ts
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: api-lint, prettier

fix(i18n): F8's DB half — entity_labels CHECK (btrim(form) <> '')
  apps/api/prisma/migrations/20260804030000_label_form_nonblank/migration.sql
Due: none

docs(multilingual): BUILD LOG wave-2/3 as-builts — the gate's verdict, honestly
  plans/multilingual.md
Due: prettier

fix(metro): transform static class blocks — the intl-pluralrules polyfill broke every bundle
  apps/mobile/babel.config.js
Due: prettier

fix(build): commit public-author-identity — main imported a file that was never pushed
  apps/api/src/modules/identity/public-author-identity.ts
Due: api-lint, prettier

rederive(camera-origin)!: D56 — the map returns to where the flow was triggered, by construction
  CRAVE.md
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-profile-transition-state-contract.ts
  apps/mobile/src/navigation/runtime/app-route-profile-transition-state-mutations.ts
  apps/mobile/src/navigation/runtime/pageswitch-debug-flag.ts
  apps/mobile/src/navigation/runtime/route-entry-origin-camera-delegate.ts
  apps/mobile/src/navigation/runtime/route-entry-origin-camera.spec.ts
  apps/mobile/src/overlays/searchRouteSessionTypes.ts
  apps/mobile/src/screens/Search/runtime/map/camera-intent-arbiter.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-camera-presentation-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-action-surface-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-presentation-view-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-owner-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-presentation-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-transition-snapshot-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/route-entry-origin-camera-source.ts
  apps/mobile/src/screens/Search/runtime/shared/search-root-host-authority-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-sheet-host-frame-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-sheet-surface-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-route-sheet-visual-snapshot-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-route-entry-origin-camera-port-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-session-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-session-origin-camera-runtime.ts
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

feat(track-R4)!: the hidden excursion — tau-domain extension, glide-only plans, swap at the screen edge; lazy expo-localization require saves boot on stale binaries
  apps/mobile/src/i18n/current-locale.ts
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/track-entry-hidden.spec.ts
  apps/mobile/src/tracksheet/track-entry-hidden.ts
  apps/mobile/src/tracksheet/track-entry-switch.ts
  plans/transition-endstate-contract.md
Due: prettier

fix(lint): drop the two unused erasure-probe consts blocking CI on main
  apps/api/src/modules/identity/person-data/person-data-erasure.integration.spec.ts
Due: api-lint, prettier

feat(track-R4-native): tau-domain extension in the engine — inset growth, MIN-edge legitimacy filter, one-shot edge event; build-verified (dylib strings + fresh mtime)
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
Due: none

fix(map-props): F1611 — bearing/pitch-only camera changes produced stale presentation props
  CRAVE.md
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-map-surface-view-runtime.ts
  audit/COVERAGE.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

feat(track-R3R5R6)!: press-down prewarm, the liveness RED probe, spring-target interrupt law, entry-stamped publications
  apps/mobile/src/navigation/runtime/app-route-scene-input-registry.ts
  apps/mobile/src/navigation/runtime/route-scene-input-lane-runtime.ts
  apps/mobile/src/navigation/runtime/use-app-route-poll-detail-scene-input-writer-runtime.tsx
  apps/mobile/src/screens/Search/components/SearchBottomNav.tsx
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/track-entry-identity.spec.ts
  apps/mobile/src/tracksheet/track-entry-identity.ts
  apps/mobile/src/tracksheet/track-entry-interrupt.spec.ts
  apps/mobile/src/tracksheet/track-entry-interrupt.ts
  apps/mobile/src/tracksheet/track-entry-liveness.spec.ts
  apps/mobile/src/tracksheet/track-entry-liveness.ts
  apps/mobile/src/tracksheet/track-entry-prewarm.spec.ts
  apps/mobile/src/tracksheet/track-entry-prewarm.ts
  plans/transition-endstate-contract.md
Due: prettier

feat(track-R7)!: the world join is declared data — facts-at-reveal RED audit, entry-keyed admission, the sheet-leg fence wired on proven motion facts
  apps/mobile/src/screens/Search/runtime/surface/world-join-contract.spec.ts
  apps/mobile/src/screens/Search/runtime/surface/world-join-contract.ts
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/track-entry-skeleton.spec.ts
  apps/mobile/src/tracksheet/track-sheet-fence.spec.ts
  apps/mobile/src/tracksheet/track-sheet-fence.ts
Due: prettier

docs(contract): R7 re-derivation checkpoint — facts-at-reveal, two-layer worldJoin, fence closed
  plans/transition-endstate-contract.md
Due: prettier

fix(search-api): whitelist includeSimilar on NaturalSearchRequestDto — the chip flip 400'd every natural search
  apps/api/src/modules/search/dto/search-query.dto.ts
Due: api-lint, prettier

fix(track-F1)!: a hidden-domain switch arms but never immediately re-fuses — the OA5 teleport the red team caught, with its falsifier
  apps/mobile/src/tracksheet/track-entry-switch.spec.ts
  apps/mobile/src/tracksheet/track-entry-switch.ts
Due: prettier

docs(contract): red-team verdict — F1 fixed, burn-in watchlist bound
  plans/transition-endstate-contract.md
Due: prettier

fix(ci): the delete gate excludes specs — proof tests QUOTE exterminated patterns; CI red on main since D56 landed its own proof spec (F1664)
  audit/COVERAGE.md
  audit/FINDINGS.md
  scripts/app-route-runtime-delete-gate.sh
  scripts/crave-score-cutover-delete-gate.sh
  scripts/mobile-native-authority-gate.sh
Due: prettier

audit(designs): D58 tooling verdicts
  audit/DESIGNS.md
Due: prettier

fix(i18n-redteam)!: the Spanish path was DEAD in prod — one locale authority, the fold as a Unicode primitive, the gate made honest
  apps/api/scripts/search-harness/run-launch-gate.ts
  apps/api/src/modules/content-processing/entity-resolver/canonical-fold.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/search/evidence-admission.ts
  apps/api/src/shared/locale/accept-language.spec.ts
  apps/api/src/shared/locale/accept-language.ts
Due: api-lint, prettier

docs(multilingual): red-team round as-builts + the principled backlog
  plans/multilingual.md
Due: prettier

fix(S11): [FITALL] routine traces route through ONE emit site in the flag module — the violation barks stay loud
  apps/mobile/src/navigation/runtime/pageswitch-debug-flag.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-control-runtime.ts
Due: prettier

fix(i18n-ingress): one normalize/validate primitive at every surface write — no more free-text locale, NFD dups, or invisible names
  apps/api/src/modules/content-processing/entity-resolver/canonical-fold.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-identity.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/shared/locale/accept-language.spec.ts
  apps/api/src/shared/locale/accept-language.ts
Due: api-lint, prettier
