Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

feat(page): THE STASH -- the header is a handle; posture and scroll separate under the finger
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/useTrackSheetPhysics.ts
  plans/transition-derivation.md
Due: prettier

docs(page): ground-up verdict -- the fake slot, the divisible switch, the parallel seat
  plans/transition-derivation.md
Due: prettier

docs(page): XII red team -- F1 refuted (attribute live first), F2 inverted, F3 finds the unused socket
  plans/transition-derivation.md
Due: prettier

docs(page): XII red team 2 -- P2 refuted (equal-height swaps emit no KVO); P1/P3 corrected
  plans/transition-derivation.md
Due: prettier

docs(page): XII red team 3 -- stale-mirror baseline, the unflipped registrant, the nil-tag candidate
  plans/transition-derivation.md
Due: prettier

fix(places): name the underlying abstraction — geometry standing in for facts
  apps/api/src/modules/places/places-promotion.service.ts
  plans/one-ground-charter.md
Due: api-lint, prettier

fix: fifth red team — cover the fix that shamed others for no coverage
  apps/api/src/modules/content-processing/reddit-collector/README.md
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
Due: api-lint, prettier

feat(page): the shell audit -- UIKit truth, not shadow-tree fiction; native re-fuse
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/useTrackSheetPhysics.ts
  plans/transition-derivation.md
Due: prettier

fix(page): the settled re-bind -- the interop registry lies at commit time
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

docs(places): close the stale designator-strip deferral — superseded by the entity-name law
  plans/one-ground-charter.md
Due: prettier

feat(signals): P2 — the geometry GiST is the prefilter; the bbox machinery dies
  apps/api/src/modules/places/places-containment.integration.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/search/on-demand-ask-signal.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.spec.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/signal-demand-read.territory.spec.ts
Due: api-lint, prettier

feat(llm): gateway items 3-4 — one client owner, and every paid call says how it ended
  apps/api/prisma/migrations/20260730100000_ledger_outcome/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/llm/embedding.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.spec.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
Due: api-lint, prettier

fix(llm): round-6 red team — the fifth terminal state, and failed spend counts fully
  apps/api/src/modules/external-integrations/llm/embedding.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
Due: api-lint, prettier

feat(places): P4 COMPLETE — the bbox columns are dropped; every rectangle derives from the ground
  apps/api/prisma/migrations/20260730060000_drop_place_bbox_columns/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/places/launch-position.controller.ts
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-containment.integration.spec.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/places-reconciler.service.ts
  apps/api/src/modules/places/places.controller.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/polls/supply/demand-mass.kernel.spec.ts
  apps/api/src/modules/signals/lng-intersect.ts
Due: api-lint, prettier

docs(places): P1/P2/P4 marked landed — the ordered path is complete
  plans/one-ground-charter.md
Due: prettier

chore: delete the model A/B harness — the allowlist is now ONE file
  apps/api/scripts/collection-model-ab-v2.ts
  apps/api/src/modules/external-integrations/llm/gemini-gateway-lockdown.spec.ts
Due: api-lint, prettier

docs(page): the shared-ownership verdict -- the seam is the abstraction; build the real slot
  plans/transition-derivation.md
Due: prettier

feat(reload): the re-extract pattern — city-scoped wipe, campaign-guarded runner, anchor audit, shared user-anchor rehome
  CLAUDE.md
  apps/api/scripts/data-fixes/prune-dangling-canonical-ingredients.sql
  apps/api/scripts/reload/anchor-audit.sql
  apps/api/scripts/reload/preserved-anchors.sql
  apps/api/scripts/reload/wipe-austin-derived.sql
  apps/api/scripts/reload/wipe-city-derived.sql
  apps/api/src/modules/content-processing/entity-resolver/entity-anchor-rehome.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-anchor-rehome.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/city-reextract.runner.ts
  apps/api/src/modules/content-processing/reddit-collector/full-reload.runner.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  plans/full-reload-charter.md
Due: api-lint, prettier

fix(places,signals): dual red-team round 2 — seven fixes across P2/P4
  apps/api/prisma/migrations/20260730070000_place_geometries_fk/migration.sql
  apps/api/scripts/data-fixes/heal-place-bboxes.ts
  apps/api/scripts/replay-pilot.ts
  apps/api/scripts/search-harness/frozen-fixture.ts
  apps/api/scripts/seed-google-photos.ts
  apps/api/scripts/seed-owner-scale-fixtures.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-containment.integration.spec.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.spec.ts
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/search/on-demand-ask-signal.spec.ts
  apps/api/src/modules/signals/ground-containment.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
  apps/api/src/modules/signals/signal-demand-read.territory.spec.ts
Due: api-lint, prettier

feat(page): THE REAL SLOT -- self-registering, frame-composed, paint-free shell containers
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/ios/TrackScrollKit/Sources/TrackShellSlot.h
  apps/mobile/ios/TrackScrollKit/Sources/TrackShellSlot.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  plans/transition-derivation.md
Due: prettier

docs(places): the abstraction beneath — a place is a MIRRORED VENDOR ENTITY
  plans/one-ground-charter.md
Due: prettier

perf(page): delete pass + the staged shelf mount -- home switch 500ms -> 65ms
  apps/mobile/src/overlays/panels/HomePanel.tsx
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

feat(places): THE FINAL DISSOLUTION — identity is (vendor id, level); the name table is dead
  apps/api/prisma/migrations/20260730090000_identity_is_id_and_level/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
Due: api-lint, prettier

docs(places): the final dissolution marked landed
  plans/one-ground-charter.md
Due: prettier

docs(places): the abstraction docket — dual audit of everything we build on
  plans/one-ground-charter.md
Due: prettier

docs(page): the perf verdict -- scenes-as-visitors is the wrong abstraction; residents are the target
  plans/transition-derivation.md
Due: prettier

docs(audit): full data audit 2026-08 — five-surface findings, P0 pipeline defects, owner decision queue
  apps/api/scripts/reload/wipe-city-derived.sql
  plans/data-audit-2026-08.md
Due: prettier

feat(rig): deploy guards — prod refuses dirty tree/unpushed HEAD, pre-migration pg_dump snapshot, --env staging
  scripts/rig/deploy.sh
Due: none

docs(page): THE RESIDENTS CUTOVER plan -- the choreography reconstruction vindicates the owner
  plans/residents-cutover-plan.md
Due: prettier

fix(rig): red-team deploy guards — untracked files count as dirty, allow ahead-of-origin, pg_dump password off argv
  scripts/rig/deploy.sh
Due: none

feat(signals): docket #3 — an act has three honest shapes; geo is nullable
  apps/api/prisma/migrations/20260730110000_signals_geo_nullable/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/polls/polls-signals-write.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signals.service.spec.ts
  apps/api/src/modules/signals/signals.service.ts
Due: api-lint, prettier

feat(places): docket #1 — polygon at birth is synchronous; the earned-moment apparatus dies
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/viewport-verdict.service.ts
  apps/api/src/modules/polls/polls-creation-place-rekey.spec.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
  apps/api/src/modules/search/search-header-place.spec.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

feat(governance,places): docket #2 — the vendor's grain is the admission window; refusal is terminal
  apps/api/prisma/migrations/20260730120000_promotion_refused_terminal/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/governance/governance.service.spec.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
Due: api-lint, prettier

feat(places): docket #4 — residue columns drop; the last name-identity organ dies
  apps/api/prisma/migrations/20260730130000_drop_residue_columns/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
Due: api-lint, prettier

chore(rig): deploy snapshots keep newest 2 (fixed footprint, one-deploy-late recovery point)
  scripts/rig/deploy.sh
Due: none

feat(signals): docket #8 — act-identity SQL stated once
  apps/api/src/modules/polls/supply/demand-mass.reader.ts
  apps/api/src/modules/signals/act-identity.ts
  apps/api/src/modules/signals/signal-demand-aggregate.service.ts
  apps/api/src/modules/signals/signal-demand-read.service.ts
Due: api-lint, prettier

feat(ops): CRONS_ENABLED=false global cron kill-switch at the module-gate chokepoint
  apps/api/src/shared/utils/process-role.ts
Due: api-lint, prettier

docs(places): docket status — five of seven landed same-session
  plans/one-ground-charter.md
Due: prettier

docs(page): residents plan -- industry-standard additions + rung 1 shape
  plans/residents-cutover-plan.md
Due: prettier

docs(async): the async-integrity ideal shape — content identity + claims, full damage list from three deep reads
  plans/async-integrity-ideal-shape.md
Due: prettier
