Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, mobile-lint, shared-lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      glob: 'apps/mobile/**/*.{ts,tsx,js,jsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

refactor(keyword-collection): enhance keyword collection strategy with detailed implementation guidelines
  plans/keyword-collection-priority-overhaul.md
Due: prettier

refactor(search): improve code readability and structure in search components
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/screens/Search/RecentHistoryView.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/hooks/use-search-history.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/store/searchHistoryStore.ts
  apps/mobile/src/types/navigation.ts
Due: api-lint, mobile-lint, prettier

refactor(agents, mobile): update repository guidelines and enhance overlay components
  AGENTS.md
  apps/mobile/src/components/FrostedGlassBackground.tsx
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/OverlayHeaderActionButton.tsx
  apps/mobile/src/overlays/OverlaySheetHeader.tsx
  apps/mobile/src/overlays/OverlaySheetShell.tsx
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/panels/SearchPanel.tsx
  apps/mobile/src/overlays/useHeaderCloseCutout.tsx
  apps/mobile/src/screens/FavoritesListDetail.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/store/overlayStore.ts
Due: mobile-lint, prettier

formatting
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/OverlaySheetHeader.tsx
  apps/mobile/src/overlays/OverlaySheetShell.tsx
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/useHeaderCloseCutout.tsx
  apps/mobile/src/screens/Profile/index.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/store/overlayStore.ts
Due: mobile-lint, prettier

refactor(overlays): improve code formatting and enhance component structure
  .githooks/post-commit
  .githooks/pre-commit
  .gitignore
  AGENTS.md
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  plans/agent-log.template.md
  scripts/agent-log/ensure-agent-log.sh
  scripts/agent-log/reset-agent-log.sh
  scripts/install-agent-hooks.sh
Due: mobile-lint, prettier

refactor(search): streamline nav bar handling and improve styling consistency
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/sheetUtils.ts
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

feat(search): integrate coverage name handling in search results
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/mobile/src/overlays/OverlayHeaderActionButton.tsx
  apps/mobile/src/overlays/OverlaySheetHeader.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/useHeaderCloseCutout.tsx
  apps/mobile/src/overlays/useOverlayHeaderActionProgress.ts
  apps/mobile/src/screens/Search/RecentHistoryView.tsx
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/render-meta-detail-line.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/screens/Search/utils/bottom-nav-metrics-cache.ts
  apps/mobile/src/screens/Search/utils/format.ts
  packages/shared/src/types/search.ts
Due: api-lint, mobile-lint, shared-lint, prettier

feat(overlays): enhance BottomSheetWithFlashList and Overlay components
  AGENTS.md
  apps/mobile/src/constants/shadows.ts
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/OverlaySheetHeader.tsx
  apps/mobile/src/overlays/OverlaySheetHeaderChrome.tsx
  apps/mobile/src/overlays/OverlaySheetShell.tsx
  apps/mobile/src/overlays/overlaySheetStyles.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/useHeaderCloseCutout.tsx
  apps/mobile/src/overlays/useOverlayHeaderActionController.ts
  apps/mobile/src/overlays/useOverlayHeaderActionProgress.ts
  apps/mobile/src/overlays/useOverlaySheetPositionStore.ts
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/shadows.ts
  apps/mobile/src/screens/Search/styles.ts
Due: mobile-lint, prettier

feat(search): enhance search screen functionality and performance
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/screens/Search/hooks/use-search-sheet.ts
  apps/mobile/src/screens/Search/index.tsx
  plans/production-hardening.md
Due: mobile-lint, prettier

refactor(search): streamline search screen logic and improve state management
  apps/mobile/src/screens/Search/index.tsx
  plans/keyword-collection-observability-overhaul.md
  plans/keyword-collection-priority-overhaul.md
  plans/observability-overhaul.md
  plans/production-hardening.md
Due: mobile-lint, prettier

feat(overlays): enhance BottomSheetWithFlashList and Overlay components with new snap handling
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/OverlaySheetShell.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/SearchPanel.tsx
  apps/mobile/src/overlays/useOverlaySheetPositionStore.ts
  apps/mobile/src/screens/Search/components/search-results-sheet.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/index.tsx
  plans/map-marker-lod-v2.md
Due: mobile-lint, prettier

feat(linting): add dependency check script and enhance iOS refresh commands
  .githooks/pre-commit
  .knip.json
  .node-version
  apps/api/package.json
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/mobile/App.tsx
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/cravesearch.xcodeproj/project.pbxproj
  apps/mobile/package.json
  apps/mobile/src/hooks/useClerkOAuth.ts
  apps/mobile/src/overlays/OverlaySheetHeaderChrome.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/providers/AuthProvider.tsx
  apps/mobile/src/screens/Onboarding.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/SignIn.tsx
  apps/mobile/src/services/api.ts
  lefthook.yml
  package.json
  plans/temp.md
  scripts/deps-check.sh
  scripts/ios-refresh.sh
  yarn.lock
Due: api-lint, mobile-lint, prettier

fix(linting): update linting configuration and improve pre-commit hook
  .githooks/pre-commit.old
  .githooks/prepare-commit-msg
  .lefthook/with-node-22.sh
  apps/mobile/package.json
  apps/mobile/src/screens/Search/components/search-map.tsx
  lefthook.yml
Due: mobile-lint, prettier

fix(search): adjust marker reveal animation timing and enhance label feature state handling
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor(search): improve code formatting and readability in Search components
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

feat(polls): add snap handling for PollsPanel and integrate onSnapStart callback
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor(polls): streamline effect dependencies in PollsPanel for improved clarity
  apps/mobile/src/overlays/panels/PollsPanel.tsx
Due: mobile-lint, prettier

refactor(search): enhance marker visibility handling in search-map component
  apps/mobile/src/screens/Search/components/marker-visibility.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: mobile-lint, prettier

refactor(search): improve code structure and readability in search-map component
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: mobile-lint, prettier

refactor(search): enhance marker rendering and label placement in search-map component
  apps/mobile/scripts/generate-pin-shadow.mjs
  apps/mobile/src/assets/pin-shadow.png
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

Implement the entire thing and make sure to think very hard about the right way to do it. Make sure you're doing it correctly or or a way that would make sure it works. No need to stop
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: mobile-lint, prettier

refactor(search): optimize label placement and collision handling in search-map component
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor(search): enhance search shortcuts animation and visibility handling
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor(search): streamline search shortcuts layout and animation handling
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor(search): enhance transition handling and label management in search components
  apps/mobile/src/hooks/use-transition-driver.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor(search): improve transition handling and code readability in search components
  apps/mobile/src/hooks/use-transition-driver.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
Due: mobile-lint, prettier

refactor(search): enhance label management and collision handling in search-map component
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: mobile-lint, prettier

format
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: mobile-lint, prettier

feat(search): implement entity text search and autocomplete enhancements
  apps/api/prisma/migrations/20260202200000_core_entities_aliases_trgm_expression/migration.sql
  apps/api/src/modules/autocomplete/autocomplete.module.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.module.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/on-demand-request.service.ts
  apps/api/src/modules/search/search-constraints.compiler.ts
  apps/api/src/modules/search/search-constraints.ts
  apps/api/src/modules/search/search-entity-expansion.service.ts
  apps/api/src/modules/search/search-execution-directives.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/index.tsx
  packages/shared/src/types/search.ts
  plans/search-candidate-generation.md
Due: api-lint, mobile-lint, shared-lint, prettier

refactor(search): adjust pin collision handling in search-map component
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: mobile-lint, prettier

refactor(search): clean up search-map component and improve label collision handling
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: mobile-lint, prettier

feat(search): integrate plan expansion into search constraints compilation
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  plans/search-candidate-generation.md
Due: api-lint, mobile-lint, prettier

feat(search): implement full-text search capabilities for core entities
  apps/api/prisma/migrations/20260202011000_core_entities_text_search_tsv/migration.sql
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/search/search-entity-expansion.service.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  plans/search-candidate-generation.md
Due: api-lint, mobile-lint, prettier

feat(search): enhance search orchestration with debug mode and coverage features
  apps/api/prisma/migrations/20260203210000_add_core_entities_location_key_type_index/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/search/dto/shortcut-coverage.dto.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search.controller.ts
  apps/api/src/modules/search/search.module.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/search/utils/search-debug.ts
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/overlays/OverlaySheetShell.tsx
  apps/mobile/src/overlays/types.ts
  apps/mobile/src/overlays/useOverlaySheetPositionStore.ts
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/hooks/use-top-food-measurement.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/services/search.ts
  plans/map-marker-lod-v3.md
Due: api-lint, mobile-lint, prettier

refactor(search): improve code formatting and readability in search components
  apps/api/src/modules/search/search-coverage.service.ts
  apps/mobile/src/overlays/OverlaySheetShell.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/constants/search.ts
  apps/mobile/src/screens/Search/hooks/use-top-food-measurement.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  plans/map-marker-lod-v3.md
Due: api-lint, mobile-lint, prettier

feat(search): introduce score mode for enhanced search ranking and display
  apps/api/package.json
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/dto/shortcut-coverage.dto.ts
  apps/api/src/modules/search/search-constraints.compiler.ts
  apps/api/src/modules/search/search-constraints.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
  apps/api/src/modules/search/search.service.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/search-perf-debug.ts
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/screens/Search/utils/marker-lod.ts
  apps/mobile/src/screens/Search/utils/quality.ts
  apps/mobile/src/services/search.ts
  packages/shared/src/types/search.ts
Due: api-lint, mobile-lint, shared-lint, prettier

refactor(search): improve code formatting and readability in search components
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
  plans/map-marker-lod-v3.md
Due: api-lint, mobile-lint, prettier

fix(plans): clarify pin↔dot collision tuning description in map-marker-lod-v3.md
  plans/map-marker-lod-v3.md
Due: prettier

feat(throttler): implement rate limiting tiers for search and autocomplete endpoints
  apps/api/src/modules/autocomplete/autocomplete.controller.ts
  apps/api/src/modules/infrastructure/throttler/throttler.decorator.ts
  apps/api/src/modules/infrastructure/throttler/throttler.module.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search.controller.ts
  apps/mobile/src/hooks/useSearchRequests.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/styles.ts
  apps/mobile/src/screens/Search/utils/marker-lod.ts
  apps/mobile/src/store/searchStore.ts
  plans/map-marker-lod-v3.md
Due: api-lint, mobile-lint, prettier
