Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, mobile-lint, shared-lint, prettier

api-lint:
  run: cd apps/api && pnpm lint

mobile-lint:
  run: cd apps/mobile && pnpm lint

shared-lint:
  run: cd packages/shared && pnpm lint

prettier:
  run: pnpm prettier --write {staged_files}

feat(batch-processing): implement memory-efficient batch processing system
  apps/api/src/modules/content-processing/reddit-collector/BATCH_PROCESSING_GUIDE.md
  apps/api/src/modules/content-processing/reddit-collector/batch-processing-coordinator.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/batch-processing-coordinator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/batch-processing.exceptions.ts
  apps/api/src/modules/content-processing/reddit-collector/batch-processing.types.ts
  apps/api/src/modules/content-processing/reddit-collector/processing-checkpoint.service.ts
  apps/api/src/modules/content-processing/reddit-collector/resource-monitoring.service.ts
  apps/api/src/modules/content-processing/reddit-collector/show-real-output.ts
Due: api-lint, prettier

feat(integration): integrate batch processing with existing services
  apps/api/src/config/configuration.ts
  apps/api/src/modules/content-processing/reddit-collector/index.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
Due: api-lint, prettier

fix(tests): resolve TypeScript compilation errors in test suite
  apps/api/src/modules/content-processing/reddit-collector/data-optimization.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/enhanced-stream-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/processing-metrics.service.ts
  apps/api/src/modules/content-processing/reddit-collector/pushshift-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data-extractor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data-extractor.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data.types.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/system-zstd-decompressor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/system-zstd-decompressor.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/validate-stream-processing.ts
  apps/api/src/modules/entities/entities.service.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/llm/llm.integration.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/prisma/database-metrics.service.ts
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/repositories/base/repository.exceptions.ts
  apps/api/src/repositories/bulk-operations.performance.spec.ts
  apps/api/src/repositories/bulk-operations.service.integration.spec.ts
  apps/api/src/repositories/bulk-operations.service.ts
  apps/api/src/repositories/connection.repository.integration.spec.ts
  apps/api/src/repositories/entity.repository.integration.spec.ts
  apps/api/src/repositories/mention.repository.integration.spec.ts
  apps/api/src/shared/logging/logger.service.ts
  apps/api/src/shared/logging/winston.config.ts
  apps/api/src/shared/pipes/custom-validators.ts
Due: api-lint, prettier

docs(simone): update task completion status and project tracking
  .claude/commands/simone/do_task.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T04_S01_Batch_Processing_System.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/TX04_S01_Batch_Processing_System.md
Due: prettier

feat(content-processing): complete T05_S01 LLM integration and S01 sprint
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/M03_S01_sprint_meta.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/T05_S01_LLM_Processing_Integration_Preparation.md
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/TX05_S01_LLM_Processing_Integration_Preparation.md
  apps/api/src/modules/content-processing/reddit-collector/HISTORICAL_LLM_INTEGRATION.md
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.adapter.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.config.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.index.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.validator.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-data.types.ts
  apps/api/src/modules/external-integrations/llm/dto/llm-input.dto.ts
Due: api-lint, prettier

Add sprint 2 tasks
  .claude/commands/simone/do_task.md
  .claude/commands/simone/prime.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/M03_S02_sprint_meta.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T01_S02_Reddit_API_Integration.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T02_S02_Dual_Collection_Strategy.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T03_S02_Content_Retrieval_Pipeline.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T04_S02_Scheduled_Collection_Jobs.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T05_S02_Gap_Tracking_System.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T06_S02_Data_Merge_Logic.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T07_S02_Duplicate_Detection.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T08_S02_Unified_Processing_Integration.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T09_S02_Keyword_Entity_Search.md
Due: prettier

feat(content-processing): migrate zstd decompression to system-based approach
  .simone/03_SPRINTS/M03_S01_Historical_Data_Foundation/TX05_S01_LLM_Processing_Integration_Preparation.md
  apps/api/package.json
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/show-real-output.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/validate-stream-processing.ts
Due: api-lint, prettier

style(content-processing): apply code formatting fixes to historical LLM integration
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.adapter.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.config.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.index.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.validator.ts
Due: api-lint, prettier

clean up
  apps/api/CONSTRAINT_DOCUMENTATION.md
  apps/api/DATABASE_CONNECTION_CONFIGURATION.md
  apps/api/SEED_DATA_DOCUMENTATION.md
  apps/api/scripts/advanced-historical-analysis.script.ts
  apps/api/src/modules/content-processing/reddit-collector/show-real-output.ts
  apps/api/test_constraints.sql
Due: api-lint, prettier

feat(external-integrations): complete T01_S02 Reddit API integration with rate limiting and cost monitoring
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/M03_S02_sprint_meta.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T01_S02_Reddit_API_Integration.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX01_S02_Reddit_API_Integration.md
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/reddit/REDDIT_API_INTEGRATION.md
  apps/api/src/modules/external-integrations/reddit/reddit.module.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.spec.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/test/reddit-integration.spec.ts
Due: api-lint, prettier

test(content-processing): fix SystemZstdDecompressor dependency injection in stream-processor tests
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.integration.spec.ts
Due: api-lint, prettier

feat(simone): add real data validation step to task execution process
  .claude/commands/simone/code_review.md
  .claude/commands/simone/create_sprint_tasks.md
  .claude/commands/simone/do_task.md
  .claude/commands/simone/real_data_validation.md
Due: prettier

feat(content-processing): implement T02_S02 dual collection strategy
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T02_S02_Dual_Collection_Strategy.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX02_S02_Dual_Collection_Strategy.md
  apps/api/src/app.module.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/content-processing/reddit-collector/batch-processing-coordinator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological-collection.processor.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological-collection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/chronological-llm-integration.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduling.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduling.service.ts
  apps/api/src/modules/content-processing/reddit-collector/dual-collection-strategy.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/dual-collection-strategy.service.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.adapter.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/processing-checkpoint.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.spec.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.spec.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  packages/shared/src/types/index.ts
Due: api-lint, shared-lint, prettier

fix(reddit-collector): enhance TX02_S02 dual collection with NaN validation and async fixes
  apps/api/src/modules/content-processing/reddit-collector/chronological-collection.processor.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduling.service.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.ts
Due: api-lint, prettier

fix(config): resolve TypeScript compilation errors and improve test infrastructure
  apps/api/.eslintrc.json
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduling.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/dual-collection-strategy.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/system-zstd-decompressor.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/validate-stream-processing.ts
  apps/api/tsconfig.json
Due: api-lint, prettier

docs(simone): complete TX02_S02 dual collection strategy with real API testing results
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/M03_S02_sprint_meta.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX02_S02_Dual_Collection_Strategy.md
Due: prettier

fix eslint and ts compilation
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduling.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-scheduling.service.ts
  apps/api/src/modules/content-processing/reddit-collector/data-optimization.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/dual-collection-strategy.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/system-zstd-decompressor.spec.ts
  apps/api/tsconfig.json
Due: api-lint, prettier

feat(content-processing): implement content retrieval pipeline services
  apps/api/src/modules/content-processing/reddit-collector/content-retrieval-monitoring.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/content-retrieval-monitoring.service.ts
  apps/api/src/modules/content-processing/reddit-collector/content-retrieval-pipeline.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/content-retrieval-pipeline.service.ts
Due: api-lint, prettier

feat(reddit): extend service with batch content retrieval methods
  apps/api/src/modules/external-integrations/reddit/reddit.service.spec.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
Due: api-lint, prettier

feat(reddit-collector): integrate content retrieval services
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
Due: api-lint, prettier

docs(simone): complete TX03_S02 content retrieval pipeline task
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T03_S02_Content_Retrieval_Pipeline.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX03_S02_Content_Retrieval_Pipeline.md
  T03_S02_Production_Readiness_Report.md
Due: prettier

fix(code-quality): resolve ESLint and TypeScript compilation issues
  apps/api/scripts/validate-archive-integrity.ts
  apps/api/scripts/validate-pushshift-access.ts
  apps/api/src/modules/content-processing/reddit-collector/batch-processing-coordinator.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-content-pipeline.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.adapter.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.validator.ts
  apps/api/src/modules/content-processing/reddit-collector/pushshift-processor.service.ts
  apps/api/src/modules/content-processing/reddit-collector/stream-processor.service.spec.ts
  apps/api/test/reddit-integration.spec.ts
  apps/api/tsconfig.json
Due: api-lint, prettier

simone updates for e2e testing
  .claude/commands/simone/real_data_validation.md
  .eslintignore
  .eslintrc.js
  .simone/02_REQUIREMENTS/CLAUDE.md
  .simone/02_REQUIREMENTS/M03_Hybrid_Data_Collection_Implementation/M03_milestone_meta.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T04_S02_Scheduled_Collection_Jobs.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T09_S02_Keyword_Entity_Search.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX01_S02_Reddit_API_Integration.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX02_S02_Dual_Collection_Strategy.md
  .simone/99_TEMPLATES/milestone_e2e_testing_template.md
  apps/api/.eslintignore
  apps/api/tsconfig.json
  apps/mobile/src/navigation/index.tsx
  apps/mobile/src/store/searchStore.ts
  package.json
  pnpm-lock.yaml
  scripts/validate-t03-s02-real-data.ts
  scripts/validate-t03-s02-simple.ts
  tsconfig.json
Due: mobile-lint, prettier

feat(reddit-collector): implement scheduled collection jobs with monitoring and alerting
  apps/api/src/modules/content-processing/reddit-collector/collection-job-monitoring.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-job-monitoring.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-job-scheduler.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-job-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-job-state.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/scheduled-collection.exceptions.ts
Due: api-lint, prettier

chore(deps): add ioredis dependency for Redis operations
  package.json
  pnpm-lock.yaml
Due: prettier

docs(simone): complete T04_S02 scheduled collection jobs task
  .simone/00_PROJECT_MANIFEST.md
  .simone/02_REQUIREMENTS/M03_Hybrid_Data_Collection_Implementation/M03_E2E_Testing_Status.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX04_S02_Scheduled_Collection_Jobs.md
Due: prettier

test(reddit-collector): add T04_S02 validation and integration test scripts
  t04-integration-test.js
  validate-t04-s02.js
Due: prettier

update simone
  .claude/commands/simone/do_task.md
  .claude/commands/simone/real_data_validation.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T04_S02_Scheduled_Collection_Jobs.md
  T03_S02_Production_Readiness_Report.md
  apps/api/tsconfig.json
  apps/mobile/tsconfig.json
Due: prettier

simone updates
  .claude/commands/simone/do_task.md
  .claude/commands/simone/real_data_validation.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T05_S02_Gap_Tracking_System.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX05_S02_Gap_Tracking_System.md
  apps/api/src/modules/content-processing/reddit-collector/collection-job-monitoring.service.spec.ts
Due: api-lint, prettier

simone updates
  .claude/commands/simone/do_task.md
  .claude/commands/simone/real_data_validation.md
Due: prettier

feat(content-processing): implement T06_S02 temporal data merge logic
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T06_S02_Data_Merge_Logic.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX06_S02_Data_Merge_Logic.md
  apps/api/src/modules/content-processing/reddit-collector/data-merge-validation.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.exceptions.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.types.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
Due: api-lint, prettier

pre-commit
  .claude/commands/simone/code_review.md
  .claude/commands/simone/do_task.md
  .claude/commands/simone/real_data_validation.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T07_S02_Duplicate_Detection.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX07_S02_Duplicate_Detection.md
  apps/api/src/modules/content-processing/reddit-collector/data-merge-validation.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.types.ts
  apps/api/src/modules/content-processing/reddit-collector/duplicate-detection.exceptions.ts
  apps/api/src/modules/content-processing/reddit-collector/duplicate-detection.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/duplicate-detection.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/duplicate-detection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/duplicate-detection.types.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
Due: api-lint, prettier

new real data command
  .claude/commands/simone/real_data_validation.md
Due: prettier

tests
  apps/api/src/modules/content-processing/reddit-collector/data-merge.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/duplicate-detection.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/duplicate-detection.service.spec.ts
Due: api-lint, prettier

task 8
  .claude/commands/simone/real_data_validation.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/02_REQUIREMENTS/M03_Hybrid_Data_Collection_Implementation/M03_E2E_Testing_Status.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T08_S02_Unified_Processing_Integration.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX08_S02_Unified_Processing_Integration.md
  anything.md
  apps/api/package.json
  apps/api/scripts/validate-unified-processing.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.exceptions.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.types.ts
  apps/mobile/babel.config.js
Due: api-lint, prettier

feat(content-processing): complete T09_S02 keyword entity search implementation
  .simone/00_PROJECT_MANIFEST.md
  .simone/02_REQUIREMENTS/M03_Hybrid_Data_Collection_Implementation/M03_milestone_meta.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/M03_S02_sprint_meta.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/T09_S02_Keyword_Entity_Search.md
  .simone/03_SPRINTS/M03_S02_Real_Time_Collection_Unified_Pipeline/TX09_S02_Keyword_Entity_Search.md
  apps/api/src/modules/content-processing/reddit-collector/entity-priority-selection.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-orchestrator.service.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-search-scheduler.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-collector.module.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
Due: api-lint, prettier

feat(testing): organize real data validation tests and improve infrastructure
  .claude/commands/simone/do_task.md
  .claude/commands/simone/real_data_validation.md
  .simone/02_REQUIREMENTS/M03_Hybrid_Data_Collection_Implementation/M03_E2E_Testing_Status.md
  .simone/99_TEMPLATES/milestone_e2e_testing_template.md
  apps/api/scripts/setup-test-db.sh
  apps/api/scripts/validate-archive-integrity.ts
  apps/api/scripts/validate-pushshift-access.ts
  apps/api/scripts/validate-unified-processing.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.service.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.integration.spec.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.spec.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/shared/shared.module.ts
  apps/api/tests/integration/test-end-to-end-real-data.ts
  apps/api/tests/integration/test-scale-100-comments.ts
  apps/api/tests/validation/test-10-handcrafted-comments.ts
  apps/api/tests/validation/test-complete-pipeline.ts
  apps/api/tests/validation/test-gemini-direct.ts
  apps/api/tests/validation/test-proper-batch-processing.ts
  apps/api/tests/validation/test-real-integrations.ts
  apps/api/tests/validation/test-single-comment.ts
  apps/api/tests/validation/test-with-comments.ts
Due: api-lint, prettier

clean
  .gitignore
  .simone/02_REQUIREMENTS/M03_Hybrid_Data_Collection_Implementation/M03_E2E_Testing_Status.md
  lefthook.yml
Due: prettier

fixing things
  apps/api/analyze-missing-comments.js
  apps/api/check-deleted.js
  apps/api/count-comments.js
  apps/api/extraction-test-results.json
  apps/api/recount-comments.js
  apps/api/reddit-response-debug.json
  apps/api/src/modules/content-processing/reddit-collector/content-retrieval-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/data-merge.service.ts
  apps/api/src/modules/content-processing/reddit-collector/historical-llm-integration.validator.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/external-integrations/external-integrations-health.controller.ts
  apps/api/src/modules/external-integrations/external-integrations.module.ts
  apps/api/src/modules/external-integrations/google-places/google-places-health.controller.ts
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/google-places/restaurant-enrichment.service.ts
  apps/api/src/modules/external-integrations/llm/llm-chunking.service.ts
  apps/api/src/modules/external-integrations/llm/llm-health.controller.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/reddit/reddit-data-filter.ts
  apps/api/src/modules/external-integrations/reddit/reddit.module.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/external-integrations/shared/rate-limit-coordinator.service.ts
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/repositories/bulk-operations.service.ts.backup
  apps/api/src/repositories/entity-context.service.ts.backup
  apps/api/src/shared/index.ts
  apps/api/src/shared/logging/logger.interface.ts
  apps/api/src/shared/logging/logging.interceptor.ts
  apps/api/src/shared/logging/winston-logger.service.ts
  apps/api/src/shared/shared.module.ts
  apps/api/test-extraction.ts
  apps/api/test-pipeline.ts
  apps/api/test-reddit-comments.ts
  apps/api/test-structured-output.ts
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  mobile-lint: any of: apps/mobile/**/*.{ts,tsx,js,jsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
