Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(gate): repoint mounted-commit check to the new track system; coverage staleness applied
  audit/COVERAGE.md
  scripts/search-results-prepared-rows-delete-gate.sh
Due: prettier

docs(audit): F9983 — stale-checkout citations in the plans audit, corrected by Search
  audit/FINDINGS.md
Due: prettier

fix(audit-batch)!: C3+H2+C2+H3+H5+M9 — the user-facing lies and fake scores from the rederivation audit
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/search/dietary-constraints.ts
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/search-orchestration.service.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

fix(gates-R8): the delete-gate and grep-invariants follow the deletion — repointed to the track's live writers, mutation-proven
  scripts/app-route-runtime-delete-gate.sh
  scripts/perf-scenario-interrupt-contracts.js
  scripts/perf-scenario-parity-contracts.js
  scripts/perf-scenario-visual-contracts.js
  scripts/rig/grep-invariants.sh
Due: prettier

fix(H4+H7): calibration honesty + one edit-distance authority
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/scripts/search-harness/linker-calibration-sweep.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/search/linker-calibration.generated.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
Due: api-lint, prettier

plan(concept-graph): §11 progress — 9 of the pre-launch shortlist landed, remainder ordered
  plans/concept-graph.md
Due: prettier

docs(audit): coverage staleness applied for db9a03943's gate-script edits
  audit/COVERAGE.md
Due: prettier

fix(gate-R8): mounted_results_flashlist_must_draw deleted WITH its subject — adjudicated, successors named
  scripts/search-results-prepared-rows-delete-gate.sh
Due: none

docs(audit): coverage follows R8 — 53 stale reviews reverted, 15 deleted paths judged with provenance
  audit/COVERAGE.md
Due: prettier

docs(audit): coverage R8 judgement complete — all 21 deleted paths judged, zero missing
  audit/COVERAGE.md
Due: prettier

docs(audit): F9984 — the 18:12 cross-lane sweep's author lane, forensics recorded
  audit/FINDINGS.md
Due: prettier

feat(KL-A)!: the pass-run ledger — a knowledge pass records its RUNS, not just its outputs
  apps/api/prisma/migrations/20260808130000_knowledge_pass_runs/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/entity-resolver/concept-satisfies.service.ts
Due: api-lint, prettier

owner-rulings(OA9+OA10): toggle-seam pattern + placeholder policy; list view-mode as preference
  plans/transition-endstate-contract.md
Due: prettier

feat(KL-D)!: rung 2 materialized — ONE folded containment definition for judge and query
  apps/api/prisma/migrations/20260808140000_name_containment_edges/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/src/modules/content-processing/entity-resolver/concept-satisfies-fold.integration.spec.ts
  apps/api/src/modules/content-processing/entity-resolver/concept-satisfies.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.module.ts
  apps/api/src/modules/entity-text-search/name-containment-edge-builder.service.ts
  apps/api/src/modules/search/search-sibling-expansion.service.ts
Due: api-lint, prettier

fix(saveList-skeleton): the spec-vs-code contradiction dies — rows, through the one resolver; 'rows' preset added, 'history' kept for the real history surface
  apps/mobile/src/components/skeletons/CutoutSkeletonDevPreview.tsx
  apps/mobile/src/components/skeletons/cutout-skeleton-presets.ts
  apps/mobile/src/navigation/runtime/scene-declaration-schema-parity.spec.ts
  apps/mobile/src/navigation/runtime/scene-foundation-spec.ts
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  plans/list-view-mode-rederivation.md
  scripts/check-tracksheet-invariants.mjs
Due: prettier

feat(toggle-seam): the seam is a resolver axis — cold replaces the strip, refetch keeps it live; polls armed behind an A/B lever
  apps/mobile/src/overlays/panels/runtime/polls-toggle-seam.spec.ts
  apps/mobile/src/overlays/panels/runtime/polls-toggle-seam.ts
Due: prettier

fix(invariant): subject-text-emission list follows F9981 — stale coverage-spec entry removed
  apps/api/scripts/check-subject-text-emission.ts
Due: api-lint, prettier

fix(hooks): the commit carries its own coverage-staleness revert
  audit/COVERAGE.md
  lefthook.yml
Due: prettier

fix(hooks): coverage-staleness hook loses its glob — its first miss was itself
  audit/COVERAGE.md
  lefthook.yml
Due: prettier

fix(census): two new tables classified — the census caught concurrent lanes' schema adds
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/shared/testing/preserved-anchors.spec.ts
  audit/COVERAGE.md
Due: api-lint, prettier

docs(ledger): every open item in one page — owner sitting, approved queue, residue
  plans/open-items-ledger.md
Due: prettier

plan(concept-graph): §12 owner rulings — fresh toggles per search (client); negation v2 = literal ignore, cue machinery deleted, dense-input hygiene only
  plans/concept-graph.md
Due: prettier

plan(concept-graph): §13 autocomplete i18n verdict — attr lane unlocalized (P0), i18n bolted beside pre-i18n lane; fix order recorded
  plans/concept-graph.md
Due: prettier

docs(ops): CI FULLY GREEN — first in pipeline history; F9985 flake recorded; R8 ship queued on tree quiescence
  audit/FINDINGS.md
  ops/deploy-readiness.md
Due: prettier

feat(negation-v2)!: literal ignore — negated words ground positively; cue machinery deleted
  apps/api/scripts/search-harness/gold-corpus/es.json
  apps/api/scripts/search-harness/gold-corpus/es.result.json
  apps/api/src/modules/entity-text-search/query-analyzer.ts
  apps/api/src/modules/search/search-query-interpretation.service.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(toggles+dietary)!: fresh toggles per search (owner §12a) + the last two dietary fail-open holes closed
  apps/api/src/modules/search/dietary-constraints.ts
  apps/mobile/src/screens/Search/hooks/use-search-structured-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/store/searchStore.ts
  audit/COVERAGE.md
Due: api-lint, prettier

fix(strip-choreography)!: right pixels, right clocks — plate-first strip, skeleton with a face, chromeHeight on the commit clock
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/ios/TrackScrollKit/Sources/TrackShellSlot.h
  apps/mobile/ios/TrackScrollKit/Sources/TrackShellSlot.m
  apps/mobile/src/components/CutoutBandMaterial.tsx
  apps/mobile/src/components/skeletons/CutoutSkeletonSurface.tsx
  apps/mobile/src/components/skeletons/SceneLoadingSurface.tsx
  apps/mobile/src/components/skeletons/scene-skeleton-width-hint.ts
  apps/mobile/src/toggles/ToggleStrip.tsx
  apps/mobile/src/toggles/toggle-strip-layout-cache.ts
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/__render__/mocks/react-native-mock.ts
  apps/mobile/src/tracksheet/__render__/mocks/surfaces-mock.tsx
  apps/mobile/src/tracksheet/__render__/mocks/svg-mock.ts
  apps/mobile/src/tracksheet/__render__/strip-choreography.render-spec.tsx
  apps/mobile/src/tracksheet/__render__/toggle-strip-plate.render-spec.tsx
  apps/mobile/src/tracksheet/track-handoff-release.spec.ts
  apps/mobile/src/tracksheet/track-handoff-release.ts
  apps/mobile/src/tracksheet/use-track-leg-resolver.tsx
  audit/COVERAGE.md
Due: prettier

fix(render-lane): the svg-mock mapping rides its own config — 018542e8e shipped the mock but not the jest mapping
  apps/mobile/jest.tracksheet-render.config.js
Due: prettier

feat(cache-policy)!: the cache law stated once — four classes, 28 sites migrated; and the last rogue sheet-writer dies
  apps/mobile/App.tsx
  apps/mobile/src/components/ShareModalHost.tsx
  apps/mobile/src/components/photos/use-card-photo-strip.ts
  apps/mobile/src/hooks/use-favorite-heart.ts
  apps/mobile/src/hooks/use-user-lists.ts
  apps/mobile/src/hooks/useAccess.ts
  apps/mobile/src/overlays/panels/ChildScenePanels.tsx
  apps/mobile/src/overlays/panels/FollowListPanel.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/MessagingPanels.tsx
  apps/mobile/src/overlays/panels/PostPhotosPanel.tsx
  apps/mobile/src/overlays/panels/ProfileSectionsBody.tsx
  apps/mobile/src/overlays/panels/RestaurantProfileViews.tsx
  apps/mobile/src/overlays/panels/UserProfilePanel.tsx
  apps/mobile/src/overlays/panels/profileSceneQueryOptions.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-control-foundation-authority-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-scroll-authority-runtime.ts
  apps/mobile/src/services/query-cache-policy.spec.ts
  apps/mobile/src/services/query-cache-policy.ts
  audit/COVERAGE.md
  scripts/check-tracksheet-invariants.mjs
Due: prettier

owner-ruling(OA12): variant A everywhere, baked into the toggle primitive; one skeleton owner
  plans/transition-endstate-contract.md
Due: prettier

plan(concept-graph): §13 addendum — dietary card-strip + see-locations behavior RATIFIED intended; autocomplete workstream greenlit
  plans/concept-graph.md
Due: prettier

feat(autocomplete-i18n)!: the attribute lane learns the app language + the flow gate is born
  apps/api/scripts/search-harness/autocomplete-flow-gate.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/mobile/src/overlays/scene-retention-registry.ts
  audit/COVERAGE.md
Due: api-lint, prettier

feat(autocomplete-i18n): typo tolerance for every language + locale-honest cache
  apps/api/prisma/migrations/20260808150000_alias_form_folded_trgm/migration.sql
  apps/api/scripts/search-harness/autocomplete-flow-gate.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
Due: api-lint, prettier

test(P0-a)+plan: the und-only projection coincidence becomes a checked law; §13 progress recorded — flow gate 12/12
  apps/api/src/modules/entity-text-search/aliases-projection-und-only.integration.spec.ts
  plans/concept-graph.md
Due: api-lint, prettier

feat(toggle-primitive)!: OA12 — the toggle owns its awaiting face; bare white is unrepresentable
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-toggle-seam.ts
  apps/mobile/src/toggles/toggle-awaiting-face-law.spec.ts
  apps/mobile/src/toggles/toggle-awaiting-face.spec.ts
  apps/mobile/src/toggles/toggle-awaiting-face.ts
  apps/mobile/src/toggles/toggle-strip-consequence.ts
  apps/mobile/src/toggles/use-content-toggle.spec.ts
  apps/mobile/src/toggles/use-content-toggle.ts
  audit/COVERAGE.md
  plans/toggle-primitive-rederivation.md
Due: prettier

feat(ideal-shape)!: judge earns its facts, lexicon reads the catalog, shims resolved
  apps/api/scripts/search-harness/autocomplete-flow-gate.ts
  apps/api/src/modules/entity-text-search/entity-lexicon-builder.service.ts
  apps/api/src/modules/search/search-sibling-expansion.service.ts
  apps/mobile/src/store/searchStore.ts
Due: api-lint, prettier

docs(ops): R8 SHIPPED through the front door — first CI-green prod deploy
  ops/deploy-readiness.md
Due: prettier

docs(audit): coverage judgement for post-R8 lane deletions — zero missing
  audit/COVERAGE.md
Due: prettier
