Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

audit(clean-pass-1 mobile-nav-overlays): F4700's fix swept one spec; the lane still goes red 1 run in 6
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D121): a row this exercise closed FIXED was closed on a partial fix
  audit/DESIGNS.md
Due: prettier

audit(F7900-F7903): CLEAN-PASS-1 repo-root/scripts/CI — the gates that check the gates are red, blind, or unrun
  audit/FINDINGS.md
Due: prettier

fix(F7900/F7902): the containment gate was red on main and blind to every .mjs it should fence
  audit/FINDINGS.md
  scripts/check-doc-claims.mjs
  scripts/check-lane-pathspec.sh
  scripts/check-lint-ban-inheritance.mjs
  scripts/check-migration-parallel-guard.mjs
  scripts/check-railway-manifests.mjs
  scripts/check-search-runtime-hook-names.mjs
  scripts/check-search-styles-orphan-keys.mjs
  scripts/check-sql-comment-backticks.mjs
  scripts/coverage-staleness.mjs
  scripts/find-dead-hook-args.mjs
  scripts/lib/strip-comments.mjs
  scripts/lib/tracked-source.mjs
  scripts/scripts-containment-gate.sh
Due: prettier

design(D122): the fence had a hole in its own kind, and the CI root cause is our own ban violation
  audit/DESIGNS.md
Due: prettier

fix(F7903): job-control tripped the env-flag ban the fix that moved it there was meant to enforce
  apps/api/scripts/job-control.ts
Due: api-lint, prettier

audit(F7903): job-control fixed; notification-dispatcher is the sole remaining CI blocker, held by another session
  audit/FINDINGS.md
Due: prettier

fix(D121/D122): the jest lane flaked repo-wide on a partial fix, and the ban gate guarded half its mandate
  .github/workflows/ci.yml
  apps/mobile/jest.config.js
  apps/mobile/jest.react-native-stub.js
  apps/mobile/package.json
  apps/mobile/src/components/skeletons/cutout-skeleton-presets.spec.ts
  apps/mobile/src/overlays/scene-load-failure-policy.spec.ts
  apps/mobile/src/perf/perf-sampler-honesty.spec.ts
  apps/mobile/src/screens/onboarding/onboarding-completion-replay.spec.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
  scripts/check-lint-ban-inheritance.mjs
Due: deps-check, prettier

docs(COVERAGE): sync the three prettier-reformatted spec blob shas (F7800)
  audit/COVERAGE.md
Due: prettier

fix(D118): DELETE scopes ORed columns the erasure declaration keeps
  apps/api/src/modules/entitlements/entitlement-enforcement.spec.ts
  apps/api/src/modules/identity/person-data/delete-scope-guard.spec.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
  apps/api/src/modules/identity/person-data/retention-horizon.integration.spec.ts
  apps/api/src/modules/identity/person-data/retention-horizon.service.ts
  apps/api/src/modules/notifications/user-notification-feed.integration.spec.ts
  apps/api/src/modules/notifications/user-notification-feed.service.ts
Due: api-lint, prettier

design(D123): F4700 closed on a gate that can show RED, not twenty greens a flake can slip
  audit/DESIGNS.md
Due: prettier

migrate(F7600/F7502): EntityLabel.form_folded and the notification-feed total order, with their migrations
  apps/api/prisma/migrations/20260807000000_entity_labels_form_folded/migration.sql
  apps/api/prisma/migrations/20260807010000_notification_feed_total_order/migration.sql
  apps/api/prisma/schema.prisma
Due: none

fix(D120/D121): a re-render disarmed the recovery it promised, a boundary logged two witnesses that were one, and a null the collapse made unreachable
  apps/mobile/src/overlays/useRestaurantRouteContentSpecRuntime.tsx
  apps/mobile/src/overlays/useRestaurantRouteEntryRuntime.ts
  apps/mobile/src/screens/Search/runtime/shared/spec-support/react-effect-harness.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-dismiss-motion-plane-recovery-rearm.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-dismiss-motion-plane-runtime.ts
  audit/COVERAGE.md
  maestro/perf/contracts/search-submit-visual-parity.json
  scripts/perf-scenario-parity-contracts.js
  scripts/perf-scenario-visual-contracts.js
Due: prettier

design(D124): the erasure guard is audible; the fail-open-vs-closed call weighs two legal duties and is the owner's
  audit/DESIGNS.md
Due: prettier

docs(COVERAGE): sync the two F7700 spec blob shas prettier reformatted at commit
  audit/COVERAGE.md
Due: prettier

fix(F7600/F7601/F7602): the labels match arm compared folded query text to unfolded stored text, so every accented label was unreachable
  apps/api/scripts/backfill-label-folds.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/entity-text-search/label-fold-symmetry.integration.spec.ts
  apps/api/src/modules/search/matched-tags-tiebreak.integration.spec.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-query.executor.ts
Due: api-lint, prettier

design(D125): the recovery deadline survives a re-render, proven on the real hook
  audit/DESIGNS.md
Due: prettier

audit(F7600/F7601/F7602): rows terminal (FIXED), coverage shas refreshed
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

design(D126): the fold fix went to the span, not just the WHERE — all pass-1 findings terminal
  audit/DESIGNS.md
Due: prettier

audit(coverage): refresh 7 shas for pass-1-remediation files reviewed at write (D122-D126)
  audit/COVERAGE.md
Due: prettier

audit(F8400): the F7601 constant-zero timing had a twin one file over — llmMs:0 pinned in the interpretation phaseTimings the sweep never reached
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

fix(F8400): the llmMs:0 twin F7601 stopped short of — a phase that does not run has no phaseTiming
  apps/api/src/modules/search/search-query-interpretation.service.ts
  audit/FINDINGS.md
Due: api-lint, prettier

design(D127): attempt 2 found one twin, not twelve — convergence in the shape, but the counter is still zero
  audit/DESIGNS.md
Due: prettier

fix(F7701): a contract asserted four hardcoded labels equalled their own literals
  audit/COVERAGE.md
  audit/FINDINGS.md
  scripts/perf-scenario-visual-contracts.js
Due: prettier

design(D128): the literals were real selectors — keep the emit, delete only the check that cannot fail
  audit/DESIGNS.md
Due: prettier

fix(F8500): two delete-gates read rg exit 2/127 as "clean" — a bad pattern or a machine without ripgrep passed having scanned nothing
  audit/DESIGNS.md
  scripts/crave-score-cutover-delete-gate.sh
  scripts/search-results-prepared-rows-delete-gate.sh
Due: prettier

fix(F8600): delete four redundant source-literal conjuncts the byEvent filter already made invariant-true
  audit/DESIGNS.md
  scripts/perf-scenario-visual-contracts.js
Due: prettier

docs: the scene-body-spec dead-effect rule depends on the caller's fiber, not the hook's shape
  CLAUDE.md
Due: prettier

docs(F8500,F8600): record attempt-3 findings as terminal FIXED in the ledger
  audit/FINDINGS.md
Due: prettier

fix(F8700): ios-camera-symbol-gate read nm/strings absence as "banned symbol absent → PASS"
  audit/DESIGNS.md
  audit/FINDINGS.md
  scripts/ios-camera-symbol-gate.sh
Due: prettier

docs(F8800): record the app-route delete-gate exit-2 per-pattern swallow (F8500 class, CI-wired)
  audit/FINDINGS.md
Due: prettier

fix(F8800): route app-route delete-gate's standalone bans through a status-discriminating ban_absent helper
  audit/DESIGNS.md
  audit/FINDINGS.md
  scripts/app-route-runtime-delete-gate.sh
Due: prettier

docs(F9000): the iOS-deleted camera fallback still lives on Android — owner-decision, not a fix
  audit/FINDINGS.md
Due: prettier

fix(F8800): close the residual — migrate all 14 compound presence+ban blocks to require_present/ban_absent
  audit/DESIGNS.md
  audit/FINDINGS.md
  scripts/app-route-runtime-delete-gate.sh
Due: prettier

fix(F9102,F9103): type-check shared's own test files; make site checkout-config nullability unrepresentable
  apps/site/src/config.ts
  apps/site/src/premium-page.ts
  apps/site/src/router.ts
  audit/DESIGNS.md
  audit/FINDINGS.md
  packages/shared/package.json
  packages/shared/tsconfig.test.json
Due: deps-check, prettier

docs(F9100,F9101): escalate the CI lint gate (four warn-level safety rules unenforced) + apps/site linted by nothing
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

docs(coverage): terminalize job-control (F7903 REDERIVED) + refresh shas for the 11 files rederived this session
  audit/COVERAGE.md
Due: prettier

docs(coverage): terminalize the 7 reviewable UNREVIEWED rows — only 4 remain, all concurrent-session-blocked
  audit/COVERAGE.md
Due: prettier

docs(backlog): triage the 268-open reckoning into MOOT/OWNER/LIVE-MINE; close 17 verified MOOTs; leave the canonical map
  audit/BACKLOG-TRIAGE-2026-08-07.md
  audit/DESIGNS.md
  audit/FINDINGS.md
Due: prettier

fix(reddit-collector): drain 7 fake-default/dead-code findings (F4900-F4906,F4933), 2 items stopped-owner
  apps/api/src/config/configuration.ts
  apps/api/src/modules/content-processing/reddit-collector/archive/archive-ingestion.service.ts
  apps/api/src/modules/content-processing/reddit-collector/batch-processing-queue.types.ts
  apps/api/src/modules/content-processing/reddit-collector/collection-evidence.service.ts
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/content-processing/reddit-collector/reddit-batch-processing.service.ts
  apps/api/src/modules/content-processing/reddit-collector/replay.service.ts
  apps/api/src/modules/external-integrations/llm/dto/llm-input.dto.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/reddit/README.md
  apps/api/src/modules/external-integrations/reddit/REDDIT_API_INTEGRATION.md
  apps/api/src/modules/external-integrations/reddit/reddit-data-filter.spec.ts
  apps/api/src/modules/external-integrations/reddit/reddit-data-filter.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.spec.ts
  apps/api/src/modules/external-integrations/reddit/reddit.service.ts
  apps/api/src/modules/external-integrations/shared/external-integrations.types.ts
  audit/FINDINGS.md
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
