Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

chore(search): drop the dead filters local in the coverage lane
  apps/mobile/src/screens/Search/runtime/resolver/shortcut-coverage-world.ts
Due: prettier

docs(audit): the venue gate is a cuisine map doing a classifier's job
  plans/data-audit-2026-08.md
Due: prettier

hunt(F1910/F1911): the public share-link read costs ~31 sequential round trips; the rest of user-lists is ideal
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

audit(mobile-search): six rows close — five by verification, one real dead-import deletion
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  audit/FINDINGS.md
Due: prettier

fix(gate): the vocabulary check now names the intent instead of just rejecting
  audit/FINDINGS.md
  scripts/findings-ledger-gate.sh
Due: prettier

fix(tomtom)!: a fault has a SCOPE — and a broken gate is not a spent budget
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
Due: api-lint, prettier

perf(track-probe): split press->paint into honest phases, and count what the flip frame actually renders
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/__render__/track-host-row-funnel.render-spec.tsx
  apps/mobile/src/tracksheet/track-entry-prewarm.ts
  apps/mobile/src/tracksheet/track-press-phase-probe.spec.ts
  apps/mobile/src/tracksheet/track-press-phase-probe.ts
  apps/mobile/src/tracksheet/use-track-leg-resolver.tsx
Due: prettier

docs(audit): gate 2 settled — one venue, both kinds of claim
  plans/data-audit-2026-08.md
Due: prettier

rederive(F983/F926/F922/F959a/F1391): the MVCP law gets structural enforcement, and a null-bounds return silently killed a retry ladder
  apps/mobile/src/navigation/runtime/app-route-scene-input-registry.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-fanout-controller.ts
  apps/mobile/src/overlays/BottomSheetSceneStackListBodySurface.tsx
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/overlays/bottomSheetSceneStackBodyLayerContract.ts
  apps/mobile/src/overlays/bottomSheetSceneStackBodyLayerSkip.ts
  apps/mobile/src/overlays/panels/HomePanel.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/overlays/panels/runtime/polls-feed-refetch-edge.spec.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-refetch-edge.ts
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  audit/FINDINGS.md
Due: prettier

docs(audit): reversing my own venue-type recommendation — no type is safe
  plans/data-audit-2026-08.md
Due: prettier

fix(F1910)!: the public share-link read drops from ~31 sequential round trips to 3
  apps/api/src/modules/user-lists/user-list-mappers-restaurant-batch.spec.ts
  apps/api/src/modules/user-lists/user-list.mappers.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

feat(prompt): candidate rewritten around four kind-gates — 627 lines, composition before peeling
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
  plans/data-audit-2026-08.md
Due: prettier

fix(tomtom): five more defects in my own day's work — the collapse I fixed, one method over
  apps/api/scripts/data-fixes/audit-catalog-vs-vendor.ts
  apps/api/scripts/data-fixes/resolve-entity-names.ts
  apps/api/scripts/publish-reconciliation.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.spec.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.spec.ts
  apps/api/src/modules/ops-dashboard/ops-summary.service.ts
  apps/api/src/modules/places/places-reconciler.service.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
Due: api-lint, prettier

fix(concept-graph): the red team found eight real defects in what I just shipped — all fixed
  apps/api/prisma/migrations/20260805210000_alias_source_vocabulary/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/entity-resolver/concept-satisfies.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
  apps/api/src/modules/entity-display/label-generator.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-display/recipe-render.spec.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
  apps/api/src/modules/search/demand-vocabulary.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

perf(track-window)!: the list's overscan follows the SHEET, not the screen — 23 cards built per switch, now a third of that
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/__render__/render-utils.tsx
  apps/mobile/src/tracksheet/track-list-window.spec.ts
  apps/mobile/src/tracksheet/track-list-window.ts
Due: prettier

feat(deletion)!: the grace period becomes real, and the person-data declaration gets a compiler
  apps/api/scripts/check-author-identity.ts
  apps/api/scripts/check-subject-text-emission.ts
  apps/api/src/modules/identity/account-deletion-promise.spec.ts
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/modules/identity/person-data/person-data-coverage.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-eraser.service.ts
  apps/api/src/modules/identity/person-data/person-data-erasure-proof.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-export.service.ts
  apps/api/src/modules/identity/person-data/person-data-scope.integration.spec.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
  apps/api/src/modules/signals/subject-text-floor.integration.spec.ts
  apps/api/src/modules/signals/subject-text-floor.ts
  apps/api/src/shared/testing/preserved-anchors.spec.ts
  apps/mobile/src/navigation/RootNavigator.tsx
  apps/mobile/src/navigation/runtime/AppRouteCoordinator.tsx
  apps/mobile/src/navigation/runtime/app-route-types.ts
  apps/mobile/src/navigation/runtime/use-clear-on-identity-change.ts
  apps/mobile/src/screens/AccountDeletedScreen.tsx
  apps/mobile/src/services/author-identity.spec.ts
  apps/mobile/src/services/author-identity.ts
Due: api-lint, prettier

fix(tomtom+coverage): the two type holes the parallel refactor left open
  apps/api/src/modules/search/search-coverage-archived-leak.integration.spec.ts
Due: api-lint, prettier

fix(F1019)!: the invented price band survived a rename — every search result card was showing a fabricated range
  apps/mobile/src/components/cards/ResultCard/DishResultCard.tsx
  apps/mobile/src/components/cards/ResultCard/RestaurantResultCard.tsx
  apps/mobile/src/overlays/panels/RestaurantPanel.tsx
  apps/mobile/src/screens/Search/components/restaurant-result-card-descriptor.ts
  audit/FINDINGS.md
Due: prettier

chore(config): delete tomtom.apiVersion — a key that governs nothing is a lie
  apps/api/.env.example
  apps/api/src/config/configuration-readers.spec.ts
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/shared/vendor-pricing.ts
Due: api-lint, prettier

audit(F928): the "third independent expression" was a mischaracterisation — the pair is documented and deliberate
  audit/FINDINGS.md
Due: prettier

refactor(concept-graph): delete the MQM scaffolding and the metric that could only read zero
  apps/api/src/modules/entity-display/label-generator.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-display/vocabulary-generator.ts
Due: api-lint, prettier

fix(deletion): the success modal still said the data was gone, and the promise spec named its strings instead of enumerating them
  apps/api/src/modules/identity/account-deletion-promise.spec.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
  apps/mobile/src/overlays/panels/runtime/use-account-actions-runtime.ts
Due: api-lint, prettier

hunt(F1920): the signals territory is ideal, and its verifier is genuinely independent — one stale attribution fixed
  apps/api/src/modules/signals/subject-identity.ts
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: api-lint, prettier

fix(tomtom): the code-vs-name scar was fixed in one of three ladder copies
  apps/api/scripts/data-fixes/audit-catalog-vs-vendor.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-observation.property.spec.ts
Due: api-lint, prettier

perf(db): drop nine indexes that duplicate a UNIQUE index column-for-column
  apps/api/prisma/migrations/20260805000000_drop_subsumed_indexes/migration.sql
  apps/api/prisma/schema.prisma
Due: none

rederive(F1112/F1703)!: the omnibus bridge splits into one file per Swift module — and the gate's pin moved in the SAME change
  apps/api/scripts/prompt-ab.ts
  apps/mobile/ios/cravesearch.xcodeproj/project.pbxproj
  apps/mobile/ios/cravesearch/CraveBottomSheetHostViewBridge.m
  apps/mobile/ios/cravesearch/ProfilePresentationTransactionExecutorBridge.m
  apps/mobile/ios/cravesearch/SearchChromeNativeHitTargetSurfaceBridge.m
  apps/mobile/ios/cravesearch/SearchMapRenderControllerBridge.m
  apps/mobile/ios/cravesearch/SearchRouteSheetNavExclusionMaskViewBridge.m
  apps/mobile/ios/cravesearch/UIFrameSamplerBridge.m
  audit/COVERAGE.md
  audit/FINDINGS.md
  scripts/perf-scenario-parity-contracts.js
Due: api-lint, prettier

hunt(F1930): the entire cron surface comes back clean — and the doc claiming otherwise was wrong
  apps/api/prisma/migrations/AUTHORING.md
Due: prettier

feat(retention): the declared horizon becomes a mechanism, and the scope compiler survives a join
  apps/api/src/modules/identity/account-deletion.module.ts
  apps/api/src/modules/identity/person-data/person-data-scope.ts
  apps/api/src/modules/identity/person-data/retention-horizon.integration.spec.ts
  apps/api/src/modules/identity/person-data/retention-horizon.service.ts
Due: api-lint, prettier

refactor(polls): delete PollTopic.status, and fix the defect deleting it exposed
  apps/api/prisma/migrations/20260805010000_drop_poll_topic_status/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/seed-owner-fixtures.ts
  apps/api/scripts/seed-poll-fixtures.ts
  apps/api/src/modules/polls/polls.service.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.spec.ts
  apps/api/src/modules/polls/supply/poll-weekly-ritual.service.ts
Due: api-lint, prettier

fix(dietary): a wall in force always has a control that can release it
  apps/mobile/src/screens/Search/__tests__/dietary-wall-controls.spec.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/dietary-controls.ts
  apps/mobile/src/screens/Search/hooks/use-dietary-options.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/reconciler/search-world-reconciler.ts
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-filter-state-runtime.ts
  apps/mobile/src/store/searchStore.ts
Due: prettier

hunt(F1940-F1942): the schema is read in full — a "never fix this" doc names an index that no longer exists
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

perf(polls-card)!: the viewer's identity is ONE subscription per leg, not one per card
  apps/mobile/jest.tracksheet-render.config.js
  apps/mobile/src/overlays/panels/PollCandidateBars.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/runtime/poll-viewer-identity-store.ts
  apps/mobile/src/overlays/panels/runtime/poll-viewer-identity.spec.ts
  apps/mobile/src/overlays/panels/runtime/use-poll-viewer-identity.ts
Due: prettier

fix(F1940/F1941): the "NEVER FIX" list stops naming a phantom, and the one undocumented raw-SQL index joins the census
  apps/api/prisma/migrations/AUTHORING.md
  apps/api/prisma/schema.prisma
  audit/FINDINGS.md
Due: prettier

fix(concept-graph): a Spanish speaker could not autocomplete at all — plus three metrics that could not show red
  apps/api/scripts/search-harness/run-parity-check.ts
  apps/api/src/modules/autocomplete/autocomplete.service.ts
  apps/api/src/modules/autocomplete/entity-search.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-alias.service.ts
  apps/api/src/modules/entity-display/label-sweep.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
  apps/api/src/modules/search/demand-vocabulary.service.ts
Due: api-lint, prettier

fix(db): the timestamptz conversion was RECORDED as applied and never ran
  apps/api/prisma/migrations/20260805120000_timestamptz_everywhere_actually/migration.sql
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
Due: prettier

refactor(person-data)!: "forever" stops being the default of an omitted field
  apps/api/src/modules/identity/person-data/person-data-class.ts
  apps/api/src/modules/identity/person-data/person-data-erasure-proof.integration.spec.ts
  apps/api/src/modules/identity/person-data/retention-horizon.integration.spec.ts
  apps/api/src/modules/identity/person-data/retention-horizon.service.ts
Due: api-lint, prettier

test(prompt): graded A/B on real source text — candidate 17/17, live 11/17, zero regressions
  apps/api/scripts/fixtures/prompt-ab-cases.json
  apps/api/scripts/prompt-ab.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.candidate.md
Due: api-lint, prettier

hunt(F1950): the mobile service layer is hardened — one cache key omits a dimension that is already live
  audit/COVERAGE.md
  audit/FINDINGS.md
Due: prettier

chore(polls): remove stray F1471 probe console.log swept into HEAD by a concurrent commit
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
Due: prettier

docs(audit): F927/F1561/F1471/F891 — device-measured re-run results
  audit/FINDINGS.md
Due: prettier
