Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

fix(search-map): assert label-collision obstacles at enter start; restore GL label wrap width
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

feat(ops): automatic API usage/cost ledger + alias-rule collision hardening
  apps/api/prisma/migrations/20260706060000_api_usage_ledger/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/external-integrations/google-places/google-places.service.ts
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.md
  apps/api/src/modules/external-integrations/shared/shared-services.module.ts
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
Due: api-lint, prettier

refactor(polls): poll graduation follows COLLECTION_LLM_MODE via pipeline completion handler
  apps/api/src/modules/content-processing/reddit-collector/extraction-pipeline.service.ts
  apps/api/src/modules/polls/poll-graduation.service.ts
Due: api-lint, prettier

refactor(search): delete the white loading cover + all its plumbing — the cutout skeleton IS the loading surface
  apps/mobile/src/screens/Search/runtime/controller/results-presentation-interaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/controller/results-presentation-owner-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-owner-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-panel-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-runtime-owner-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/route-search-scene-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-environment-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-root-visual-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-interaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-bridge-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-tab-toggle-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-toggle-coordinator.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-bottom-nav-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-visual-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-foreground-visual-presentation-source-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-header-policy-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-surface-interaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-surface-panel-parts-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-scene-visual-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-interaction-frost-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-interaction-loading-policy-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-composite-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-wash-overlay-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-surface-panel-state-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-route-search-scene-model-owner.ts
  apps/mobile/src/screens/Search/styles.ts
Due: prettier

feat(enrichment): restaurant lifecycle janitor (act half of the decay lifecycle)
  apps/api/prisma/migrations/20260706070000_location_business_status/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/restaurant-janitor.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-enrichment.module.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

feat(search): shortcut toggles swap the header + search bar to the sibling shortcut label
  apps/mobile/src/screens/Search/hooks/use-search-submit-action-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/search-include-similar-variant.ts
  apps/mobile/src/screens/Search/runtime/shared/search-results-panel-runtime-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/shortcut-toggle-display-query.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-shell-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-shell-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-viewport-shortcut-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-results-runtime-state.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-chrome-freeze-runtime.tsx
Due: prettier

feat(resolver): periodic food dedupe-merge pass (Phase-3 value, no emission restructure)
  apps/api/scripts/food-dedupe-merge.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolver.module.ts
  apps/api/src/modules/content-processing/entity-resolver/food-dedupe-merge.service.ts
Due: api-lint, prettier

chore(batch): poll up to 200 open jobs per cycle (archive-load sizing)
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
Due: api-lint, prettier

feat(enrichment): weekly location lifecycle cron (refresh detect -> janitor act)
  apps/api/src/modules/restaurant-enrichment/restaurant-janitor.service.ts
Due: api-lint, prettier

fix(search): chips read LIVE toggle state from the runtime bus; [PUBTRIG] publish-trigger kit
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-header-warmup-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-header-policy-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-filters-header-runtime.ts
Due: prettier

docs(launch): launch runbook + delete verified-dead artifacts
  maestro/perf/flows/labels-capture.yaml
  maestro/perf/flows/lod-attr.yaml
  maestro/perf/flows/lod-center-storm.yaml
  maestro/perf/flows/lod-pan-storm.yaml
  maestro/perf/flows/lod-swipe-only.yaml
  maestro/perf/flows/lod-zoom-probe.yaml
  maestro/perf/flows/map-accept-dismiss.yaml
  maestro/perf/flows/map-accept-drive.yaml
  maestro/perf/flows/research-labels-shortcut.yaml
  maestro/perf/flows/research-labels-test.yaml
  maestro/perf/flows/research-labels-text.yaml
  maestro/perf/flows/search-map-jitter-swipe.yaml
  maestro/perf/flows/search-map-lod-pan-zoom.yaml
  maestro/perf/flows/search-map-lod-zoom-cycles.yaml
  maestro/perf/flows/search-map-nyc-shot.yaml
  maestro/perf/flows/search-map-profile-cycles.yaml
  maestro/perf/flows/search-map-scale-probe-collision.yaml
  maestro/perf/flows/search-map-scale-probe.yaml
  maestro/perf/flows/search-map-sheet-drag.yaml
  maestro/perf/flows/search-map-validate.yaml
  maestro/perf/flows/search-map-zoom-churn.yaml
  maestro/perf/flows/search-map-zoom-flash.yaml
  maestro/perf/flows/zoomout-collision-check.yaml
  plans/map-lod-ideal-model-v4.md
  plans/map-marker-lod-v2.md
  plans/map-marker-lod-v3.md
  plans/map-marker-lod.md
  plans/temp.md
  product/launch-runbook.md
  temp.txt
Due: prettier

refactor(enrichment): attribute vocabulary fully self-provisioning — seed section deleted
  apps/api/prisma/seed.ts
  apps/api/src/modules/restaurant-enrichment/google-place-type-attributes.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

feat(markets): one-command city onboarding (onboard-market.ts)
  apps/api/eslint.config.mjs
  apps/api/prisma/market-provisioning.ts
  apps/api/prisma/seed.ts
  apps/api/prisma/verify-polls.ts
  apps/api/scripts/onboard-market.ts
  apps/api/tsconfig.json
  product/launch-runbook.md
Due: api-lint, prettier

fix(search): loud contract for empty-page-with-nonzero-totals responses (the 'dead toggles after zoom' chain)
  apps/mobile/src/screens/Search/hooks/use-search-submit-response-owner.ts
Due: prettier

feat(markets): onboarding needs only --subreddit + --city
  apps/api/prisma/market-provisioning.ts
  apps/api/scripts/onboard-market.ts
Due: api-lint, prettier

feat(markets): --county accepts names ("Williamson County, TX")
  apps/api/prisma/market-provisioning.ts
  apps/api/scripts/onboard-market.ts
Due: api-lint, prettier

fix(markets): runtime TomTom bootstrap protections (negative cache, dedupe, ledger)
  apps/api/src/modules/external-integrations/shared/usage-ledger.service.ts
  apps/api/src/modules/markets/tomtom-boundary-bootstrap.service.ts
Due: api-lint, prettier

fix(search): filter strip survives empty results (chrome != content); warmup strip hidden from queries; [REQPROBE]
  apps/mobile/src/overlays/SearchOverlayChromeHost.tsx
  apps/mobile/src/screens/Search/hooks/use-search-request-preparation-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-surface-render-header-source-runtime.tsx
Due: prettier

docs(plans): TR5-N charter — network-toggle unification onto the tab-toggle lifecycle (rig-asserted defect ledger + ideal shape)
  plans/search-flow-plan.md
Due: prettier

feat(markets+ops): metro county auto-discovery, embedding ledger, cache tighten
  apps/api/prisma/market-provisioning.ts
  apps/api/scripts/onboard-market.ts
  apps/api/src/modules/external-integrations/llm/embedding.service.ts
  apps/api/src/modules/markets/tomtom-boundary-bootstrap.service.ts
Due: api-lint, prettier

feat(markets): city-polygon county discovery is the onboarding default
  apps/api/prisma/market-provisioning.ts
  apps/api/scripts/onboard-market.ts
  product/launch-runbook.md
Due: api-lint, prettier

feat(search): TR5-N variant-rerun lane — all chip toggles ride the deferred data-keyed staging lane
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/hooks/use-search-natural-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-structured-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-action-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-entry-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-execution-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-owner.ts
  apps/mobile/src/screens/Search/hooks/use-search-submit-response-owner.ts
  apps/mobile/src/screens/Search/runtime/controller/results-presentation-owner-runtime.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-owner-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-runtime-owner-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-publication-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-value-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-runtime-machine-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-surface-transaction-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-presentation-intent-ports.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-submit-ui-results-presentation-ports.ts
Due: prettier

feat(search): shortcut coverage follows the active filters (open-now/price/rising)
  apps/api/src/modules/search/dto/shortcut-coverage.dto.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/services/search.ts
Due: api-lint, prettier

fix(search): empty page is a first-class prepared-rows state (TR5-N groundwork)
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
Due: prettier

docs(plans): TR5-N status — built+measured+committed; empty-variant strand + openNow persistence flagged
  plans/search-flow-plan.md
Due: prettier

fix(search): pin rank badges follow the ACTIVE variant's ranking (rising toggle)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

docs(plans): TR5-N — record the rising pin-rank fix (ecc84d77)
  plans/search-flow-plan.md
Due: prettier

fix(search): initial reveal — hold the cutout skeleton until the joint (cards revealed early)
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchPriceSheet.tsx
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
Due: prettier

docs(plans): TR5-N — record initial-reveal cover fix (245b402a) + price map-follow verification
  plans/search-flow-plan.md
Due: prettier

docs(plans): moved-bounds audit state — 6 non-repro drives, suspected natural-mode lane; queue slow-toggle/snap-in/collision-timing follow-ups
  apps/mobile/src/screens/Search/components/SearchHeader.tsx
  plans/search-flow-plan.md
Due: prettier

perf(search): coverage rides in PARALLEL with a variant rerun (was serialized after it)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
Due: prettier

docs(plans): full toggle-latency attribution — server fast, coverage serialization fixed, remaining pipeline budget
  plans/search-flow-plan.md
Due: prettier

docs(plans): corrected toggle-pipeline attribution — no dispatch gap; JS-thread-saturated ack + redundant second structural frame
  plans/search-flow-plan.md
Due: prettier

fix(batch): INVALID_ARGUMENT root-caused + fixed — batch rejects responseJsonSchema
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
Due: api-lint, prettier

docs(plans): charter the desired-state search architecture — 4-lens red-teamed + amended
  plans/search-desired-state-architecture.md
Due: prettier

docs(plans): fold the perf fork's findings into the chartered architecture
  plans/search-desired-state-architecture.md
Due: prettier

feat(search): desired-state foundations — the tuple contract + the pure reveal statechart
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/search-reveal-statechart.spec.ts
  apps/mobile/src/screens/Search/runtime/shared/search-reveal-statechart.ts
Due: prettier

feat(search): S1a — coverage commits into the WORLD value (additive, behavior-identical)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/search-mounted-results-data-store.ts
Due: prettier

feat(search): S1b — the frame reads coverage ONLY from the world; the covNotReady ladder dies
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

feat(search): S2 substrate — the desired tuple lives on the bus with ONE writer
  apps/mobile/src/screens/Search/runtime/shared/search-desired-state-writer.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
Due: prettier
