Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

fix(map): canonical fade to the fast reveal speed (160ms, was 300ms)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

fix(map): shared press-up fade for all triggers + fix the rapid-toggle stranded-catalog race
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-tab-toggle-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-toggle-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-search-area-submit-runtime.ts
  plans/search-map-ideal-effort/07-IDEAL-ARCHITECTURE-INVESTIGATION.md
Due: prettier

fix(map): remove the 2-pass label-cull grace — labels yield to pins instantly again (no overlap)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

chore(map): strip the session's debug probes (keep the BARE-SWAP guardrail)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-tab-toggle-runtime.ts
Due: prettier

chore: remove stray '24' junk dependency (unreferenced, version 0.0.0)
  package.json
  yarn.lock
Due: deps-check, prettier

feat(map): pins + labels → ViewAnnotation on Mapbox 11.26 (VA substrate)
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

refactor(map): delete the dead CA pin overlay (pins are ViewAnnotations)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  plans/search-map-ideal-effort/07-va-migration-cleanup-manifest.md
Due: prettier

refactor(map): delete dead LABEL_MUTEX + stackRank leftovers; type restaurantName
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
Due: prettier

docs(map): record VA-cleanup execution log + the reveal-gate landmine
  plans/search-map-ideal-effort/07-va-migration-cleanup-manifest.md
Due: prettier

refactor(map): delete GL label observation/selector stack; reveal no longer gates on it
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

refactor(map): delete the now-dead __lea_revealed__ literal helpers
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

refactor(map): delete the inert reveal-placement-deadlock watchdog + observation state
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

refactor(map): remove the trivially-true label-placement gate + observation state
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(map): mark native observation cleanup DONE in the manifest
  plans/search-map-ideal-effort/07-va-migration-cleanup-manifest.md
Due: prettier

refactor(map): delete JS label-observation config/apply/telemetry (native RPC is gone)
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

docs(map): Group A (JS observation config) DONE; record the Group B label-tap blocker
  plans/search-map-ideal-effort/07-va-migration-cleanup-manifest.md
Due: prettier

fix(map): restore label taps via a native VA hit-test (labelVAHitTest)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(map): label taps FIXED (labelVAHitTest); GL-label-render deletion unblocked
  plans/search-map-ideal-effort/07-va-migration-cleanup-manifest.md
Due: prettier

docs(map): GL-label-render deletion PROVEN to break reveal (commit-fence starvation)
  plans/search-map-ideal-effort/07-va-migration-cleanup-manifest.md
Due: prettier

refactor(map): delete dead GL label-tap query path (labelVAHitTest owns label taps)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

refactor(map): delete dead label text-opacity writes (labels are VA; dots keep LOD)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

docs(map): GL-label-render cleanup FINAL — STEP 1+2 done, STEP 3 won't-fix (twin load-bearing)
  plans/search-map-ideal-effort/07-va-migration-cleanup-manifest.md
Due: prettier

refactor(map): sweep leftover cruft — dead code, debug probes, collapsed flags/stubs
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/ios/cravesearch/UIFrameSamplerBridge.m
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-store.ts
Due: prettier

refactor(map): delete the dead labelPlacementQueryLayerIds attach channel
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

refactor(map): collapse the lodV5Enabled v4/v5 A-B flag (v4 is dead)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

docs(map): fix stale comments referencing deleted mechanisms (VA migration + cleanup)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

docs(plans): handoff scopes for the toggle flows + profile-selection flow
  plans/profile-selection-handoff.md
  plans/toggle-flows-handoff.md
Due: prettier

docs(pages): page registry + nav contracts; list-config/offline vision
  plans/page-registry.md
  product/favorites.md
  product/map.md
Due: prettier

feat(pages): stub pass — 7 page-registry scene keys wired end-to-end
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/navigation/runtime/app-route-scene-policy-registry.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.ts
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
  apps/mobile/src/navigation/runtime/use-app-route-poll-detail-scene-input-writer-runtime.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
  apps/mobile/src/overlays/searchOverlayRouteHostContract.ts
  apps/mobile/src/overlays/types.ts
  apps/mobile/src/overlays/useSearchRoutePollDetailPanelSpec.ts
  apps/mobile/src/perf/use-perf-scenario-overlay-scene-command.ts
Due: prettier

docs: direct-to-main workflow policy + testing-methodology CLAUDE.md rewrite; check in page-switch handoff
  CLAUDE.md
  plans/page-switch-handoff.md
Due: prettier

docs(pages): mark stub pass done; add the scene drive recipe + whitelist-fix notes
  plans/page-registry.md
Due: prettier

docs(plans): step-2 search-flow design — trigger façade, reveal joint, per-entry origins
  plans/search-flow-plan.md
Due: prettier

docs(plans): phase-1 scope correction — the enter lane ALREADY has the reveal joint
  plans/search-flow-plan.md
Due: prettier

feat(search-flow): [REVEALSYNC] phase-1 attribution probe — cardsAdmit vs rampStart
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-marker-enter-runtime.ts
Due: prettier

feat(search-flow): lane-3 attribution — search-this-area testID + tap flow; rerun lane MEASURED FAILING
  apps/mobile/src/screens/Search/components/SearchOverlayHeaderChrome.tsx
  maestro/perf/flows/search-this-area-tap.yaml
Due: prettier

docs(plans): search-flow D1a empirical defect ledger + D6 full-flow audit verdict
  plans/search-flow-plan.md
Due: prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
