Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

docs(page): header-grab-is-the-track + fill law
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): header grab IS the track + short-page fill law — ground-up rebuild
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/useTrackSheetPhysics.ts
Due: prettier

feat(lists): plus/saved pill design, Edit pill, /lists routes, curated share
  apps/api/src/modules/messaging/dto/messaging.dto.ts
  apps/api/src/modules/messaging/share-package-resolver.service.ts
  apps/api/src/modules/user-lists/dto/batch-memberships.dto.ts
  apps/api/src/modules/user-lists/user-list.mappers.ts
  apps/api/src/modules/user-lists/user-lists.controller.ts
  apps/api/src/modules/user-lists/user-lists.mutations.spec.ts
  apps/api/src/modules/user-lists/user-lists.public.controller.ts
  apps/api/src/modules/user-lists/user-lists.service.ts
  apps/api/src/modules/user-lists/user-lists.share.controller.ts
  apps/mobile/src/components/AppModalHost.tsx
  apps/mobile/src/components/app-modal-store.ts
  apps/mobile/src/components/cards/ResultCard/CardActionPillRow.tsx
  apps/mobile/src/components/cards/ResultCard/DishResultCard.tsx
  apps/mobile/src/components/cards/ResultCard/RestaurantResultCard.tsx
  apps/mobile/src/hooks/use-favorite-heart.ts
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/overlays/panels/MessagingPanels.tsx
  apps/mobile/src/overlays/panels/save-list-model.ts
  apps/mobile/src/services/messaging.ts
  apps/mobile/src/services/user-lists.ts
  apps/mobile/src/store/saved-membership-store.ts
  packages/shared/src/types/search.ts
  plans/home-surface-charter.md
Due: api-lint, shared-lint, prettier

feat(page): publication bridge (safe set) + canonical live geometry
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

docs(page): rung 4 progress ledger
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): rung 4 — foundation surface, root create actions, transparent sheet material
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

feat(page): seats read the production snap session (posture seats + remembered detents)
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

feat(page): settle observer, strip-plate fix, nav hard clip, sibling z
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

fix(places): NY verdict latency root fix + merge-damage bbox heal + isSaved rename
  apps/api/prisma/migrations/20260727030000_places_parent_ids_gin/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/data-fixes/heal-place-bboxes.ts
  apps/api/src/modules/places/place-dag-read.ts
  apps/mobile/src/components/cards/ResultCard/DishResultCard.tsx
  apps/mobile/src/components/cards/ResultCard/RestaurantResultCard.tsx
  apps/mobile/src/overlays/panels/ListDetailPanel.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-results-panel-card-render-runtime.tsx
  plans/home-surface-charter.md
Due: api-lint, prettier

docs(page): rung 4 batch 3 + translateY verdict
  plans/page-composition-from-scratch-design.md
Due: prettier

feat(page): pollDetail compose chin — sheet-frame chrome slot in the kit
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

feat(page): content window + radius 22 + poll-card foundation + cutout bars + chin overhaul
  apps/mobile/src/overlays/panels/PollCandidateBars.tsx
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

feat(page): THE FLIP — TrackSheet is the default sheet system
  apps/mobile/src/overlays/AppOverlayRouteHost.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
  apps/mobile/src/tracksheet/track-flip-store.ts
Due: prettier

docs(page): the flip + burn-in list
  plans/page-composition-from-scratch-design.md
Due: prettier

docs(places): bbox-demotion audit → registry item 15
  plans/home-surface-charter.md
Due: prettier

fix(page): home shelves on the search-root scene + full translateY binding
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

docs(page): post-flip red-team finding set + next-round order
  plans/page-composition-from-scratch-design.md
Due: prettier

fix(page): full-bleed track restored + chrome frost slab (window killed hit-testing)
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/useTrackSheetPhysics.ts
Due: prettier

fix(geo): wrap-aware bbox comparisons + drop dead SubjectCandidate.bbox
  apps/api/src/modules/places/launch-position.controller.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/subjects.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/polls/poll-feed-membership.spec.ts
  packages/shared/src/geo/subjects.ts
Due: api-lint, shared-lint, prettier

fix(page): chrome is hit-transparent by law + native pan probes
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

refactor(extraction): itemhood test = ONE principle (family-size), replacing the negative-list patch
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.md
Due: prettier

docs(page): the chrome/track conflict — the root behind cutouts + grab
  plans/page-composition-from-scratch-design.md
Due: prettier

refactor(extraction): composition uses the SAME test as itemhood (one mental model, two altitudes)
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.md
  apps/api/src/modules/places/places-promotion.service.spec.ts
  apps/api/src/modules/places/places-promotion.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
  apps/api/src/modules/places/tomtom-chain-probe.port.ts
  plans/one-ground-charter.md
Due: api-lint, prettier

fix(red-team): domain-first location adoption, collision gate becomes an observer, head-final variant tiering
  apps/api/scripts/replay-stranded-runs.ts
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/home/curated-list-builder.service.ts
  apps/api/src/modules/home/home-feed.service.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/polls/poll-entity-seed.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search-selected-location-order.spec.ts
  apps/api/src/modules/search/search-sibling-expansion.service.ts
  apps/api/src/modules/search/search.service.ts
  apps/api/src/modules/teaser/teaser.controller.ts
  apps/api/src/modules/teaser/teaser.module.ts
  apps/api/src/modules/teaser/teaser.service.ts
Due: api-lint, prettier

refactor(geo): P1+P2 — the ground judges alone, served by the GiST index
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
Due: api-lint, prettier

refactor(extraction): parent categories fall out of the SAME order test, applied to the dish name's PARTS
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.md
Due: prettier

fix(search): max-merge relevance, cap containment anchors (SQL audit)
  apps/api/src/modules/search/search-sibling-expansion.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

fix(extraction): modifiers fuse or peel by ORDER, not by word class (removes a contradiction I introduced)
  apps/api/src/modules/external-integrations/llm/prompts/collection-prompt.md
Due: prettier

fix(page): THE MASK — chrome/track conflict resolved, grab restored
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

fix(search): one admission rule for restaurant attributes (symmetric, measured)
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

fix(page): row cells carry their own foundation surface (home shelf cutouts)
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

feat(places): P3 — the vendor geometry id IS the identity (names never were)
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  plans/one-ground-charter.md
Due: api-lint, prettier

refactor(places): P4a — placesInView finds candidates on the spatial index
  apps/api/src/modules/places/places-catalog.service.spec.ts
  apps/api/src/modules/places/places-catalog.service.ts
  apps/api/src/modules/places/places.controller.spec.ts
Due: api-lint, prettier

docs(places): charter — P4a landed, P4 tail scoped
  plans/one-ground-charter.md
Due: prettier

fix(places): drop the country-equality gate from point identity (US/PR)
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
Due: api-lint, prettier

fix(page): seat is a one-shot switch command + chrome-release projection sign
  apps/mobile/ios/TrackScrollKit/Sources/TrackScrollPhysics.m
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
  apps/mobile/src/tracksheet/TrackSheetRouteHost.tsx
Due: prettier

fix(page): short-page fill is monotonic (kills the mid-gesture content thrash)
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

fix(page): settle observer is a UI-thread reaction, not a 250ms poll (jiggle)
  apps/mobile/src/tracksheet/TrackSheetPage.tsx
Due: prettier

feat(projection): Phase 4 — category items are first-class, scoreable rows
  apps/api/prisma/migrations/20260727060000_category_items/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/projection-rebuild.service.ts
  apps/api/src/modules/search/search-query.builder.ts
Due: api-lint, prettier

refactor(governance): TomTom pools model the VENDOR, not a budget
  apps/api/src/app.module.ts
  apps/api/src/modules/external-integrations/governance/governance.service.spec.ts
  apps/api/src/modules/external-integrations/governance/governance.service.ts
  apps/api/src/modules/external-integrations/shared/spend-analytics.service.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.spec.ts
  apps/api/src/modules/places/tomtom-chain-probe.adapter.ts
Due: api-lint, prettier
