Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, mobile-lint, shared-lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: cd apps/api && pnpm lint
    mobile-lint:
      glob: 'apps/mobile/**/*.{ts,tsx,js,jsx}'
      run: cd apps/mobile && pnpm lint
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: cd packages/shared && pnpm lint

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: pnpm eslint --fix {staged_files}

fix(build): exclude development scripts from production build
  apps/api/tsconfig.build.json
Due: prettier

feat(api): implement T05_S02 entities repository layer with type-specific CRUD operations
  apps/api/src/repositories/entity.repository.spec.ts
  apps/api/src/repositories/entity.repository.ts
  apps/api/src/repositories/utils/entity-type-guards.spec.ts
  apps/api/src/repositories/utils/entity-type-guards.ts
Due: api-lint, prettier

docs(simone): complete T05_S02 task documentation
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S02_M01_CRUD_Operations_Repository_Layer/T05_S02_Entities_Repository_Layer.md
  .simone/03_SPRINTS/S02_M01_CRUD_Operations_Repository_Layer/TX05_S02_Entities_Repository_Layer.md
Due: prettier

improve(simone): add scope validation step to prevent feature creep
  .claude/commands/simone/do_task.md
Due: prettier

feat(api): implement T06_S02 basic connections CRUD with comprehensive validation
  apps/api/prisma/migrations/20250724_fix_prd_indexes/migration.sql
  apps/api/src/repositories/connection.repository.spec.ts
  apps/api/src/repositories/connection.repository.ts
  apps/api/src/repositories/entity-resolution.service.spec.ts
  apps/api/src/repositories/entity-resolution.service.ts
  apps/api/src/repositories/entity.repository.ts
  apps/api/src/repositories/repository.module.ts
  apps/api/src/repositories/utils/entity-type-guards.ts
Due: api-lint, prettier

docs(simone): complete T06_S02 task documentation and project tracking
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S02_M01_CRUD_Operations_Repository_Layer/PRD_4_2_4_3_UNIFIED_ENTITY_MODEL_IMPLEMENTATION.md
  .simone/03_SPRINTS/S02_M01_CRUD_Operations_Repository_Layer/T07_S02_Entities_Service_Layer.md
  .simone/03_SPRINTS/S02_M01_CRUD_Operations_Repository_Layer/TX06_S02_Basic_Connections_CRUD.md
Due: prettier

improve(simone): refine command templates and scope management
  .claude/commands/simone/do_task.md
  .claude/commands/simone/plan_milestone.md
Due: prettier

docs(simone): finalize T06_S02 task closure and project tracking
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S02_M01_CRUD_Operations_Repository_Layer/T06_S02_Basic_Connections_CRUD.md
  .simone/03_SPRINTS/S02_M01_CRUD_Operations_Repository_Layer/TX06_S02_Basic_Connections_CRUD.md
Due: prettier

improve(api): enhance T07_S02 repository layer with PRD compliance and formatting
  apps/api/src/repositories/entity-resolution.service.spec.ts
  apps/api/src/repositories/entity-resolution.service.ts
  apps/api/src/repositories/entity.repository.ts
  apps/api/src/repositories/utils/entity-type-guards.ts
Due: api-lint, prettier

feat(api): implement T07_S02 entities service layer with comprehensive CRUD operations
  apps/api/src/modules/entities/dto/create-entity.dto.ts
  apps/api/src/modules/entities/dto/find-entities.dto.ts
  apps/api/src/modules/entities/dto/index.ts
  apps/api/src/modules/entities/entities.module.ts
  apps/api/src/modules/entities/entities.service.spec.ts
  apps/api/src/modules/entities/entities.service.ts
  apps/api/src/modules/entities/index.ts
  packages/shared/src/index.ts
  packages/shared/src/types/index.ts
Due: api-lint, shared-lint, prettier

docs(simone): complete T07_S02 task documentation and project tracking
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S02_M01_CRUD_Operations_Repository_Layer/TX07_S02_Entities_Service_Layer.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/S03_M01_sprint_meta.md
Due: prettier

feat(test): implement T01_S03 comprehensive BaseRepository test coverage
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T01_S03_Unit_Test_Coverage_Database_Operations.md
  apps/api/src/repositories/base/base.repository.spec.ts
Due: api-lint, prettier

fix(test): resolve EntitiesService dependency injection issues
  apps/api/src/modules/entities/entities.service.spec.ts
Due: api-lint, prettier

docs(simone): set up S03 sprint structure and task planning
  .simone/02_REQUIREMENTS/M01_Database_Foundation_Basic_Setup/M01_milestone_meta.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/S03_M01_sprint_meta.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T02_S03_Integration_Tests_Repository_Service_Layer.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T03_S03_Performance_Testing_Infrastructure.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T04_S03_Bulk_Operations_Implementation.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T05_S03_End_to_End_Database_Workflows.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T06_S03_Milestone_Validation_Documentation.md
Due: prettier

docs(simone): minor command documentation improvements
  .claude/commands/simone/create_sprint_tasks.md
  .claude/commands/simone/plan_milestone.md
Due: prettier

chore: complete T01_S03 task and add coverage to gitignore
  .gitignore
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/TX01_S03_Unit_Test_Coverage_Database_Operations.md
Due: prettier

improving PRD.md references
  prd.md
Due: prettier

refactor: rename prd.md and brd.md to uppercase PRD.md and BRD.md
  BRD.md
  PRD.md
Due: prettier

feat(tests): implement T02_S03 integration tests for repository and service layer interactions
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/TX02_S03_Integration_Tests_Repository_Service_Layer.md
  apps/api/src/modules/entities/entities.service.integration.spec.ts
  apps/api/src/repositories/connection.repository.integration.spec.ts
  apps/api/src/repositories/entity-resolution.service.integration.spec.ts
  apps/api/src/repositories/entity.repository.integration.spec.ts
  apps/api/src/repositories/mention.repository.integration.spec.ts
  apps/api/test/INTEGRATION_TESTING.md
  apps/api/test/cross-service-integration.spec.ts
  apps/api/test/integration-test.setup.ts
Due: api-lint, prettier

fix(tests): address some linting issues in integration tests
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T03_S03_Performance_Testing_Infrastructure.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T04_S03_Bulk_Operations_Implementation.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T05_S03_End_to_End_Database_Workflows.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T06_S03_Milestone_Validation_Documentation.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/TX02_S03_Integration_Tests_Repository_Service_Layer.md
  apps/api/src/modules/entities/entities.service.integration.spec.ts
  apps/api/src/modules/entities/entities.service.spec.ts
  apps/api/src/repositories/base/base.repository.spec.ts
  apps/api/src/repositories/mention.repository.integration.spec.ts
  apps/api/test/cross-service-integration.spec.ts
  apps/api/test/integration-test.setup.ts
Due: api-lint, prettier

fix(tests): resolve critical NestJS dependency injection issues in integration tests
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/TX02_S03_Integration_Tests_Repository_Service_Layer.md
  apps/api/test/integration-test.setup.ts
Due: api-lint, prettier

fix(tests): restore and repair comprehensive integration test suite
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/TX02_S03_Integration_Tests_Repository_Service_Layer.md
  apps/api/.env.example
  apps/api/logs/.91429ef53d96d5ef4de5883671c3b4460ea02e14-audit.json
  apps/api/logs/.b3d7db7378bd4b974e4d4b33ba5264fe13877cf0-audit.json
  apps/api/logs/.fc6bc5551914159aa480404ca7c8f1ae70f9114b-audit.json
  apps/api/scripts/setup-test-db.sh
  apps/api/src/config/configuration.ts
  apps/api/src/modules/entities/entities.service.integration.spec.ts
  apps/api/src/repositories/entity.repository.integration.spec.ts
  apps/api/test/cross-service-integration.spec.ts
  apps/api/test/integration-test.setup.ts
Due: api-lint, prettier

fix(tests): resolve 5 of 8 integration test failures for parallel execution
  apps/api/src/repositories/connection.repository.integration.spec.ts
  apps/api/src/repositories/entity.repository.integration.spec.ts
  apps/api/src/repositories/mention.repository.integration.spec.ts
Due: api-lint, prettier

refactor(tasks): reduce scope for T04_S03, T05_S03, and T06_S03 sprint tasks
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T04_S03_Bulk_Operations_Implementation.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T05_S03_End_to_End_Database_Workflows.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T06_S03_Milestone_Validation_Documentation.md
Due: prettier

docs(tasks): update TX01_S03 and TX02_S03 task status and completion details
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/TX01_S03_Unit_Test_Coverage_Database_Operations.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/TX02_S03_Integration_Tests_Repository_Service_Layer.md
Due: prettier

test: fix integration test infrastructure and Jest configuration
  apps/api/package.json
  apps/api/src/repositories/mention.repository.spec.ts
  apps/api/test/cross-service-integration.spec.ts
  apps/api/test/integration-test.setup.ts
  apps/api/test/jest.global-setup.ts
  apps/api/test/jest.global-teardown.ts
  apps/api/test/jest.setup.ts
Due: api-lint, prettier

fix(api): resolve database operations and repository layer issues
  apps/api/prisma/migrations/20250724_fix_prd_indexes/migration.sql
  apps/api/src/modules/entities/entities.service.integration.spec.ts
  apps/api/src/modules/entities/entities.service.spec.ts
  apps/api/src/prisma/database-metrics.service.ts
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/repositories/base/base.repository.spec.ts
  apps/api/src/repositories/base/base.repository.ts
  apps/api/src/repositories/connection.repository.spec.ts
  apps/api/src/repositories/connection.repository.ts
  apps/api/src/repositories/entity-resolution.service.integration.spec.ts
  apps/api/src/repositories/entity-resolution.service.spec.ts
  apps/api/src/repositories/entity-resolution.service.ts
  apps/api/src/repositories/entity.repository.spec.ts
Due: api-lint, prettier

docs(config): update project documentation and configuration
  CLAUDE.md
  apps/api/src/config/configuration.ts
  apps/api/src/main.ts
Due: api-lint, prettier

save state
  .claude/commands/simone/create_sprints_from_milestone.md
  .simone/02_REQUIREMENTS/M01_Database_Foundation_Basic_Setup/M01_milestone_meta.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/TX01_S03_Unit_Test_Coverage_Database_Operations.md
  PRD.md
Due: prettier

feat(simone): optimize command framework for LLM processing and PRD alignment
  .claude/commands/simone/code_review.md
  .claude/commands/simone/create_sprint_tasks.md
  .claude/commands/simone/create_sprints_from_milestone.md
  .claude/commands/simone/do_task.md
  .claude/commands/simone/plan_milestone.md
Due: prettier

docs(prd): enhance milestone reference sections with roadmap context
  PRD.md
Due: prettier

feat(templates): improve PRD requirement propagation and scope enforcement
  .simone/99_TEMPLATES/milestone_meta_template.md
  .simone/99_TEMPLATES/project_manifest_template.md
  .simone/99_TEMPLATES/sprint_meta_template.md
  .simone/99_TEMPLATES/task_template.md
  .simone/README.md
Due: prettier

feat(sprints): implement S04 and cleanup S03 with proper PRD scope alignment
  .claude/commands/simone/create_general_task.md
  .claude/commands/simone/initialize.md
  .claude/commands/simone/prime.md
  .claude/commands/simone/project_review.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/S03_M01_sprint_meta.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T03_S03_Performance_Testing_Infrastructure.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T04_S03_Bulk_Operations_Implementation.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T05_S03_End_to_End_Database_Workflows.md
  .simone/03_SPRINTS/S03_M01_Testing_Performance_Validation/T06_S03_Milestone_Validation_Documentation.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/S04_M01_sprint_meta.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/T01_S04_Code_Quality_Cleanup_Linting_Resolution.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/T02_S04_Bulk_Operations_Performance_Validation_Testing.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/T03_S04_M01_Final_Validation_Documentation.md
Due: prettier

fix(simone): add critical PRD subsection reading instructions to all commands
  .claude/commands/simone/code_review.md
  .claude/commands/simone/create_sprint_tasks.md
  .claude/commands/simone/create_sprints_from_milestone.md
  .claude/commands/simone/do_task.md
  .claude/commands/simone/plan_milestone.md
  .claude/commands/simone/prime.md
Due: prettier

feat(quality): complete T01_S04 code quality cleanup and linting resolution
  .claude/commands/simone/do_task.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/T01_S04_Code_Quality_Cleanup_Linting_Resolution.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/TX01_S04_Code_Quality_Cleanup_Linting_Resolution.md
  CLAUDE.md
  apps/api/src/repositories/entity-resolution.service.integration.spec.ts
  apps/api/src/repositories/entity.repository.spec.ts
  apps/api/src/repositories/entity.repository.ts
  apps/api/src/repositories/mention.repository.integration.spec.ts
  apps/api/src/repositories/mention.repository.spec.ts
  apps/api/src/repositories/mention.repository.ts
  apps/api/src/repositories/subscription.repository.ts
  apps/api/src/repositories/user-event.repository.ts
  apps/api/src/repositories/user.repository.ts
  apps/api/src/repositories/utils/entity-type-guards.ts
  apps/api/src/shared/filters/global-exception.filter.ts
  apps/api/test/cross-service-integration.spec.ts
Due: api-lint, prettier

feat(api): implement TX02_S04 bulk operations performance validation
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/TX02_S04_Bulk_Operations_Performance_Validation_Testing.md
  apps/api/src/repositories/bulk-operations.performance.spec.ts
Due: api-lint, prettier

fix(api): resolve TX01_S04 ESLint/TypeScript unsafe any usage
  apps/api/src/modules/entities/entities.service.ts
  apps/api/src/repositories/entity-resolution.service.integration.spec.ts
  apps/api/src/repositories/entity-resolution.service.ts
  apps/api/src/shared/filters/global-exception.filter.ts
  apps/api/src/shared/logging/correlation.utils.ts
  apps/api/src/shared/logging/logger.service.ts
  apps/api/src/shared/logging/logging.interceptor.ts
  apps/api/src/shared/types/error-interfaces.ts
  apps/api/src/shared/utils/prisma-error-mapper.ts
  apps/api/test/cross-service-integration.spec.ts
  apps/api/test/reddit-integration.spec.ts
Due: api-lint, prettier

docs: enhance TypeScript guidelines and Simone framework
  .claude/commands/simone/do_task.md
  CLAUDE.md
Due: prettier

missed these
  .simone/00_PROJECT_MANIFEST.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/T02_S04_Bulk_Operations_Performance_Validation_Testing.md
Due: prettier

feat(milestone): complete T03_S04 M01 Final Validation & Documentation
  .claude/commands/simone/do_task.md
  .simone/00_PROJECT_MANIFEST.md
  .simone/02_REQUIREMENTS/M01_Database_Foundation_Basic_Setup/M01_milestone_meta.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/M01_COMPLETION_REPORT.md
  .simone/03_SPRINTS/S04_M01_Final_Validation_Cleanup/TX03_S04_M01_Final_Validation_Documentation.md
  README.md
  apps/api/README.md
Due: prettier
