Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

api-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"

shared-lint:
  run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

deps-check:
  run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

prettier:
  run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

feat(nav): S-C.2 — search sessions PUSH over bookmarks/profile roots; the tab invariant is real
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/route-entry-origin-capture-delegate.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-actions-runtime.ts
Due: prettier

docs(plans): S-C.2 open regression — sheet fails to re-present on tab switches after the pop dismiss
  plans/s-c-de-special-search.md
Due: prettier

docs(plans): S-C.2 regression sharpened — zombie results surface; pop path must run the surface-exit finalize
  plans/s-c-de-special-search.md
Due: prettier

fix(search): surface session-exit finalize — kills the zombie-results residue on pop dismisses
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-actions-runtime.ts
  apps/mobile/src/screens/Search/runtime/surface/search-surface-runtime.ts
Due: prettier

docs(plans): zombie regression resolved (24efdca2)
  plans/s-c-de-special-search.md
Due: prettier

docs(plans): S-C.3-A WIP — unified push/preserve rule built; home-pop map-residue blocker + motionless-dismiss-transaction fix direction
  plans/s-c-de-special-search.md
Due: prettier

docs(plans): S-C.3-A residue attributed — JS frame clears, native never applies (wire exit never runs on pop)
  plans/s-c-de-special-search.md
Due: prettier

feat(nav): S-C.3-A — ONE present rule: a session PUSHES, an in-session re-present PRESERVES
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-actions-runtime.ts
Due: prettier

docs(plans): red-team verdicts + the S-C.3-B/C ledger (2 confirmed breaks, 3 cheap fixes, 10-item ledger)
  plans/s-c-de-special-search.md
Due: prettier

fix(nav): red-team fixes — pushed sessions detected by STACK MEMBERSHIP; dismiss-from-child pops to root
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.spec.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-actions-runtime.ts
Due: prettier

fix(ontology): archive, never delete — entity rows are FK-load-bearing
  apps/api/src/modules/attribute-ontology/attribute-ontology.service.ts
  apps/api/src/modules/content-processing/entity-resolver/entity-resolution.service.ts
Due: api-lint, prettier

fix(nav): ledger items 8+9 — dynamic child inputs use the top-most-entry rule; fast path yields on stack shrink
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/use-app-route-dynamic-scene-input-writers-runtime.tsx
Due: prettier

fix(nav): ledger item 7 — child-departure DETENT captured from the child's own snap, not the root's
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
Due: prettier

docs(plans): S-C.3-B full design — golden-contract amendment spec + dependency-ordered deletion pass + RED probes
  plans/s-c-de-special-search.md
Due: prettier

docs(plans): S-D One Desire + EntityLink execution plan (cut-surface grounded, 4 slices)
  plans/s-d-one-desire-entitylink.md
Due: prettier

feat(nav): S-C.3-B step 1 — the home dismissal POPS; the search#home root entry survives every session
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
Due: prettier

chore(nav): strip the [SC3B] rig probe + unused import (follow-up to b889a8ba)
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
Due: prettier

docs(plans): S-C.3-B step 1 shipped — design correction (pop lands at the dismiss verb, golden emission untouched); pollDetail anchor-publication gap named for step 2
  plans/s-c-de-special-search.md
Due: prettier

feat(nav): S-C.3-B step 2 — session-entry prep is a NO-OP for every root; dismiss selector generalizes over stack shape
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-actions-runtime.ts
  plans/s-c-de-special-search.md
Due: prettier

feat(nav): S-C.3-B step 3a — the re-root reflexes DELETE
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-app-execution-model-runtime.ts
  apps/mobile/src/screens/Search/runtime/profile/profile-app-foreground-runtime.ts
Due: prettier

feat(nav): S-C.3-B step 3b — the captured-origin SLOT and the rich dismiss seam DELETE
  apps/mobile/src/navigation/runtime/app-route-overlay-session-contract.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-snap-session-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-actions-runtime.ts
Due: prettier

feat(nav): S-C.3 ledger items 4-6 closed — pops CLOSE; nav split and pop classes declared final-form
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/nav-out-derivation-store.ts
  plans/s-c-de-special-search.md
Due: prettier

fix(nav): post-S-C.3 red team — popToEntry lands; deep-stack dismissals stop discarding the poll entry
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.spec.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-stack-algebra.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-transition-contract.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-actions-runtime.ts
Due: prettier

chore(nav): post-S-C.3 deadness sweep — the no-op verb chain, childAnchor threading, and stale-machinery prose DELETE
  apps/mobile/src/navigation/runtime/app-route-overlay-session-contract.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-types.ts
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/searchRouteSessionTypes.ts
  apps/mobile/src/overlays/useSearchRoutePollDetailSceneStateRuntime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-direct-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-interaction-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-launch-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-query-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-submit-preparation-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-suggestion-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-viewport-shortcut-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-command-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-runtime-control-stage-runtime.ts
  apps/mobile/src/services/purchases.ts
Due: prettier

docs(plans): post-S-C.3 red team closed — fixes shipped, S-C.4 ledger absorbs the ideal-shape findings
  plans/s-c-de-special-search.md
Due: prettier

fix(payments): red-team #2 hardening — derived day-grant coverage, RC lifecycle map, concurrency locks, mobile identity
  apps/api/prisma/migrations/20260709010000_access_grants_source_ref_unique/migration.sql
  apps/api/prisma/migrations/20260709011500_access_grants_unique_live_only/migration.sql
  apps/api/scripts/access-grant.ts
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/dto/revenuecat-webhook.dto.ts
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/entitlements/require-entitlement.guard.ts
  apps/api/src/modules/identity/user.service.ts
  apps/mobile/src/hooks/useAccess.ts
  apps/mobile/src/providers/PurchasesProvider.tsx
  apps/mobile/src/screens/PaywallScreen.tsx
  apps/mobile/src/services/purchases.ts
  business/business-model.md
  plans/payments-ideal-shape.md
Due: api-lint, prettier

feat(identity): in-app account deletion (Apple 5.1.1(v))
  apps/api/src/app.module.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/identity/account-deletion.controller.ts
  apps/api/src/modules/identity/account-deletion.module.ts
  apps/api/src/modules/identity/account-deletion.service.spec.ts
  apps/api/src/modules/identity/account-deletion.service.ts
  apps/api/src/modules/identity/auth/clerk-auth.service.ts
  apps/mobile/src/overlays/panels/StubScenePanels.tsx
  apps/mobile/src/overlays/panels/runtime/use-account-actions-runtime.ts
  apps/mobile/src/services/users.ts
Due: api-lint, prettier

fix(batch): resume-submit stale pending jobs — honor submit()'s resumability contract
  apps/api/src/modules/external-integrations/llm/gemini-batch.service.ts
Due: api-lint, prettier

refactor(nav): S-C.4 items 1+2+4 — sheetHost rename, coalesce audit (LIVE), capture registry collapse
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-persistent-header-registry.ts
  apps/mobile/src/navigation/runtime/app-route-presentation-frame-contract.ts
  apps/mobile/src/navigation/runtime/app-route-scene-policy-registry.ts
  apps/mobile/src/navigation/runtime/app-route-scene-sheet-motion-target-registry.ts
  apps/mobile/src/navigation/runtime/app-route-scene-switch-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-motion-descriptor-table.spec.ts
  apps/mobile/src/navigation/runtime/origin-capture-registry.ts
  apps/mobile/src/overlays/panels/BookmarksPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/panels/ProfilePanel.tsx
  apps/mobile/src/overlays/panels/SaveListPanel.tsx
  apps/mobile/src/overlays/types.ts
Due: prettier

feat(entitlements): app-wide paywall — gate-everything model (owner decision 2026-07-09)
  apps/api/src/modules/billing/billing-webhook.controller.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/entitlements/entitlement-enforcement.interceptor.ts
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/entitlements.module.ts
  apps/api/src/modules/entitlements/reward-grant.service.ts
  apps/api/src/modules/favorites/favorites.public.controller.ts
  apps/api/src/modules/favorites/favorites.share.controller.ts
  apps/api/src/modules/health/health.controller.ts
  apps/api/src/modules/identity/account-deletion.controller.ts
  apps/api/src/modules/identity/auth.controller.ts
  apps/api/src/modules/identity/public-user.controller.ts
  apps/api/src/modules/identity/user.controller.ts
  apps/api/src/modules/legal/legal.controller.ts
  apps/api/src/modules/markets/markets.controller.ts
  apps/api/src/modules/metrics/metrics.controller.ts
  plans/payments-ideal-shape.md
Due: api-lint, prettier

docs(plans): S-C.4 items 1/2/4 closed in the ledger; drop unused import
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  plans/s-c-de-special-search.md
Due: prettier

docs(plans): S-C.4 item 3 design — one-switch home dismissal; COUPLED to item 5 (wire exit rides the dance)
  plans/s-c-de-special-search.md
Due: prettier

refactor(payments): ideal-shape sweep — one truth, one cache, one mirror, one wall
  apps/api/prisma/migrations/20260709030000_access_grants_granted_days/migration.sql
  apps/api/prisma/migrations/20260709040000_delete_redundant_truth/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/billing/billing-webhooks.spec.ts
  apps/api/src/modules/billing/billing.controller.ts
  apps/api/src/modules/billing/billing.service.ts
  apps/api/src/modules/billing/dto/create-checkout-session.dto.ts
  apps/api/src/modules/billing/dto/create-portal-session.dto.ts
  apps/api/src/modules/entitlements/entitlement-enforcement.interceptor.ts
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/entitlements/entitlements.module.ts
  apps/api/src/modules/entitlements/require-entitlement.guard.spec.ts
  apps/api/src/modules/entitlements/require-entitlement.guard.ts
  apps/api/src/modules/identity/dto/user-profile.dto.ts
  apps/api/src/modules/identity/user.controller.ts
  apps/api/src/modules/identity/user.service.ts
  apps/api/src/modules/search/search.controller.ts
  apps/api/src/modules/search/search.module.ts
Due: api-lint, prettier

feat(nav): S-C.4 item 3 step 1 — ONE-SWITCH home dismissal (terminalDismiss targets 'search' directly)
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
Due: prettier

docs(plans): item 3 step 1 shipped + step-2 blocker recorded (owner billing WIP breaks rig boot)
  plans/s-c-de-special-search.md
Due: prettier

feat(paywall): hard-paywall launch mechanisms — lapse takeover, routing axis, 3.1.2 floor
  apps/api/src/modules/identity/dto/user-profile.dto.ts
  apps/api/src/modules/identity/user.service.ts
  apps/mobile/App.tsx
  apps/mobile/src/hooks/useAccess.ts
  apps/mobile/src/navigation/RootNavigator.tsx
  apps/mobile/src/navigation/runtime/AppRouteCoordinator.tsx
  apps/mobile/src/navigation/runtime/app-route-types.ts
  apps/mobile/src/screens/EntitlementLapseHost.tsx
  apps/mobile/src/screens/PaywallScreen.tsx
  apps/mobile/src/services/api.ts
  apps/mobile/src/services/users.ts
  apps/mobile/src/store/entitlementLapseStore.ts
  packages/shared/src/types/search.ts
  plans/payments-ideal-shape.md
Due: api-lint, shared-lint, prettier

feat(app): failure-standard completion — prompt support, last native modals migrated, lint lock
  apps/mobile/.eslintrc.js
  apps/mobile/src/components/AppModalHost.tsx
  apps/mobile/src/components/EmailAuthModal.tsx
  apps/mobile/src/components/app-modal-store.ts
  apps/mobile/src/overlays/OverlayModalSheet.tsx
  apps/mobile/src/overlays/panels/PollCreationPanel.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/runtime/use-account-actions-runtime.ts
Due: prettier

feat(nav): S-C.4 item 3 step 2 — the pending-restore ledger DIES; close-restore origin is a value
  apps/mobile/src/navigation/runtime/app-route-overlay-session-contract.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-session-state-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-snap-session-runtime.ts
  apps/mobile/src/navigation/runtime/app-search-route-command-runtime.ts
  apps/mobile/src/screens/Search/hooks/use-search-clear-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/results-presentation-shell-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-actions-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-finalize-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-close-transition-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-close-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-close-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-composition-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-state-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-owner-state-transition-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-results-presentation-runtime-owner.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-clear-restore-authority-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-overlay-foundation-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-results-presentation-authority-runtime.ts
Due: prettier

docs(plans): S-C.4 item 3 CLOSED (both steps); item 5 narrowed to the pop-shaped branches
  plans/s-c-de-special-search.md
Due: prettier

refactor(entitlements): delete monetary engagement incentives — recognition, not payment
  apps/api/src/modules/entitlements/entitlement.service.spec.ts
  apps/api/src/modules/entitlements/entitlement.service.ts
  apps/api/src/modules/entitlements/entitlements.module.ts
  apps/api/src/modules/entitlements/reward-grant.service.ts
  plans/payments-ideal-shape.md
  product/profile.md
Due: api-lint, prettier

Path conditions:
  api-lint: any of: apps/api/**/*.{ts,tsx}
  shared-lint: any of: packages/shared/**/*.{ts,tsx}
  deps-check: any of: {package.json,yarn.lock,apps/*/package.json,packages/*/package.json}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
