Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

feat(polls-fe): pollDetail scene — leaderboard + discussion thread
  apps/mobile/src/navigation/runtime/app-overlay-route-command-runtime.ts
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-overlay-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-policy-registry.ts
  apps/mobile/src/navigation/runtime/use-app-route-dynamic-scene-input-writers-runtime.tsx
  apps/mobile/src/navigation/runtime/use-app-route-poll-detail-scene-input-writer-runtime.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackBodyLayer.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  apps/mobile/src/overlays/types.ts
  apps/mobile/src/overlays/useSearchRoutePollDetailPanelSpec.ts
  apps/mobile/src/overlays/useSearchRoutePollDetailSceneStateRuntime.ts
Due: prettier

refactor(polls-fe): sweep the dead in-body poll selection state
  apps/mobile/src/overlays/panels/runtime/polls-feed-runtime-controller.ts
  apps/mobile/src/overlays/panels/runtime/polls-panel-feed-runtime.ts
Due: prettier

feat(polls-fe): render the polls feed as the shared 'list' surface
  apps/mobile/src/navigation/runtime/AppShellMainNavigator.tsx
  apps/mobile/src/navigation/runtime/app-route-native-overlay-target-authorities.ts
  apps/mobile/src/navigation/runtime/app-route-polls-scene-input-controller.ts
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-snap-session-runtime.ts
  apps/mobile/src/navigation/runtime/use-app-route-polls-scene-input-writer-runtime.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackMountedBodyRegistry.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
Due: prettier

refactor(nav): make scene registration metadata-driven + exhaustive
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/navigation/runtime/app-route-scene-input-registry.ts
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-scene-transition-policy-runtime.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-snap-session-runtime.ts
  apps/mobile/src/overlays/BottomSheetSceneStackBodyLayer.tsx
  apps/mobile/src/overlays/BottomSheetSceneStackHost.tsx
Due: prettier

feat(nav): document surface-kind/publication model + add scene-open harness
  apps/mobile/src/navigation/runtime/ADDING_A_SCENE.md
  apps/mobile/src/navigation/runtime/AppShellMainNavigator.tsx
  apps/mobile/src/navigation/runtime/app-route-scene-descriptor-contract.ts
  apps/mobile/src/overlays/searchOverlayRouteHostContract.ts
  apps/mobile/src/perf/PerfScenarioCoordinator.tsx
  apps/mobile/src/perf/perf-scenario-command-registry.ts
  apps/mobile/src/perf/perf-scenario-deep-link.ts
  apps/mobile/src/perf/use-perf-scenario-overlay-scene-command.ts
Due: prettier

feat(polls-fe): percentage bars, profile-dot pick, Final results, peek 4th option
  apps/api/scripts/seed-poll-fixtures.ts
  apps/mobile/src/overlays/panels/PollCandidateBars.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
Due: api-lint, prettier

fix(polls): restaurant-anchored (connection) leaderboard subjects for dish-axis polls
  apps/api/scripts/seed-poll-fixtures.ts
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

fix(search): keep the toggle strip live + uncovered across dish/restaurant swap
  apps/mobile/src/overlays/SearchMountedSceneBody.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-route-search-scene-surface-panel-parts-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-composite-runtime.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-search-scene-panel-surface-overlay-runtime.tsx
Due: prettier

fix(api): bind dual-stack so the iOS sim reaches the dev server
  apps/api/src/main.ts
Due: api-lint, prettier

fix(identity): make Clerk identity sync resilient to JWT template config
  apps/api/src/modules/identity/auth/clerk-auth.service.ts
  apps/api/src/modules/identity/user.service.ts
Due: api-lint, prettier

feat(search): screen-accurate viewport polygon filter (ST_Covers) for run + coverage
  apps/api/src/modules/search/dto/search-query.dto.ts
  apps/api/src/modules/search/dto/shortcut-coverage.dto.ts
  apps/api/src/modules/search/search-constraints.compiler.ts
  apps/api/src/modules/search/search-constraints.ts
  apps/api/src/modules/search/search-coverage.service.ts
  apps/api/src/modules/search/search-query.builder.ts
  apps/api/src/modules/search/search.service.ts
  packages/shared/src/types/search.ts
Due: api-lint, shared-lint, prettier

feat(map): promote rank pins AT reveal + full-residency dots + viewport polygon capture
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/assets/dots/dot-b0.png
  apps/mobile/src/assets/dots/dot-b1.png
  apps/mobile/src/assets/dots/dot-b2.png
  apps/mobile/src/assets/dots/dot-b3.png
  apps/mobile/src/assets/dots/dot-b4.png
  apps/mobile/src/assets/dots/dot-b5.png
  apps/mobile/src/assets/dots/dot-b6.png
  apps/mobile/src/assets/dots/dot-b7.png
  apps/mobile/src/assets/dots/dot-highlighted.png
  apps/mobile/src/generated/dot-images.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/hooks/use-search-request-preparation-owner.ts
  apps/mobile/src/screens/Search/runtime/controller/search-root-map-engine-input-controller-runtime.ts
  apps/mobile/src/screens/Search/runtime/map/map-read-model-builder.ts
  apps/mobile/src/services/search.ts
  apps/mobile/src/utils/quality-color.ts
  scripts/generate-dot-sprites.js
Due: prettier

fix(polls): red-team cleanup — sync detail leaderboard, throttle likes, drop dead code
  apps/api/prisma/seed-polls.ts
  apps/api/src/modules/polls/poll-graduation.service.ts
  apps/api/src/modules/polls/polls.controller.ts
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
  apps/mobile/src/overlays/panels/PollsPanel.tsx
Due: api-lint, prettier

refactor(polls): poll-local subject key — stop writing unverified Connections live
  apps/api/prisma/migrations/20260621184323_poll_subject_id_text/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/polls/polls.service.ts
Due: api-lint, prettier

feat(polls-fe): §8.1 autocomplete poll lane — poll suggestions tap → detail
  apps/mobile/src/screens/Search/components/SearchSuggestions.tsx
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-direct-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-interaction-runtime-contract.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-foreground-suggestion-submit-runtime.ts
  apps/mobile/src/screens/Search/runtime/shared/use-search-root-foreground-command-runtime.ts
  apps/mobile/src/services/autocomplete.ts
Due: prettier

feat(polls-fe): nested replies + edit/delete-own in the poll thread
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
Due: prettier

fix(search): timeout the submit-time viewport-polygon capture so it can't hang the search
  apps/mobile/src/screens/Search/hooks/use-search-request-preparation-owner.ts
Due: prettier

feat(polls-fe): live-refresh the poll detail via PollsGateway
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
Due: prettier

feat(polls-fe): tappable restaurant highlights in poll threads → profile
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
Due: prettier

feat(map): GPS accuracy ring around the user-location puck
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

feat(nav): make the polls lane a valid parent for the restaurant route
  apps/mobile/src/navigation/runtime/app-overlay-route-types.ts
  apps/mobile/src/overlays/panels/PollDetailPanel.tsx
Due: prettier

feat(lod): DB coverage cross-check script (expected dots in viewport vs rendered)
  scripts/lod-db-coverage-check.js
Due: prettier

feat(map): seed top-N rank pins into the reveal frame for a single-phase fade
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

fix(map): gate reveal-seed promotion to the label-built set (fix promoted-marker contract)
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

fix(map): show all in-viewport dots — stop yielding to dense basemap labels
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

fix(map): revert dot collision hack + add collision-box debug + accurate DB cross-check
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
  scripts/lod-db-coverage-check.js
Due: prettier

fix(map): lift the whole overlay stack ABOVE all basemap labels (dots stop being culled by labels)
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

fix(polls-fe): poll card uses Pressable so the sheet pan doesn't eat the tap
  apps/mobile/src/overlays/panels/PollsPanel.tsx
  maestro/perf/flows/poll-card-open.yaml
Due: prettier

revert(map): restore slot="top" overlays — lifting above all labels deadlocked the reveal
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

feat(sheet): global tap-docked-header → spring to middle snap
  apps/mobile/src/overlays/useBottomSheetSharedGestureRuntime.ts
  apps/mobile/src/overlays/useBottomSheetSharedRuntime.tsx
Due: prettier

fix(search): coverage dots include dishless-but-praised restaurants
  apps/api/src/modules/search/search-coverage.service.ts
Due: api-lint, prettier

test(polls): poll-card-open flow drives tap-to-middle + card open
  maestro/perf/flows/poll-card-open.yaml
Due: prettier

dev(map): scope collision-box debug to our dots (off the basemap-wide native debug)
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

fix(nav): child-scene escape in resolveSheetPresentationSceneKey (consistency)
  apps/mobile/src/navigation/runtime/app-route-scene-stack-runtime.ts
Due: prettier

fix(map): unblock dots via allowOverlap; attribute the '0 dots' as collision-culling
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

fix(nav): persistent-poll-lane escapes child scenes at the shared source
  apps/mobile/src/navigation/runtime/app-route-native-overlay-target-authorities.ts
Due: prettier

feat(map): enter_mounted_hidden — commit label placement off a settled render frame
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

attr+fix(map): deadlock root = aboveLayerID target missing; default-top fixes reveal
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
Due: prettier

attr(map): gate0 + layerorder instruments prove default-top puts us above the basemap import
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

fix(polls-fe): wake sheet body on displayedSceneKey change so child scenes paint
  apps/mobile/src/navigation/runtime/app-route-sheet-host-authority-controller.ts
  apps/mobile/src/navigation/runtime/app-route-sheet-host-surface-runtime-contract.ts
  maestro/perf/flows/poll-create-open.yaml
Due: prettier
