Repository BrandonKimble/Crave: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, shared-lint, deps-check, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Package-specific linting - only runs when files in that package change
    api-lint:
      glob: 'apps/api/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/api && yarn lint"
    mobile-lint:
      run: bash ./.lefthook/with-node-22.sh bash -c "cd apps/mobile && yarn lint"
    shared-lint:
      glob: 'packages/shared/**/*.{ts,tsx}'
      run: bash ./.lefthook/with-node-22.sh bash -c "cd packages/shared && yarn lint"

    deps-check:
      glob: '{package.json,yarn.lock,apps/*/package.json,packages/*/package.json}'
      run: bash ./.lefthook/with-node-22.sh bash ./scripts/deps-check.sh

    # Global formatting for all staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bash ./.lefthook/with-node-22.sh yarn prettier --write {staged_files}

    # Root-level linting for config files (skip for now - no root ESLint config)
    # root-lint:
    #   glob: '{*.js,*.ts,.eslintrc.*,lefthook.yml}'
    #   run: yarn eslint --fix {staged_files}

    secrets:
      run: gitleaks protect --staged --verbose --redact

toggle flow feels decent
  apps/mobile/ios/Podfile.lock
  apps/mobile/src/perf/harness-config.ts
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchMapWithMarkerEngine.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-map-marker-engine.ts
  apps/mobile/src/screens/Search/hooks/use-search-results-panel-spec.tsx
  apps/mobile/src/screens/Search/hooks/use-search-submit.ts
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/runtime/controller/presentation-transition-controller.ts
  apps/mobile/src/screens/Search/runtime/map/use-shortcut-coverage-owner.ts
  apps/mobile/src/screens/Search/runtime/map/use-stable-map-handlers.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/mutations/use-toggle-interaction-coordinator.ts
  apps/mobile/src/screens/Search/runtime/shared/search-runtime-bus.ts
  apps/mobile/src/screens/Search/runtime/telemetry/shortcut-harness-observer.ts
  plans/perf-baselines/perf-shortcut-live-baseline.json
  scripts/ios-refresh.sh
  scripts/perf-shortcut-loop.sh
Due: prettier

map working well
  .githooks/pre-commit
  .githooks/pre-commit.old
  .githooks/prepare-commit-msg
  apps/mobile/android/app/src/main/java/com/crave/SearchMapRenderControllerModule.java
  apps/mobile/ios/cravesearch/noop-file.swift
  apps/mobile/src/overlays/BottomSheetWithFlashList.tsx
  apps/mobile/src/screens/Search/components/SearchFilters.tsx
  apps/mobile/src/screens/Search/components/SearchMapStage.tsx
  apps/mobile/src/screens/Search/components/SearchOverlayChromeTree.tsx
  apps/mobile/src/screens/Search/components/dish-result-card.tsx
  apps/mobile/src/screens/Search/components/hooks/use-search-map-label-observation.ts
  apps/mobile/src/screens/Search/components/hooks/use-search-map-label-runtime.ts
  apps/mobile/src/screens/Search/components/hooks/use-search-map-label-sources.ts
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/components/restaurant-result-card.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/context/SearchSheetVisualContext.tsx
  apps/mobile/src/screens/Search/hooks/use-map-marker-engine.ts
  apps/mobile/src/screens/Search/hooks/use-search-results-panel-spec.tsx
  apps/mobile/src/screens/Search/index.tsx
  apps/mobile/src/screens/Search/runtime/map/map-diff-applier.ts
  apps/mobile/src/screens/Search/runtime/map/map-presentation-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/mutations/query-mutation-orchestrator.ts
  apps/mobile/src/screens/Search/runtime/mutations/use-toggle-interaction-coordinator.ts
  apps/mobile/src/screens/Search/utils/map-render-model.ts
  apps/mobile/src/screens/Search/utils/rank-badge.ts
  lefthook.yml
  package.json
  plans/search-label-observation-native-cutover-plan.md
  plans/search-native-marker-family-cutover-plan.md
  plans/search-runtime-cutover-working-plan.md
  scripts/deps-check.sh
  scripts/eslint-staged-package.sh
  yarn.lock
Due: deps-check, prettier

Remove duplicate mounted sheet body surfaces
  apps/mobile/src/navigation/runtime/app-route-polls-scene-input-controller.ts
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
Due: prettier

Restore route sheet surfaces and gate restaurant layer
  apps/mobile/src/navigation/runtime/app-route-polls-scene-input-controller.ts
  apps/mobile/src/navigation/runtime/app-route-static-scene-descriptor-controller.ts
  apps/mobile/src/overlays/LocalRestaurantSheetLayerHost.tsx
Due: prettier

checkpoint: single bundle-source cutover renders (pins+labels on enter/pan/zoom)
  .claude/projects/-Users-brandonkimble-Crave/memory/map-lod-target-plan.md
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/search-map.tsx
  maestro/perf/flows/search-map-validate.yaml
Due: prettier

fix(map): stop viewport snapping to initial camera on gesture end (#1)
  .claude/projects/-Users-brandonkimble-Crave/memory/map-lod-target-plan.md
  apps/mobile/src/screens/Search/runtime/map/camera-intent-arbiter.ts
  apps/mobile/src/screens/Search/runtime/map/map-interaction-controller.ts
Due: prettier

feat(map): add flash/crossfade LOD detectors + gate (#2/#3 instrumentation)
  .claude/projects/-Users-brandonkimble-Crave/memory/map-lod-target-plan.md
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  maestro/perf/flows/search-map-profile-cycles.yaml
  scripts/perf-scenario-parity-contracts.js
Due: prettier

fix(map): label-observation source filter -> bundle source (#12) + drop dead slotSourceId
  .claude/projects/-Users-brandonkimble-Crave/memory/map-lod-target-plan.md
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  maestro/perf/flows/search-map-zoom-churn.yaml
Due: prettier

feat(map): rendered-dot observation + accounting contract
  .claude/projects/-Users-brandonkimble-Crave/memory/MEMORY.md
  .claude/projects/-Users-brandonkimble-Crave/memory/map-lod-target-plan.md
  .claude/projects/-Users-brandonkimble-Crave/memory/map-stage-b-spec.md
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  scripts/perf-scenario-parity-contracts.js
Due: prettier

Map LOD: camera/dot/profile fixes + Stage B native screen-space selection
  .claude/projects/-Users-brandonkimble-Crave/memory/map-lod-demotion-root-cause.md
  .claude/projects/-Users-brandonkimble-Crave/memory/map-lod-target-plan.md
  .claude/projects/-Users-brandonkimble-Crave/memory/map-stage-b-spec.md
  apps/mobile/ios/MapLodKit/.gitignore
  apps/mobile/ios/MapLodKit/MapLodKit.podspec
  apps/mobile/ios/MapLodKit/Package.swift
  apps/mobile/ios/MapLodKit/Sources/MapLodKit/ScreenSpaceVisibility.swift
  apps/mobile/ios/MapLodKit/Tests/MapLodKitTests/ScreenSpaceVisibilityTests.swift
  apps/mobile/ios/Podfile
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/ios/cravesearch/UIFrameSamplerBridge.m
  apps/mobile/src/perf/perf-scenario-attribution.ts
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
  apps/mobile/src/screens/Search/runtime/map/camera-intent-arbiter.ts
  apps/mobile/src/screens/Search/runtime/map/map-interaction-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-source-frame-port.ts
  apps/mobile/src/screens/Search/utils/map-render-model.ts
Due: prettier

test: property-based, native, and visual-regression layers + CI lane
  .github/workflows/ci.yml
  apps/mobile/.eslintrc.js
  apps/mobile/jest.config.js
  apps/mobile/package.json
  apps/mobile/src/screens/Search/utils/map-render-model.spec.ts
  apps/mobile/tsconfig.json
  apps/mobile/tsconfig.spec.json
  maestro/perf/flows/search-map-lod-zoom-cycles.yaml
  package.json
  scripts/perf-scenario-parity-contracts.js
  scripts/visual-regression.js
  scripts/visual-regression.test.js
  visual-baselines/README.md
  visual-baselines/validate-enter.png
  visual-baselines/validate-twist.png
  visual-baselines/validate-zoomin.png
  visual-baselines/validate-zoomout.png
  yarn.lock
Due: deps-check, prettier

refactor(scoring): extract shared demand-scoring curve kernel
  apps/api/src/modules/analytics/demand-scoring/curves.spec.ts
  apps/api/src/modules/analytics/demand-scoring/curves.ts
  apps/api/src/modules/content-processing/reddit-collector/keyword-slice-selection.service.ts
  apps/api/src/modules/polls/poll-scheduler.service.ts
Due: api-lint, prettier

refactor(search): split user_search_logs into search_events + entity attribution child
  .claude/projects/-Users-brandonkimble-Crave/memory/MEMORY.md
  apps/api/prisma/schema.prisma
  apps/api/scripts/validate-demand-scoring-fixtures.ts
  apps/api/src/modules/analytics/search-demand-aggregation.service.ts
  apps/api/src/modules/restaurant-enrichment/restaurant-entity-merge.service.ts
  apps/api/src/modules/search/search-popularity.service.ts
  apps/api/src/modules/search/search-query-suggestion.service.ts
  apps/api/src/modules/search/search.service.ts
Due: api-lint, prettier

chore(test-pipeline): update truncate list for search_events split + clear lint debt
  apps/api/test-pipeline.ts
Due: prettier

map: 8-bucket pins + single-symbol slot-elimination (labels 480->16, interaction 30->1) + IP-metro startup fallback + location overhaul + render fixes
  apps/api/src/main.ts
  apps/api/src/modules/markets/ip-location.service.ts
  apps/api/src/modules/markets/markets.controller.ts
  apps/api/src/modules/markets/markets.module.ts
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/assets/pins/manifest.json
  apps/mobile/src/assets/pins/pin-b0.png
  apps/mobile/src/assets/pins/pin-b1.png
  apps/mobile/src/assets/pins/pin-b2.png
  apps/mobile/src/assets/pins/pin-b3.png
  apps/mobile/src/assets/pins/pin-b4.png
  apps/mobile/src/assets/pins/pin-b5.png
  apps/mobile/src/assets/pins/pin-b6.png
  apps/mobile/src/assets/pins/pin-b7.png
  apps/mobile/src/navigation/runtime/MainLaunchCoordinator.tsx
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/controller/search-root-map-engine-input-controller-runtime.ts
  apps/mobile/src/screens/Search/utils/marker-lod.ts
  apps/mobile/src/screens/Search/utils/quality.ts
  apps/mobile/src/services/markets.ts
  apps/mobile/src/utils/quality-color.ts
  maestro/perf/flows/search-map-lod-pan-zoom.yaml
  maestro/perf/flows/search-map-lod-zoom-cycles.yaml
  maestro/perf/flows/search-map-nyc-shot.yaml
  maestro/perf/flows/search-map-profile-cycles.yaml
  maestro/perf/flows/search-map-validate.yaml
  maestro/perf/flows/search-map-zoom-churn.yaml
  maestro/perf/flows/search-pin-selection-profile-open.yaml
  maestro/perf/flows/search-profile-terminal-dismiss.yaml
  package.json
  scripts/generate-pin-bucket-sprites.js
  scripts/perf-scenario-ios.sh
  scripts/perf-scenario-parity-contracts.js
  yarn.lock
Due: api-lint, deps-check, prettier

map: validate #18 pinned-dots-hidden + #19 dot/label collision on device
  .claude/scheduled_tasks.lock
Due: none

map slot-elimination: resident layers + delete native moveLayer pass (218 lines); pin z-order pure viewport-y; #18 pinned dots hidden; #19 dots collide with labels
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/perf/perf-scenario-attribution.ts
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
  scripts/perf-scenario-parity-contracts.js
Due: prettier

#8 (WIP): resident pin+dot LOD — opacity-driven role, no source churn on flip
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

#8: fix aggressive-twist flash — promoted-only stable-membership input
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier

#10: remove #7 dead collision-patch block + orphaned locals
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
Due: none

refactor(moderation): replace broken Google classifier with food-aware Gemini pass
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
  apps/api/src/modules/external-integrations/llm/prompts/README.md
  apps/api/src/modules/external-integrations/llm/prompts/llm-response-schemas.ts
  apps/api/src/modules/external-integrations/llm/prompts/moderation-prompt.md
  apps/api/src/modules/moderation/moderation.module.ts
  apps/api/src/modules/moderation/moderation.service.ts
  collection-prompt.md
  cuisine-prompt.md
  query-prompt.md
Due: api-lint, prettier

refactor(llm): standardize Gemini thinking config — always send thinkingLevel; cuisine to Lite
  apps/api/src/config/configuration.ts
  apps/api/src/modules/external-integrations/llm/llm.service.ts
  apps/api/src/modules/external-integrations/llm/llm.types.ts
Due: api-lint, prettier

chore(db): establish clean Prisma migration baseline (capture db-push drift)
  apps/api/prisma/migrations/20260609120000_capture_db_push_drift/migration.sql
Due: none

map: purge pinSlotSourceIds scaffolding + add LOD snap-detector contract
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/perf/perf-scenario-attribution.ts
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

fix(enrichment): gate canonical-domain chain merge on name agreement
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

map: extend lod_snap_contract to full-frame reconcile path
  apps/mobile/ios/cravesearch/SearchMapRenderController.swift
  apps/mobile/src/perf/perf-scenario-attribution.ts
  apps/mobile/src/screens/Search/components/hooks/use-search-map-native-render-owner.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-render-controller.ts
Due: prettier

refactor(enrichment): replace domain denylist + pairwise name gate with list-free brand-purity
  apps/api/src/modules/restaurant-enrichment/restaurant-location-enrichment.service.ts
Due: api-lint, prettier

feat(entities): quarantine collection-coined attributes (status pending/active)
  apps/api/prisma/migrations/20260610042645_attribute_canonicalization_status/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/content-processing/reddit-collector/unified-processing.service.ts
  apps/api/src/modules/entity-text-search/entity-text-search.service.ts
Due: api-lint, prettier

fix(map): restore programmatic camera moves (deeplinks, auto-zoom)
  apps/mobile/src/screens/Search/components/search-map.tsx
  apps/mobile/src/screens/Search/hooks/use-search-runtime-camera-intent-runtime.ts
  apps/mobile/src/screens/Search/runtime/map/search-map-native-camera-executor.ts
Due: prettier

perf(map): add lod_membership_churn contract
  apps/mobile/src/screens/Search/hooks/use-direct-search-map-source-controller.ts
Due: prettier
